Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(vtz): address Task 5 adversarial review — B1/B2/B3 + S1 [#2865]
  native/vtz/src/server/http.rs
  native/vtz/src/server/screenshot/mod.rs
Due: none

feat(vtz): MCP tool vertz_browser_screenshot + artifact route — Task 5 [#2865] (#2915)
  native/vtz/src/server/diagnostics.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/screenshot/mod.rs
  native/vtz/tests/error_overlay.rs
Due: none

feat(vertz): Vite-parity HMR API — invalidate, decline, on, off [#2812]
  .changeset/hmr-api-parity-2812.md
  native/vtz/src/assets/hmr-client.js
  native/vtz/src/compiler/pipeline.rs
  native/vtz/src/server/html_shell.rs
  packages/mint-docs/guides/hmr-types.mdx
  packages/vertz/client.d.ts
  packages/vertz/src/__tests__/import-meta-hot.test-d.ts
Due: none

feat(create-vertz-app): dev-server-tools rule documents vertz_browser_screenshot — Task 6 [#2865]
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

chore(ci): silence release workflow warnings (#2911)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  native/vertz-compiler/turbo.json
  packages/runtime/turbo.json
Due: none

fix(vertz): address adversarial review findings for HMR API [#2812]
  native/vtz/src/assets/hmr-client.js
  native/vtz/src/compiler/pipeline.rs
  packages/mint-docs/guides/hmr-types.mdx
Due: none

fix(vtz): iterate install dedup until fixpoint so orphan optional binaries collapse [#2912] (#2914)
  .changeset/fix-install-dedup-orphans-2912.md
  native/vtz/src/pm/resolver.rs
Due: none

feat(create-vertz-app): dev-server-tools rule documents vertz_browser_screenshot — Task 6 [#2865] (#2916)
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

docs(mint-docs): vertz_browser_screenshot guide — Task 7 [#2865]
  packages/mint-docs/guides/dev-server-tools.mdx
Due: none

feat(vertz): Vite-parity HMR API — invalidate/decline/on/off [#2812] (#2917)
  .changeset/hmr-api-parity-2812.md
  native/vtz/src/assets/hmr-client.js
  native/vtz/src/compiler/pipeline.rs
  native/vtz/src/server/html_shell.rs
  packages/mint-docs/guides/hmr-types.mdx
  packages/vertz/client.d.ts
  packages/vertz/src/__tests__/import-meta-hot.test-d.ts
Due: none

docs(mint-docs): vertz_browser_screenshot guide — Task 7 [#2865] (#2918)
  packages/mint-docs/guides/dev-server-tools.mdx
Due: none

ci(vtz): screenshot E2E on Linux + macOS — Task 8 [#2865]
  .github/workflows/ci.yml
  native/vtz/tests/screenshot_e2e.rs
Due: none

feat(db): add d.bytea() column type for binary storage [#2843]
  .changeset/add-bytea-column-type-2843.md
  packages/db/src/__tests__/integration-sqlite.test.ts
  packages/db/src/__tests__/public-exports.test-d.ts
  packages/db/src/client/__tests__/sqlite-value-converter.test.ts
  packages/db/src/client/sqlite-value-converter.ts
  packages/db/src/d.ts
  packages/db/src/dialect/__tests__/postgres-dialect.test.ts
  packages/db/src/dialect/__tests__/sqlite-dialect.test.ts
  packages/db/src/dialect/postgres.ts
  packages/db/src/dialect/sqlite.ts
  packages/db/src/index.ts
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/codegen.ts
  packages/db/src/schema-derive/column-mapper.ts
  packages/db/src/schema-derive/table-to-schemas.test.ts
  packages/db/src/schema/__tests__/column.test-d.ts
  packages/db/src/schema/__tests__/column.test.ts
  packages/db/src/schema/column.ts
Due: db

ci(vtz): drop macos-latest from screenshot-e2e matrix; add per-test timeout [#2865]
  .github/workflows/ci.yml
  native/vtz/tests/screenshot_e2e.rs
Due: none

ci(vtz): screenshot E2E on Linux + macOS — Task 8 [#2865] (#2919)
  .github/workflows/ci.yml
  native/vtz/tests/screenshot_e2e.rs
Due: none

feat(db): add d.bytea() column type for binary storage [#2843] (#2921)
  .changeset/add-bytea-column-type-2843.md
  packages/db/src/__tests__/integration-sqlite.test.ts
  packages/db/src/__tests__/public-exports.test-d.ts
  packages/db/src/client/__tests__/sqlite-value-converter.test.ts
  packages/db/src/client/sqlite-value-converter.ts
  packages/db/src/d.ts
  packages/db/src/dialect/__tests__/postgres-dialect.test.ts
  packages/db/src/dialect/__tests__/sqlite-dialect.test.ts
  packages/db/src/dialect/postgres.ts
  packages/db/src/dialect/sqlite.ts
  packages/db/src/index.ts
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/codegen.ts
  packages/db/src/schema-derive/column-mapper.ts
  packages/db/src/schema-derive/table-to-schemas.test.ts
  packages/db/src/schema/__tests__/column.test-d.ts
  packages/db/src/schema/__tests__/column.test.ts
  packages/db/src/schema/column.ts
Due: db

feat(db): hasAllKeys / hasAnyKey JSONB operators [#2886]
  .changeset/jsonb-plural-key-ops-2886.md
  packages/db/src/client/__tests__/jsonb-typed-operators.test-d.ts
  packages/db/src/schema/path-chain.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/__tests__/where.test.ts
  packages/db/src/sql/where.ts
Due: db

fix(vtz): native sqlite binds Uint8Array params + reads BLOB as Uint8Array [#2920]
  .changeset/fix-native-sqlite-bytea-2920.md
  native/vtz/src/runtime/ops/sqlite.rs
  native/vtz/tests/fixtures/sqlite-test/bytea-test.js
  native/vtz/tests/sqlite_integration.rs
  packages/db/src/d.ts
Due: db

fix(vtz): don't follow symlinks at .bin/<name> when writing shims [#2908]
  native/vtz/src/pm/bin.rs
Due: none

fix(db): address adversarial review findings for #2886
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/__tests__/where.test.ts
  packages/db/src/sql/where.ts
  reviews/2886-jsonb-plural-key-ops/phase-01-operators.md
Due: db

feat(db): hasAllKeys / hasAnyKey JSONB operators [#2886] (#2922)
  .changeset/jsonb-plural-key-ops-2886.md
  packages/db/src/client/__tests__/jsonb-typed-operators.test-d.ts
  packages/db/src/schema/path-chain.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/__tests__/where.test.ts
  packages/db/src/sql/where.ts
  reviews/2886-jsonb-plural-key-ops/phase-01-operators.md
Due: db

fix(vtz): don't follow symlinks at .bin/<name> when writing shims [#2908] (#2924)
  native/vtz/src/pm/bin.rs
Due: none

fix(vtz): native sqlite binds Uint8Array params + reads BLOB as Uint8Array [#2920] (#2923)
  .changeset/fix-native-sqlite-bytea-2920.md
  native/vtz/src/runtime/ops/sqlite.rs
  native/vtz/tests/fixtures/sqlite-test/bytea-test.js
  native/vtz/tests/sqlite_integration.rs
  packages/db/src/d.ts
Due: db

feat(ui): add @vertz/ui/client subpath for UI-only HMR types [#2813]
  .changeset/ui-client-subpath-2813.md
  packages/.gitignore
  packages/mint-docs/guides/hmr-types.mdx
  packages/ui/client.d.ts
  packages/ui/package.json
  packages/ui/src/__tests__/client-subpath.test.ts
  packages/ui/src/__tests__/import-meta-hot.test-d.ts
  packages/ui/tsconfig.json
  packages/vertz/__tests__/subpath-exports.test.ts
  packages/vertz/client.d.ts
Due: none

fix(schema): user-friendly invalid-type messages for number/bigint/date [#2809]
  .changeset/fix-schema-error-messages-2809.md
  packages/mint-docs/guides/errors.mdx
  packages/schema/src/schemas/__tests__/bigint.test.ts
  packages/schema/src/schemas/__tests__/date.test.ts
  packages/schema/src/schemas/__tests__/number.test.ts
  packages/schema/src/schemas/bigint.ts
  packages/schema/src/schemas/date.ts
  packages/schema/src/schemas/number.ts
  packages/site/pages/guides/errors.mdx
Due: schema

feat(db): type-gate array operators (@>, <@, &&) to Postgres [#2885]
  packages/db/src/client/__tests__/array-operators.test-d.ts
  packages/db/src/schema/array-filter-brand.ts
  packages/db/src/schema/inference.ts
  plans/2885-array-op-type-gating.md
Due: db

fix(db): address adversarial review findings for #2885
  .changeset/array-op-type-gating-2885.md
  packages/db/src/client/__tests__/array-operators.test-d.ts
  packages/db/src/schema/array-filter-brand.ts
  packages/db/src/schema/inference.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/where.ts
  plans/2885-array-op-type-gating.md
  reviews/2885-array-op-type-gating/phase-01-operators.md
Due: db

fix(server): coerce form-encoded bodies on the server [#2808]
  .changeset/server-form-coerce-2808.md
  packages/core/src/app/app-runner.ts
  packages/core/src/server/__tests__/request-utils.test.ts
  packages/core/src/server/request-utils.ts
  packages/core/src/types/app.ts
  packages/schema/src/__tests__/coerce.test.ts
  packages/schema/src/coerce.ts
  packages/schema/src/index.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/service/route-generator.ts
  packages/ui/package.json
  packages/ui/src/form/coerce.ts
  packages/ui/src/form/form.ts
Due: core, schema, server, ui

fix(server): coerce form-encoded bodies on the server [#2808] (#2928)
  .changeset/server-form-coerce-2808.md
  packages/core/src/app/app-runner.ts
  packages/core/src/server/__tests__/request-utils.test.ts
  packages/core/src/server/request-utils.ts
  packages/core/src/types/app.ts
  packages/schema/src/__tests__/coerce.test.ts
  packages/schema/src/coerce.ts
  packages/schema/src/index.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/service/route-generator.ts
  packages/ui/package.json
  packages/ui/src/form/coerce.ts
  packages/ui/src/form/form.ts
Due: core, schema, server, ui

fix(db): type-gate array operators (arrayContains/arrayContainedBy/arrayOverlaps) to Postgres [#2885] (#2927)
  .changeset/array-op-type-gating-2885.md
  packages/db/src/client/__tests__/array-operators.test-d.ts
  packages/db/src/schema/array-filter-brand.ts
  packages/db/src/schema/inference.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/where.ts
  plans/2885-array-op-type-gating.md
  reviews/2885-array-op-type-gating/phase-01-operators.md
Due: db

feat(ui): add @vertz/ui/client subpath for UI-only HMR types [#2813] (#2926)
  .changeset/ui-client-subpath-2813.md
  packages/.gitignore
  packages/mint-docs/guides/hmr-types.mdx
  packages/ui/client.d.ts
  packages/ui/package.json
  packages/ui/src/__tests__/client-subpath.test.ts
  packages/ui/src/__tests__/import-meta-hot.test-d.ts
  packages/ui/tsconfig.json
  packages/vertz/__tests__/subpath-exports.test.ts
  packages/vertz/client.d.ts
Due: none

fix(schema): user-friendly invalid-type messages for number/bigint/date [#2809] (#2925)
  .changeset/fix-schema-error-messages-2809.md
  packages/mint-docs/guides/errors.mdx
  packages/schema/src/schemas/__tests__/bigint.test.ts
  packages/schema/src/schemas/__tests__/date.test.ts
  packages/schema/src/schemas/__tests__/number.test.ts
  packages/schema/src/schemas/bigint.ts
  packages/schema/src/schemas/date.ts
  packages/schema/src/schemas/number.ts
  packages/site/pages/guides/errors.mdx
Due: schema

fix(ui-primitives): resolve no-narrowing-let warning in calendar-composed [#2802]
  packages/ui-primitives/src/calendar/calendar-composed.tsx
Due: ui-primitives

fix(vtz): don't rewrite `effect` → `domEffect` inside strings/comments [#2801]
  .changeset/fix-effect-rewrite-in-strings-2801.md
  native/vtz/src/compiler/pipeline.rs
Due: none

fix(vtz): don't rewrite `effect` → `domEffect` inside strings/comments [#2801] (#2930)
  .changeset/fix-effect-rewrite-in-strings-2801.md
  native/vtz/src/compiler/pipeline.rs
Due: none

fix(ui-primitives): resolve no-narrowing-let warning in calendar-composed [#2802] (#2929)
  packages/ui-primitives/src/calendar/calendar-composed.tsx
Due: ui-primitives

fix(pm): disambiguate transitive dist-tag deps with multiple versions [#2796]
  native/vtz/src/pm/resolver.rs
Due: none

fix(vtz): populate module graph in test watch mode [#2765]
  native/vtz/src/test/watch.rs
Due: none

fix(pm): also disambiguate root-level dist-tag deps with multi-version graph [#2796]
  native/vtz/src/pm/resolver.rs
Due: none

fix(vtz): canonicalize paths consistently in test watch mode [#2765]
  native/vtz/src/test/watch.rs
Due: none
