Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

style(pm): apply cargo fmt formatting #2041
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/linker.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/patch.rs
Due: none

feat(pm): add patch, patch save, apply_patches commands #2041
  native/Cargo.lock
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/linker.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/patch.rs
  plans/2041-pm-patch-package.md
Due: none

test(pm): add CLI parsing tests for patch commands #2041
  native/vertz-runtime/src/cli.rs
Due: none

fix(pm): address Phase 2 review findings #2041
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/patch.rs
  reviews/pm-patch-package/phase-02-discard-list-json.md
Due: none

feat(pm): add patch discard, patch list, and JSON output #2041
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/patch.rs
Due: none

fix(pm): address Phase 1 review findings #2041
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/patch.rs
  reviews/pm-patch-package/phase-01-core-workflow.md
Due: none

fix(runtime): add cancel() and Drop for Debouncer (parity with SmartDebouncer) #2089
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

feat(pm): patch-package style dependency patching #2041 (#2095)
  native/Cargo.lock
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/linker.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/patch.rs
  plans/2041-pm-patch-package.md
  reviews/pm-patch-package/phase-01-core-workflow.md
  reviews/pm-patch-package/phase-02-discard-list-json.md
Due: none

style(pm): apply cargo fmt to GitHub hosted deps code #2035
  native/vertz-runtime/src/pm/github.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/resolver.rs
  native/vertz-runtime/src/pm/tarball.rs
  native/vertz-runtime/src/pm/types.rs
Due: none

fix(pm): address review blockers for GitHub hosted deps #2035
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/tarball.rs
  native/vertz-runtime/src/pm/types.rs
Due: none

fix(pm): address round-2 review findings for GitHub hosted deps #2035
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/resolver.rs
  native/vertz-runtime/src/pm/tarball.rs
Due: none

fix(pm): add missing GitHub output methods to DevPmOutput #2035
  native/vertz-runtime/src/pm/output.rs
Due: none

feat(pm): wire GitHub specifier into add() and TarballManager #2035
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/tarball.rs
Due: none

feat(pm): add GitHub specifier parsing, tarball extraction, and resolver support #2035
  native/vertz-runtime/src/pm/github.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/pm/resolver.rs
  native/vertz-runtime/src/pm/tarball.rs
  native/vertz-runtime/src/pm/types.rs
  plans/2035-git-hosted-dependencies.md
Due: none

feat(pm): add GitHub hosted dependency support #2035 (#2096)
  native/vertz-runtime/src/pm/github.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/pm/resolver.rs
  native/vertz-runtime/src/pm/tarball.rs
  native/vertz-runtime/src/pm/types.rs
  plans/2035-git-hosted-dependencies.md
Due: none

fix(runtime): serialize CI env var tests with mutex to prevent flaky failures #2089
  native/vertz-runtime/src/config.rs
Due: none

fix(ui-compiler): AOT resolveValueInline missing property-specific raw value resolution #2079
  packages/ui-compiler/src/transformers/__tests__/css-transformer.test.ts
  packages/ui-compiler/src/transformers/css-transformer.ts
Due: ui-compiler

fix(runtime): add cancel() and Drop for Debouncer #2089 (#2099)
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

test(ui-compiler): add missing edge case tests for raw value resolution #2079
  packages/ui-compiler/src/transformers/__tests__/css-transformer.test.ts
Due: none

chore: add changeset for AOT raw value fix #2079
  .changeset/aot-raw-value-fix.md
Due: none

fix(ui-compiler): AOT resolveValueInline missing property-specific raw value resolution #2079 (#2100)
  .changeset/aot-raw-value-fix.md
  packages/ui-compiler/src/transformers/__tests__/css-transformer.test.ts
  packages/ui-compiler/src/transformers/css-transformer.ts
Due: ui-compiler

feat(runtime): dep watcher event loop, re-bundling, banner integration #2057
  native/vertz-runtime/src/banner.rs
  native/vertz-runtime/src/deps/prebundle.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/watcher/dep_watcher.rs
Due: none

feat(runtime): linked package discovery, DepWatcher, and config/CLI for upstream dep watching #2057
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/deps/linked.rs
  native/vertz-runtime/src/deps/mod.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/vertzrc.rs
  native/vertz-runtime/src/watcher/dep_watcher.rs
  native/vertz-runtime/src/watcher/mod.rs
Due: none

fix(runtime): transitive $ref resolution in OpenAPI filter #2056
  native/vertz-runtime/src/server/mcp.rs
  reviews/openapi-spec/phase-all.md
Due: none

feat(server): add service routes to OpenAPI spec generation #2056
  packages/server/src/entity/__tests__/openapi-generator.test.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/openapi-generator.ts
  packages/server/src/index.ts
Due: server

docs: add design doc for OpenAPI spec serving #2056
  plans/2056-openapi-spec-serving.md
Due: none

feat(server): auto-serve OpenAPI spec at /api/openapi.json #2056
  packages/server/src/__tests__/get-openapi-spec.test.ts
  packages/server/src/create-server.ts
Due: server

feat(runtime): add vertz_get_api_spec MCP tool #2056
  native/vertz-runtime/src/server/mcp.rs
Due: none

feat(server): add getOpenAPISpec() to createServer #2056
  packages/server/src/__tests__/get-openapi-spec.test.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/openapi-generator.ts
  packages/server/src/index.ts
Due: server

style(server): format openapi files with oxfmt #2056
  packages/server/src/entity/__tests__/openapi-generator.test.ts
  packages/server/src/entity/openapi-generator.ts
Due: server

feat(runtime): upstream dependency watching for monorepo dev server #2057 (#2102)
  native/vertz-runtime/src/banner.rs
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/deps/linked.rs
  native/vertz-runtime/src/deps/mod.rs
  native/vertz-runtime/src/deps/prebundle.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/vertzrc.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/watcher/dep_watcher.rs
  native/vertz-runtime/src/watcher/mod.rs
Due: none

style(runtime): format mcp.rs and fix clippy warnings #2056
  native/vertz-runtime/src/server/mcp.rs
Due: none

chore: add changeset for OpenAPI spec serving #2056
  .changeset/openapi-spec-serving.md
Due: none

feat(runtime): OpenAPI spec serving #2056 (#2103)
  .changeset/openapi-spec-serving.md
  native/vertz-runtime/src/server/mcp.rs
  packages/server/src/__tests__/get-openapi-spec.test.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/openapi-generator.test.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/openapi-generator.ts
  packages/server/src/index.ts
  plans/2056-openapi-spec-serving.md
  reviews/openapi-spec/phase-all.md
Due: server

fix(cli): add process.exit(0) to one-shot CLI commands
  packages/cli/src/cli.ts
Due: cli

fix(cli): add process.exit(0) to one-shot CLI commands (#2104)
  packages/cli/src/cli.ts
Due: cli

feat(runtime): add npm package shells and getBinaryPath() for binary distribution
  .changeset/config.json
  bun.lock
  npm/runtime-darwin-arm64/package.json
  npm/runtime-darwin-x64/package.json
  npm/runtime-linux-arm64/package.json
  npm/runtime-linux-x64/package.json
  npm/runtime/index.d.ts
  npm/runtime/index.test.ts
  npm/runtime/index.ts
  npm/runtime/package.json
  npm/runtime/postinstall.js
  npm/runtime/tsconfig.json
  package.json
  packages/cli/package.json
  plans/runtime-binary-distribution.md
Due: none

feat(cli): make native runtime the default, deprecate --experimental-runtime
  packages/cli/src/commands/dev.ts
  packages/cli/src/runtime/__tests__/launcher.test.ts
  packages/cli/src/runtime/__tests__/version-check.test.ts
  packages/cli/src/runtime/launcher.ts
Due: cli

feat(runtime): wire VERTZ_VERSION to clap, switch to rustls, optimize release profile
  native/Cargo.lock
  native/Cargo.toml
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/cli.rs
Due: none

feat(ci): add runtime binary build workflow and two-tier publish pipeline
  .github/workflows/release.yml
  .github/workflows/runtime-binary.yml
  scripts/publish.sh
Due: none
