Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(auth): use URL constructor for OAuth error redirects (#1218)
  .changeset/oauth-error-url-fix.md
  packages/server/src/auth/__tests__/oauth-routes.test.ts
  packages/server/src/auth/index.ts
Due: none

feat(ui): auto-detect initialPath in createRouter (#1219)
  .changeset/auto-detect-initial-path.md
  examples/component-catalog/src/router.ts
  examples/task-manager/src/router.ts
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/__tests__/router.test-d.ts
  packages/ui/src/router/navigate.ts
  plans/auto-detect-initial-path.md
Due: ui

chore(ui): audit DOM shim for SSR leaks — isBrowser() utility (#1220)
  .changeset/ssr-dom-shim-audit.md
  packages/ui-server/src/dom-shim/index.ts
  packages/ui/src/auth/access-event-client.ts
  packages/ui/src/auth/auth-context.ts
  packages/ui/src/auth/create-access-provider.ts
  packages/ui/src/auth/protected-route.ts
  packages/ui/src/auth/token-refresh.ts
  packages/ui/src/env/__tests__/is-browser.test.ts
  packages/ui/src/env/is-browser.ts
  packages/ui/src/index.ts
  packages/ui/src/internals.ts
  packages/ui/src/query/query.ts
  packages/ui/src/router/link.ts
  packages/ui/src/router/navigate.ts
Due: ui

feat(server): unified request handler for auth + entities (#1221)
  .changeset/unified-request-handler.md
  packages/server/src/__tests__/request-handler.test.ts
  packages/server/src/create-server.ts
  plans/unified-request-handler.md
Due: server

feat(auth): OAuth profile mapping, auth-entity bridge, and login flow fixes (#1208)
  bun.lock
  examples/linear/.env.example
  examples/linear/.gitignore
  examples/linear/bun-plugin-shim.ts
  examples/linear/bunfig.toml
  examples/linear/package.json
  examples/linear/src/api/db.ts
  examples/linear/src/api/entities/users.entity.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/server.ts
  examples/linear/src/app.tsx
  examples/linear/src/components/auth-guard.tsx
  examples/linear/src/dev-server.ts
  examples/linear/src/entry-client.ts
  examples/linear/src/pages/login-page.tsx
  examples/linear/src/pages/projects-page.tsx
  examples/linear/src/router.tsx
  examples/linear/src/styles/theme.ts
  examples/linear/tsconfig.json
  packages/server/src/auth/__tests__/db-session-store.test.ts
  packages/server/src/auth/__tests__/oauth-routes.test.ts
  packages/server/src/auth/__tests__/shared-user-store.tests.ts
  packages/server/src/auth/__tests__/types.test-d.ts
  packages/server/src/auth/db-session-store.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/providers/github.ts
  packages/server/src/create-server.ts
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui-server/src/dom-shim/index.ts
  packages/ui/reactivity.json
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/auth-context.ts
  plans/auth-ui-framework-gaps.md
  reviews/auth-entity-bridge/phase-04-oauth-login-fixes.md
Due: server, ui, ui-compiler

fix(ui): isBrowser() SSR detection for HMR re-imports (#1223) (#1226)
  .changeset/fix-isbrowser-ssr-resolver.md
  examples/task-manager/src/__tests__/routing-bug.test.ts
  packages/ui/src/__tests__/ssr-render-context.test.ts
  packages/ui/src/env/__tests__/is-browser.test.ts
  packages/ui/src/env/is-browser.ts
  packages/ui/src/internals.ts
  packages/ui/src/ssr/ssr-render-context.ts
Due: ui

refactor(catalog): replace manual routing with RouterView + RouterContext (#1227)
  examples/component-catalog/src/app.tsx
  examples/component-catalog/src/router.ts
  plans/catalog-router-refactor.md
Due: none

fix(compiler): CSS at-rule nesting drops class selector (#1229)
  packages/ui-compiler/src/css-extraction/__tests__/css-extraction.test.ts
  packages/ui-compiler/src/css-extraction/extractor.ts
  packages/ui-compiler/src/transformers/__tests__/css-transformer.test.ts
  packages/ui-compiler/src/transformers/css-transformer.ts
Due: ui-compiler

fix(benchmarks): remove stale initialPath boilerplate and fix Link className (#1224) (#1230)
  benchmarks/generate-app.mjs
Due: none

fix(catalog): register Vertz compiler plugin for client-side bundler (#1232)
  examples/component-catalog/bun-plugin-shim.ts
  examples/component-catalog/bunfig.toml
Due: none

fix(release): remove stale changeset for non-existent @vertz/landing (#1234)
  .changeset/inline-small-css.md
Due: none

fix(examples): increase waitFor timeout in task-list test for CI (#1235)
  examples/task-manager/src/tests/task-list.test.ts
Due: none

feat(ui/auth): add user profile display helpers (#1236)
  .changeset/user-profile-helpers.md
  packages/ui/src/auth/__tests__/avatar.test.ts
  packages/ui/src/auth/__tests__/user-avatar.test.ts
  packages/ui/src/auth/__tests__/user-display.test.ts
  packages/ui/src/auth/__tests__/user-name.test.ts
  packages/ui/src/auth/avatar.ts
  packages/ui/src/auth/public.ts
  packages/ui/src/auth/user-avatar.ts
  packages/ui/src/auth/user-display.ts
  packages/ui/src/auth/user-icon.ts
  packages/ui/src/auth/user-name.ts
  plans/user-profile-helpers.md
Due: ui

feat(server): Entity Expose API — unified field, filter, sort & relation control (#1237)
  .changeset/entity-expose-api.md
  packages/docs/docs.json
  packages/docs/guides/server/entities.mdx
  packages/docs/guides/server/entity-exposure.mdx
  packages/docs/guides/server/overview.mdx
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/entity.test-d.ts
  packages/server/src/entity/__tests__/entity.test.ts
  packages/server/src/entity/__tests__/expose-evaluator.test.ts
  packages/server/src/entity/__tests__/expose-types.test-d.ts
  packages/server/src/entity/__tests__/field-filter.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/__tests__/vertzql-types.test-d.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/entity.ts
  packages/server/src/entity/expose-evaluator.ts
  packages/server/src/entity/field-filter.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
  packages/server/src/entity/vertzql-parser.ts
  packages/server/src/index.ts
  plans/docs-entity-field-exposure.md
  plans/entity-expose-api.md
Due: server

fix(compiler): .map() on reactive arrays should always transform to __list() (#1249) (#1252)
  bun.lock
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/query/__tests__/query-match.test.ts
Due: ui-compiler

fix: ProtectedRoute should issue HTTP redirect during SSR (#1248) (#1251)
  bun.lock
  packages/ui-auth/src/protected-route.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/auth/auth-context.ts
  packages/ui/src/internals.ts
  packages/ui/src/ssr/ssr-render-context.ts
  plans/ssr-protected-route-redirect.md
Due: ui, ui-server

fix(ui): components returning Node or Signal can now be used as JSX (#1256)
  .changeset/fix-jsx-component-types.md
  packages/integration-tests/src/__tests__/auth-access-set.test.ts
  packages/ui-auth/src/__tests__/access-gate.test.ts
  packages/ui-auth/src/__tests__/auth-gate.test.ts
  packages/ui-auth/src/__tests__/jsx-types.test-d.ts
  packages/ui-auth/src/__tests__/protected-route.test.ts
  packages/ui-auth/src/__tests__/user-avatar.test.ts
  packages/ui-auth/src/__tests__/user-name.test.ts
  packages/ui-auth/src/access-gate.ts
  packages/ui-auth/src/access-gate.tsx
  packages/ui-auth/src/auth-gate.ts
  packages/ui-auth/src/auth-gate.tsx
  packages/ui-auth/src/entitlement-check.ts
  packages/ui-auth/src/protected-route.ts
  packages/ui-auth/src/protected-route.tsx
  packages/ui-auth/src/user-avatar.tsx
  packages/ui-auth/src/user-name.tsx
  packages/ui/src/component/error-boundary.ts
  packages/ui/src/component/suspense.ts
  packages/ui/src/jsx-runtime/__tests__/jsx-types.test-d.ts
  packages/ui/src/router/__tests__/outlet.test.ts
  packages/ui/src/router/outlet.ts
Due: ui

test(ui): add regression test for ListTransition in queryMatch data handler (#1258)
  bun.lock
  packages/ui/src/query/__tests__/query-match.test.ts
Due: none

refactor(ui): add canSignals() to remove double-cast in ProtectedRoute (#1255) (#1260)
  .changeset/can-signals-refactor.md
  packages/ui-auth/src/entitlement-check.ts
  packages/ui/src/auth/__tests__/access-context.test-d.ts
  packages/ui/src/auth/__tests__/access-context.test.ts
  packages/ui/src/auth/access-context.ts
  packages/ui/src/auth/public.ts
  plans/1255-can-signals-refactor.md
Due: ui

fix(server): POST /query validates cursor length (#1244) (#1262)
  .changeset/validate-post-query-cursor.md
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/vertzql-parser.ts
Due: server

fix(server): q= param silently drops where/orderBy/limit (#1263)
  .changeset/fix-q-param-extraction.md
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/vertzql-parser.ts
Due: server

refactor(ui): UserName/UserAvatar update in-place instead of rebuilding (#1254) (#1264)
  .changeset/inplace-reactive-updates.md
  packages/ui-auth/src/__tests__/avatar.test.ts
  packages/ui-auth/src/__tests__/user-avatar.test.ts
  packages/ui-auth/src/__tests__/user-name.test.ts
  packages/ui-auth/src/avatar.tsx
  packages/ui/src/dom/__tests__/child-node.test.ts
  packages/ui/src/dom/element.ts
Due: ui

fix(server): AuthInstance.resolveSessionForSSR assignable to SessionResolver (#1259) (#1261)
  .changeset/fix-session-resolver-types.md
  bun.lock
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/session-resolver-compat.test-d.ts
  packages/server/src/auth/types.ts
Due: server

feat(server): OpenAPI spec generation from entity expose config (#1266)
  .changeset/openapi-entity-generation.md
  packages/server/src/entity/__tests__/openapi-generator.test.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/openapi-generator.ts
  packages/server/src/index.ts
Due: server

fix(scaffold): use form() API and fix compiler vertz/ui recognition (#1269)
  bun.lock
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-server/src/bun-plugin/plugin.ts
Due: ui-compiler, ui-server

feat(codegen): SDK types reflect entity expose.select (#1268) (#1270)
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-types-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/codegen/src/generators/entity-types-generator.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/errors.ts
  packages/compiler/src/index.ts
  packages/compiler/src/ir/types.ts
  plans/1268-sdk-expose-types.md
Due: codegen, compiler

fix(linear): use JSX syntax instead of function calls for components (#1272)
  examples/linear/src/components/auth-guard.tsx
  examples/linear/src/router.tsx
Due: none

feat(linear): add Projects & Issues CRUD to Linear clone (#1239)
  bun.lock
  examples/linear/package.json
  examples/linear/src/api/client.ts
  examples/linear/src/api/db.ts
  examples/linear/src/api/entities/issues.entity.ts
  examples/linear/src/api/entities/projects.entity.ts
  examples/linear/src/api/entities/users.entity.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/server.ts
  examples/linear/src/components/auth-guard.tsx
  examples/linear/src/components/create-issue-dialog.tsx
  examples/linear/src/components/create-project-dialog.tsx
  examples/linear/src/components/issue-row.tsx
  examples/linear/src/components/priority-select.tsx
  examples/linear/src/components/project-card.tsx
  examples/linear/src/components/project-layout.tsx
  examples/linear/src/components/status-filter.tsx
  examples/linear/src/components/status-select.tsx
  examples/linear/src/lib/types.ts
  examples/linear/src/pages/issue-detail-page.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/projects-page.tsx
  examples/linear/src/router.tsx
  plans/linear-clone-projects-issues.md
Due: none

docs: add Linear clone design doc [#1042] (#1043)
  plans/linear-clone.md
Due: none

chore(compiler): add ENTITY_EXPOSE_NON_LITERAL and ENTITY_EXPOSE_RELATION_UNRESOLVED diagnostics [#1271] (#1277)
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/errors.ts
Due: compiler

feat(linear): add comments on issues and seed data (#1278)
  .changeset/linear-comments-seed.md
  examples/linear/src/api/client.ts
  examples/linear/src/api/db.ts
  examples/linear/src/api/entities/comments.entity.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/seed.test.ts
  examples/linear/src/api/seed.ts
  examples/linear/src/api/server.ts
  examples/linear/src/components/comment-item.tsx
  examples/linear/src/components/comment-section.tsx
  examples/linear/src/lib/format.test.ts
  examples/linear/src/lib/format.ts
  examples/linear/src/lib/types.ts
  examples/linear/src/pages/issue-detail-page.tsx
  plans/linear-clone-comments-seed.md
Due: none

chore(create-vertz-app): add favicon to scaffold template [#1276] (#1281)
  .changeset/add-scaffold-favicon.md
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(cli): production SSR build externalizes vertz meta-package [#1275] (#1280)
  .changeset/fix-ssr-external-vertz.md
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
Due: cli

test(db): improve test coverage to 94% across all packages (#coverage) (#1288)
  packages/db/src/__tests__/errors.test.ts
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/__tests__/sqlite-adapter.test.ts
  packages/db/src/cli/__tests__/baseline.test.ts
  packages/db/src/cli/__tests__/migrate-deploy.test.ts
  packages/db/src/cli/__tests__/migrate-dev.test.ts
  packages/db/src/cli/__tests__/reset.test.ts
  packages/db/src/cli/__tests__/status.test.ts
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/__tests__/postgres-driver.test.ts
  packages/db/src/client/__tests__/sqlite-driver.test.ts
  packages/db/src/client/__tests__/sqlite-value-converter.test.ts
  packages/db/src/core/db-provider.test.ts
  packages/db/src/migration/__tests__/auto-migrate.test.ts
  packages/db/src/migration/__tests__/differ.test.ts
  packages/db/src/migration/__tests__/sql-generator.test.ts
  packages/db/src/query/__tests__/aggregate.test.ts
  packages/db/src/query/__tests__/relation-loader.test.ts
  packages/db/src/schema-derive/table-to-schemas.test.ts
  packages/db/src/schema/__tests__/table.test.ts
  packages/db/src/sql/__tests__/casing.test.ts
  packages/db/src/sql/__tests__/insert.test.ts
Due: none

chore(db): remove dead code in auto-migrate and sql-generator (#1289)
  packages/db/src/migration/auto-migrate.ts
  packages/db/src/migration/sql-generator.ts
Due: db

fix: remove changeset for private linear example package (#1293)
  .changeset/linear-comments-seed.md
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
