Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(vtz): trigger HMR and clean module graph on file delete (#2764)
  native/vtz/src/server/http.rs
  native/vtz/src/watcher/mod.rs
  native/vtz/tests/parity/hmr.rs
Due: none

fix(ui): address Phase 2 review blockers for token.*
  packages/ui/src/css/__tests__/token-augmentation-barrel.test-d.ts
  packages/ui/src/css/__tests__/token-in-variants.test.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/variants.ts
  packages/ui/src/index.ts
  reviews/drop-classname-utilities/phase-02-token-helper.md
Due: ui

docs(plans): break Phase 3 (migrate call sites) into task file
  plans/drop-classname-utilities/phase-03-migrate-call-sites.md
Due: none

fix(vtz): review addendum — single write lock + CSS-delete escalation
  .changeset/fix-hmr-on-delete.md
  native/vtz/src/watcher/mod.rs
Due: none

refactor(vtz): consolidate VertzModuleLoader constructors into builder (#2737) (#2763)
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/module_loader.rs
  plans/2737-module-loader-builder.md
  plans/2737-module-loader-builder/phase-01-builder.md
  plans/2737-module-loader-consolidation-rationale.md
Due: none

fix(vtz): trigger HMR and clean module graph on file delete (#2768)
  .changeset/fix-hmr-on-delete.md
  native/vtz/src/server/http.rs
  native/vtz/src/watcher/mod.rs
  native/vtz/tests/parity/hmr.rs
Due: none

feat(ui): strict CSS property validation in css() + variants()
  packages/ui/src/css/__tests__/css.test-d.ts
  packages/ui/src/css/__tests__/variants-object-form.test-d.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/style-block.ts
  packages/ui/src/css/variants.ts
Due: ui

feat(ui): drop classname utilities — object-form css() + token.* helper (#2769)
  bun.lock
  native/vertz-compiler-core/src/css_transform.rs
  native/vertz-compiler-core/src/css_unitless.rs
  native/vertz-compiler-core/src/lib.rs
  packages/landing/src/components/hero.tsx
  packages/ui/package.json
  packages/ui/scripts/check-unitless-parity.ts
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/css/__tests__/class-name-parity.test.ts
  packages/ui/src/css/__tests__/css-object-form.test.ts
  packages/ui/src/css/__tests__/css.test-d.ts
  packages/ui/src/css/__tests__/style-block.test-d.ts
  packages/ui/src/css/__tests__/token-augmentation-barrel.test-d.ts
  packages/ui/src/css/__tests__/token-augmentation.test-d.ts
  packages/ui/src/css/__tests__/token-in-css.test.ts
  packages/ui/src/css/__tests__/token-in-variants.test.ts
  packages/ui/src/css/__tests__/token.test-d.ts
  packages/ui/src/css/__tests__/token.test.ts
  packages/ui/src/css/__tests__/unitless-parity.test.ts
  packages/ui/src/css/__tests__/unitless-properties.test.ts
  packages/ui/src/css/__tests__/variants-object-form.test-d.ts
  packages/ui/src/css/__tests__/variants-object-form.test.ts
  packages/ui/src/css/class-generator.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/style-block.ts
  packages/ui/src/css/token.ts
  packages/ui/src/css/unitless-properties.ts
  packages/ui/src/css/variants.ts
  packages/ui/src/dom/style.ts
  packages/ui/src/index.ts
  plans/drop-classname-utilities.md
  plans/drop-classname-utilities/phase-01-object-form-e2e.md
  plans/drop-classname-utilities/phase-03-migrate-call-sites.md
  reviews/drop-classname-utilities/phase-01-followups.md
  reviews/drop-classname-utilities/phase-01-perf-baseline.md
  reviews/drop-classname-utilities/phase-01-test-failures-analysis.md
  reviews/drop-classname-utilities/phase-01.md
  reviews/drop-classname-utilities/phase-02-token-helper.md
Due: ui

feat(scripts): add classname shorthand migration tool
  .oxfmtrc.json
  scripts/migrate-classnames/__fixtures__/expected/01-padding.tsx
  scripts/migrate-classnames/__fixtures__/expected/02-color-with-shade.tsx
  scripts/migrate-classnames/__fixtures__/expected/03-color-without-shade.tsx
  scripts/migrate-classnames/__fixtures__/expected/04-pseudo-prefixes.tsx
  scripts/migrate-classnames/__fixtures__/expected/05-font-variants.tsx
  scripts/migrate-classnames/__fixtures__/expected/06-variants-call.ts
  scripts/migrate-classnames/__fixtures__/expected/07-compound-variants.ts
  scripts/migrate-classnames/__fixtures__/expected/08-keywords.tsx
  scripts/migrate-classnames/__fixtures__/expected/09-raw-values.tsx
  scripts/migrate-classnames/__fixtures__/expected/10-size-and-border.tsx
  scripts/migrate-classnames/__fixtures__/expected/11-mixed-pseudo-groups.tsx
  scripts/migrate-classnames/__fixtures__/expected/12-import-style-ui-subpath.tsx
  scripts/migrate-classnames/__fixtures__/input/01-padding.tsx
  scripts/migrate-classnames/__fixtures__/input/02-color-with-shade.tsx
  scripts/migrate-classnames/__fixtures__/input/03-color-without-shade.tsx
  scripts/migrate-classnames/__fixtures__/input/04-pseudo-prefixes.tsx
  scripts/migrate-classnames/__fixtures__/input/05-font-variants.tsx
  scripts/migrate-classnames/__fixtures__/input/06-variants-call.ts
  scripts/migrate-classnames/__fixtures__/input/07-compound-variants.ts
  scripts/migrate-classnames/__fixtures__/input/08-keywords.tsx
  scripts/migrate-classnames/__fixtures__/input/09-raw-values.tsx
  scripts/migrate-classnames/__fixtures__/input/10-size-and-border.tsx
  scripts/migrate-classnames/__fixtures__/input/11-mixed-pseudo-groups.tsx
  scripts/migrate-classnames/__fixtures__/input/12-import-style-ui-subpath.tsx
  scripts/migrate-classnames/fixtures.test.ts
  scripts/migrate-classnames/generator.test.ts
  scripts/migrate-classnames/generator.ts
  scripts/migrate-classnames/mapper.test.ts
  scripts/migrate-classnames/mapper.ts
  scripts/migrate-classnames/rewriter.test.ts
  scripts/migrate-classnames/rewriter.ts
  tsconfig.json
Due: none

docs(vtz): design for plugin rename + React deletion
  plans/vtz-plugin-system/DESIGN.md
  plans/vtz-plugin-system/phase-01-react-deletion.md
  plans/vtz-plugin-system/phase-02-rust-trait-rename.md
  plans/vtz-plugin-system/phase-03-ts-rename.md
  plans/vtz-plugin-system/phase-04-shim-cleanup.md
  plans/vtz-plugin-system/phase-05-docs-and-changeset.md
  plans/vtz-plugin-system/phase-06-final-gates.md
Due: none

chore(vtz): delete ReactPlugin end-to-end
  native/vtz/src/assets/hmr-client.js
  native/vtz/src/assets/react-refresh-runtime.js
  native/vtz/src/assets/react-refresh-setup.js
  native/vtz/src/cli.rs
  native/vtz/src/config.rs
  native/vtz/src/main.rs
  native/vtz/src/plugin/mod.rs
  native/vtz/src/plugin/react.rs
  native/vtz/src/pm/vertzrc.rs
  native/vtz/src/server/http.rs
Due: none

refactor(vtz): rename FrameworkPlugin trait to VtzPlugin
  native/vtz/src/bridge/mod.rs
  native/vtz/src/compiler/pipeline.rs
  native/vtz/src/main.rs
  native/vtz/src/plugin/mod.rs
  native/vtz/src/plugin/vertz.rs
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/server/html_shell.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/module_server.rs
  native/vtz/src/test/config.rs
  native/vtz/src/test/executor.rs
  native/vtz/tests/client_render.rs
  native/vtz/tests/error_overlay.rs
  native/vtz/tests/fixtures/ssr-app/vertz.lock
  native/vtz/tests/parity/common.rs
  native/vtz/tests/sqlite_integration.rs
Due: none

refactor(cli,benchmarks): fix Phase 3 review findings
  benchmarks/vertz/index.html
  packages/cli/src/pipeline/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/ui-server/src/build-plugin/plugin.ts
Due: ui-server

chore: delete 6 orphaned bun-plugin-shim.ts files
  benchmarks/vertz/bun-plugin-shim.ts
  examples/entity-todo/bun-plugin-shim.ts
  examples/linear/bun-plugin-shim.ts
  examples/task-manager/bun-plugin-shim.ts
  packages/component-docs/bun-plugin-shim.ts
  packages/landing/bun-plugin-shim.ts
Due: none

docs: update for bun-plugin -> build-plugin rename + add changeset
  .changeset/vtz-plugin-rename-cleanup.md
  docs/fullstack-app-setup.md
  packages/site/pages/guides/deploy/static-sites.mdx
  packages/ui/README.md
Due: none

docs: fix stale bunfig.toml reference in test preload comment
  packages/ui-server/src/__tests__/preload-mock-native-compiler.ts
Due: ui-server

refactor(vtz): rename FrameworkPlugin in parity/hmr.rs
  native/vtz/tests/parity/hmr.rs
Due: none

feat(codegen): resolve service schemas in ir-adapter (#2759)
  packages/codegen/src/__tests__/ir-adapter.test.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.test-d.ts
  packages/codegen/src/types.ts
Due: codegen

feat(codegen): emit typed service SDKs (#2759)
  packages/codegen/src/__tests__/integration.test.ts
  packages/codegen/src/__tests__/service-sdk-generator.test.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/service-types-generator.test.ts
  packages/codegen/src/generators/service-sdk-generator.ts
  packages/codegen/src/generators/service-types-generator.ts
Due: codegen

test(codegen): E2E + type-flow tests for typed service SDK (#2759)
  .changeset/typed-service-sdk-codegen.md
  packages/codegen/src/__tests__/service-sdk-e2e.test.ts
  packages/codegen/src/__tests__/service-sdk.test-d.ts
Due: none

feat(compiler): extract service action body/response schemas (#2759)
  packages/compiler/src/analyzers/__tests__/schema-type-resolver.test.ts
  packages/compiler/src/analyzers/__tests__/service-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/analyzers/service-analyzer.ts
  packages/compiler/src/analyzers/utils/schema-type-resolver.ts
  packages/compiler/src/errors.ts
  plans/codegen-service-sdk/phase-A-analyzer-schema-extraction.md
  plans/codegen-service-sdk/phase-B-codegen-schema-resolution.md
  plans/codegen-service-sdk/phase-C-typed-generators.md
  plans/codegen-service-sdk/phase-D-e2e-and-example.md
  plans/codegen-service-sdk/remaining-overview.md
Due: compiler

test(codegen): add deny-by-default regression test for service SDK (#2759)
  packages/codegen/src/__tests__/service-sdk-e2e.test.ts
Due: none

style(codegen): oxfmt service-types-generator (#2759)
  packages/codegen/src/generators/service-types-generator.ts
Due: codegen

feat(scripts): add classname shorthand migration tool (#2772)
  .oxfmtrc.json
  scripts/migrate-classnames/__fixtures__/expected/01-padding.tsx
  scripts/migrate-classnames/__fixtures__/expected/02-color-with-shade.tsx
  scripts/migrate-classnames/__fixtures__/expected/03-color-without-shade.tsx
  scripts/migrate-classnames/__fixtures__/expected/04-pseudo-prefixes.tsx
  scripts/migrate-classnames/__fixtures__/expected/05-font-variants.tsx
  scripts/migrate-classnames/__fixtures__/expected/06-variants-call.ts
  scripts/migrate-classnames/__fixtures__/expected/07-compound-variants.ts
  scripts/migrate-classnames/__fixtures__/expected/08-keywords.tsx
  scripts/migrate-classnames/__fixtures__/expected/09-raw-values.tsx
  scripts/migrate-classnames/__fixtures__/expected/10-size-and-border.tsx
  scripts/migrate-classnames/__fixtures__/expected/11-mixed-pseudo-groups.tsx
  scripts/migrate-classnames/__fixtures__/expected/12-import-style-ui-subpath.tsx
  scripts/migrate-classnames/__fixtures__/input/01-padding.tsx
  scripts/migrate-classnames/__fixtures__/input/02-color-with-shade.tsx
  scripts/migrate-classnames/__fixtures__/input/03-color-without-shade.tsx
  scripts/migrate-classnames/__fixtures__/input/04-pseudo-prefixes.tsx
  scripts/migrate-classnames/__fixtures__/input/05-font-variants.tsx
  scripts/migrate-classnames/__fixtures__/input/06-variants-call.ts
  scripts/migrate-classnames/__fixtures__/input/07-compound-variants.ts
  scripts/migrate-classnames/__fixtures__/input/08-keywords.tsx
  scripts/migrate-classnames/__fixtures__/input/09-raw-values.tsx
  scripts/migrate-classnames/__fixtures__/input/10-size-and-border.tsx
  scripts/migrate-classnames/__fixtures__/input/11-mixed-pseudo-groups.tsx
  scripts/migrate-classnames/__fixtures__/input/12-import-style-ui-subpath.tsx
  scripts/migrate-classnames/fixtures.test.ts
  scripts/migrate-classnames/generator.test.ts
  scripts/migrate-classnames/generator.ts
  scripts/migrate-classnames/mapper.test.ts
  scripts/migrate-classnames/mapper.ts
  scripts/migrate-classnames/rewriter.test.ts
  scripts/migrate-classnames/rewriter.ts
  tsconfig.json
Due: none

chore(plans): archive vtz-plugin-system + retrospective
  plans/archived/vtz-plugin-system/DESIGN.md
  plans/archived/vtz-plugin-system/phase-01-react-deletion.md
  plans/archived/vtz-plugin-system/phase-02-rust-trait-rename.md
  plans/archived/vtz-plugin-system/phase-03-ts-rename.md
  plans/archived/vtz-plugin-system/phase-04-shim-cleanup.md
  plans/archived/vtz-plugin-system/phase-05-docs-and-changeset.md
  plans/archived/vtz-plugin-system/phase-06-final-gates.md
  plans/post-implementation-reviews/vtz-plugin-rename-cleanup.md
Due: none

chore(plans): archive vtz-plugin-system + retrospective (#2775)
  plans/archived/vtz-plugin-system/DESIGN.md
  plans/archived/vtz-plugin-system/phase-01-react-deletion.md
  plans/archived/vtz-plugin-system/phase-02-rust-trait-rename.md
  plans/archived/vtz-plugin-system/phase-03-ts-rename.md
  plans/archived/vtz-plugin-system/phase-04-shim-cleanup.md
  plans/archived/vtz-plugin-system/phase-05-docs-and-changeset.md
  plans/archived/vtz-plugin-system/phase-06-final-gates.md
  plans/post-implementation-reviews/vtz-plugin-rename-cleanup.md
Due: none

feat(codegen): generate typed SDK for services (#2759) (#2774)
  .changeset/typed-service-sdk-codegen.md
  packages/codegen/src/__tests__/integration.test.ts
  packages/codegen/src/__tests__/ir-adapter.test.ts
  packages/codegen/src/__tests__/service-sdk-e2e.test.ts
  packages/codegen/src/__tests__/service-sdk-generator.test.ts
  packages/codegen/src/__tests__/service-sdk.test-d.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/service-types-generator.test.ts
  packages/codegen/src/generators/service-sdk-generator.ts
  packages/codegen/src/generators/service-types-generator.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.test-d.ts
  packages/codegen/src/types.ts
  packages/compiler/src/analyzers/__tests__/schema-type-resolver.test.ts
  packages/compiler/src/analyzers/__tests__/service-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/analyzers/service-analyzer.ts
  packages/compiler/src/analyzers/utils/schema-type-resolver.ts
  packages/compiler/src/errors.ts
  plans/codegen-service-sdk/phase-A-analyzer-schema-extraction.md
  plans/codegen-service-sdk/phase-B-codegen-schema-resolution.md
  plans/codegen-service-sdk/phase-C-typed-generators.md
  plans/codegen-service-sdk/phase-D-e2e-and-example.md
  plans/codegen-service-sdk/remaining-overview.md
Due: codegen, compiler

test(ui-server): add SSR + hydration integration tests for innerHTML [#2761]
  packages/ui-server/src/__tests__/inner-html-integration.test.ts
  packages/ui/src/dom/__tests__/html.test.ts
  packages/ui/src/dom/html.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

feat(ui): add __html() runtime helper for reactive innerHTML [#2761]
  packages/ui/src/dom/__tests__/html.test.ts
  packages/ui/src/dom/html.ts
  packages/ui/src/dom/index.ts
Due: ui

test(ui): pin mutual-exclusion behavior and cross-link trusted() [#2761]
  packages/ui/src/dom/html.ts
  packages/ui/src/jsx-runtime/__tests__/inner-html.test-d.ts
  packages/ui/src/jsx-runtime/__tests__/inner-html.test.ts
Due: ui

feat(ui): add TrustedHTML type + trusted() helper [#2761]
  packages/ui/src/__tests__/trusted-html.test-d.ts
  packages/ui/src/__tests__/trusted-html.test.ts
  packages/ui/src/index.ts
  packages/ui/src/trusted-html.ts
  plans/2761-raw-html-injection.md
  plans/2761-raw-html-injection/phase-01-runtime-foundations.md
  plans/2761-raw-html-injection/phase-02-native-compiler.md
  plans/2761-raw-html-injection/phase-03-ssr-hydration-tests.md
  plans/2761-raw-html-injection/phase-04-migration-and-docs.md
Due: ui

chore(compiler): address Phase 2 review findings [#2761]
  native/vertz-compiler-core/src/innerhtml_diagnostics.rs
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler-core/src/lib.rs
  reviews/2761-raw-html-injection/phase-02-native-compiler.md
Due: none

chore: add Phase 1 adversarial review [#2761]
  reviews/2761-raw-html-injection/phase-01-runtime-foundations.md
Due: none

feat(compiler): emit __html() for innerHTML JSX attribute [#2761]
  native/vertz-compiler-core/src/import_injection.rs
  native/vertz-compiler-core/src/jsx_transformer.rs
  packages/ui/src/internals.ts
Due: ui

test(ui-server): address Phase 3 review findings [#2761]
  packages/ui-server/src/__tests__/inner-html-integration.test.ts
  reviews/2761-raw-html-injection/phase-03-ssr-hydration-tests.md
Due: none

feat(ui): support innerHTML prop in jsx-runtime [#2761]
  packages/ui/src/jsx-runtime/__tests__/inner-html.test-d.ts
  packages/ui/src/jsx-runtime/__tests__/inner-html.test.ts
  packages/ui/src/jsx-runtime/index.ts
Due: none

feat(compiler): add innerHTML diagnostics E0761/E0762/E0764/W0763 [#2761]
  native/vertz-compiler-core/src/innerhtml_diagnostics.rs
  native/vertz-compiler-core/src/lib.rs
Due: none

docs(ui): address Phase 4 review findings [#2761]
  .changeset/raw-html-injection.md
  packages/mint-docs/guides/ui/raw-html.mdx
  reviews/2761-raw-html-injection/phase-04-callers-and-docs.md
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
