Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(testing): resolve service proxy 404 for non-POST and custom-path actions (#2438)
  packages/testing/src/__tests__/test-client.test.ts
  packages/testing/src/test-client.ts
Due: testing

docs: guide AI agents toward vtz create instead of manual setup (#2443)
  packages/mint-docs/guides/common-mistakes.mdx
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/index.mdx
  packages/mint-docs/installation.mdx
  packages/mint-docs/quickstart.mdx
Due: none

fix(testing): address review findings — escape regex, exact path match, changeset (#2438)
  .changeset/fix-service-routing-404.md
  packages/testing/src/__tests__/test-client.test.ts
  packages/testing/src/test-client.ts
Due: testing

fix(testing): resolve service proxy 404 for non-POST and custom-path actions (#2444)
  .changeset/fix-service-routing-404.md
  packages/testing/src/__tests__/test-client.test.ts
  packages/testing/src/test-client.ts
Due: testing

fix(orchestrator): fix runtime error and replace HTML entities with Unicode
  .claude/rules/ui-components.md
  sites/dev-orchestrator/src/pages/agent-detail.tsx
  sites/dev-orchestrator/src/pages/dashboard.tsx
  sites/dev-orchestrator/src/pages/definition-detail.tsx
  sites/dev-orchestrator/src/pages/step-inspector.tsx
  sites/dev-orchestrator/src/pages/workflow-detail.tsx
Due: none

fix(dev): run codegen before dev server to generate SDK client
  native/vtz/src/main.rs
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/production-build/orchestrator.ts
  packages/ui-server/src/bun-plugin/image-processor.ts
Due: cli, ui-server

fix(orchestrator): fix runtime error and replace HTML entities with Unicode (#2446)
  .claude/rules/ui-components.md
  sites/dev-orchestrator/src/pages/agent-detail.tsx
  sites/dev-orchestrator/src/pages/dashboard.tsx
  sites/dev-orchestrator/src/pages/definition-detail.tsx
  sites/dev-orchestrator/src/pages/step-inspector.tsx
  sites/dev-orchestrator/src/pages/workflow-detail.tsx
Due: none

fix(dev): run codegen before dev server to generate SDK client (#2445)
  native/vtz/src/main.rs
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/production-build/orchestrator.ts
  packages/ui-server/src/bun-plugin/image-processor.ts
Due: cli, ui-server

chore: add explicit bun-types to tsconfigs and fix nullable access for tsgo compat
  packages/agents/tsconfig.json
  packages/ci/tsconfig.json
  packages/compiler/tsconfig.json
  packages/core/tsconfig.json
  packages/db/src/client/database.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/schema/table.ts
  packages/db/tsconfig.json
  packages/desktop/tsconfig.json
  packages/docs/tsconfig.json
  packages/errors/tsconfig.json
  packages/mdx/tsconfig.json
  packages/og/tsconfig.json
  packages/schema/tsconfig.json
  packages/server/src/auth/oauth-schema.ts
  packages/server/src/auth/schema.ts
  packages/server/tsconfig.json
  packages/test/tsconfig.json
Due: db, server

chore: add explicit bun-types to tsconfigs and fix nullable access for tsgo compat (#2447)
  packages/agents/tsconfig.json
  packages/ci/tsconfig.json
  packages/compiler/tsconfig.json
  packages/core/tsconfig.json
  packages/db/src/client/database.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/schema/table.ts
  packages/db/tsconfig.json
  packages/desktop/tsconfig.json
  packages/docs/tsconfig.json
  packages/errors/tsconfig.json
  packages/mdx/tsconfig.json
  packages/og/tsconfig.json
  packages/schema/tsconfig.json
  packages/server/src/auth/oauth-schema.ts
  packages/server/src/auth/schema.ts
  packages/server/tsconfig.json
  packages/test/tsconfig.json
Due: db, server

chore: switch runtime-agnostic packages from bun-types to @types/node
  bun.lock
  packages/ci/package.json
  packages/ci/tsconfig.json
  packages/desktop/package.json
  packages/desktop/tsconfig.json
  packages/errors/package.json
  packages/errors/tsconfig.json
  packages/og/package.json
  packages/og/tsconfig.json
  packages/schema/package.json
  packages/schema/tsconfig.json
  packages/test/package.json
  packages/test/tsconfig.json
Due: none

chore: switch runtime-agnostic packages from bun-types to @types/node (#2449)
  bun.lock
  packages/ci/package.json
  packages/ci/tsconfig.json
  packages/desktop/package.json
  packages/desktop/tsconfig.json
  packages/errors/package.json
  packages/errors/tsconfig.json
  packages/og/package.json
  packages/og/tsconfig.json
  packages/schema/package.json
  packages/schema/tsconfig.json
  packages/test/package.json
  packages/test/tsconfig.json
Due: none

fix(server): replace @ts-expect-error with Parameters<> cast for tsgo compat
  packages/server/src/entity/crud-pipeline.ts
Due: server

fix: avoid accessing .only in CI — Bun throws when .only is accessed
  packages/test/src/__tests__/exports.test.ts
Due: none

fix(ui-server): remove silent Bun JSX transpiler fallback from compile()
  packages/ui-server/src/compiler/native-compiler.ts
Due: ui-server

fix(landing): fix rotating word animation and font serving
  packages/landing/scripts/build.ts
  packages/landing/src/components/hero.tsx
  packages/landing/src/worker.ts
Due: none

fix(ui-server): add createElementNS to DOM shim and fix landing deploy
  packages/landing/package.json
  packages/landing/wrangler.toml
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/index.ts
Due: none

fix: restore bun-types for packages with bun:test imports
  packages/ci/package.json
  packages/desktop/package.json
  packages/errors/package.json
  packages/landing/src/components/hero.tsx
  packages/og/package.json
  packages/schema/package.json
  packages/test/tsconfig.typecheck.json
Due: none

fix(landing): use curl install script in get-started section
  packages/landing/src/components/get-started.tsx
Due: none

fix(landing): use plain img tags for founder photos
  packages/landing/src/components/founders.tsx
Due: none

fix(landing): show vtz install + create flow in get-started section
  packages/landing/src/components/get-started.tsx
Due: none

fix(landing): replace Bun references with vtz in user-facing copy
  packages/landing/src/components/faq.tsx
  packages/landing/src/components/footer.tsx
  packages/landing/src/components/get-started.tsx
  packages/landing/src/components/the-stack.tsx
Due: none

fix(landing): add vertz.dev/vtz/install redirect for clean curl URL
  packages/landing/src/components/get-started.tsx
  packages/landing/src/worker.ts
Due: none

fix(ui-server): restore Bun JSX fallback in compile() for CI compatibility
  packages/ui-server/src/compiler/native-compiler.ts
Due: ui-server

fix: publish landing page + remove Bun JSX fallback (#2454)
  packages/ci/package.json
  packages/desktop/package.json
  packages/errors/package.json
  packages/landing/package.json
  packages/landing/scripts/build.ts
  packages/landing/src/components/faq.tsx
  packages/landing/src/components/footer.tsx
  packages/landing/src/components/founders.tsx
  packages/landing/src/components/get-started.tsx
  packages/landing/src/components/hero.tsx
  packages/landing/src/components/the-stack.tsx
  packages/landing/src/worker.ts
  packages/landing/wrangler.toml
  packages/og/package.json
  packages/schema/package.json
  packages/test/tsconfig.typecheck.json
  packages/ui-server/src/compiler/native-compiler.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/index.ts
Due: ui-server

fix(server): replace @ts-expect-error with Parameters<> cast for tsgo compat (#2451)
  packages/server/src/entity/crud-pipeline.ts
Due: server

fix: align tsconfig types with actual devDependencies for CI
  packages/ci/package.json
  packages/desktop/package.json
  packages/errors/tsconfig.json
  packages/errors/tsconfig.typecheck.json
  packages/fetch/tsconfig.typecheck.json
  packages/og/package.json
  packages/schema/tsconfig.json
  packages/schema/tsconfig.typecheck.json
  packages/test/package.json
Due: none

fix: fix CI test failures in docs timeout and ui-server native compiler dependency
  packages/docs/src/__tests__/docs-cli-actions.test.ts
  packages/ui-server/src/__tests__/ssr-aot-manifest-dev.test.ts
Due: none

fix(ui-server): fix test failures exposed by native compiler mock
  bun.lock
  packages/ui-server/bunfig.toml
  packages/ui-server/src/__tests__/aot-e2e-pipeline.test.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/bun-plugin-onload.test.ts
  packages/ui-server/src/__tests__/compiler/native-compiler.test.ts
  packages/ui-server/src/__tests__/fetch-scope.test.ts
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/__tests__/preload-mock-native-compiler.ts
  packages/ui-server/src/__tests__/ssr-aot-manifest-dev.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
Due: ui-server

fix: update bun.lock after rebase to include @vertz/test entries
  bun.lock
Due: none

refactor(landing): replace custom build script with `vertz build`
  packages/cli/src/commands/build.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/landing/package.json
  packages/landing/scripts/build-css-injection.test.ts
  packages/landing/scripts/build-css-injection.ts
  packages/landing/scripts/build.ts
  packages/landing/src/__tests__/llms-txt.test.ts
  packages/landing/src/components/founders.tsx
  packages/landing/wrangler.toml
Due: cli

refactor(landing): replace custom build script with `vertz build` (#2456)
  packages/cli/src/commands/build.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/landing/package.json
  packages/landing/scripts/build-css-injection.test.ts
  packages/landing/scripts/build-css-injection.ts
  packages/landing/scripts/build.ts
  packages/landing/src/__tests__/llms-txt.test.ts
  packages/landing/src/components/founders.tsx
  packages/landing/wrangler.toml
Due: cli

feat(codegen): use MutationDescriptor for service mutations and add .queryKey() (#2450)
  packages/codegen/src/__tests__/service-sdk-generator.test.ts
  packages/codegen/src/generators/service-sdk-generator.ts
  plans/2450-codegen-query-descriptor.md
Due: codegen

test(codegen): add edge case tests from adversarial review (#2450)
  packages/codegen/src/__tests__/service-sdk-generator.test.ts
Due: none

feat(codegen): use MutationDescriptor for service mutations and add .queryKey() (#2450) (#2455)
  packages/codegen/src/__tests__/service-sdk-generator.test.ts
  packages/codegen/src/generators/service-sdk-generator.ts
  plans/2450-codegen-query-descriptor.md
Due: codegen

chore(ci): replace Turborepo with vtz ci for CI orchestration
  .github/workflows/ci.yml
  .gitignore
  bun.lock
  ci.config.ts
  package.json
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
