Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(oxlint): address adversarial review findings on no-narrowing-let (#2779)
  oxlint-plugins/__tests__/vertz-rules.test.ts
  oxlint-plugins/vertz-rules.js
  packages/ui-primitives/src/calendar/calendar-composed.tsx
  packages/ui-primitives/src/checkbox/checkbox.tsx
  plans/2779-let-signal-narrowing.md
  reviews/2779-let-signal-narrowing/phase-01-rule-and-docs.md
Due: ui-primitives

fix(db): re-export column/table/relation types from package entry [#2778]
  .changeset/db-export-column-types.md
  packages/db/src/__tests__/public-exports.test-d.ts
  packages/db/src/index.ts
Due: none

feat(oxlint): add no-narrowing-let rule (#2779) (#2803)
  .claude/rules/policies.md
  .oxlintrc.json
  oxlint-plugins/__tests__/vertz-rules.test.ts
  oxlint-plugins/vertz-rules.js
  packages/mint-docs/guides/ui/reactivity.mdx
  packages/ui-primitives/src/calendar/calendar-composed.tsx
  packages/ui-primitives/src/checkbox/checkbox.tsx
  plans/2779-let-signal-narrowing.md
  plans/2779-let-signal-narrowing/phase-01-rule-and-docs.md
  reviews/2779-let-signal-narrowing/phase-01-rule-and-docs.md
Due: ui-primitives

fix(theme-shadcn): dialog stack panel + title use foreground color [#2756]
  .changeset/dialog-stack-dark-mode-foreground.md
  packages/theme-shadcn/src/__tests__/styles.test.ts
  packages/theme-shadcn/src/styles/dialog.ts
Due: none

fix(theme-shadcn): dialog stack panel + title use foreground color [#2756] (#2806)
  .changeset/dialog-stack-dark-mode-foreground.md
  packages/theme-shadcn/src/__tests__/styles.test.ts
  packages/theme-shadcn/src/styles/dialog.ts
Due: none

fix(db): re-export column/table/relation types from package entry [#2778] (#2805)
  .changeset/db-export-column-types.md
  packages/db/src/__tests__/public-exports.test-d.ts
  packages/db/src/index.ts
Due: none

fix(db): export EnumSchemaLike named by d.enum overload [#2804]
  .changeset/db-export-enum-schema-like.md
  packages/db/src/__tests__/public-exports.test-d.ts
  packages/db/src/d.ts
  packages/db/src/index.ts
Due: db

fix(db): export EnumSchemaLike named by d.enum overload [#2804] (#2807)
  .changeset/db-export-enum-schema-like.md
  packages/db/src/__tests__/public-exports.test-d.ts
  packages/db/src/d.ts
  packages/db/src/index.ts
Due: db

fix(schema,ui): unwrap refine/superRefine so form() coerces refined object schemas [#2771]
  .changeset/form-coerce-formdata-to-schema.md
  packages/mint-docs/api-reference/ui/form.mdx
  packages/mint-docs/guides/ui/forms.mdx
  packages/schema/src/core/schema.ts
  packages/ui/src/form/__tests__/coerce.test.ts
  packages/ui/src/form/__tests__/form-coercion.test.ts
Due: schema

feat(ui): add schema-driven coerce.ts utility for form() [#2771]
  packages/ui/src/form/__tests__/coerce.test.ts
  packages/ui/src/form/coerce.ts
Due: ui

refactor(schema): type ArraySchema.element as Schema<T> [#2771]
  packages/schema/src/schemas/array.ts
  reviews/2771-form-coerce-field-types/phase-01-element-getter.md
Due: schema

chore(reviews): record Phase 3 review resolution [#2771]
  reviews/2771-form-coerce-field-types/phase-03-wire-form-and-docs.md
Due: none

feat(schema): add public ArraySchema.element getter [#2771]
  packages/schema/src/schemas/__tests__/array.test.ts
  packages/schema/src/schemas/array.ts
  plans/2771-form-coerce-field-types.md
  plans/2771-form-coerce-field-types/phase-01-element-getter.md
  plans/2771-form-coerce-field-types/phase-02-coerce-utility.md
  plans/2771-form-coerce-field-types/phase-03-wire-form-and-docs.md
Due: schema

docs(ui): document FormData coercion in form() + changeset [#2771]
  .changeset/form-coerce-formdata-to-schema.md
  packages/mint-docs/api-reference/ui/form.mdx
  packages/mint-docs/guides/ui/forms.mdx
Due: none

feat(ui): wire schema-driven coercion into form() submit and blur revalidation [#2771]
  packages/ui/src/form/__tests__/form-coercion.test.ts
  packages/ui/src/form/form.ts
  packages/ui/src/form/validation.ts
Due: ui

chore(reviews): record Phase 3 re-review #2 approval [#2771]
  reviews/2771-form-coerce-field-types/phase-03-wire-form-and-docs.md
Due: none

fix(ui): skip File entries when coercing form leaves [#2771]
  packages/ui/src/form/__tests__/coerce.test.ts
  packages/ui/src/form/coerce.ts
  reviews/2771-form-coerce-field-types/phase-02-coerce-utility.md
Due: ui

fix(ui): unwrap top-level wrappers in resolveFieldSchema for blur revalidation [#2771]
  packages/mint-docs/guides/ui/forms.mdx
  packages/ui/src/form/__tests__/form-coercion.test.ts
  packages/ui/src/form/validation.ts
Due: ui

chore: remove local phase reviews before merging to main [#2771]
  reviews/2771-form-coerce-field-types/phase-01-element-getter.md
  reviews/2771-form-coerce-field-types/phase-02-coerce-utility.md
  reviews/2771-form-coerce-field-types/phase-03-wire-form-and-docs.md
Due: none

chore: apply oxfmt formatting to coercion files [#2771]
  packages/mint-docs/guides/ui/forms.mdx
  packages/ui/src/form/__tests__/coerce.test.ts
  packages/ui/src/form/__tests__/form-coercion.test.ts
Due: none

fix(ui): form() coerces FormData per @vertz/schema leaves [#2771] (#2810)
  .changeset/form-coerce-formdata-to-schema.md
  packages/mint-docs/api-reference/ui/form.mdx
  packages/mint-docs/guides/ui/forms.mdx
  packages/schema/src/core/schema.ts
  packages/schema/src/schemas/__tests__/array.test.ts
  packages/schema/src/schemas/array.ts
  packages/ui/src/form/__tests__/coerce.test.ts
  packages/ui/src/form/__tests__/form-coercion.test.ts
  packages/ui/src/form/coerce.ts
  packages/ui/src/form/form.ts
  packages/ui/src/form/validation.ts
  plans/2771-form-coerce-field-types.md
  plans/2771-form-coerce-field-types/phase-01-element-getter.md
  plans/2771-form-coerce-field-types/phase-02-coerce-utility.md
  plans/2771-form-coerce-field-types/phase-03-wire-form-and-docs.md
Due: schema, ui

chore(reviews): phase 1 review for #2777 — approved
  reviews/2777-import-meta-hot-types/phase-01-rename-and-type-fix.md
Due: none

chore(reviews): phase 2 review for #2777 — approved
  reviews/2777-import-meta-hot-types/phase-02-call-site-migration.md
Due: none

feat(apps,examples): migrate call sites to import.meta.hot?.accept() [#2777]
  examples/contacts-api/tsconfig.json
  examples/entity-todo/src/entry-client.ts
  examples/entity-todo/tsconfig.json
  examples/linear/src/entry-client.ts
  examples/linear/tsconfig.json
  examples/task-manager/src/entry-client.ts
  examples/task-manager/tsconfig.json
  packages/component-docs/src/entry-client.ts
  packages/component-docs/tsconfig.json
  packages/landing/src/entry-client.ts
  packages/landing/tsconfig.json
Due: none

feat(vertz): rename vertz/env → vertz/client + fix ImportMeta.hot types [#2777]
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/vertz/__tests__/subpath-exports.test.ts
  packages/vertz/client.d.ts
  packages/vertz/env.d.ts
  packages/vertz/package.json
  packages/vertz/src/__tests__/import-meta-hot.test-d.ts
  packages/vertz/tsconfig.json
  packages/vertz/tsconfig.typecheck.json
  plans/2777-import-meta-hot-types.md
  plans/2777-import-meta-hot-types/phase-01-rename-and-type-fix.md
  plans/2777-import-meta-hot-types/phase-02-call-site-migration.md
  plans/2777-import-meta-hot-types/phase-03-docs-and-changeset.md
Due: none

docs(mint-docs): add HMR types guide + changeset for #2777
  .changeset/rename-vertz-env-to-client.md
  packages/mint-docs/docs.json
  packages/mint-docs/guides/hmr-types.mdx
Due: none

chore(reviews): phase 3 review for #2777 — approved
  reviews/2777-import-meta-hot-types/phase-03-docs-and-changeset.md
Due: none

chore(mint-docs): apply oxfmt to hmr-types.mdx [#2777]
  packages/mint-docs/guides/hmr-types.mdx
Due: none

test(testing): work around tsgo entity() inference collapse [#2815]
  packages/testing/src/__tests__/test-client.test-d.ts
Due: none

feat(vertz): rename vertz/env → vertz/client + fix ImportMeta.hot types [#2777] (#2822)
  .changeset/rename-vertz-env-to-client.md
  examples/contacts-api/tsconfig.json
  examples/entity-todo/src/entry-client.ts
  examples/entity-todo/tsconfig.json
  examples/linear/src/entry-client.ts
  examples/linear/tsconfig.json
  examples/task-manager/src/entry-client.ts
  examples/task-manager/tsconfig.json
  packages/component-docs/src/entry-client.ts
  packages/component-docs/tsconfig.json
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/landing/src/entry-client.ts
  packages/landing/tsconfig.json
  packages/mint-docs/docs.json
  packages/mint-docs/guides/hmr-types.mdx
  packages/testing/src/__tests__/test-client.test-d.ts
  packages/vertz/__tests__/subpath-exports.test.ts
  packages/vertz/client.d.ts
  packages/vertz/env.d.ts
  packages/vertz/package.json
  packages/vertz/src/__tests__/import-meta-hot.test-d.ts
  packages/vertz/tsconfig.json
  packages/vertz/tsconfig.typecheck.json
  plans/2777-import-meta-hot-types.md
  plans/2777-import-meta-hot-types/phase-01-rename-and-type-fix.md
  plans/2777-import-meta-hot-types/phase-02-call-site-migration.md
  plans/2777-import-meta-hot-types/phase-03-docs-and-changeset.md
  reviews/2777-import-meta-hot-types/phase-01-rename-and-type-fix.md
  reviews/2777-import-meta-hot-types/phase-02-call-site-migration.md
  reviews/2777-import-meta-hot-types/phase-03-docs-and-changeset.md
Due: none

fix(scripts): ignore JSDoc-only DOM refs in audit [#2760]
  scripts/audit-window-document-refs.sh
Due: none

refactor(runtime): split DOM shim into permanent + scoped blocks [#2760]
  .github/workflows/ci.yml
  native/vtz/src/ssr/dom_shim.rs
  plans/2760-browser-detection-fix.md
  plans/2760-browser-detection-fix/phase-01-split-dom-shim.md
  plans/2760-browser-detection-fix/phase-02-wire-dispatch.md
  plans/2760-browser-detection-fix/phase-03-integration-tests-docs.md
  scripts/audit-window-document-refs.sh
Due: none

fix(runtime): scope DOM shim to SSR render boundary [#2760]
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/runtime/snapshot.rs
  native/vtz/src/ssr/dom_shim.rs
  native/vtz/tests/ssr_render.rs
Due: none

fix(runtime): address Phase 2 review findings [#2760]
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/ssr/dom_shim.rs
  scripts/audit-window-document-refs.sh
Due: none

fix(runtime,docs): address Phase 3 review findings [#2760]
  .changeset/fix-server-browser-detection.md
  native/vtz/src/runtime/persistent_isolate.rs
  packages/mint-docs/guides/server/environment.mdx
Due: none

docs(server): document clean runtime env for handlers [#2760]
  .changeset/fix-server-browser-detection.md
  packages/mint-docs/docs.json
  packages/mint-docs/guides/server/environment.mdx
Due: none

fix(runtime): clean Node-like env for server handlers [#2760] (#2823)
  .changeset/fix-server-browser-detection.md
  .github/workflows/ci.yml
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/runtime/snapshot.rs
  native/vtz/src/ssr/dom_shim.rs
  native/vtz/tests/ssr_render.rs
  packages/mint-docs/docs.json
  packages/mint-docs/guides/server/environment.mdx
  plans/2760-browser-detection-fix.md
  plans/2760-browser-detection-fix/phase-01-split-dom-shim.md
  plans/2760-browser-detection-fix/phase-02-wire-dispatch.md
  plans/2760-browser-detection-fix/phase-03-integration-tests-docs.md
  scripts/audit-window-document-refs.sh
Due: none

fix(ui): let globalCss() accept nested at-rules [#2776]
  .changeset/global-css-keyframes.md
  packages/mint-docs/api-reference/ui/css.mdx
  packages/site/pages/api-reference/ui/css.mdx
  packages/ui/src/css/__tests__/global-css.test-d.ts
  packages/ui/src/css/__tests__/global-css.test.ts
  packages/ui/src/css/global-css.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
Due: ui

fix(vtz): scope CI cache restore_keys to same package
  native/vtz/src/ci/cache.rs
Due: none

fix(vtz): scope CI cache restore_keys to same package (#2825)
  native/vtz/src/ci/cache.rs
Due: none
