Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(ui-primitives): select click-outside dismiss, chevron SVG, floating dropdown #1523 (#1534)
  .changeset/select-dismiss-chevron-float.md
  packages/theme-shadcn/src/styles/select.ts
  packages/ui-primitives/src/select/__tests__/select-composed.test.ts
  packages/ui-primitives/src/select/select-composed.tsx
Due: ui-primitives

fix(ui-primitives): fix dialog close animation not playing with native <dialog> (#1518) (#1535)
  .changeset/dialog-close-animation.md
  packages/theme-shadcn/src/styles/alert-dialog.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/sheet.ts
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog-composed.test.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/__tests__/dialog-composed.test.ts
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/sheet/__tests__/sheet-composed.test.ts
  packages/ui-primitives/src/sheet/sheet-composed.tsx
Due: ui-primitives

fix(ui-compiler): respect nested scope shadowing in signal/computed transforms #1520 (#1536)
  .changeset/fix-callback-scope-shadowing.md
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
  packages/ui-compiler/src/utils.ts
Due: ui-compiler

fix(ui-primitives): remove getElementById workarounds from Dialog/AlertDialog/Sheet (#1517) (#1537)
  .changeset/hydration-child-ref-fix.md
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/sheet/sheet-composed.tsx
  packages/ui/src/dom/__tests__/hydration-element.test.ts
Due: ui-primitives

fix(theme-shadcn): override dialog UA constraints for Sheet viewport sizing #1522 (#1538)
  .changeset/sheet-viewport-sizing.md
  packages/theme-shadcn/src/__tests__/sheet.test.ts
  packages/theme-shadcn/src/styles/sheet.ts
Due: none

fix(ui-primitives): batch fix 8 UI component bugs (#1539)
  bun.lock
  examples/component-catalog/e2e/accordion.spec.ts
  examples/component-catalog/e2e/popover.spec.ts
  examples/component-catalog/e2e/toast.spec.ts
  examples/component-catalog/package.json
  examples/component-catalog/playwright.config.ts
  examples/component-catalog/src/app.tsx
  examples/component-catalog/src/demos/toast.tsx
  examples/component-catalog/src/styles/catalog.ts
  packages/theme-shadcn/src/__tests__/components.test.ts
  packages/theme-shadcn/src/components/separator.ts
  packages/theme-shadcn/src/styles/accordion.ts
  packages/ui-primitives/src/accordion/__tests__/accordion-composed.test.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/checkbox/__tests__/checkbox-composed.test.ts
  packages/ui-primitives/src/checkbox/checkbox-composed.tsx
  packages/ui-primitives/src/popover/__tests__/popover-composed.test.ts
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/select/__tests__/select-composed.test.ts
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/toast/toast.tsx
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
Due: ui-primitives, ui-server

fix(ui-primitives): batch fix composed component bugs and close animations (#1541)
  examples/component-catalog/e2e/alert-dialog.spec.ts
  examples/component-catalog/e2e/dialog.spec.ts
  examples/component-catalog/e2e/sheet.spec.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/sheet/sheet-composed.tsx
Due: ui-primitives

test(ui-primitives): add keyboard navigation tests for menubar #1528 (#1542)
  .changeset/menubar-keyboard-nav.md
  packages/ui-primitives/src/menubar/__tests__/menubar-composed.test.ts
  packages/ui-primitives/src/menubar/menubar-composed.tsx
Due: ui-primitives

test(ui-primitives): add keyboard navigation tests for context-menu #1527 (#1544)
  .changeset/context-menu-keyboard-nav.md
  packages/ui-primitives/src/context-menu/__tests__/context-menu-composed.test.ts
  packages/ui-primitives/src/context-menu/context-menu-composed.tsx
Due: ui-primitives

feat(ui,ui-compiler): defer onMount callbacks until after JSX evaluation #1526 (#1545)
  .changeset/deferred-on-mount.md
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/__tests__/mount-frame-transformer.test.ts
  packages/ui-compiler/src/transformers/mount-frame-transformer.ts
  packages/ui/src/component/__tests__/lifecycle.test.ts
  packages/ui/src/component/__tests__/on-mount-integration.test.ts
  packages/ui/src/component/lifecycle.ts
  packages/ui/src/internals.ts
  plans/deferred-on-mount.md
Due: ui, ui-compiler

test(ui-server): increase test coverage to 95%+ for 5 target files #1540 (#1547)
  packages/ui-server/src/__tests__/bun-plugin-onload.test.ts
  packages/ui-server/src/bun-plugin/__tests__/context-stable-ids.test.ts
  packages/ui-server/src/bun-plugin/__tests__/island-id-inject.test.ts
  packages/ui-server/src/bun-plugin/__tests__/route-splitting-plugin.test.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim-coverage.test.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
Due: none

test(ui-primitives): add keyboard navigation tests for carousel #1531 (#1546)
  packages/ui-primitives/src/carousel/__tests__/carousel-composed.test.ts
Due: none

refactor(ui-primitives): migrate document.getElementById to ref() in composed components (#1551)
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/context-menu/context-menu-composed.tsx
  packages/ui-primitives/src/date-picker/date-picker-composed.tsx
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/menubar/menubar-composed.tsx
  packages/ui-primitives/src/navigation-menu/navigation-menu-composed.tsx
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
  plans/onmount-ref-migration.md
Due: ui-primitives

test(cli): increase @vertz/cli coverage to 80%+ #1550 (#1552)
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/commands/__tests__/build.test.ts
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/__tests__/load-db-context.test.ts
  packages/cli/src/commands/__tests__/start.test.ts
  packages/cli/src/config/__tests__/loader.test.ts
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
Due: none

test(ui-compiler,server,db): increase coverage to 95%+ for 23 target files #1548 (#1558)
  packages/db/src/client/__tests__/database.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access.test.ts
  packages/server/src/auth/__tests__/billing/stripe-adapter.test.ts
  packages/server/src/auth/__tests__/db-flag-store.test.ts
  packages/server/src/auth/__tests__/handler-edge-cases.test.ts
  packages/server/src/auth/__tests__/oauth-routes.test.ts
  packages/server/src/auth/__tests__/rate-limit-store.test.ts
  packages/server/src/auth/__tests__/step-up.test.ts
  packages/server/src/auth/cloud-create-server.test.ts
  packages/server/src/entity/__tests__/expose-evaluator.test.ts
  packages/ui-compiler/src/__tests__/library-plugin.test.ts
  packages/ui-compiler/src/__tests__/manifest-generator.test.ts
  packages/ui-compiler/src/__tests__/manifest-resolver.test.ts
  packages/ui-compiler/src/__tests__/utils.test.ts
  packages/ui-compiler/src/analyzers/__tests__/css-analyzer.test.ts
  packages/ui-compiler/src/analyzers/__tests__/field-selection-analyzer.test.ts
  packages/ui-compiler/src/css-extraction/__tests__/css-extraction.test.ts
  packages/ui-compiler/src/diagnostics/__tests__/css-diagnostics.test.ts
  packages/ui-compiler/src/diagnostics/__tests__/diagnostics.test.ts
  packages/ui-compiler/src/diagnostics/__tests__/ssr-safety-diagnostics.test.ts
  packages/ui-compiler/src/transformers/__tests__/css-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/hydration-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/jsx-transformer.test.ts
Due: none

fix(ui): prevent orphaned DOM nodes in nested conditional hydration #1553 (#1556)
  .changeset/fix-conditional-hydration-orphan.md
  packages/ui-primitives/src/checkbox/__tests__/checkbox-composed.test.ts
  packages/ui/src/__tests__/hydration-e2e.test.ts
  packages/ui/src/dom/__tests__/conditional.test.ts
  packages/ui/src/dom/__tests__/hydration-conditional.test.ts
  packages/ui/src/dom/conditional.ts
Due: ui

test: increase coverage to 90%+ for bun-dev-server and error-boundary #1549 (#1559)
  bun.lock
  packages/ui-server/bunfig.toml
  packages/ui-server/src/__tests__/bun-dev-server.integration.local.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/tsconfig.json
  packages/ui/src/component/__tests__/error-boundary.test.ts
Due: ui-server

refactor(ui-primitives): migrate Collapsible composed to compound pattern #1554 (#1562)
  packages/ui-primitives/src/collapsible/__tests__/collapsible-composed.test.ts
  packages/ui-primitives/src/collapsible/collapsible-composed.tsx
  plans/collapsible-compound-migration.md
Due: ui-primitives

fix(server): pass interval_count to Stripe for quarterly plans #1557 (#1561)
  .changeset/fix-stripe-quarterly-interval.md
  packages/integration-tests/src/__tests__/auth-billing.test.ts
  packages/server/src/auth/__tests__/billing/stripe-adapter.test.ts
  packages/server/src/auth/billing/stripe-adapter.ts
Due: server

fix(server): matchingPrice check compares recurring interval, not just amount #1560 (#1563)
  .changeset/stripe-price-interval-match.md
  packages/server/src/auth/__tests__/billing/stripe-adapter.test.ts
  packages/server/src/auth/billing/stripe-adapter.ts
Due: server

refactor(ui-primitives): migrate ResizablePanel to compound pattern #1555 (#1564)
  packages/ui-primitives/src/resizable-panel/__tests__/resizable-panel-composed.test.ts
  packages/ui-primitives/src/resizable-panel/resizable-panel-composed.tsx
  plans/resizable-panel-compound-migration.md
Due: ui-primitives

fix(linear): fix entity name mismatch, missing default export, and invalid CSS tokens #1513 (#1565)
  examples/linear/src/api/db.ts
  examples/linear/src/api/seed.ts
  examples/linear/src/api/server.ts
  examples/linear/src/components/label-picker.tsx
  examples/linear/src/components/manage-labels-dialog.tsx
  examples/linear/src/styles/components.ts
Due: none

fix(compiler): match entities to database models by variable name, not entity name (#1567)
  packages/compiler/src/analyzers/__tests__/database-analyzer.test.ts
  packages/compiler/src/analyzers/database-analyzer.ts
  packages/compiler/src/ir/types.ts
  packages/compiler/src/validators/completeness-validator.ts
Due: compiler

fix(cli): dev server uses .handler instead of .requestHandler, auth routes unreachable #1511 (#1569)
  .changeset/fix-dev-requesthandler.md
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
Due: cli

fix: remove doppler.json from git tracking (#1570)
  doppler.json
Due: none

feat(ui): expand CSS utility tokens — overflow, scale, fractions, color opacity #1566 (#1571)
  .changeset/css-token-expansion.md
  packages/docs/api-reference/ui/css.mdx
  packages/ui-compiler/src/css-extraction/__tests__/css-extraction.test.ts
  packages/ui-compiler/src/css-extraction/extractor.ts
  packages/ui-compiler/src/transformers/__tests__/css-transformer.test.ts
  packages/ui-compiler/src/transformers/css-transformer.ts
  packages/ui/src/css/__tests__/css.test-d.ts
  packages/ui/src/css/__tests__/token-resolver.test.ts
  packages/ui/src/css/__tests__/token-tables.test.ts
  packages/ui/src/css/token-resolver.ts
  packages/ui/src/css/token-tables.ts
  packages/ui/src/css/utility-types.ts
  plans/css-utility-token-expansion.md
Due: ui, ui-compiler

fix(server): await jwks reload() in refresh() to fix flaky CI test (#1572)
  packages/server/src/auth/jwks-client.ts
Due: server

test(server): harden coverage to 99%+ on 6 security-critical files (#1573)
  packages/server/src/auth/__tests__/access-set-addons.test.ts
  packages/server/src/auth/__tests__/auth-session-edge-cases.test.ts
  packages/server/src/auth/__tests__/billing/webhook-metadata.test.ts
  packages/server/src/auth/__tests__/mfa-edge-cases.test.ts
  packages/server/src/auth/__tests__/oauth-error-paths.test.ts
  packages/server/src/entity/__tests__/access-enforcer-skipwhere.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-tenant.test.ts
  packages/server/src/entity/__tests__/tenant-chain-edge-cases.test.ts
  plans/coverage-hardening-critical-paths.md
Due: none

test(ui-server): harden coverage for ssr-render.ts and bun-dev-server.ts (#1574)
  .claude/rules/integration-test-safety.md
  packages/ui-server/src/__tests__/bun-dev-server.integration.local.ts
  packages/ui-server/src/__tests__/debug-logger.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  plans/coverage-hardening-ui-server.md
Due: ui-server

test(ui-server): improve plugin.ts coverage to 99.54% (#1578)
  packages/ui-server/src/__tests__/bun-plugin-onload.test.ts
Due: none

feat(cloudflare): zero-boilerplate DX defaults for createHandler (#1579)
  .changeset/cloudflare-zero-boilerplate.md
  examples/entity-todo/src/worker.ts
  packages/cloudflare/src/handler.ts
  packages/cloudflare/tests/handler.test-d.ts
  packages/cloudflare/tests/handler.test.ts
  packages/docs/docs.json
  packages/docs/guides/deploy/cloudflare.mdx
Due: cloudflare

fix(ui): fix __list child ordering bug that broke SPA navigation (#1575)
  bun.lock
  examples/component-catalog/package.json
  examples/component-catalog/src/app.tsx
  examples/component-catalog/src/demos/breadcrumb.tsx
  examples/component-catalog/src/demos/calendar.tsx
  examples/component-catalog/src/demos/carousel.tsx
  examples/component-catalog/src/demos/collapsible.tsx
  examples/component-catalog/src/demos/command.tsx
  examples/component-catalog/src/demos/context-menu.tsx
  examples/component-catalog/src/demos/date-picker.tsx
  examples/component-catalog/src/demos/drawer.tsx
  examples/component-catalog/src/demos/hover-card.tsx
  examples/component-catalog/src/demos/index.ts
  examples/component-catalog/src/demos/menubar.tsx
  examples/component-catalog/src/demos/navigation-menu.tsx
  examples/component-catalog/src/demos/pagination.tsx
  examples/component-catalog/src/demos/resizable-panel.tsx
  examples/component-catalog/src/demos/scroll-area.tsx
  examples/component-catalog/src/demos/toggle-group.tsx
  packages/theme-shadcn/src/__tests__/pagination.test.ts
  packages/theme-shadcn/src/components/pagination.ts
  packages/theme-shadcn/src/styles/calendar.ts
  packages/theme-shadcn/src/styles/pagination.ts
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
  packages/ui-primitives/src/calendar/calendar-composed.tsx
  packages/ui/src/dom/__tests__/hydration-list.test.ts
  packages/ui/src/dom/__tests__/list.test.ts
  packages/ui/src/dom/list.ts
Due: ui, ui-primitives

fix(server): increase forgot-password race timeout to fix flaky CI test (#1580)
  packages/server/src/auth/__tests__/handler-edge-cases.test.ts
Due: none

feat(ui-server): auto-restart dev server on upstream package rebuild (#1582)
  packages/cli/src/dev-server/fullstack-server.ts
  packages/ui-server/src/__tests__/upstream-watcher.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/upstream-watcher.ts
  plans/upstream-dist-watcher.md
Due: cli, ui-server

feat(ui-primitives): Calendar month/year quick-select dropdowns (#1576) (#1585)
  .changeset/calendar-dropdown-nav.md
  examples/component-catalog/src/demos/calendar.tsx
  packages/theme-shadcn/src/__tests__/calendar.test.ts
  packages/theme-shadcn/src/components/primitives/calendar.ts
  packages/theme-shadcn/src/styles/calendar.ts
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
  packages/ui-primitives/src/calendar/calendar-composed.tsx
  plans/calendar-dropdown-navigation.md
Due: ui-primitives

fix(ui): preserve prototype chain in __list item proxies (#1581) (#1584)
  .changeset/fix-list-proxy-instanceof.md
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
  packages/ui/src/dom/__tests__/list.test.ts
  packages/ui/src/dom/list.ts
Due: ui

fix(ui-compiler): use property assignment for IDL properties (#1583) (#1588)
  .changeset/idl-property-assignment.md
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/__tests__/jsx-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
  packages/ui/src/dom/__tests__/attributes.test.ts
  packages/ui/src/dom/attributes.ts
  packages/ui/src/dom/index.ts
  packages/ui/src/internals.ts
Due: ui, ui-compiler, ui-server

feat(ui-primitives): forward captionLayout through DatePicker (#1586) (#1594)
  .changeset/datepicker-caption-layout.md
  packages/theme-shadcn/src/__tests__/date-picker.test.ts
  packages/theme-shadcn/src/components/primitives/date-picker.tsx
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
  packages/ui-primitives/src/date-picker/__tests__/date-picker-composed.test.ts
  packages/ui-primitives/src/date-picker/date-picker-composed.tsx
  plans/1586-datepicker-caption-layout.md
  reviews/datepicker-caption-layout/phase-01-prop-forwarding.md
Due: ui-primitives

fix(ui-compiler): boolean shorthand JSX attributes drop IDL properties (#1587) (#1595)
  .changeset/boolean-shorthand-idl.md
  packages/ui-compiler/src/transformers/__tests__/jsx-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
Due: ui-compiler

fix(theme-shadcn): dialog panel CSS supports non-native dialog elements (#1590) (#1599)
  .changeset/fix-dialog-panel-visibility.md
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/sheet.test.ts
  packages/theme-shadcn/src/styles/alert-dialog.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/sheet.ts
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
Due: none
