Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

feat(native-compiler): hydration markers — Phase 2 of build-time transforms (#1910)
  native/vertz-compiler/__tests__/hydration-markers.test.ts
  native/vertz-compiler/src/hydration_markers.rs
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/lib.rs
  plans/native-compiler-build-transforms.md
Due: none

feat(native-compiler): address issues #1904-#1911 — TS strip, JSX fixes, query auto-thunk, cross-file manifests
  native/vertz-compiler/__tests__/context-stable-ids.test.ts
  native/vertz-compiler/__tests__/cross-file-manifest.test.ts
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/__tests__/parity-1911.test.ts
  native/vertz-compiler/__tests__/query-auto-thunk.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/__tests__/typescript-strip.test.ts
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/magic_string.rs
  native/vertz-compiler/src/query_auto_thunk.rs
  native/vertz-compiler/src/reactivity_analyzer.rs
  native/vertz-compiler/src/signal_transformer.rs
  native/vertz-compiler/src/typescript_strip.rs
Due: none

feat(native-compiler): add prefetch manifest analysis (#1910)
  native/vertz-compiler/__tests__/prefetch-manifest.test.ts
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/prefetch_manifest.rs
Due: none

feat(native-compiler): Phase 0.8 — Integration + Bun Plugin Swap + Benchmarks (#1871)
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/__tests__/native-compiler-plugin-integration.test.ts
  packages/ui-server/src/bun-plugin/plugin.ts
Due: ui-server

fix(native-compiler): add declare guard to TSModuleDeclaration stripping (#1904)
  native/vertz-compiler/__tests__/typescript-strip.test.ts
  native/vertz-compiler/src/typescript_strip.rs
Due: none

feat(native-compiler): add route code splitting transform (#1910)
  native/vertz-compiler/__tests__/route-splitting.test.ts
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/route_splitting.rs
Due: none

fix(native-compiler): address Phase 6 review findings (#1910)
  native/vertz-compiler/__tests__/build-transform-benchmark.test.ts
  native/vertz-compiler/__tests__/build-transform-parity.test.ts
Due: none

feat(native-compiler): add field selection analyzer (#1910)
  native/vertz-compiler/__tests__/field-selection.test.ts
  native/vertz-compiler/src/field_selection.rs
  native/vertz-compiler/src/lib.rs
Due: none

feat(native-compiler): add integration parity tests and benchmarks (#1910)
  native/vertz-compiler/__tests__/build-transform-benchmark.test.ts
  native/vertz-compiler/__tests__/build-transform-parity.test.ts
  native/vertz-compiler/src/aot_string_transformer.rs
  native/vertz-compiler/src/field_selection.rs
  native/vertz-compiler/src/prefetch_manifest.rs
Due: none

style(native-compiler): apply cargo fmt formatting (#1910)
  native/vertz-compiler/src/aot_string_transformer.rs
  native/vertz-compiler/src/field_selection.rs
  native/vertz-compiler/src/hydration_markers.rs
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/prefetch_manifest.rs
  native/vertz-compiler/src/query_auto_thunk.rs
  native/vertz-compiler/src/reactivity_analyzer.rs
  native/vertz-compiler/src/route_splitting.rs
  native/vertz-compiler/src/typescript_strip.rs
Due: none

feat(native-compiler): add AOT string-builder SSR transform (#1910)
  native/Cargo.lock
  native/vertz-compiler/Cargo.toml
  native/vertz-compiler/__tests__/aot-ssr.test.ts
  native/vertz-compiler/src/aot_string_transformer.rs
  native/vertz-compiler/src/component_analyzer.rs
  native/vertz-compiler/src/lib.rs
Due: none

fix(native-compiler): fix review blockers F-1, F-2, F-3 (#1904)
  native/vertz-compiler/__tests__/typescript-strip.test.ts
  native/vertz-compiler/src/magic_string.rs
  native/vertz-compiler/src/typescript_strip.rs
Due: none

fix(native-compiler): fix review blockers F-10, F-11, F-12, F-13 (#1904)
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/__tests__/typescript-strip.test.ts
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/typescript_strip.rs
Due: none

feat(native-compiler): build-time transforms — route splitting, hydration, field selection, AOT SSR, prefetch manifest (#1933)
  native/Cargo.lock
  native/vertz-compiler/Cargo.toml
  native/vertz-compiler/__tests__/aot-ssr.test.ts
  native/vertz-compiler/__tests__/build-transform-benchmark.test.ts
  native/vertz-compiler/__tests__/build-transform-parity.test.ts
  native/vertz-compiler/__tests__/context-stable-ids.test.ts
  native/vertz-compiler/__tests__/cross-file-manifest.test.ts
  native/vertz-compiler/__tests__/field-selection.test.ts
  native/vertz-compiler/__tests__/hydration-markers.test.ts
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/__tests__/parity-1911.test.ts
  native/vertz-compiler/__tests__/prefetch-manifest.test.ts
  native/vertz-compiler/__tests__/query-auto-thunk.test.ts
  native/vertz-compiler/__tests__/route-splitting.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/__tests__/typescript-strip.test.ts
  native/vertz-compiler/src/aot_string_transformer.rs
  native/vertz-compiler/src/component_analyzer.rs
  native/vertz-compiler/src/field_selection.rs
  native/vertz-compiler/src/hydration_markers.rs
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/magic_string.rs
  native/vertz-compiler/src/prefetch_manifest.rs
  native/vertz-compiler/src/query_auto_thunk.rs
  native/vertz-compiler/src/reactivity_analyzer.rs
  native/vertz-compiler/src/route_splitting.rs
  native/vertz-compiler/src/signal_transformer.rs
  native/vertz-compiler/src/typescript_strip.rs
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/__tests__/native-compiler-plugin-integration.test.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  plans/native-compiler-build-transforms.md
Due: ui-server

fix(cli): AOT bundle uses JSX stub plugin instead of external react/jsx-dev-runtime #1935
  packages/cli/src/production-build/__tests__/aot-jsx-runtime.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
Due: cli

fix(cli): add jsxs export to AOT JSX stub and production mode test #1935
  packages/cli/src/production-build/__tests__/aot-jsx-runtime.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
Due: cli

chore: add changeset for #1935
  .changeset/fix-aot-jsx-runtime.md
Due: none

fix(cli): AOT bundle uses JSX stub plugin instead of react/jsx-dev-runtime (#1937)
  .changeset/fix-aot-jsx-runtime.md
  packages/cli/src/production-build/__tests__/aot-jsx-runtime.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
Due: cli

fix(ui): SSR hydration key mismatch for query() with useSearchParams (#1925)
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/navigate.ts
Due: ui

fix(ui): SSR hydration key mismatch for query() with useSearchParams (#1925) (#1939)
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/navigate.ts
Due: ui

chore: add changeset for #1936
  .changeset/aot-map-closure-fix.md
Due: none

fix(native-compiler): rustfmt formatting
  native/vertz-compiler/src/aot_string_transformer.rs
Due: none

fix(ui-compiler): AOT map closure fallback and SSR error recovery #1936
  native/vertz-compiler/__tests__/aot-ssr.test.ts
  native/vertz-compiler/src/aot_string_transformer.rs
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-compiler, ui-server

fix(ui-compiler): AOT map closure fallback and SSR error recovery (#1936) (#1938)
  .changeset/aot-map-closure-fix.md
  native/vertz-compiler/__tests__/aot-ssr.test.ts
  native/vertz-compiler/src/aot_string_transformer.rs
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-compiler, ui-server

fix(ui): popstate handler applies search-param-only optimization #1922
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/navigate.ts
  plans/fix-popstate-search-param-optimization.md
Due: ui

chore: add changeset for popstate search-param-only fix
  .changeset/fix-popstate-search-param.md
Due: none

fix(ui): popstate handler applies search-param-only optimization (#1922) (#1942)
  .changeset/fix-popstate-search-param.md
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/navigate.ts
  plans/fix-popstate-search-param-optimization.md
Due: ui

test(auth): add type-level negative tests for FlagStore API #1920
  packages/server/src/auth/__tests__/flag-store.test-d.ts
  reviews/auth-flags-resource-id/phase-01-implementation.md
Due: none

feat(auth): align auth_flags with (resource_type, resource_id) pattern #1920
  .changeset/auth-flags-resource-id.md
  packages/integration-tests/src/__tests__/auth-db-stores.test.ts
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/auth-tables.test.ts
  packages/server/src/auth/__tests__/db-flag-store.test.ts
  packages/server/src/auth/__tests__/flag-store.test.ts
  packages/server/src/auth/__tests__/multi-level-flag-resolution.test.ts
  packages/server/src/auth/__tests__/shared-flag-store.tests.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/auth-models.ts
  packages/server/src/auth/auth-tables.ts
  packages/server/src/auth/db-flag-store.ts
  packages/server/src/auth/flag-store.ts
  plans/auth-flags-resource-id.md
Due: server

feat(auth): align auth_flags with (resource_type, resource_id) pattern (#1945)
  .changeset/auth-flags-resource-id.md
  packages/integration-tests/src/__tests__/auth-db-stores.test.ts
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/auth-tables.test.ts
  packages/server/src/auth/__tests__/db-flag-store.test.ts
  packages/server/src/auth/__tests__/flag-store.test-d.ts
  packages/server/src/auth/__tests__/flag-store.test.ts
  packages/server/src/auth/__tests__/multi-level-flag-resolution.test.ts
  packages/server/src/auth/__tests__/shared-flag-store.tests.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/auth-models.ts
  packages/server/src/auth/auth-tables.ts
  packages/server/src/auth/db-flag-store.ts
  packages/server/src/auth/flag-store.ts
  plans/auth-flags-resource-id.md
  reviews/auth-flags-resource-id/phase-01-implementation.md
Due: server

fix(native-compiler,ui): three runtime bugs + back-nav orphaned history
  native/vertz-compiler/src/field_selection.rs
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/prefetch_manifest.rs
  native/vertz-compiler/src/route_splitting.rs
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui/src/router/navigate.ts
Due: ui, ui-server

fix(native-compiler,ui): three runtime bugs + back-nav orphaned history (#1941)
  native/vertz-compiler/src/field_selection.rs
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/prefetch_manifest.rs
  native/vertz-compiler/src/route_splitting.rs
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui/src/router/navigate.ts
Due: ui, ui-server

fix(auth): deep-freeze LimitDef.overage sub-object #1832
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/define-access.ts
Due: server

test(auth): assert LimitDef without overage is also frozen #1832
  packages/server/src/auth/__tests__/define-access.test.ts
Due: none

chore: add changeset for #1832
  .changeset/fix-limitdef-deep-freeze.md
Due: none

fix(auth): deep-freeze LimitDef.overage sub-object (#1832) (#1947)
  .changeset/fix-limitdef-deep-freeze.md
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/define-access.ts
Due: server

feat(docs): CodeGroup tab rendering from child code block titles (#1837)
  packages/docs/src/__tests__/mdx-components.test.ts
  packages/docs/src/components/code-group.ts
Due: none

fix(docs): add type="button" and role="tabpanel" to CodeGroup tabs (#1837)
  packages/docs/src/__tests__/mdx-components.test.ts
  packages/docs/src/components/code-group.ts
Due: none

feat(docs): CodeGroup tab rendering from child code block titles (#1948)
  packages/docs/src/__tests__/mdx-components.test.ts
  packages/docs/src/components/code-group.ts
Due: none

chore(auth): align AccessEventBroadcaster with (resourceType, resourceId) pattern (#1944)
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/server/src/auth/__tests__/access-event-broadcaster.test.ts
  packages/server/src/auth/access-event-broadcaster.ts
  packages/ui/src/auth/__tests__/access-event-client.test.ts
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/__tests__/reactive-cascade.test.ts
  packages/ui/src/auth/access-event-client.ts
  plans/1944-broadcaster-resource-id.md
Due: server, ui
