Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(task-manager): correct page 2 first task assertion in E2E test
  examples/task-manager/e2e/task-list.spec.ts
Due: none

fix(ui): include dep hash in query cache key for descriptor-in-thunk queries
  examples/task-manager/src/api/mock-data.ts
  packages/ui/src/query/query.ts
Due: ui

fix(ui,compiler): reactive query params with useSearchParams + pagination example (#1892)
  examples/task-manager/e2e/prod-ssr.spec.ts
  examples/task-manager/e2e/server-nav.spec.ts
  examples/task-manager/e2e/ssr.spec.ts
  examples/task-manager/e2e/task-list.spec.ts
  examples/task-manager/src/api/mock-data.ts
  examples/task-manager/src/lib/types.ts
  examples/task-manager/src/pages/task-list.tsx
  examples/task-manager/src/tests/task-list.test.ts
  packages/ui-compiler/src/__tests__/query-auto-thunk.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/query-auto-thunk-transformer.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
  plans/fix-query-reactive-source-auto-thunk.md
Due: ui, ui-compiler

feat(ui-server): support custom aotDataResolver for non-entity data sources (#1890)
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr/index.ts
  plans/aot-data-resolver.md
Due: ui-server

chore: add changeset for aotDataResolver (#1890)
  .changeset/aot-data-resolver.md
Due: none

feat(ui-server): support custom aotDataResolver for non-entity data sources (#1895)
  .changeset/aot-data-resolver.md
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr/index.ts
  plans/aot-data-resolver.md
Due: ui-server

feat(native-compiler): Phase 0.7 — Import Injection + Diagnostics (#1871)
  native/vertz-compiler/__tests__/body-jsx-diagnostics.test.ts
  native/vertz-compiler/__tests__/css-diagnostics.test.ts
  native/vertz-compiler/__tests__/import-injection.test.ts
  native/vertz-compiler/__tests__/mutation-diagnostics.test.ts
  native/vertz-compiler/__tests__/ssr-safety-diagnostics.test.ts
  native/vertz-compiler/src/body_jsx_diagnostics.rs
  native/vertz-compiler/src/css_diagnostics.rs
  native/vertz-compiler/src/import_injection.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/mutation_diagnostics.rs
  native/vertz-compiler/src/ssr_safety_diagnostics.rs
Due: none

fix(native-compiler): Phase 0.7 review fixes — typeof guards + dedup utils (#1871)
  native/vertz-compiler/__tests__/ssr-safety-diagnostics.test.ts
  native/vertz-compiler/src/body_jsx_diagnostics.rs
  native/vertz-compiler/src/css_diagnostics.rs
  native/vertz-compiler/src/import_injection.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/mutation_diagnostics.rs
  native/vertz-compiler/src/ssr_safety_diagnostics.rs
  native/vertz-compiler/src/utils.rs
  reviews/native-compiler/phase-07-import-injection-diagnostics.md
Due: none

feat(native-compiler): Phase 0.7 — Import Injection + Diagnostics (#1871) (#1897)
  native/vertz-compiler/__tests__/body-jsx-diagnostics.test.ts
  native/vertz-compiler/__tests__/css-diagnostics.test.ts
  native/vertz-compiler/__tests__/import-injection.test.ts
  native/vertz-compiler/__tests__/mutation-diagnostics.test.ts
  native/vertz-compiler/__tests__/ssr-safety-diagnostics.test.ts
  native/vertz-compiler/src/body_jsx_diagnostics.rs
  native/vertz-compiler/src/css_diagnostics.rs
  native/vertz-compiler/src/import_injection.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/mutation_diagnostics.rs
  native/vertz-compiler/src/ssr_safety_diagnostics.rs
  native/vertz-compiler/src/utils.rs
  reviews/native-compiler/phase-07-import-injection-diagnostics.md
Due: none

fix(ui): align refetch()/clearData() cache key with effect path for descriptor-in-thunk queries (#1891)
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: ui

test(ui): add refetch-after-dep-change test for descriptor-in-thunk (#1891)
  packages/ui/src/query/__tests__/query.test.ts
Due: none

chore: add changeset for query cache key fix (#1891)
  .changeset/fix-query-cache-key.md
Due: none

fix(ui): refetch()/clearData() cache key diverges from effect path for descriptor-in-thunk queries (#1899)
  .changeset/fix-query-cache-key.md
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: ui

chore: add changeset for syntax error overlay fix (#1893)
  .changeset/syntax-error-overlay.md
Due: none

fix(ui-server): address review findings — empty message fallback and test coverage (#1893)
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(ui-server): surface plugin syntax errors as build errors in overlay (#1893)
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(ui-server): show source-level syntax errors instead of generic 'must export App' message (#1900)
  .changeset/syntax-error-overlay.md
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(ui): resolve search params types from nested route children (#1860)
  packages/ui/src/router/__tests__/router.test-d.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/params.ts
Due: ui

test(ui): add negative type test for nonexistent path in nested route map
  packages/ui/src/router/__tests__/router.test-d.ts
Due: none

chore: add changeset for nested search params type fix
  .changeset/nested-search-params-types.md
Due: none

fix(ui): resolve search params types from nested route children (#1903)
  .changeset/nested-search-params-types.md
  packages/ui/src/router/__tests__/router.test-d.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/params.ts
Due: ui

feat(dx): improve LLM discoverability with llms.txt and hello-world template
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/create-vertz-app/src/__tests__/prompts.test.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/prompts.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/create-vertz-app/src/types.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/quickstart.mdx
  sites/landing/public/sitemap.xml
  sites/landing/src/__tests__/llms-txt.test.ts
  sites/landing/src/llms-txt.ts
  sites/landing/src/worker.ts
Due: none

feat(dx): improve LLM discoverability with llms.txt and hello-world template (#1918)
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/create-vertz-app/src/__tests__/prompts.test.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/prompts.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/create-vertz-app/src/types.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/quickstart.mdx
  sites/landing/public/sitemap.xml
  sites/landing/src/__tests__/llms-txt.test.ts
  sites/landing/src/llms-txt.ts
  sites/landing/src/worker.ts
Due: none

feat(native-compiler): Phase 0.8 — Integration + Bun Plugin Swap + Benchmarks (#1871)
  bun.lock
  native/vertz-compiler/__tests__/benchmark.test.ts
  native/vertz-compiler/__tests__/cross-compiler-equivalence.test.ts
  native/vertz-compiler/package.json
  package.json
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/__tests__/native-compiler-plugin-integration.test.ts
  packages/ui-server/src/bun-plugin/native-compiler-loader.ts
  packages/ui-server/src/bun-plugin/plugin.ts
Due: ui-server

fix(native-compiler): fix mount frame catch block placement in multi-function files (#1902)
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/src/mount_frame_transformer.rs
Due: none

fix(native-compiler): address Phase 0.8 review findings (#1871)
  native/vertz-compiler/__tests__/cross-compiler-equivalence.test.ts
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/__tests__/native-compiler-plugin-integration.test.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  reviews/native-compiler/phase-08-integration-plugin-benchmarks.md
Due: ui-server

fix(native-compiler): skip binary-dependent tests when binary unavailable (#1871)
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/__tests__/native-compiler-plugin-integration.test.ts
Due: none

docs(native-compiler): update Phase 0.8 review — approved after fixes (#1871)
  reviews/native-compiler/phase-08-integration-plugin-benchmarks.md
Due: none

fix(native-compiler): fix CI failures for Phase 0.8 (#1871)
  .github/workflows/native-compiler.yml
  native/vertz-compiler/package.json
Due: none

feat(native-compiler): Phase 0.8 — Integration + Bun Plugin Swap + Benchmarks (#1871) (#1901)
  .github/workflows/native-compiler.yml
  bun.lock
  native/vertz-compiler/__tests__/benchmark.test.ts
  native/vertz-compiler/__tests__/cross-compiler-equivalence.test.ts
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/package.json
  native/vertz-compiler/src/mount_frame_transformer.rs
  package.json
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/__tests__/native-compiler-plugin-integration.test.ts
  packages/ui-server/src/bun-plugin/native-compiler-loader.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  reviews/native-compiler/phase-08-integration-plugin-benchmarks.md
Due: ui-server

docs(testing): add createTestClient() to LLM quick reference #1917
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

fix(docs): include details? in ErrorBody comment #1917
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

docs(testing): add createTestClient() to LLM quick reference (#1921)
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

docs(server): add domain() to LLM quick reference #1916
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

docs(server): add domain() to LLM quick reference #1916 (#1919)
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

fix(ui): narrow isSearchParamOnly to boolean for type safety
  packages/ui/src/router/navigate.ts
Due: ui

fix(ui): use resolved pathname for search-param-only detection
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/navigate.ts
Due: ui

fix(ui): skip SSE prefetch, view transition, and loaders for search-param-only navigation
  examples/task-manager/src/pages/task-list.tsx
  examples/task-manager/src/router.ts
  packages/ui/src/router/navigate.ts
Due: ui

fix(ui): use effectKey for descriptor-in-thunk nav-prefetch cache lookup
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui

fix(task-manager): search param schema defaults + loading indicator + 4 items/page
  examples/task-manager/src/pages/task-list.tsx
  examples/task-manager/src/router.ts
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
