Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, codegen, compiler, core, fetch, schema, testing

docs: task-manager smoke test report (2026-02-14)
  plans/2026-02-14-task-manager-smoke-test.md
Due: none

docs(core): add comprehensive README and basic-api example
  packages/core/README.md
  packages/core/examples/basic-api/README.md
  packages/core/examples/basic-api/index.ts
  packages/core/examples/basic-api/package.json
Due: none

docs: address PR feedback - add prerequisites, fix package refs, improve Quick Start
  packages/cli/README.md
  packages/compiler/README.md
  packages/core/README.md
  packages/schema/README.md
  packages/testing/README.md
Due: none

docs(schema): add comprehensive README and validation example
  packages/schema/README.md
  packages/schema/examples/validation/README.md
  packages/schema/examples/validation/index.ts
  packages/schema/examples/validation/package.json
Due: none

docs(compiler): add comprehensive README and analysis example
  packages/compiler/README.md
  packages/compiler/examples/analyze-app/README.md
  packages/compiler/examples/analyze-app/index.ts
  packages/compiler/examples/analyze-app/package.json
  packages/compiler/examples/analyze-app/sample-app/app.ts
  packages/compiler/examples/analyze-app/sample-app/tsconfig.json
  packages/compiler/examples/analyze-app/sample-app/users.module.ts
Due: none

docs(cli): add comprehensive README for @vertz/cli
  packages/cli/README.md
Due: none

docs(testing): add comprehensive README for @vertz/testing
  packages/testing/README.md
Due: none

docs: add package naming strategy analysis
  plans/package-naming-strategy.md
Due: none

chore: update lockfile after removing demo-toolkit
  bun.lock
Due: none

docs: update @vertz/core references to @vertz/server in README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
  bun.lock
Due: none

audit: PR #289 (demo-toolkit removal) - Grade C
  plans/audits/2026-02-15-pr289-edson.md
  plans/audits/data/2026-02-15-pr289-edson.json
Due: none

audit: PR #290 (rename @vertz/core → @vertz/server) - Grade C
  plans/audits/2026-02-15-pr290-ben.md
  plans/audits/data/2026-02-15-pr290-ben.json
Due: none

docs: update @vertz/core references to @vertz/server in README and CONTRIBUTING
  bun.lock
Due: none

fix(task-manager): fix all 9 failing unit tests
  examples/task-manager/bunfig.toml
  examples/task-manager/src/tests/router.test.ts
  examples/task-manager/src/tests/task-form.test.ts
  examples/task-manager/src/tests/task-list.test.ts
  examples/task-manager/test-compiler-plugin.ts
  examples/task-manager/test-setup.ts
Due: none

fix(dx): enum dedup, query param hints, reusable enums (#179, #180, #182)
  packages/core/src/module/__tests__/query-param-hints.test-d.ts
  packages/core/src/module/router-def.ts
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/schema/__tests__/enum-dedup.test.ts
  packages/db/src/schema/__tests__/enum-registry.test.ts
  packages/db/src/schema/enum-registry.ts
  packages/db/vitest.config.ts
  packages/schema/src/schemas/__tests__/enum-values.test.ts
  packages/schema/src/schemas/enum.ts
Due: core, schema

fix(core): align query type to Record<string, string> after InferOutput default change
  packages/core/src/app/app-runner.ts
  packages/core/src/context/ctx-builder.ts
  packages/core/src/types/context.ts
Due: core

fix: resolve remaining typecheck errors in testing and task-manager
  examples/task-manager/src/tests/router.test.ts
  packages/testing/src/test-app.ts
Due: testing

refactor: rename ORM query verbs findMany→list, findOne→get
  examples/task-api/src/modules/tasks/task.service.ts
  examples/task-api/src/modules/users/user.service.ts
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/__tests__/db-integration.e2e.test.ts
  packages/db/src/__tests__/e2e.test.ts
  packages/db/src/__tests__/postgres-integration.test.ts
  packages/db/src/client/database.ts
  packages/db/src/core/db-provider.test.ts
  packages/db/src/diagnostic/__tests__/diagnostic.test.ts
  packages/db/src/diagnostic/index.ts
  packages/db/src/plugin/__tests__/fingerprint.test.ts
  packages/db/src/plugin/__tests__/integration.test.ts
  packages/db/src/plugin/__tests__/plugin-runner.test.ts
  packages/db/src/query/__tests__/crud.test.ts
  packages/db/src/query/__tests__/relation-loader.test.ts
  packages/db/src/query/crud.ts
  packages/db/src/query/index.ts
  packages/db/src/sql/__tests__/select.test.ts
  packages/db/src/sql/select.ts
  packages/integration-tests/src/__tests__/dts-type-preservation.test.ts
Due: none

fix: correct malformed import in forms code example
  docs/ui/overview.mdx
Due: none

fix: correct import syntax in forms code example
  docs/ui/overview.mdx
Due: none

Resolve merge conflict in docs/ui/overview.mdx
  docs/ui/overview.mdx
Due: none

fix: correct schema method names in docs (min/max, toLowerCase/toUpperCase)
  docs/schema/overview.mdx
  docs/ui/overview.mdx
Due: none

fix(core): complete runtime implementation for schema-validated options/env
  .changeset/service-options-env.md
  packages/core/src/app/app-runner.ts
  packages/core/src/di/__tests__/boot-executor.test.ts
  packages/core/src/di/boot-executor.ts
  packages/core/src/types/boot-sequence.ts
Due: core

fix(testing): update test-app.ts to pass options/env to service methods
  packages/testing/src/test-app.ts
  packages/testing/src/test-service.ts
Due: testing

fix(codegen): remove unused schemaRefOrInline function
  packages/codegen/src/generators/typescript/emit-routes.ts
Due: codegen

fix(docs): correct @vertz/ui API signatures in overview.mdx
  docs/ui/overview.mdx
Due: none

docs: Update auth module spec with CTO decisions
  plans/auth-module-spec.md
Due: none

feat(cli): unified vertz dev pipeline orchestrator
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/index.ts
  packages/cli/src/pipeline/__tests__/orchestrator.test.ts
  packages/cli/src/pipeline/index.ts
  packages/cli/src/pipeline/orchestrator.ts
  packages/cli/src/pipeline/types.ts
  packages/cli/src/pipeline/watcher.ts
  packages/codegen/src/pipeline.ts
Due: cli, codegen

test: update OpenAPI generator snapshots
  packages/compiler/src/generators/__tests__/__snapshots__/openapi-generator.test.ts.snap
Due: compiler

test: update obsolete compiler snapshots
  packages/compiler/src/generators/__tests__/__snapshots__/openapi-generator.test.ts.snap
Due: compiler

security: throw on missing JWT secret in production
  packages/compiler/src/generators/__tests__/__snapshots__/openapi-generator.test.ts.snap
  packages/server/src/auth/index.ts
Due: compiler

test: remove obsolete OpenAPI generator snapshots
  packages/compiler/src/generators/__tests__/__snapshots__/openapi-generator.test.ts.snap
Due: compiler

security: add Trojan Source / bidirectional Unicode detection
  lefthook.yml
  scripts/check-unicode.sh
Due: none

fix: update obsolete OpenAPI generator snapshots
  packages/compiler/src/generators/__tests__/__snapshots__/openapi-generator.test.ts.snap
Due: compiler

ci: add Trojan Source check to CI workflow
  .github/workflows/ci.yml
Due: none

docs: rewrite quickstart with real API examples
  docs/quickstart.mdx
Due: none

docs: rewrite quickstart with real API examples (#329)
  docs/quickstart.mdx
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
