Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(orchestrator): exclude ready-for-review issues from eligible list (#1441)
  tools/orchestrator/src/github.ts
Due: none

feat(codegen): generate auth SDK from compiler IR into unified client (#1442)
  examples/linear/e2e/linear.spec.ts
  packages/cli/src/commands/__tests__/codegen.test.ts
  packages/codegen/src/__tests__/ir-adapter.test.ts
  packages/codegen/src/__tests__/pipeline.test.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/access-types-generator.test.ts
  packages/codegen/src/generators/__tests__/auth-sdk-generator.test.ts
  packages/codegen/src/generators/__tests__/client-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-schema-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-schema-manifest-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-types-generator.test.ts
  packages/codegen/src/generators/__tests__/rls-policy-generator.test.ts
  packages/codegen/src/generators/__tests__/router-augmentation-generator.test.ts
  packages/codegen/src/generators/auth-sdk-generator.ts
  packages/codegen/src/generators/client-generator.ts
  packages/codegen/src/index.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/__tests__/compiler.test.ts
  packages/compiler/src/__tests__/incremental.test.ts
  packages/compiler/src/analyzers/__tests__/auth-analyzer.test.ts
  packages/compiler/src/analyzers/auth-analyzer.ts
  packages/compiler/src/compiler.ts
  packages/compiler/src/index.ts
  packages/compiler/src/ir/builder.ts
  packages/compiler/src/ir/types.ts
  plans/auth-sdk-codegen.md
Due: codegen, compiler

fix(linear): replace raw SQL in seed.test with typed DB client (#1448) (#1458)
  examples/linear/src/api/seed.test.ts
Due: none

fix(linear): handle dialog stack.open result as error-value, not try/catch (#1451) (#1457)
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/project-board-page.tsx
  examples/linear/src/pages/projects-page.tsx
Due: none

feat(server): add defineAuth() and defineEntities() for extractable config (#1445) (#1459)
  .changeset/define-auth-extractable.md
  examples/linear/src/api/auth.ts
  examples/linear/src/api/entities/index.ts
  examples/linear/src/api/server.ts
  packages/server/src/__tests__/define-auth.test-d.ts
  packages/server/src/__tests__/define-auth.test.ts
  packages/server/src/define-auth.ts
  packages/server/src/define-entities.ts
  packages/server/src/index.ts
Due: server

feat(biome): add lint rule to flag try/catch around error-as-value APIs (#1452) (#1460)
  biome-plugins/__tests__/no-try-catch-result.test.ts
  biome-plugins/no-try-catch-result.grit
  biome.json
Due: none

fix(codegen): generate validated input schemas and use in Linear clone (#1450) (#1466)
  .changeset/sdk-generated-form-schemas.md
  examples/linear/package.json
  examples/linear/src/components/create-issue-dialog.tsx
  examples/linear/src/components/create-project-dialog.tsx
  examples/linear/src/components/edit-issue-dialog.tsx
  examples/linear/src/lib/edit-issue-schema.test.ts
  examples/linear/src/lib/edit-issue-schema.ts
  packages/codegen/src/generators/__tests__/entity-schema-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-schema-generator.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
Due: codegen

refactor(auth): unify AuthProvider with generated auth SDK (#1440) (#1467)
  .changeset/unify-authprovider-sdk.md
  examples/linear/src/app.tsx
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui/src/auth/__tests__/auth-client.test.ts
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/auth-client.ts
  packages/ui/src/auth/auth-context.ts
  packages/ui/src/auth/public.ts
Due: ui

fix(fetch,codegen): wire credentials through FetchClient and generated client (#1444) (#1463)
  packages/codegen/src/generators/__tests__/client-generator.test.ts
  packages/codegen/src/generators/client-generator.ts
  packages/fetch/src/client.test.ts
  packages/fetch/src/client.ts
Due: codegen, fetch

fix(server): remove unnecessary `as any` cast on db in createServer (#1446) (#1462)
  examples/linear/src/api/server.ts
  packages/server/src/__tests__/create-server.test-d.ts
Due: none

feat(ui): type-safe CSS utilities — reject invalid class names at compile time (#1468)
  .changeset/type-safe-css-utilities.md
  packages/docs/api-reference/ui/css.mdx
  packages/ui/src/css/__tests__/css.test-d.ts
  packages/ui/src/css/__tests__/variants.test-d.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/token-tables.ts
  packages/ui/src/css/utility-types.ts
  packages/ui/src/css/variants.ts
  plans/type-safe-css-utilities.md
Due: ui

fix(auth): migrate from symmetric JWT (HS256) to asymmetric key pairs (RS256) (#1447) (#1464)
  .changeset/migrate-jwt-to-rs256.md
  examples/linear/src/api/auth.ts
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/testing.mdx
  packages/integration-tests/src/__tests__/auth-access-set.test.ts
  packages/integration-tests/src/__tests__/auth-dual-token.test.ts
  packages/integration-tests/src/__tests__/auth-email-verification.test.ts
  packages/integration-tests/src/__tests__/auth-entity-bridge.test.ts
  packages/integration-tests/src/__tests__/auth-mfa.test.ts
  packages/integration-tests/src/__tests__/auth-oauth.test.ts
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/server/README.md
  packages/server/src/__tests__/auth/auth.test.ts
  packages/server/src/__tests__/request-handler.test.ts
  packages/server/src/auth/__tests__/access-event-broadcaster.test.ts
  packages/server/src/auth/__tests__/access-set-jwt.test.ts
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/__tests__/csrf.test.ts
  packages/server/src/auth/__tests__/dual-token.test.ts
  packages/server/src/auth/__tests__/email-verification-routes.test.ts
  packages/server/src/auth/__tests__/handler-edge-cases.test.ts
  packages/server/src/auth/__tests__/jwt.test.ts
  packages/server/src/auth/__tests__/mfa-challenge.test.ts
  packages/server/src/auth/__tests__/mfa-routes.test.ts
  packages/server/src/auth/__tests__/oauth-routes.test.ts
  packages/server/src/auth/__tests__/on-user-created.test.ts
  packages/server/src/auth/__tests__/password-reset-routes.test.ts
  packages/server/src/auth/__tests__/resolve-session-for-ssr.test.ts
  packages/server/src/auth/__tests__/session-management.test.ts
  packages/server/src/auth/__tests__/step-up.test.ts
  packages/server/src/auth/__tests__/switch-tenant.test.ts
  packages/server/src/auth/__tests__/test-keys.ts
  packages/server/src/auth/__tests__/token-refresh.test.ts
  packages/server/src/auth/access-event-broadcaster.ts
  packages/server/src/auth/cloud-create-server.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/jwt.ts
  packages/server/src/auth/resolve-session-for-ssr.test.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/auth/types.ts
Due: server

feat(ui): centralized theme API — registerTheme + @vertz/ui/components (#1461)
  .changeset/centralized-theme-api.md
  packages/theme-shadcn/src/index.ts
  packages/ui/bunup.config.ts
  packages/ui/package.json
  packages/ui/src/__tests__/theme-components.test.ts
  packages/ui/src/__tests__/theme-registry.test.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/types.ts
  packages/ui/src/index.ts
  packages/ui/src/theme/registry.ts
  plans/centralized-theme-api.md
  tests/tree-shaking/tree-shaking.test.ts
Due: ui

feat(theme-shadcn): convert calendar factory to JSX component (#1472) (#1485)
  .changeset/calendar-jsx-component.md
  packages/theme-shadcn/src/__tests__/calendar.test.ts
  packages/theme-shadcn/src/components/primitives/calendar.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
  packages/ui-primitives/src/calendar/calendar-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/components/index.ts
Due: ui-primitives

fix(linear): integrate client codegen into build and dev commands (#1465)
  examples/linear/package.json
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/docs/guides/server/codegen.mdx
Due: cli

fix(linear): define table relations and use tenant scoping from @vertz/db (#1456)
  examples/linear/TENANT_RETROFIT_DX.md
  examples/linear/e2e/linear.spec.ts
  examples/linear/src/api/auth.ts
  examples/linear/src/api/db.ts
  examples/linear/src/api/schema.test.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/seed.test.ts
  examples/linear/src/api/seed.ts
  packages/docs/guides/db/schema.mdx
  packages/docs/guides/testing.mdx
  plans/auth-sdk-codegen.md
Due: none

feat(theme-shadcn): convert drawer factory to JSX component (#1478) (#1487)
  .changeset/convert-drawer-jsx.md
  bun.lock
  packages/theme-shadcn/bunfig.toml
  packages/theme-shadcn/bunup.config.ts
  packages/theme-shadcn/package.json
  packages/theme-shadcn/src/__tests__/drawer.test.ts
  packages/theme-shadcn/src/components/primitives/drawer.ts
  packages/theme-shadcn/src/components/primitives/drawer.tsx
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/theme-shadcn/src/styles/drawer.ts
  packages/theme-shadcn/test-compiler-plugin.ts
  packages/theme-shadcn/tsconfig.json
  packages/ui/src/components/index.ts
Due: none

feat(theme-shadcn): convert contextMenu factory to JSX component (#1476) (#1489)
  .changeset/context-menu-jsx.md
  packages/theme-shadcn/src/__tests__/context-menu.test.ts
  packages/theme-shadcn/src/components/primitives/context-menu.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/context-menu/__tests__/context-menu-composed.test.ts
  packages/ui-primitives/src/context-menu/context-menu-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/components/index.ts
Due: ui-primitives

feat(theme-shadcn): convert carousel factory to JSX component (#1473) (#1488)
  .changeset/carousel-jsx-component.md
  packages/theme-shadcn/src/__tests__/carousel.test.ts
  packages/theme-shadcn/src/components/primitives/carousel.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/carousel/__tests__/carousel-composed.test.ts
  packages/ui-primitives/src/carousel/carousel-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/components/index.ts
Due: ui-primitives

feat(theme-shadcn): convert menubar factory to JSX component (#1480) (#1490)
  .changeset/menubar-jsx-component.md
  packages/theme-shadcn/src/__tests__/menubar.test.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/components/primitives/menubar.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/menubar/__tests__/menubar-composed.test.ts
  packages/ui-primitives/src/menubar/menubar-composed.tsx
  packages/ui/src/components/index.ts
Due: ui-primitives

refactor(linear): rename tenantId column to workspaceId (#1486) (#1493)
  .changeset/tenant-column-dynamic.md
  examples/linear/TENANT_RETROFIT_DX.md
  examples/linear/src/api/auth.ts
  examples/linear/src/api/schema.test.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/seed.test.ts
  examples/linear/src/api/seed.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/entity.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/entity.ts
  packages/server/src/entity/types.ts
Due: server

feat(theme-shadcn): convert navigationMenu factory to JSX component (#1481) (#1495)
  .changeset/navigation-menu-jsx-component.md
  packages/theme-shadcn/src/__tests__/navigation-menu.test.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/components/primitives/navigation-menu.ts
  packages/theme-shadcn/src/components/primitives/navigation-menu.tsx
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/navigation-menu/__tests__/navigation-menu-composed.test.ts
  packages/ui-primitives/src/navigation-menu/navigation-menu-composed.tsx
  packages/ui/src/components/index.ts
Due: ui-primitives

chore(examples): migrate to registerTheme + @vertz/ui/components (#1471) (#1494)
  examples/component-catalog/src/demos/accordion.tsx
  examples/component-catalog/src/demos/alert-dialog.tsx
  examples/component-catalog/src/demos/alert.tsx
  examples/component-catalog/src/demos/avatar.tsx
  examples/component-catalog/src/demos/badge.tsx
  examples/component-catalog/src/demos/button.tsx
  examples/component-catalog/src/demos/card.tsx
  examples/component-catalog/src/demos/checkbox.tsx
  examples/component-catalog/src/demos/dialog.tsx
  examples/component-catalog/src/demos/dropdown-menu.tsx
  examples/component-catalog/src/demos/form-group.tsx
  examples/component-catalog/src/demos/input.tsx
  examples/component-catalog/src/demos/label.tsx
  examples/component-catalog/src/demos/popover.tsx
  examples/component-catalog/src/demos/progress.tsx
  examples/component-catalog/src/demos/radio-group.tsx
  examples/component-catalog/src/demos/select.tsx
  examples/component-catalog/src/demos/separator.tsx
  examples/component-catalog/src/demos/sheet.tsx
  examples/component-catalog/src/demos/skeleton.tsx
  examples/component-catalog/src/demos/slider.tsx
  examples/component-catalog/src/demos/switch.tsx
  examples/component-catalog/src/demos/table.tsx
  examples/component-catalog/src/demos/tabs.tsx
  examples/component-catalog/src/demos/textarea.tsx
  examples/component-catalog/src/demos/toast.tsx
  examples/component-catalog/src/demos/toggle.tsx
  examples/component-catalog/src/demos/tooltip.tsx
  examples/component-catalog/src/styles/theme.ts
  examples/linear/src/styles/theme.ts
  examples/task-manager/src/styles/theme.ts
  packages/ui/src/theme/registry.ts
Due: ui

fix(linear): use theme Button from @vertz/ui/components instead of custom wrapper (#1453) (#1496)
  examples/linear/src/components/auth-guard.tsx
  examples/linear/src/components/button.tsx
  examples/linear/src/components/comment-section.tsx
  examples/linear/src/components/create-issue-dialog.tsx
  examples/linear/src/components/create-project-dialog.tsx
  examples/linear/src/components/edit-issue-dialog.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/project-board-page.tsx
  examples/linear/src/pages/projects-page.tsx
Due: none

feat(theme-shadcn): convert command factory to JSX component (#1475) (#1497)
  .changeset/command-jsx-component.md
  packages/theme-shadcn/src/__tests__/command.test.ts
  packages/theme-shadcn/src/components/primitives/command.ts
  packages/theme-shadcn/src/components/primitives/command.tsx
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/command/__tests__/command-composed.test.ts
  packages/ui-primitives/src/command/command-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/components/index.ts
Due: ui-primitives

feat(theme-shadcn): convert collapsible factory to JSX component (#1474) (#1498)
  .changeset/collapsible-jsx-component.md
  packages/theme-shadcn/src/__tests__/collapsible.test.ts
  packages/theme-shadcn/src/components/primitives/collapsible.ts
  packages/theme-shadcn/src/components/primitives/collapsible.tsx
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/collapsible/__tests__/collapsible-composed.test.ts
  packages/ui-primitives/src/collapsible/collapsible-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/components/index.ts
Due: ui-primitives

docs(db): fix stale SQLite import paths and add dialect examples (#1499)
  packages/docs/guides/db/overview.mdx
  packages/docs/guides/db/queries.mdx
Due: none

feat(theme-shadcn): convert hoverCard factory to JSX component (#1479) (#1500)
  .changeset/hovercard-jsx-component.md
  packages/theme-shadcn/src/__tests__/hover-card.test.ts
  packages/theme-shadcn/src/components/primitives/hover-card.ts
  packages/theme-shadcn/src/components/primitives/hover-card.tsx
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/hover-card/__tests__/hover-card-composed.test.ts
  packages/ui-primitives/src/hover-card/hover-card-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/components/index.ts
Due: ui-primitives

feat(theme-shadcn): convert scrollArea factory to JSX component (#1483) (#1502)
  .changeset/scrollarea-jsx-component.md
  packages/theme-shadcn/src/__tests__/scroll-area.test.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/components/primitives/scroll-area.ts
  packages/theme-shadcn/src/components/primitives/scroll-area.tsx
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/scroll-area/__tests__/scroll-area-composed.test.ts
  packages/ui-primitives/src/scroll-area/scroll-area-composed.tsx
  packages/ui/src/components/index.ts
Due: ui-primitives

fix(theme-shadcn): remove unnecessary type castings from JSX component conversions (#1504)
  .changeset/remove-type-castings.md
  packages/theme-shadcn/src/components/primitives/accordion.ts
  packages/theme-shadcn/src/components/primitives/alert-dialog.ts
  packages/theme-shadcn/src/components/primitives/calendar.ts
  packages/theme-shadcn/src/components/primitives/carousel.ts
  packages/theme-shadcn/src/components/primitives/checkbox.ts
  packages/theme-shadcn/src/components/primitives/collapsible.tsx
  packages/theme-shadcn/src/components/primitives/command.tsx
  packages/theme-shadcn/src/components/primitives/context-menu.ts
  packages/theme-shadcn/src/components/primitives/dialog.ts
  packages/theme-shadcn/src/components/primitives/drawer.tsx
  packages/theme-shadcn/src/components/primitives/dropdown-menu.ts
  packages/theme-shadcn/src/components/primitives/hover-card.tsx
  packages/theme-shadcn/src/components/primitives/menubar.ts
  packages/theme-shadcn/src/components/primitives/navigation-menu.tsx
  packages/theme-shadcn/src/components/primitives/popover.ts
  packages/theme-shadcn/src/components/primitives/progress.ts
  packages/theme-shadcn/src/components/primitives/radio-group.ts
  packages/theme-shadcn/src/components/primitives/select.ts
  packages/theme-shadcn/src/components/primitives/sheet.ts
  packages/theme-shadcn/src/components/primitives/slider.ts
  packages/theme-shadcn/src/components/primitives/switch.ts
  packages/theme-shadcn/src/components/primitives/tabs.ts
  packages/theme-shadcn/src/components/primitives/toggle.ts
  packages/theme-shadcn/src/components/primitives/tooltip.ts
Due: none

feat(theme-shadcn): convert toggleGroup factory to JSX component (#1484) (#1503)
  .changeset/togglegroup-jsx-component.md
  packages/theme-shadcn/src/__tests__/toggle-group.test.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/components/primitives/toggle-group.ts
  packages/theme-shadcn/src/components/primitives/toggle-group.tsx
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/toggle-group/__tests__/toggle-group-composed.test.ts
  packages/ui-primitives/src/toggle-group/toggle-group-composed.tsx
  packages/ui/src/components/index.ts
Due: ui-primitives

feat(theme-shadcn): convert datePicker factory to JSX component (#1477) (#1505)
  .changeset/date-picker-jsx-component.md
  packages/theme-shadcn/src/__tests__/date-picker.test.ts
  packages/theme-shadcn/src/components/primitives/date-picker.ts
  packages/theme-shadcn/src/components/primitives/date-picker.tsx
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/date-picker/__tests__/date-picker-composed.test.ts
  packages/ui-primitives/src/date-picker/date-picker-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/components/index.ts
Due: ui-primitives

feat(theme-shadcn): convert resizablePanel factory to JSX component (#1482) (#1507)
  .changeset/resizable-panel-jsx.md
  packages/theme-shadcn/src/__tests__/resizable-panel.test.ts
  packages/theme-shadcn/src/components/primitives/resizable-panel.ts
  packages/theme-shadcn/src/components/primitives/resizable-panel.tsx
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/resizable-panel/__tests__/resizable-panel-composed.test.ts
  packages/ui-primitives/src/resizable-panel/resizable-panel-composed.tsx
  packages/ui/src/components/index.ts
Due: ui-primitives

refactor(theme-shadcn): stop exporting components directly from theme package (#1491) (#1506)
  .changeset/stop-theme-component-exports.md
  .claude/rules/ui-components.md
  examples/entity-todo/src/styles/theme.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/docs/guides/ui/component-library.mdx
Due: none

feat(linear): add labels entity, CRUD, issue tagging, and filtering (#1508)
  examples/linear/src/api/db.ts
  examples/linear/src/api/entities/index.ts
  examples/linear/src/api/entities/issue-labels.entity.ts
  examples/linear/src/api/entities/labels.entity.ts
  examples/linear/src/api/schema.test.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/seed.test.ts
  examples/linear/src/api/seed.ts
  examples/linear/src/components/issue-card.tsx
  examples/linear/src/components/issue-row.tsx
  examples/linear/src/components/label-badge.tsx
  examples/linear/src/components/label-filter.tsx
  examples/linear/src/components/label-picker.tsx
  examples/linear/src/components/manage-labels-dialog.tsx
  examples/linear/src/components/status-column.tsx
  examples/linear/src/lib/issue-config.ts
  examples/linear/src/lib/types.ts
  examples/linear/src/pages/issue-detail-page.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/project-board-page.tsx
  examples/linear/src/pages/projects-page.tsx
Due: none

feat(db): support column-level validation constraints (min, max, regex) #1470 (#1509)
  .changeset/column-validation-constraints.md
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/schema-derive/column-mapper.ts
  packages/db/src/schema-derive/table-to-schemas.test.ts
  packages/db/src/schema/__tests__/column.test-d.ts
  packages/db/src/schema/__tests__/column.test.ts
  packages/db/src/schema/column.ts
  plans/db-column-validation-constraints.md
Due: db

refactor(ui-primitives): compound component rewrite with native <dialog> (#1525)
  bun.lock
  packages/theme-shadcn/src/__tests__/drawer.test.ts
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/sheet.test.ts
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/components/primitives/alert-dialog.ts
  packages/theme-shadcn/src/components/primitives/dialog.ts
  packages/theme-shadcn/src/components/primitives/radio-group.ts
  packages/theme-shadcn/src/components/primitives/sheet.ts
  packages/theme-shadcn/src/styles/alert-dialog.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/sheet.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog-composed.test.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/carousel/carousel-composed.tsx
  packages/ui-primitives/src/command/command-composed.tsx
  packages/ui-primitives/src/composed/__tests__/with-styles-batch2.test-d.ts
  packages/ui-primitives/src/composed/__tests__/with-styles.test.ts
  packages/ui-primitives/src/context-menu/context-menu-composed.tsx
  packages/ui-primitives/src/date-picker/date-picker-composed.tsx
  packages/ui-primitives/src/dialog/__tests__/dialog-composed.test.ts
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/hover-card/hover-card-composed.tsx
  packages/ui-primitives/src/menubar/menubar-composed.tsx
  packages/ui-primitives/src/navigation-menu/navigation-menu-composed.tsx
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/radio/radio-composed.tsx
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/sheet/__tests__/sheet-composed.test.ts
  packages/ui-primitives/src/sheet/sheet-composed.tsx
  packages/ui-primitives/src/tabs/tabs-composed.tsx
  packages/ui-primitives/src/toggle-group/toggle-group-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
  packages/ui-primitives/src/utils.ts
  packages/ui-primitives/src/utils/aria.ts
  packages/ui/src/index.ts
Due: ui-primitives

fix(ui-primitives): fix 7 theme-shadcn test failures #1524 (#1530)
  .changeset/fix-theme-shadcn-test-failures.md
  packages/theme-shadcn/src/__tests__/context-menu.test.ts
  packages/theme-shadcn/src/__tests__/hover-card.test.ts
  packages/ui-primitives/src/__tests__/hydration-composed.test.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/carousel/carousel-composed.tsx
  packages/ui-primitives/src/command/command-composed.tsx
  packages/ui-primitives/src/context-menu/context-menu-composed.tsx
  packages/ui-primitives/src/date-picker/date-picker-composed.tsx
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/hover-card/hover-card-composed.tsx
  packages/ui-primitives/src/menubar/menubar-composed.tsx
  packages/ui-primitives/src/navigation-menu/navigation-menu-composed.tsx
  packages/ui-primitives/src/navigation-menu/navigation-menu.tsx
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/radio/__tests__/radio-composed.test.ts
  packages/ui-primitives/src/radio/radio-composed.tsx
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/tabs/tabs-composed.tsx
  packages/ui-primitives/src/toggle-group/toggle-group-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
  packages/ui-primitives/src/utils/attrs.ts
Due: ui-primitives

fix(theme-shadcn): hide dialog:not([open]) in globals to prevent SSR flash #1519 (#1532)
  .changeset/dialog-ssr-flash-fix.md
  packages/theme-shadcn/src/__tests__/globals.test.ts
  packages/theme-shadcn/src/base.ts
Due: none

fix(theme-shadcn): constrain popover/dropdown-menu content width to fit-content #1521 (#1533)
  .changeset/popover-dropdown-fit-content.md
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/styles/dropdown-menu.ts
  packages/theme-shadcn/src/styles/popover.ts
Due: none
