Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

perf(ci): use spawn_blocking for LocalCache file I/O (#2275)
  native/vtz/src/ci/cache.rs
Due: none

fix(ci): move file write inside manifest lock in put_sync (#2275)
  native/vtz/src/ci/cache.rs
Due: none

perf(ci): use spawn_blocking for LocalCache file I/O (#2281)
  native/vtz/src/ci/cache.rs
Due: none

fix(ci): address review findings for task-level cond (#2273)
  native/vtz/src/ci/mod.rs
  native/vtz/src/ci/scheduler.rs
Due: none

test(ci): add tests for invalid glob patterns in condition evaluation (#2272)
  native/vtz/src/ci/changes.rs
Due: none

fix(runtime): use global AsyncLocalStorage in SSRRenderContext tests (#2142)
  packages/ui/src/__tests__/ssr-render-context.test.ts
Due: none

fix(runtime): replace require('node:async_hooks') with ESM import in SSR tests (#2142)
  packages/ui/src/__tests__/ssr-render-context.test.ts
Due: none

fix(pm): validate cache integrity to self-heal corrupt store entries (#2142)
  native/vtz/src/pm/tarball.rs
Due: none

fix(ci): integrate task-level cond into scheduler execution (#2282)
  native/vtz/src/ci/config.rs
  native/vtz/src/ci/mod.rs
  native/vtz/src/ci/scheduler.rs
Due: none

test(ci): add tests for invalid glob patterns in condition evaluation (#2272) (#2290)
  native/vtz/src/ci/changes.rs
Due: none

fix(auth): wire ancestorResolver into ctx.can() and ctx.check() (#1829)
  packages/server/src/auth/__tests__/multi-level-access-context.test.ts
  packages/server/src/auth/access-context.ts
  reviews/fix-multi-level-access-context/phase-01-wire-ancestor-resolver.md
Due: server

test(ci): add negative type test for rootAffectsAll (#2271)
  packages/ci/src/types.test-d.ts
Due: none

feat(ci): add rootAffectsAll workflow option (#2271)
  native/vtz/src/ci/graph.rs
  native/vtz/src/ci/mod.rs
  native/vtz/src/ci/scheduler.rs
  native/vtz/src/ci/types.rs
  packages/ci/src/__tests__/builders.test.ts
  packages/ci/src/types.test-d.ts
  packages/ci/src/types.ts
  plans/2271-ci-root-affects-all.md
Due: none

style(auth): fix oxfmt formatting in access-context files
  packages/server/src/auth/__tests__/multi-level-access-context.test.ts
  packages/server/src/auth/access-context.ts
Due: server

docs(db): document update expressions API (#1743)
  packages/mint-docs/guides/db/queries.mdx
Due: none

test(db): add review-fix tests for DbExpr + fix autoUpdate readOnly bypass (#1743)
  packages/db/src/query/__tests__/crud-unit.test.ts
  packages/db/src/query/crud.ts
  packages/db/src/schema/__tests__/update-expr.test-d.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/__tests__/tagged.test.ts
Due: db

feat(db): add DbExpr support to buildUpdate, buildInsert, and CRUD layer #1743
  packages/db/src/query/crud.ts
  packages/db/src/sql/__tests__/insert.test.ts
  packages/db/src/sql/__tests__/update.test.ts
  packages/db/src/sql/insert.ts
  packages/db/src/sql/tagged.ts
  packages/db/src/sql/update.ts
Due: db

feat(db): add DbExpr type, d.expr/increment/decrement, widen update types #1743
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/schema/table.ts
  packages/db/src/sql/__tests__/expr.test.ts
  packages/db/src/sql/expr.ts
  packages/db/src/sql/index.ts
Due: db

chore(db): add changeset, design doc, and review for update expressions (#1743)
  .changeset/db-update-expressions.md
  plans/1743-db-update-expressions.md
  reviews/db-update-expressions/phase-01-02-impl.md
Due: none

style(db): fix oxfmt formatting (#1743)
  packages/db/src/schema/table.ts
  packages/db/src/sql/__tests__/update.test.ts
  packages/db/src/sql/insert.ts
  packages/mint-docs/guides/db/queries.mdx
Due: db

chore(ci): remove auto-rebase workflow for open PRs
  .github/workflows/auto-rebase.yml
  .github/workflows/ci.yml
Due: none

chore(ci): remove auto-rebase workflow for open PRs (#2293)
  .github/workflows/auto-rebase.yml
  .github/workflows/ci.yml
Due: none

feat(ci): add rootAffectsAll workflow option (#2288)
  native/vtz/src/ci/graph.rs
  native/vtz/src/ci/mod.rs
  native/vtz/src/ci/scheduler.rs
  native/vtz/src/ci/types.rs
  packages/ci/src/__tests__/builders.test.ts
  packages/ci/src/types.test-d.ts
  packages/ci/src/types.ts
  plans/2271-ci-root-affects-all.md
Due: none

fix(auth): wire ancestorResolver into ctx.can() and ctx.check() (#1829) (#2289)
  packages/server/src/auth/__tests__/multi-level-access-context.test.ts
  packages/server/src/auth/access-context.ts
  reviews/fix-multi-level-access-context/phase-01-wire-ancestor-resolver.md
Due: server

fix(runtime): SSRRenderContext tests + cache integrity self-healing (#2142) (#2291)
  native/vtz/src/pm/tarball.rs
  packages/ui/src/__tests__/ssr-render-context.test.ts
Due: none

feat(db): atomic update expressions — d.expr, d.increment, d.decrement (#1743) (#2292)
  .changeset/db-update-expressions.md
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/query/__tests__/crud-unit.test.ts
  packages/db/src/query/crud.ts
  packages/db/src/schema/__tests__/update-expr.test-d.ts
  packages/db/src/schema/table.ts
  packages/db/src/sql/__tests__/expr.test.ts
  packages/db/src/sql/__tests__/insert.test.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/__tests__/tagged.test.ts
  packages/db/src/sql/__tests__/update.test.ts
  packages/db/src/sql/expr.ts
  packages/db/src/sql/index.ts
  packages/db/src/sql/insert.ts
  packages/db/src/sql/tagged.ts
  packages/db/src/sql/update.ts
  packages/mint-docs/guides/db/queries.mdx
  plans/1743-db-update-expressions.md
  reviews/db-update-expressions/phase-01-02-impl.md
Due: db

feat(server): conditional BaseContext types via typed() factory (#2004)
  packages/server/src/__tests__/base-context-agents-compat.test-d.ts
  packages/server/src/__tests__/base-context.test-d.ts
  packages/server/src/__tests__/define-auth-generic.test-d.ts
  packages/server/src/__tests__/define-auth-generic.test.ts
  packages/server/src/__tests__/entity-config-features.test-d.ts
  packages/server/src/__tests__/infer-features.test-d.ts
  packages/server/src/__tests__/service-config-features.test-d.ts
  packages/server/src/__tests__/typed.test-d.ts
  packages/server/src/auth/types.ts
  packages/server/src/define-auth.ts
  packages/server/src/entity/entity.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/types.ts
  packages/server/src/index.ts
  packages/server/src/service/context.ts
  packages/server/src/service/service.ts
  packages/server/src/service/types.ts
  packages/server/src/typed.ts
  plans/2004-base-context-conditional-types.md
  plans/2004-base-context-conditional-types/phase-01-foundation-types.md
  plans/2004-base-context-conditional-types/phase-02-entity-config-tfeatures.md
  plans/2004-base-context-conditional-types/phase-03-service-config-tfeatures.md
  plans/2004-base-context-conditional-types/phase-04-typed-factory.md
  plans/2004-base-context-conditional-types/phase-05-compat-and-quality.md
Due: server

chore(server): add changeset for conditional BaseContext types (#2004)
  .changeset/conditional-base-context.md
Due: none

fix(pm): write_package_json round-trips all PackageJson struct fields (#2005)
  native/vtz/src/pm/types.rs
Due: none

fix(pm): handle None scalars and add comprehensive removal tests (#2005)
  native/vtz/src/pm/types.rs
Due: none

feat(runtime): structured backpressure logging for channel drops (#2087)
  .claude/rules/dev-server-debugging.md
  native/vtz/src/watcher/backpressure.rs
  native/vtz/src/watcher/dep_watcher.rs
  native/vtz/src/watcher/file_watcher.rs
  native/vtz/src/watcher/mod.rs
  plans/2087-backpressure-logging.md
Due: none

fix(server): address review findings for composite PK feature [#1776]
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/route-generator.ts
Due: db, server

feat(db): fix tableToSchemas for composite PKs, widen adapter interface [#1776]
  packages/db/src/adapters/__tests__/database-bridge-adapter.test-d.ts
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/schema-derive/table-to-schemas.test.ts
  packages/db/src/schema-derive/table-to-schemas.ts
  packages/db/src/types/adapter.ts
Due: db

feat(server): lift composite PK guard, wire EntityId through CRUD pipeline [#1776]
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/entity-operations.ts
Due: server

docs(server): add composite PK entity support design doc and phase plans [#1776]
  plans/composite-pk-entity-support.md
  plans/composite-pk-entity-support/phase-01-schema-fix-db-adapter.md
  plans/composite-pk-entity-support/phase-02-crud-pipeline.md
  plans/composite-pk-entity-support/phase-03-route-generator.md
  plans/composite-pk-entity-support/phase-04-tenant-chain.md
Due: none

feat(server): multi-segment routes, action pipeline, and tenant chain for composite PKs [#1776]
  packages/server/src/entity/__tests__/openapi-generator.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/__tests__/tenant-chain.test.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/openapi-generator.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/tenant-chain.ts
Due: server

fix(runtime): address review findings for backpressure logging
  native/vtz/src/watcher/backpressure.rs
Due: none

fix(server): add eslint-disable-next-line for no-explicit-any in typed.ts and service/types.ts (#2004)
  packages/server/src/service/types.ts
  packages/server/src/typed.ts
Due: server

fix(server): fix formatting in test-d.ts and entity/types.ts (#2004)
  packages/server/src/__tests__/service-config-features.test-d.ts
  packages/server/src/__tests__/typed.test-d.ts
  packages/server/src/entity/types.ts
Due: server

style(server): fix formatting in crud-pipeline tests and entity-operations [#1776]
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/entity-operations.ts
Due: server

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
