Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(landing): copy button layout shift + mobile responsiveness (#1295)
  sites/landing/src/components/copy-button.tsx
  sites/landing/src/components/get-started.tsx
  sites/landing/src/components/glue-code.tsx
  sites/landing/src/components/hero.tsx
  sites/landing/src/components/nav.tsx
  sites/landing/src/components/schema-flow.tsx
  sites/landing/src/components/type-error-demo.tsx
  sites/landing/src/pages/home.tsx
Due: none

fix(create-vertz-app): bunx serves stale cached version silently (#1307)
  .changeset/fix-create-app-stale-version.md
  QUICKSTART.md
  README.md
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/create-vertz-app/src/__tests__/cli.test.ts
  packages/create-vertz/bin/create-vertz.ts
  packages/docs/installation.mdx
  packages/docs/quickstart.mdx
Due: none

fix(ui-server): dev server stale-graph restart (#1302) (#1310)
  .changeset/dev-server-stale-graph-restart.md
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
  plans/dev-server-stale-graph-restart.md
Due: ui-server

feat(create-vertz-app): polish scaffold template with CRUD UI (#1299) (#1300)
  .claude/rules/ui-components.md
  bun.lock
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

feat(ui-server): auto-restart for stale module graph errors (#1302) (#1314)
  .changeset/dev-server-auto-restart.md
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

refactor(ui): dialog stack open() returns Result instead of throwing (#1311)
  .changeset/dialog-result-refactor.md
  packages/ui/src/dialog/__tests__/dialog-stack.test-d.ts
  packages/ui/src/dialog/__tests__/dialog-stack.test.ts
  packages/ui/src/dialog/dialog-stack.ts
  packages/ui/src/dialog/index.ts
  packages/ui/src/index.ts
  plans/dialog-result-refactor.md
Due: ui

fix(theme-shadcn): AlertDialog.Action and Cancel accept onClick prop (#1317)
  .changeset/alertdialog-onclick.md
  packages/theme-shadcn/src/__tests__/event-handlers.test.ts
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/components/button.ts
  packages/theme-shadcn/src/components/primitives/alert-dialog.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/event-handlers.ts
Due: none

fix(ui-compiler): quote hyphenated JSX props on custom components (#1320)
  .changeset/hyphenated-jsx-props.md
  packages/ui-compiler/src/transformers/__tests__/jsx-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui-compiler/src/transformers/prop-transformer.ts
  packages/ui-compiler/src/transformers/route-splitting-transformer.ts
  packages/ui-compiler/src/utils.ts
Due: ui-compiler

fix(ui-server): add dataset property to SSR DOM shim (#1309) (#1325)
  .changeset/dataset-ssr-shim.md
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
Due: ui-server

docs: add component library, philosophy page, and URL redirects (#1313)
  packages/docs/docs.json
  packages/docs/guides/ui/component-library.mdx
  packages/docs/philosophy.mdx
Due: none

feat(ui-primitives): extract composed primitives from theme-shadcn (#1319)
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/sheet/sheet-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
Due: ui-primitives

revert(ui-primitives): restore JSX in composed primitives (#1319) (#1326)
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/sheet/sheet-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
Due: ui-primitives

fix(landing): update scaffold command to use @latest for cache busting (#1306) (#1327)
  sites/landing-nextjs-vercel/src/components/get-started.tsx
  sites/landing-nextjs-vercel/src/components/hero.tsx
  sites/landing-nextjs/src/components/get-started.tsx
  sites/landing-nextjs/src/components/hero.tsx
  sites/landing/src/components/copy-button.tsx
  sites/landing/src/components/get-started.tsx
Due: none

feat(ui): add class prop to Link component (#1290) (#1329)
  examples/component-catalog/src/app.tsx
  examples/linear/src/components/auth-guard.tsx
  examples/linear/src/components/project-layout.tsx
  examples/linear/src/components/view-toggle.tsx
  packages/ui/src/router/__tests__/link.test.ts
  packages/ui/src/router/link.ts
  plans/link-class-prop.md
Due: ui

fix(cli): read version from package.json and show in create output (#1305) (#1328)
  .changeset/cli-dynamic-version.md
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/create.test.ts
  packages/cli/src/commands/create.ts
Due: cli

fix(theme-shadcn): wire event handlers on Input and Textarea (#1330)
  .changeset/input-textarea-event-handlers.md
  packages/theme-shadcn/src/__tests__/components.test.ts
  packages/theme-shadcn/src/__tests__/event-handlers.test.ts
  packages/theme-shadcn/src/components/input.ts
  packages/theme-shadcn/src/components/textarea.ts
  packages/theme-shadcn/src/event-handlers.ts
Due: none

feat(cloud-auth): cloud-managed auth infrastructure (#1321) (#1322)
  .changeset/cloud-auth-jwt-infra.md
  packages/compiler/src/__tests__/config.test.ts
  packages/compiler/src/config.ts
  packages/server/src/auth/circuit-breaker.test-d.ts
  packages/server/src/auth/circuit-breaker.test.ts
  packages/server/src/auth/circuit-breaker.ts
  packages/server/src/auth/cloud-create-server.test.ts
  packages/server/src/auth/cloud-jwt-verifier.test.ts
  packages/server/src/auth/cloud-jwt-verifier.ts
  packages/server/src/auth/cloud-proxy.test.ts
  packages/server/src/auth/cloud-proxy.ts
  packages/server/src/auth/cloud-server-integration.test.ts
  packages/server/src/auth/cloud-startup.test.ts
  packages/server/src/auth/cloud-startup.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/jwks-client.test.ts
  packages/server/src/auth/jwks-client.ts
  packages/server/src/auth/providers/discord.ts
  packages/server/src/auth/providers/github.ts
  packages/server/src/auth/providers/google.ts
  packages/server/src/auth/providers/providers-cloud.test.ts
  packages/server/src/auth/resolve-session-for-ssr.test.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/auth/types.ts
  packages/server/src/create-server.ts
  packages/server/src/index.ts
  plans/cloud-managed-auth-phase1.md
  reviews/cloud-auth-jwt-infra/phase-01-cloud-auth-e2e.md
  reviews/cloud-auth-jwt-infra/phase-01-re-review.md
  reviews/cloud-auth-jwt-infra/phase-03-provider-lifecycle-ssr.md
Due: compiler, server

feat(ui-primitives): composed primitives batch 2 — Checkbox, Switch, Toggle, Progress, Slider, RadioGroup (#1333)
  .claude/rules/ui-components.md
  packages/integration-tests/src/__tests__/theme-shadcn-walkthrough.test.ts
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/components/primitives/checkbox.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/components/primitives/progress.ts
  packages/theme-shadcn/src/components/primitives/radio-group.ts
  packages/theme-shadcn/src/components/primitives/slider.ts
  packages/theme-shadcn/src/components/primitives/switch.ts
  packages/theme-shadcn/src/components/primitives/toggle.ts
  packages/theme-shadcn/src/configure.ts
  packages/ui-primitives/bunup.config.ts
  packages/ui-primitives/src/checkbox/__tests__/checkbox-composed.test.ts
  packages/ui-primitives/src/checkbox/checkbox-composed.tsx
  packages/ui-primitives/src/composed/__tests__/with-styles-batch2.test-d.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/progress/__tests__/progress-composed.test.ts
  packages/ui-primitives/src/progress/progress-composed.tsx
  packages/ui-primitives/src/radio/__tests__/radio-composed.test.ts
  packages/ui-primitives/src/radio/radio-composed.tsx
  packages/ui-primitives/src/slider/__tests__/slider-composed.test.ts
  packages/ui-primitives/src/slider/slider-composed.tsx
  packages/ui-primitives/src/switch/__tests__/switch-composed.test.ts
  packages/ui-primitives/src/switch/switch-composed.tsx
  packages/ui-primitives/src/toggle/__tests__/toggle-composed.test.ts
  packages/ui-primitives/src/toggle/toggle-composed.tsx
  packages/ui-primitives/test-compiler-plugin.ts
  plans/composed-primitives-batch-2.md
Due: ui-primitives

fix(ui-compiler): reactive callback-local consts in .map() callbacks (#1344)
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/analyzers/__tests__/jsx-analyzer.test.ts
  packages/ui-compiler/src/analyzers/jsx-analyzer.ts
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui-compiler/src/types.ts
  packages/ui-server/src/__tests__/template-inject.test.ts
  packages/ui-server/src/template-inject.ts
Due: ui-compiler, ui-server

feat(ui): support React-style style objects with camelCase properties (#1332) (#1346)
  .changeset/style-object-support.md
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/__tests__/jsx-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
  packages/ui/src/dom/__tests__/attributes.test.ts
  packages/ui/src/dom/__tests__/style.test.ts
  packages/ui/src/dom/attributes.ts
  packages/ui/src/dom/index.ts
  packages/ui/src/dom/style.ts
  packages/ui/src/internals.ts
  packages/ui/src/jsx-runtime.ts
  packages/ui/src/jsx-runtime/__tests__/css-properties.test-d.ts
  packages/ui/src/jsx-runtime/__tests__/jsx-runtime.test.ts
  packages/ui/src/jsx-runtime/css-properties.ts
  packages/ui/src/jsx-runtime/index.ts
  plans/style-object-support.md
Due: ui, ui-compiler, ui-server

fix(compiler): ban JSX outside return tree (#1318) (#1343)
  biome-plugins/no-body-jsx.grit
  biome.json
  packages/theme-shadcn/src/components/primitives/navigation-menu.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/diagnostics/__tests__/body-jsx-diagnostics.test.ts
  packages/ui-compiler/src/diagnostics/body-jsx-diagnostics.ts
  packages/ui-compiler/src/diagnostics/ssr-safety-diagnostics.ts
  packages/ui-compiler/src/utils.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/alert-dialog/alert-dialog.tsx
  packages/ui-primitives/src/calendar/calendar.tsx
  packages/ui-primitives/src/date-picker/date-picker.ts
  packages/ui-primitives/src/navigation-menu/navigation-menu.tsx
  packages/ui-primitives/src/progress/progress.tsx
  packages/ui-primitives/src/radio/radio.tsx
  packages/ui-primitives/src/tabs/tabs.tsx
  packages/ui-primitives/src/tooltip/tooltip.tsx
  plans/body-jsx-detection.md
Due: ui-compiler, ui-primitives

feat(ui): add View Transitions API integration to router (#1297)
  .changeset/view-transitions-api.md
  examples/task-manager/e2e/page-transitions.spec.ts
  examples/task-manager/src/app.tsx
  examples/task-manager/src/components/task-card.tsx
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/router.ts
  packages/ui/src/css/__tests__/token-tables.test.ts
  packages/ui/src/css/token-tables.ts
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/__tests__/view-transitions-router.test-d.ts
  packages/ui/src/router/__tests__/view-transitions.test.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/index.ts
  packages/ui/src/router/navigate.ts
  packages/ui/src/router/view-transitions.ts
  plans/browser-platform-apis.md
  plans/view-transitions.md
  reviews/view-transitions/phase-01-03-all-phases.md
Due: ui

fix(ui-primitives): remove dead context creation in composed Select, Tabs, Accordion (#1351)
  .changeset/remove-dead-composed-contexts.md
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/tabs/tabs-composed.tsx
Due: ui-primitives

fix(ui-primitives): remove duplicate onAction path in composed AlertDialog (#1352)
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog-composed.test.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
Due: ui-primitives

refactor(ui-primitives): move event wiring from theme-shadcn to ui-primitives (#1341) (#1355)
  .changeset/event-wiring-to-primitives.md
  packages/theme-shadcn/src/components/button.ts
  packages/theme-shadcn/src/components/input.ts
  packages/theme-shadcn/src/components/textarea.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/utils.ts
  packages/ui-primitives/src/utils/__tests__/event-handlers.test.ts
  packages/ui-primitives/src/utils/__tests__/props.test.ts
  packages/ui-primitives/src/utils/event-handlers.ts
  packages/ui-primitives/src/utils/props.ts
  plans/event-wiring-to-primitives.md
Due: ui-primitives

fix(ui-primitives): add event listener cleanup to composed primitives (#1340) (#1354)
  .changeset/composed-listener-cleanup.md
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog-composed.test.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/__tests__/dialog-composed.test.ts
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/dropdown-menu/__tests__/dropdown-menu-composed.test.ts
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/popover/__tests__/popover-composed.test.ts
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/sheet/__tests__/sheet-composed.test.ts
  packages/ui-primitives/src/sheet/sheet-composed.tsx
  plans/fix-composed-listener-cleanup.md
Due: ui-primitives

chore: remove OpenClaw-era stale files (#1358)
  .claude/templates/review-delegation.md
  .openclaw/workspace-state.json
  AGENTS.md
  HEARTBEAT.md
  IDENTITY.md
  MAP.md
  PR_SUMMARY.md
  RULES.md
  SOUL.md
  TOOLS.md
  USER.md
  pr-body.md
  pr-review-body.md
Due: none

chore: remove stale bun-fullstack exploration (#1359)
  explorations/bun-fullstack/FINDINGS.md
  explorations/bun-fullstack/build.ts
  explorations/bun-fullstack/bunfig.toml
  explorations/bun-fullstack/dev-server.ts
  explorations/bun-fullstack/hmr-dev-server.ts
  explorations/bun-fullstack/hmr-index.html
  explorations/bun-fullstack/ssr-dev-server.ts
  explorations/bun-fullstack/vertz-bun-plugin-hmr.ts
  explorations/bun-fullstack/vertz-bun-plugin.ts
  explorations/bun-fullstack/vertz-fast-refresh-runtime.ts
Due: none

fix(ui): restore hydration cursor on failed claims (#1348) (#1357)
  .changeset/hydration-claim-cursor-restore.md
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

fix(ui): re-enter hydration for lazy routes + route-aware preloading (#1347) (#1365)
  .changeset/fix-hydration-lazy-route-duplicates.md
  packages/cli/src/production-build/__tests__/route-chunk-manifest.test.ts
  packages/cli/src/production-build/route-chunk-manifest.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/__tests__/outlet.test.ts
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/navigate.ts
  packages/ui/src/router/outlet.ts
  packages/ui/src/router/router-view.ts
  packages/ui/src/ssr/ssr-render-context.ts
Due: cli, ui, ui-server

fix(task-manager): stabilize flaky settings E2E test (#1369)
  examples/task-manager/e2e/settings.spec.ts
Due: none

refactor(ui-primitives): replace scanSlots with context-based self-wiring (#1367)
  packages/docs/guides/ui/components.mdx
  packages/docs/guides/ui/ssr.mdx
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/ui-primitives/src/accordion/__tests__/accordion-composed.test.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog-composed.test.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/__tests__/dialog-composed.test.ts
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/dropdown-menu/__tests__/dropdown-menu-composed.test.ts
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/popover/__tests__/popover-composed.test.ts
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/radio/__tests__/radio-composed.test.ts
  packages/ui-primitives/src/radio/radio-composed.tsx
  packages/ui-primitives/src/select/__tests__/select-composed.test.ts
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/sheet/__tests__/sheet-composed.test.ts
  packages/ui-primitives/src/sheet/sheet-composed.tsx
  packages/ui-primitives/src/tabs/__tests__/tabs-composed.test.ts
  packages/ui-primitives/src/tabs/tabs-composed.tsx
  packages/ui-primitives/src/tooltip/__tests__/tooltip-composed.test.ts
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
  plans/composed-primitives-context-refactor.md
  reviews/primitive-children/phase-02-implementation.md
Due: ui-primitives

fix(server): clamp POST /query limit and block when list disabled (#1372)
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/route-generator.ts
Due: server

fix(ui-primitives): AlertDialog hide() idempotency and event delegation early return (#1374)
  .changeset/alertdialog-hide-idempotent.md
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog-composed.test.ts
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog.test.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/alert-dialog/alert-dialog.tsx
Due: ui-primitives

fix(ui-primitives): tooltip aria-describedby and composed positioning passthrough (#1384)
  .changeset/tooltip-aria-float-fix.md
  packages/ui-primitives/src/dropdown-menu/__tests__/dropdown-menu-composed.test.ts
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/popover/__tests__/popover-composed.test.ts
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/select/__tests__/select-composed.test.ts
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/tooltip/__tests__/tooltip-composed.test.ts
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
Due: ui-primitives

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
