Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(db): add withSessionVars for per-request SET LOCAL scoping #1756
  packages/db/src/client/__tests__/request-scope.test.ts
  packages/db/src/client/index.ts
  packages/db/src/client/request-scope.ts
Due: db

feat(db): add RLS policy snapshot, differ, and SQL generator #1756
  packages/db/src/migration/__tests__/rls-differ.test.ts
  packages/db/src/migration/__tests__/rls-sql-generator.test.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/rls-differ.ts
  packages/db/src/migration/rls-snapshot.ts
  packages/db/src/migration/rls-sql-generator.ts
  plans/1756-rls-pipeline.md
Due: db

test(db): add RLS differ test for rlsEnabled:false branch, fix lint warnings #1756
  packages/db/src/migration/__tests__/rls-differ.test.ts
Due: none

feat(db,codegen): RLS pipeline — integrate policies with migrations, wire tenant_id per-request (#1763)
  .changeset/rls-pipeline.md
  packages/codegen/src/__tests__/generate.test.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/rls-policy-generator.test.ts
  packages/codegen/src/generators/rls-policy-generator.ts
  packages/db/src/cli/__tests__/migrate-dev-rls.test.ts
  packages/db/src/cli/migrate-dev.ts
  packages/db/src/client/__tests__/request-scope.test.ts
  packages/db/src/client/index.ts
  packages/db/src/client/request-scope.ts
  packages/db/src/migration/__tests__/rls-differ.test.ts
  packages/db/src/migration/__tests__/rls-sql-generator.test.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/rls-differ.ts
  packages/db/src/migration/rls-snapshot.ts
  packages/db/src/migration/rls-sql-generator.ts
  packages/db/src/migration/snapshot.ts
  plans/1756-rls-pipeline.md
Due: codegen, db

test(db): add RLS differ test for rlsEnabled:false branch, fix lint warnings #1756 (#1765)
  packages/db/src/migration/__tests__/rls-differ.test.ts
Due: none

fix(db): address review findings for composite primary keys #1760
  .changeset/composite-primary-keys.md
  packages/db/src/migration/__tests__/differ.test.ts
  packages/db/src/schema/__tests__/table.test.ts
  packages/db/src/schema/table.ts
Due: db

feat(db): add composite primary key support to d.table() #1760
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/migration/__tests__/differ.test.ts
  packages/db/src/migration/__tests__/snapshot.test.ts
  packages/db/src/migration/__tests__/sql-generator.test.ts
  packages/db/src/migration/differ.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/query/__tests__/helpers.test.ts
  packages/db/src/schema/__tests__/table.test-d.ts
  packages/db/src/schema/__tests__/table.test.ts
  packages/db/src/schema/table.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/crud-pipeline.ts
  plans/composite-primary-keys.md
Due: db, server

feat(server): add domain() builder with validation and types (#1762)
  packages/server/src/domain/__tests__/domain.test-d.ts
  packages/server/src/domain/__tests__/domain.test.ts
  packages/server/src/domain/domain.ts
  packages/server/src/domain/index.ts
  packages/server/src/domain/types.ts
Due: server

fix(server): address review findings — service collision + missing tests (#1762)
  packages/server/src/create-server.ts
  packages/server/src/domain/__tests__/domain-integration.test.ts
  packages/server/src/domain/__tests__/domain-middleware.test.ts
Due: server

feat(server): integrate domain() into createServer with route prefixing (#1762)
  packages/server/src/create-server.ts
  packages/server/src/domain/__tests__/domain-integration.test.ts
  packages/server/src/index.ts
Due: server

feat(server,core): wire domain-level middleware to route entries (#1762)
  packages/core/src/app/app-runner.ts
  packages/core/src/types/app.ts
  packages/server/src/create-server.ts
  packages/server/src/domain/__tests__/domain-middleware.test.ts
Due: core, server

fix(ui-server): populate entitlements in toPrefetchSession #1744
  .changeset/prefetch-session-entitlements.md
  packages/ui-server/src/__tests__/ssr-access-evaluator.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/ssr-access-evaluator.ts
Due: ui-server

feat(db): composite primary keys in d.table() (#1768)
  .changeset/composite-primary-keys.md
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/migration/__tests__/differ.test.ts
  packages/db/src/migration/__tests__/snapshot.test.ts
  packages/db/src/migration/__tests__/sql-generator.test.ts
  packages/db/src/migration/differ.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/query/__tests__/helpers.test.ts
  packages/db/src/schema/__tests__/table.test-d.ts
  packages/db/src/schema/__tests__/table.test.ts
  packages/db/src/schema/table.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/crud-pipeline.ts
  plans/composite-primary-keys.md
Due: db, server

test(ui-server): add empty entitlements edge case test #1744
  packages/ui-server/src/__tests__/ssr-access-evaluator.test.ts
Due: none

fix(server): move domain middleware to handler wrapper, revert core changes (#1762)
  packages/core/src/app/app-runner.ts
  packages/core/src/types/app.ts
  packages/server/src/create-server.ts
Due: core, server

fix(ui-server): populate entitlements in toPrefetchSession #1744 (#1770)
  .changeset/prefetch-session-entitlements.md
  packages/ui-server/src/__tests__/ssr-access-evaluator.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/ssr-access-evaluator.ts
Due: ui-server

feat(server): domain() API for bounded context grouping (#1762) (#1767)
  packages/server/src/create-server.ts
  packages/server/src/domain/__tests__/domain-integration.test.ts
  packages/server/src/domain/__tests__/domain-middleware.test.ts
  packages/server/src/domain/__tests__/domain.test-d.ts
  packages/server/src/domain/__tests__/domain.test.ts
  packages/server/src/domain/domain.ts
  packages/server/src/domain/index.ts
  packages/server/src/domain/types.ts
  packages/server/src/index.ts
Due: server

chore: add changeset for AOT query conditional fix #1769
  .changeset/fix-aot-query-conditional.md
Due: none

fix(ui-compiler): AOT SSR classifier handles guard patterns and conditional returns #1769
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

fix(ui-compiler): address review findings for AOT guard pattern #1769
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

fix(ci,ui-server): fix AOT manifest test expectations and CI OOM #1769
  .github/workflows/ci.yml
  packages/ui-server/src/__tests__/ssr-aot-manifest-dev.test.ts
Due: none

fix(ci): prevent task-manager test hang and reduce turbo concurrency
  .github/workflows/ci.yml
  examples/task-manager/test-setup.ts
Due: none

fix(ui-compiler): AOT SSR classifier handles query() + conditional return patterns (#1771)
  .changeset/fix-aot-query-conditional.md
  .github/workflows/ci.yml
  examples/task-manager/test-setup.ts
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-server/src/__tests__/ssr-aot-manifest-dev.test.ts
Due: ui-compiler

fix(server): resolvePrimaryKey() throws for composite PKs in tenant chain #1766
  packages/server/src/entity/__tests__/tenant-chain.test.ts
  packages/server/src/entity/tenant-chain.ts
Due: server

chore(changeset): add changeset for tenant-chain composite PK fix #1766
  .changeset/fix-tenant-chain-composite-pk.md
Due: none

fix(server): resolvePrimaryKey() throws for composite PKs in tenant chain (#1773)
  .changeset/fix-tenant-chain-composite-pk.md
  packages/server/src/entity/__tests__/tenant-chain.test.ts
  packages/server/src/entity/tenant-chain.ts
Due: server

docs: audit and update docs for recent PRs (#1749-#1773)
  packages/docs/api-reference/ui/form.mdx
  packages/docs/docs.json
  packages/docs/guides/db/migrations.mdx
  packages/docs/guides/db/queries.mdx
  packages/docs/guides/db/schema.mdx
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/server/codegen.mdx
  packages/docs/guides/server/domains.mdx
  packages/docs/guides/server/overview.mdx
  packages/docs/guides/ui/forms.mdx
  packages/docs/guides/ui/ssr.mdx
  plans/docs-audit-recent-prs.md
Due: none

docs: fix review findings — FieldState accuracy, withSessionVars, CLI commands
  packages/docs/api-reference/ui/form.mdx
  packages/docs/guides/db/migrations.mdx
  packages/docs/guides/server/codegen.mdx
Due: none

docs: update docs for recent PRs (domains, composite PKs, RLS, SSR single-pass) (#1778)
  packages/docs/api-reference/ui/form.mdx
  packages/docs/docs.json
  packages/docs/guides/db/migrations.mdx
  packages/docs/guides/db/queries.mdx
  packages/docs/guides/db/schema.mdx
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/server/codegen.mdx
  packages/docs/guides/server/domains.mdx
  packages/docs/guides/server/overview.mdx
  packages/docs/guides/ui/forms.mdx
  packages/docs/guides/ui/ssr.mdx
  plans/docs-audit-recent-prs.md
Due: none

fix(db): remove deprecated d.entry() helper
  .changeset/remove-d-entry.md
  packages/db/src/d.ts
  packages/db/src/schema/__tests__/registry.test-d.ts
  packages/db/src/schema/__tests__/registry.test.ts
  packages/integration-tests/src/__tests__/dts-type-preservation.test.ts
  plans/api-cheat-sheet-current.md
Due: db

feat(ui): reactive search params proxy (Phase 1) (#1774)
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/define-routes.test.ts
  packages/ui/src/router/__tests__/reactive-search-params.test.ts
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/index.ts
  packages/ui/src/router/navigate.ts
  packages/ui/src/router/public.ts
  packages/ui/src/router/reactive-search-params.ts
  packages/ui/src/router/search-params.ts
  plans/reactive-search-params.md
  reviews/reactive-search-params/phase-01-runtime-proxy.md
Due: ui

feat(ui): ExtractSearchParams type utility + route path generic (Phase 2) (#1774)
  packages/codegen/src/generators/router-augmentation-generator.ts
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/router.test-d.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/index.ts
  packages/ui/src/router/public.ts
  packages/ui/src/router/search-params.ts
Due: codegen, ui

feat(ui-compiler): register useSearchParams as reactive source (Phase 3) (#1774)
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui/reactivity.json
Due: ui-compiler

docs(ui): add useSearchParams() API docs and changeset (Phase 4) (#1774)
  .changeset/reactive-search-params.md
  packages/docs/api-reference/ui/router.mdx
Due: none

fix(db): remove deprecated d.entry() helper (#1780)
  .changeset/remove-d-entry.md
  packages/db/src/d.ts
  packages/db/src/schema/__tests__/registry.test-d.ts
  packages/db/src/schema/__tests__/registry.test.ts
  packages/integration-tests/src/__tests__/dts-type-preservation.test.ts
  plans/api-cheat-sheet-current.md
Due: db

feat(ui): standalone useSearchParams() reads from router context (#1774)
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/search-params.ts
Due: ui

test(ui-server): add empty search params regression test
  packages/ui-server/src/__tests__/ssr-handler.test.ts
Due: none

chore: update changeset to include @vertz/ui
  .changeset/fix-nav-prefetch-search-params.md
Due: none

chore: add changeset for nav pre-fetch search params fix
  .changeset/fix-nav-prefetch-search-params.md
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
