Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(runtime): disk-backed module compilation cache #2107
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/compile_cache.rs
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/runtime/mod.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/runtime/persistent_isolate.rs
  native/vertz-runtime/src/test/executor.rs
  native/vertz-runtime/src/test/mod.rs
  native/vertz-runtime/src/test/runner.rs
  native/vertz-runtime/src/test/watch.rs
  native/vertz-runtime/tests/test_runner.rs
Due: none

refactor(runtime): address review findings for snapshot + compile cache #2107
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/test/snapshot.rs
  plans/2107-test-runner-isolate-optimization.md
  reviews/2107-test-runner-isolate-optimization/phase-01-v8-snapshot-compile-cache.md
Due: none

style(runtime): apply cargo fmt formatting #2107
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/test/snapshot.rs
Due: none

feat(landing): add Discord community section and activate nav/footer links
  packages/landing/src/components/community-discord.tsx
  packages/landing/src/components/footer.tsx
  packages/landing/src/components/nav.tsx
  packages/landing/src/pages/home.tsx
  plans/discord-community-section.md
Due: none

feat(runtime): V8 snapshot + compilation cache for test runner #2107 (#2119)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/compile_cache.rs
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/runtime/mod.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/runtime/persistent_isolate.rs
  native/vertz-runtime/src/test/executor.rs
  native/vertz-runtime/src/test/mod.rs
  native/vertz-runtime/src/test/runner.rs
  native/vertz-runtime/src/test/snapshot.rs
  native/vertz-runtime/src/test/watch.rs
  native/vertz-runtime/tests/test_runner.rs
  plans/2107-test-runner-isolate-optimization.md
  reviews/2107-test-runner-isolate-optimization/phase-01-v8-snapshot-compile-cache.md
Due: none

fix(cli): add explicit type annotation for implicit any in production-constraints #2032
  packages/cli/src/production-build/production-constraints.ts
Due: cli

feat(cli): add Cloudflare Workers build pipeline #2032
  packages/cli/src/commands/build.ts
  packages/cli/src/production-build/__tests__/cloudflare-build.test.ts
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
  packages/cli/src/production-build/cloudflare/index.ts
  packages/cli/src/production-build/cloudflare/manifest-builder.ts
  packages/cli/src/production-build/cloudflare/types.ts
  packages/cli/src/production-build/cloudflare/validate-access-rules.ts
  packages/cli/src/production-build/cloudflare/worker-entry-generator.ts
  packages/cli/src/production-build/cloudflare/wrangler-config-generator.ts
  packages/cli/src/production-build/types.ts
  plans/runtime-phase3-production-deployment.md
Due: cli

test(cli): add E2E integration tests for cloudflare deployment pipeline #2032
  packages/cli/src/production-build/__tests__/cloudflare-e2e.test.ts
Due: none

fix(cli): address review blockers in cloudflare build pipeline #2032
  packages/cli/src/production-build/__tests__/cloudflare-build.test.ts
  packages/cli/src/production-build/cloudflare/index.ts
  packages/cli/src/production-build/cloudflare/worker-entry-generator.ts
  packages/cli/src/production-build/cloudflare/wrangler-config-generator.ts
Due: cli

feat(cli): add vertz deploy for Cloudflare Workers #2032
  packages/cli/src/deploy/__tests__/cloudflare.test.ts
  packages/cli/src/deploy/cloudflare.ts
Due: cli

fix(cli): address review findings in cloudflare deployment pipeline #2032
  packages/cli/src/deploy/__tests__/cloudflare.test.ts
  packages/cli/src/deploy/cloudflare.ts
  packages/cli/src/production-build/__tests__/cloudflare-build.test.ts
  packages/cli/src/production-build/__tests__/cloudflare-e2e.test.ts
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
  packages/cli/src/production-build/cloudflare/worker-entry-generator.ts
Due: cli

feat(cli): add production constraint enforcement for vertz start #2032
  packages/cli/src/production-build/__tests__/production-constraints.test.ts
  packages/cli/src/production-build/production-constraints.ts
Due: cli

fix(cli): use .data instead of .value for @vertz/errors Result type #2032
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
Due: cli

feat(cli): production deployment — build, start, deploy for Cloudflare Workers (#2118)
  packages/cli/src/commands/build.ts
  packages/cli/src/deploy/__tests__/cloudflare.test.ts
  packages/cli/src/deploy/cloudflare.ts
  packages/cli/src/production-build/__tests__/cloudflare-build.test.ts
  packages/cli/src/production-build/__tests__/cloudflare-e2e.test.ts
  packages/cli/src/production-build/__tests__/production-constraints.test.ts
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
  packages/cli/src/production-build/cloudflare/index.ts
  packages/cli/src/production-build/cloudflare/manifest-builder.ts
  packages/cli/src/production-build/cloudflare/types.ts
  packages/cli/src/production-build/cloudflare/validate-access-rules.ts
  packages/cli/src/production-build/cloudflare/worker-entry-generator.ts
  packages/cli/src/production-build/cloudflare/wrangler-config-generator.ts
  packages/cli/src/production-build/production-constraints.ts
  packages/cli/src/production-build/types.ts
  plans/runtime-phase3-production-deployment.md
Due: cli

fix(landing): remove unused ping animation markup from Discord badge
  packages/landing/src/components/community-discord.tsx
Due: none

feat(landing): add Discord community section (#2120)
  packages/landing/src/components/community-discord.tsx
  packages/landing/src/components/footer.tsx
  packages/landing/src/components/nav.tsx
  packages/landing/src/pages/home.tsx
  plans/discord-community-section.md
Due: none

chore(cli): add changeset for cloudflare production deployment #2032
  .changeset/cloudflare-production-deploy.md
Due: none

chore(cli): add changeset for cloudflare production deployment #2032 (#2121)
  .changeset/cloudflare-production-deploy.md
Due: none

feat(runtime): DOM shim Phase 1 — core DOM tree, elements, innerHTML parser
  native/vertz-runtime/src/test/dom_shim.rs
  native/vertz-runtime/src/test/mod.rs
  native/vertz-runtime/src/test/snapshot.rs
  plans/test-runner-dom-shim.md
Due: none

feat(runtime): DOM shim Phase 2 — full event dispatch (capture/target/bubble)
  native/vertz-runtime/src/test/dom_shim.rs
Due: none

feat(runtime): DOM shim Phase 3 — enhanced selector engine + pseudo-classes
  native/vertz-runtime/src/test/dom_shim.rs
Due: none

feat(runtime): DOM shim Phase 4+5 — remaining APIs + snapshot validation
  native/vertz-runtime/src/test/dom_shim.rs
Due: none

fix(runtime): DOM shim review fixes — 3 blockers + 3 should-fix items
  native/vertz-runtime/src/test/dom_shim.rs
  reviews/test-runner-dom-shim/phase-all.md
Due: none

feat(runtime): DOM shim for test runner — full DOM environment in V8 snapshot (#2122)
  native/vertz-runtime/src/test/dom_shim.rs
  native/vertz-runtime/src/test/mod.rs
  native/vertz-runtime/src/test/snapshot.rs
  plans/test-runner-dom-shim.md
  reviews/test-runner-dom-shim/phase-all.md
Due: none

feat(landing): add Discord badge to hero section
  packages/landing/src/components/hero.tsx
Due: none

fix(sites): redirect /docs/* to docs.vertz.dev (#2124)
  sites/landing-nextjs-vercel/next.config.ts
  sites/landing-nextjs/worker/index.ts
Due: none

feat(landing): add Discord badge to hero section (#2123)
  packages/landing/src/components/hero.tsx
Due: none

fix(landing): add /docs/* redirect to main vertz.dev worker (#2124)
  packages/landing/src/worker.ts
Due: none

fix(sites): redirect /docs/* to docs.vertz.dev (#2127)
  packages/landing/src/worker.ts
  sites/landing-nextjs-vercel/next.config.ts
  sites/landing-nextjs/worker/index.ts
Due: none

docs(agents): add agent persistence layer design doc
  plans/agent-persistence-layer.md
Due: none

docs(agents): add agent persistence layer design doc (#2128)
  plans/agent-persistence-layer.md
Due: none

feat(agents): add persistence layer — store interface, memory store, and session-aware run() #2129
  packages/agents/src/index.ts
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/run.test.ts
  packages/agents/src/run.ts
  packages/agents/src/stores/errors.test.ts
  packages/agents/src/stores/errors.ts
  packages/agents/src/stores/memory-store.test.ts
  packages/agents/src/stores/memory-store.ts
  packages/agents/src/stores/types.ts
  packages/agents/src/types.test-d.ts
Due: none

feat(agents): add SQLite store implementation #2129
  packages/agents/src/index.ts
  packages/agents/src/stores/sqlite-store.test.ts
  packages/agents/src/stores/sqlite-store.ts
Due: none

feat(agents): server integration — options bag runner and sessionId passthrough #2129
  packages/agents/src/create-agent-runner.test.ts
  packages/agents/src/create-agent-runner.ts
  packages/server/src/agent/route-generator.test.ts
  packages/server/src/agent/route-generator.ts
  packages/server/src/agent/types.ts
Due: server

feat(agents): add D1 store for Cloudflare Workers #2129
  packages/agents/bunup.config.ts
  packages/agents/package.json
  packages/agents/src/cloudflare.ts
  packages/agents/src/stores/d1-store.test.ts
  packages/agents/src/stores/d1-store.ts
Due: none

fix(agents): address adversarial review findings B1, B2, S1–S6 #2129
  .changeset/agent-persistence-layer.md
  packages/agents/src/run.test.ts
  packages/agents/src/run.ts
  packages/agents/src/stores/d1-store.test.ts
  packages/agents/src/stores/d1-store.ts
  packages/agents/src/stores/memory-store.test.ts
  packages/agents/src/stores/memory-store.ts
  packages/agents/src/stores/sqlite-store.test.ts
  packages/agents/src/stores/sqlite-store.ts
  packages/agents/src/stores/types.ts
  packages/server/src/agent/route-generator.test.ts
  packages/server/src/agent/route-generator.ts
Due: server

docs(agents): update review file with resolution for all findings #2129
  reviews/agent-persistence/phase-all-review.md
Due: none

fix(agents): move eslint-disable comments to correct lines in run.ts #2129
  packages/agents/src/run.ts
Due: none

style(landing): fix oxfmt formatting in worker.ts
  packages/landing/src/worker.ts
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
