Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(landing): concise copy and updated Vinicius bio
  sites/landing/index.html
Due: none

feat(landing): new @vertz/ui launch page with code examples (#714)
  sites/landing/index.html
Due: none

feat(landing): deploy to Cloudflare Workers
  sites/landing/src/worker.ts
  sites/landing/wrangler.toml
Due: none

chore(task-manager): add default SVG favicon [#690]
  examples/task-manager/index.html
  examples/task-manager/public/favicon.svg
Due: none

fix(ui,ui-server): sync module-level routers to request URL during SSR [#690]
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/router/navigate.ts
Due: ui, ui-server

fix(ui,ui-server): auto-detect SSR hydration and inline CSS to prevent FOUC [#690]
  examples/task-manager/server.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui/src/__tests__/mount-hydration.test.ts
  packages/ui/src/mount.ts
Due: ui, ui-server

refactor(ui): remove hydration mode option, always use tolerant [#690]
  examples/entity-todo/src/entry-client.ts
  packages/ui/src/__tests__/hydration-e2e.test.ts
  packages/ui/src/__tests__/mount-hydration.test.ts
  packages/ui/src/__tests__/mount.test-d.ts
  packages/ui/src/__tests__/mount.test.ts
  packages/ui/src/mount.ts
Due: ui

fix(ui,ui-server): fix hydration interactivity, comment nodes, and FOUC [#690]
  examples/task-manager/src/app.tsx
  examples/task-manager/src/index.ts
  packages/ui-server/src/__tests__/ssr-adapter.test.ts
  packages/ui-server/src/__tests__/ssr-integration.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/dom-shim/index.ts
  packages/ui-server/src/dom-shim/ssr-comment.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
  packages/ui-server/src/ssr-adapter.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/__tests__/mount-hydration.test.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/theme-provider.ts
  packages/ui/src/index.ts
  packages/ui/src/jsx-runtime/index.ts
  packages/ui/src/mount.ts
  packages/ui/src/router/link.ts
  packages/ui/src/router/router-view.ts
Due: ui, ui-server

fix(ui-server): clear query cache between production SSR renders [#690]
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/query/cache.ts
  packages/ui/src/query/query.ts
Due: ui, ui-server

feat(ui-server): production SSR handler with nav pre-fetch [#690]
  .changeset/prod-ssr-handler.md
  bun.lock
  examples/task-manager/e2e/prod-ssr.spec.ts
  examples/task-manager/e2e/server-nav.spec.ts
  examples/task-manager/package.json
  examples/task-manager/server.ts
  examples/task-manager/src/index.ts
  examples/task-manager/src/router.ts
  examples/task-manager/src/worker.ts
  packages/ui-compiler/src/__tests__/nav-handler.test.ts
  packages/ui-compiler/src/__tests__/vite-plugin-ssr.test.ts
  packages/ui-compiler/src/nav-handler.ts
  packages/ui-compiler/src/vite-plugin.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/index.ts
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
  packages/ui/src/router/__tests__/link.test.ts
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/__tests__/server-nav.test.ts
  packages/ui/src/router/link.ts
  packages/ui/src/router/navigate.ts
  packages/ui/src/router/server-nav.ts
Due: ui, ui-compiler, ui-server

fix(ui-server,ui-compiler): serialize concurrent SSR renders and inject CSS link [#690]
  packages/ui-compiler/src/__tests__/vite-plugin.test.ts
  packages/ui-compiler/src/vite-plugin.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/ssr-render.ts
Due: ui-compiler, ui-server

chore(task-manager): use Vertz logo SVG for favicon [#690]
  examples/task-manager/public/favicon.svg
Due: none

chore(task-manager): use Vertz logo SVG for favicon [#690] (#717)
  examples/task-manager/public/favicon.svg
Due: none

feat(landing): deploy to Cloudflare Workers and update content
  sites/landing/.assetsignore
  sites/landing/index.html
  sites/landing/wrangler.toml
Due: none

feat(landing): deploy to Cloudflare Workers and update content (#720)
  sites/landing/.assetsignore
  sites/landing/index.html
  sites/landing/wrangler.toml
Due: none

docs: add implementation plan for server-rendered client navigations [#690]
  plans/server-nav-implementation.md
Due: none

docs: address adversarial review feedback on server-nav plan [#690]
  plans/server-nav-implementation.md
Due: none

docs: implementation plan for server-rendered client navigations [#690] (#712)
  plans/server-nav-implementation.md
Due: none

chore: scaffold Mintlify docs package under packages/docs
  bun.lock
  packages/docs/.mintignore
  packages/docs/api-reference/ui/compiler-plugin.mdx
  packages/docs/api-reference/ui/context.mdx
  packages/docs/api-reference/ui/css.mdx
  packages/docs/api-reference/ui/form.mdx
  packages/docs/api-reference/ui/jsx-runtime.mdx
  packages/docs/api-reference/ui/mount.mdx
  packages/docs/api-reference/ui/query.mdx
  packages/docs/api-reference/ui/router.mdx
  packages/docs/api-reference/ui/signals.mdx
  packages/docs/api-reference/ui/ssr-handler.mdx
  packages/docs/docs.json
  packages/docs/examples/task-manager.mdx
  packages/docs/favicon.svg
  packages/docs/guides/ui/compiler.mdx
  packages/docs/guides/ui/components.mdx
  packages/docs/guides/ui/data-fetching.mdx
  packages/docs/guides/ui/forms.mdx
  packages/docs/guides/ui/overview.mdx
  packages/docs/guides/ui/reactivity.mdx
  packages/docs/guides/ui/routing.mdx
  packages/docs/guides/ui/ssr.mdx
  packages/docs/guides/ui/styling.mdx
  packages/docs/index.mdx
  packages/docs/installation.mdx
  packages/docs/logo/dark.svg
  packages/docs/logo/light.svg
  packages/docs/package.json
  packages/docs/quickstart.mdx
Due: none

chore: scaffold Mintlify docs package under packages/docs (#718)
  bun.lock
  packages/docs/.mintignore
  packages/docs/api-reference/ui/compiler-plugin.mdx
  packages/docs/api-reference/ui/context.mdx
  packages/docs/api-reference/ui/css.mdx
  packages/docs/api-reference/ui/form.mdx
  packages/docs/api-reference/ui/jsx-runtime.mdx
  packages/docs/api-reference/ui/mount.mdx
  packages/docs/api-reference/ui/query.mdx
  packages/docs/api-reference/ui/router.mdx
  packages/docs/api-reference/ui/signals.mdx
  packages/docs/api-reference/ui/ssr-handler.mdx
  packages/docs/docs.json
  packages/docs/examples/task-manager.mdx
  packages/docs/favicon.svg
  packages/docs/guides/ui/compiler.mdx
  packages/docs/guides/ui/components.mdx
  packages/docs/guides/ui/data-fetching.mdx
  packages/docs/guides/ui/forms.mdx
  packages/docs/guides/ui/overview.mdx
  packages/docs/guides/ui/reactivity.mdx
  packages/docs/guides/ui/routing.mdx
  packages/docs/guides/ui/ssr.mdx
  packages/docs/guides/ui/styling.mdx
  packages/docs/index.mdx
  packages/docs/installation.mdx
  packages/docs/logo/dark.svg
  packages/docs/logo/light.svg
  packages/docs/package.json
  packages/docs/quickstart.mdx
Due: none

explore(ui): correct Bun feature parity — virtual modules & error overlay exist [#715]
  explorations/bun-fullstack/FINDINGS.md
Due: none

feat(bun-plugin): preserve signal state across HMR cycles [#715]
  packages/bun-plugin/src/fast-refresh-codegen.ts
  packages/bun-plugin/src/fast-refresh-runtime.ts
  packages/ui/src/internals.ts
  packages/ui/src/runtime/__tests__/signal.test.ts
  packages/ui/src/runtime/signal.ts
Due: ui

fix(bun-plugin): replace failing test script with no-op [#715]
  packages/bun-plugin/package.json
Due: none

explore(ui): JS Fast Refresh runtime for component-level HMR [#715]
  examples/task-manager/src/index.ts
  explorations/bun-fullstack/FINDINGS.md
  explorations/bun-fullstack/hmr-index.html
  explorations/bun-fullstack/vertz-bun-plugin-hmr.ts
  explorations/bun-fullstack/vertz-fast-refresh-runtime.ts
  packages/ui/src/component/context.ts
  packages/ui/src/internals.ts
Due: ui

feat(bun-plugin): create @vertz/bun-plugin package from exploration code [#715]
  bun.lock
  packages/bun-plugin/bunup.config.ts
  packages/bun-plugin/package.json
  packages/bun-plugin/src/context-stable-ids.ts
  packages/bun-plugin/src/fast-refresh-codegen.ts
  packages/bun-plugin/src/fast-refresh-runtime.ts
  packages/bun-plugin/src/file-path-hash.ts
  packages/bun-plugin/src/index.ts
  packages/bun-plugin/src/plugin.ts
  packages/bun-plugin/src/types.ts
  packages/bun-plugin/tsconfig.json
  packages/bun-plugin/tsconfig.typecheck.json
Due: none

explore(ui): validate Bun as Vite replacement for dev and build [#715]
  bun.lock
  explorations/bun-fullstack/FINDINGS.md
  explorations/bun-fullstack/build.ts
  explorations/bun-fullstack/bunfig.toml
  explorations/bun-fullstack/dev-server.ts
  explorations/bun-fullstack/hmr-dev-server.ts
  explorations/bun-fullstack/hmr-index.html
  explorations/bun-fullstack/ssr-dev-server.ts
  explorations/bun-fullstack/vertz-bun-plugin-hmr.ts
  explorations/bun-fullstack/vertz-bun-plugin.ts
  package.json
Due: none

explore(ui): Bun as Vite replacement — dev, build, and HMR [#715] (#719)
  bun.lock
  examples/task-manager/src/index.ts
  explorations/bun-fullstack/FINDINGS.md
  explorations/bun-fullstack/build.ts
  explorations/bun-fullstack/bunfig.toml
  explorations/bun-fullstack/dev-server.ts
  explorations/bun-fullstack/hmr-dev-server.ts
  explorations/bun-fullstack/hmr-index.html
  explorations/bun-fullstack/ssr-dev-server.ts
  explorations/bun-fullstack/vertz-bun-plugin-hmr.ts
  explorations/bun-fullstack/vertz-bun-plugin.ts
  explorations/bun-fullstack/vertz-fast-refresh-runtime.ts
  package.json
  packages/bun-plugin/bunup.config.ts
  packages/bun-plugin/package.json
  packages/bun-plugin/src/context-stable-ids.ts
  packages/bun-plugin/src/fast-refresh-codegen.ts
  packages/bun-plugin/src/fast-refresh-runtime.ts
  packages/bun-plugin/src/file-path-hash.ts
  packages/bun-plugin/src/index.ts
  packages/bun-plugin/src/plugin.ts
  packages/bun-plugin/src/types.ts
  packages/bun-plugin/tsconfig.json
  packages/bun-plugin/tsconfig.typecheck.json
  packages/ui/src/component/context.ts
  packages/ui/src/internals.ts
  packages/ui/src/runtime/__tests__/signal.test.ts
  packages/ui/src/runtime/signal.ts
Due: ui

feat(examples): add contacts-api example and fix entity route logging
  bun.lock
  examples/contacts-api/package.json
  examples/contacts-api/src/entities.ts
  examples/contacts-api/src/schema.ts
  examples/contacts-api/src/server.ts
  examples/contacts-api/test/api.test.ts
  examples/contacts-api/tsconfig.json
  examples/contacts-api/vertz.config.ts
  packages/core/src/app/__tests__/listen.test.ts
  packages/core/src/app/app-builder.ts
Due: core

test(contacts-api): replace mock DB with real SQLite via createDbProvider
  examples/contacts-api/test/api.test.ts
Due: none

feat(examples): add contacts-api example and fix entity route logging (#722)
  bun.lock
  examples/contacts-api/package.json
  examples/contacts-api/src/entities.ts
  examples/contacts-api/src/schema.ts
  examples/contacts-api/src/server.ts
  examples/contacts-api/test/api.test.ts
  examples/contacts-api/tsconfig.json
  examples/contacts-api/vertz.config.ts
  packages/core/src/app/__tests__/listen.test.ts
  packages/core/src/app/app-builder.ts
Due: core

fix(bun-plugin): address PR review feedback [#715]
  packages/bun-plugin/src/context-stable-ids.ts
  packages/bun-plugin/src/fast-refresh-codegen.ts
  packages/bun-plugin/src/fast-refresh-runtime.ts
  packages/bun-plugin/src/plugin.ts
Due: none

fix(bun-plugin): address PR review feedback [#715] (#723)
  packages/bun-plugin/src/context-stable-ids.ts
  packages/bun-plugin/src/fast-refresh-codegen.ts
  packages/bun-plugin/src/fast-refresh-runtime.ts
  packages/bun-plugin/src/plugin.ts
Due: none

test(contacts-api): add OpenAPI spec and SDK codegen output tests
  examples/contacts-api/test/codegen.test.ts
Due: none

test(contacts-api): add OpenAPI spec and SDK codegen output tests (#725)
  examples/contacts-api/test/codegen.test.ts
Due: none

feat(server): add public `db` property to ServerConfig [#722]
  examples/contacts-api/src/server.ts
  examples/contacts-api/test/api.test.ts
  examples/entity-todo/src/__tests__/api.test.ts
  examples/entity-todo/src/dev-server.ts
  examples/entity-todo/src/server.ts
  packages/integration-tests/src/__tests__/entity-walkthrough.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/server-integration.test.ts
Due: server

feat(server): add public `db` property to ServerConfig [#722] (#726)
  examples/contacts-api/src/server.ts
  examples/contacts-api/test/api.test.ts
  examples/entity-todo/src/__tests__/api.test.ts
  examples/entity-todo/src/dev-server.ts
  examples/entity-todo/src/server.ts
  packages/integration-tests/src/__tests__/entity-walkthrough.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/server-integration.test.ts
Due: server

chore(ci): exclude ui-canvas from coverage reporting
  codecov.yml
Due: none

chore(ci): exclude ui-canvas from coverage reporting (#727)
  codecov.yml
Due: none
