Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(runtime): address review findings — build step, version stamp, binary check
  native/vertz-runtime/src/cli.rs
  npm/runtime/.gitignore
  npm/runtime/index.d.ts
  npm/runtime/index.test.ts
  npm/runtime/index.ts
  npm/runtime/package.json
  npm/runtime/postinstall.cjs
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/runtime/__tests__/version-check.test.ts
  packages/cli/src/runtime/launcher.ts
  scripts/publish.sh
Due: cli

chore: add changeset for runtime binary distribution
  .changeset/runtime-binary-distribution.md
Due: none

fix(cli): add explicit type annotation for NATIVE_RUNTIME_COMMANDS (isolatedDeclarations)
  packages/cli/src/runtime/launcher.ts
Due: cli

style: fix oxfmt formatting in npm/ package files
  npm/runtime-darwin-arm64/package.json
  npm/runtime-darwin-x64/package.json
  npm/runtime-linux-arm64/package.json
  npm/runtime-linux-x64/package.json
  npm/runtime/index.test.ts
  npm/runtime/package.json
  npm/runtime/postinstall.cjs
  packages/cli/src/commands/__tests__/dev.test.ts
  reviews/runtime-distribution/phase-all.md
Due: none

feat(runtime): npm-based binary distribution for native runtime (#2105)
  .changeset/config.json
  .changeset/runtime-binary-distribution.md
  .github/workflows/release.yml
  .github/workflows/runtime-binary.yml
  bun.lock
  native/Cargo.lock
  native/Cargo.toml
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/cli.rs
  npm/runtime-darwin-arm64/package.json
  npm/runtime-darwin-x64/package.json
  npm/runtime-linux-arm64/package.json
  npm/runtime-linux-x64/package.json
  npm/runtime/.gitignore
  npm/runtime/index.d.ts
  npm/runtime/index.test.ts
  npm/runtime/index.ts
  npm/runtime/package.json
  npm/runtime/postinstall.cjs
  npm/runtime/tsconfig.json
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/runtime/__tests__/launcher.test.ts
  packages/cli/src/runtime/__tests__/version-check.test.ts
  packages/cli/src/runtime/launcher.ts
  plans/runtime-binary-distribution.md
  reviews/runtime-distribution/phase-all.md
  scripts/publish.sh
Due: cli

fix(runtime): resolve extension, Request.body, crypto, and node:module gaps for full-stack tests
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/runtime/ops/web_api.rs
  plans/runtime-fullstack-testing-results.md
  plans/runtime-fullstack-testing.md
  scripts/bench-test-runner.sh
Due: none

fix(runtime): address async context review findings
  native/vertz-runtime/src/runtime/async_context.rs
  native/vertz-runtime/src/runtime/persistent_isolate.rs
  native/vertz-runtime/src/ssr/async_local_storage.rs
Due: none

feat(runtime): AsyncContext.Variable with V8 promise hooks + node:async_hooks shim
  native/vertz-runtime/src/runtime/async_context.rs
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/runtime/mod.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/runtime/ops/async_context.rs
  native/vertz-runtime/src/runtime/ops/mod.rs
  native/vertz-runtime/src/runtime/persistent_isolate.rs
  native/vertz-runtime/src/ssr/render.rs
  native/vertz-runtime/src/test/executor.rs
  plans/runtime-async-context.md
  plans/runtime-fullstack-testing-results.md
Due: none

fix(runtime): cargo fmt, clippy, and integration test fixes for async context
  native/vertz-runtime/src/runtime/async_context.rs
  native/vertz-runtime/src/runtime/ops/async_context.rs
  native/vertz-runtime/src/ssr/async_local_storage.rs
  native/vertz-runtime/src/ssr/render.rs
  native/vertz-runtime/tests/ssr_render.rs
Due: none

feat(runtime): AsyncContext + full-stack test benchmarks (#2108)
  native/vertz-runtime/src/runtime/async_context.rs
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/runtime/mod.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/runtime/ops/async_context.rs
  native/vertz-runtime/src/runtime/ops/mod.rs
  native/vertz-runtime/src/runtime/ops/web_api.rs
  native/vertz-runtime/src/runtime/persistent_isolate.rs
  native/vertz-runtime/src/ssr/async_local_storage.rs
  native/vertz-runtime/src/ssr/render.rs
  native/vertz-runtime/src/test/executor.rs
  native/vertz-runtime/tests/ssr_render.rs
  plans/runtime-async-context.md
  plans/runtime-fullstack-testing-results.md
  plans/runtime-fullstack-testing.md
  scripts/bench-test-runner.sh
Due: none

fix(runtime): resolve root_dir from workspace root for test module resolution #2111
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/test/executor.rs
  native/vertz-runtime/src/test/runner.rs
  native/vertz-runtime/src/test/watch.rs
Due: none

fix(runtime): resolve root_dir from workspace root for test module resolution #2111 (#2113)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/test/executor.rs
  native/vertz-runtime/src/test/runner.rs
  native/vertz-runtime/src/test/watch.rs
Due: none

test(runtime): add negative test proving #2110 bug without spawn_blocking
  native/vertz-runtime/src/test/watch.rs
Due: none

fix(runtime): use spawn_blocking in watch mode to prevent Tokio runtime nesting (#2110)
  native/vertz-runtime/src/test/watch.rs
Due: none

fix(runtime): test runner panics on single-file execution (#2110) (#2112)
  native/vertz-runtime/src/test/watch.rs
Due: none

feat(runtime): EventEmitter async context propagation #2106
  native/vertz-runtime/src/runtime/async_context.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/tests/v8_integration.rs
  plans/eventemitter-async-context.md
Due: none

feat(agents): scaffold @vertz/agents package with tool(), agent(), and ReAct loop
  bun.lock
  packages/agents/bunup.config.ts
  packages/agents/package.json
  packages/agents/src/agent.test.ts
  packages/agents/src/agent.ts
  packages/agents/src/index.ts
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/tool.test.ts
  packages/agents/src/tool.ts
  packages/agents/src/types.test-d.ts
  packages/agents/src/types.ts
  packages/agents/tsconfig.json
  packages/agents/tsconfig.typecheck.json
  plans/vertz-agents.md
Due: none

feat(agents): add description, output, prompt config, rename checkpointInterval
  packages/agents/src/agent.test.ts
  packages/agents/src/agent.ts
  packages/agents/src/index.ts
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/run.test.ts
  packages/agents/src/run.ts
  packages/agents/src/types.test-d.ts
  packages/agents/src/types.ts
Due: none

feat(agents): add run() entry point, tool descriptions, and provider types
  packages/agents/src/index.ts
  packages/agents/src/providers/tool-description.test.ts
  packages/agents/src/providers/tool-description.ts
  packages/agents/src/providers/types.ts
  packages/agents/src/run.test.ts
  packages/agents/src/run.ts
Due: none

feat(agents): add input validation to ReAct loop and validate-tool-input utility
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/loop/validate-tool-input.test.ts
  packages/agents/src/loop/validate-tool-input.ts
Due: none

chore(agents): add adversarial design reviews (DX, Product, Technical)
  reviews/vertz-agents/phase-00-design-dx-review.md
  reviews/vertz-agents/phase-00-design-product-review.md
  reviews/vertz-agents/phase-00-design-technical-review.md
Due: none

docs(agents): update design doc to Rev 2 addressing review findings
  packages/agents/src/agent.ts
  packages/agents/src/types.ts
  plans/vertz-agents.md
Due: none

fix(agents): address Phase 1 adversarial review findings
  packages/agents/src/agent.test.ts
  packages/agents/src/agent.ts
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/run.test.ts
  packages/agents/src/run.ts
  packages/agents/src/tool.test.ts
  packages/agents/src/tool.ts
  packages/agents/src/utils.ts
  reviews/vertz-agents/phase-01-core-definitions-review.md
Due: none

test(runtime): add review-fix tests for listeners/rawListeners/prependListener #2106
  native/vertz-runtime/tests/v8_integration.rs
  reviews/emitter-async-ctx/phase-01-snapshot-and-emitter.md
Due: none

feat(agents): scaffold @vertz/agents with agent(), tool(), and ReAct loop (#2114)
  bun.lock
  packages/agents/bunup.config.ts
  packages/agents/package.json
  packages/agents/src/agent.test.ts
  packages/agents/src/agent.ts
  packages/agents/src/index.ts
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/loop/validate-tool-input.test.ts
  packages/agents/src/loop/validate-tool-input.ts
  packages/agents/src/providers/tool-description.test.ts
  packages/agents/src/providers/tool-description.ts
  packages/agents/src/providers/types.ts
  packages/agents/src/run.test.ts
  packages/agents/src/run.ts
  packages/agents/src/tool.test.ts
  packages/agents/src/tool.ts
  packages/agents/src/types.test-d.ts
  packages/agents/src/types.ts
  packages/agents/src/utils.ts
  packages/agents/tsconfig.json
  packages/agents/tsconfig.typecheck.json
  plans/vertz-agents.md
  reviews/vertz-agents/phase-00-design-dx-review.md
  reviews/vertz-agents/phase-00-design-product-review.md
  reviews/vertz-agents/phase-00-design-technical-review.md
  reviews/vertz-agents/phase-01-core-definitions-review.md
Due: none

feat(runtime): EventEmitter async context propagation (#2115)
  native/vertz-runtime/src/runtime/async_context.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/tests/v8_integration.rs
  plans/eventemitter-async-context.md
  reviews/emitter-async-ctx/phase-01-snapshot-and-emitter.md
Due: none

feat(agents): add LLM adapters, server integration, and access rules
  packages/agents/src/create-agent-runner.test.ts
  packages/agents/src/create-agent-runner.ts
  packages/agents/src/index.ts
  packages/agents/src/providers/cloudflare.test.ts
  packages/agents/src/providers/cloudflare.ts
  packages/agents/src/providers/create-adapter.test.ts
  packages/agents/src/providers/create-adapter.ts
  packages/agents/src/providers/minimax.test.ts
  packages/agents/src/providers/minimax.ts
  packages/agents/src/providers/openai-format.test.ts
  packages/agents/src/providers/openai-format.ts
  packages/server/src/agent/route-generator.test.ts
  packages/server/src/agent/route-generator.ts
  packages/server/src/agent/types.ts
  packages/server/src/create-server.ts
  packages/server/src/index.ts
Due: server

fix(agents): address adversarial review findings (B1, B2, SF2-5)
  packages/agents/src/create-agent-runner.test.ts
  packages/agents/src/create-agent-runner.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/providers/openai-format.test.ts
  packages/agents/src/providers/openai-format.ts
  packages/server/src/agent/route-generator.ts
  packages/server/src/create-server.ts
Due: server

fix(agents): fix formatting, unused import, and adapter factory signature (SF-1)
  packages/agents/src/create-agent-runner.test.ts
  packages/agents/src/create-agent-runner.ts
  packages/agents/src/providers/cloudflare.test.ts
  packages/agents/src/providers/minimax.test.ts
  packages/server/src/agent/types.ts
Due: server

feat(agents): LLM adapters, server integration, and access rules (#2117)
  packages/agents/src/create-agent-runner.test.ts
  packages/agents/src/create-agent-runner.ts
  packages/agents/src/index.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/providers/cloudflare.test.ts
  packages/agents/src/providers/cloudflare.ts
  packages/agents/src/providers/create-adapter.test.ts
  packages/agents/src/providers/create-adapter.ts
  packages/agents/src/providers/minimax.test.ts
  packages/agents/src/providers/minimax.ts
  packages/agents/src/providers/openai-format.test.ts
  packages/agents/src/providers/openai-format.ts
  packages/server/src/agent/route-generator.test.ts
  packages/server/src/agent/route-generator.ts
  packages/server/src/agent/types.ts
  packages/server/src/create-server.ts
  packages/server/src/index.ts
Due: server

feat(cli): add Cloudflare Workers build pipeline #2032
  packages/cli/src/commands/build.ts
  packages/cli/src/production-build/__tests__/cloudflare-build.test.ts
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
  packages/cli/src/production-build/cloudflare/index.ts
  packages/cli/src/production-build/cloudflare/manifest-builder.ts
  packages/cli/src/production-build/cloudflare/types.ts
  packages/cli/src/production-build/cloudflare/validate-access-rules.ts
  packages/cli/src/production-build/cloudflare/worker-entry-generator.ts
  packages/cli/src/production-build/cloudflare/wrangler-config-generator.ts
  packages/cli/src/production-build/types.ts
  plans/runtime-phase3-production-deployment.md
Due: cli

feat(cli): add production constraint enforcement for vertz start #2032
  packages/cli/src/production-build/__tests__/production-constraints.test.ts
  packages/cli/src/production-build/production-constraints.ts
Due: cli

fix(cli): address review blockers in cloudflare build pipeline #2032
  packages/cli/src/production-build/__tests__/cloudflare-build.test.ts
  packages/cli/src/production-build/cloudflare/index.ts
  packages/cli/src/production-build/cloudflare/worker-entry-generator.ts
  packages/cli/src/production-build/cloudflare/wrangler-config-generator.ts
Due: cli

test(cli): add E2E integration tests for cloudflare deployment pipeline #2032
  packages/cli/src/production-build/__tests__/cloudflare-e2e.test.ts
Due: none

fix(cli): add explicit type annotation for implicit any in production-constraints #2032
  packages/cli/src/production-build/production-constraints.ts
Due: cli

fix(cli): address review findings in cloudflare deployment pipeline #2032
  packages/cli/src/deploy/__tests__/cloudflare.test.ts
  packages/cli/src/deploy/cloudflare.ts
  packages/cli/src/production-build/__tests__/cloudflare-build.test.ts
  packages/cli/src/production-build/__tests__/cloudflare-e2e.test.ts
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
  packages/cli/src/production-build/cloudflare/worker-entry-generator.ts
Due: cli

fix(cli): use .data instead of .value for @vertz/errors Result type #2032
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
Due: cli

feat(cli): add vertz deploy for Cloudflare Workers #2032
  packages/cli/src/deploy/__tests__/cloudflare.test.ts
  packages/cli/src/deploy/cloudflare.ts
Due: cli

feat(runtime): V8 startup snapshot for test runner #2107
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/test/executor.rs
  native/vertz-runtime/src/test/mod.rs
  native/vertz-runtime/src/test/snapshot.rs
Due: none

docs: update review with resolution status for all findings #2107
  reviews/2107-test-runner-isolate-optimization/phase-01-v8-snapshot-compile-cache.md
Due: none
