Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(server): address review findings for where-rule enforcement
  packages/server/src/entity/__tests__/access-enforcer-skipwhere.test.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/crud-pipeline.ts
Due: server

feat(db): add where option to get/update/delete on EntityDbAdapter
  packages/db/src/adapters/__tests__/database-bridge-adapter.test-d.ts
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/index.ts
  packages/db/src/types/adapter.ts
Due: db

fix(server): scope TOCTOU try-catch to where-conditioned paths only
  packages/server/src/entity/crud-pipeline.ts
Due: server

fix(integration-tests): update in-memory adapters for EntityDbAdapter where options
  packages/integration-tests/src/__tests__/auth-session-entity-context.test.ts
  packages/integration-tests/src/__tests__/content-descriptors-walkthrough.test.ts
  packages/integration-tests/src/__tests__/entity-walkthrough.test.ts
  packages/integration-tests/src/__tests__/indirect-tenant-isolation.test.ts
  packages/integration-tests/src/__tests__/service-walkthrough.test.ts
  packages/integration-tests/src/__tests__/tenant-isolation.test.ts
Due: none

feat(server,db): push rules.where() to DB for get/update/delete (#1751)
  packages/db/src/adapters/__tests__/database-bridge-adapter.test-d.ts
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/index.ts
  packages/db/src/types/adapter.ts
  packages/integration-tests/src/__tests__/auth-session-entity-context.test.ts
  packages/integration-tests/src/__tests__/content-descriptors-walkthrough.test.ts
  packages/integration-tests/src/__tests__/entity-walkthrough.test.ts
  packages/integration-tests/src/__tests__/indirect-tenant-isolation.test.ts
  packages/integration-tests/src/__tests__/service-walkthrough.test.ts
  packages/integration-tests/src/__tests__/tenant-isolation.test.ts
  packages/server/src/entity/__tests__/access-enforcer-skipwhere.test.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/crud-pipeline.ts
  plans/where-rule-db-enforcement.md
Due: db, server

chore(rules): fix outdated refs, stale links, and inconsistencies
  .claude/rules/bdd-acceptance-criteria.md
  .claude/rules/design-and-planning.md
  .claude/rules/dev-server-debugging.md
  .claude/rules/entity-access-rules.md
  .claude/rules/local-phase-workflow.md
  .claude/rules/tdd.md
  .claude/rules/workflow.md
Due: none

chore(rules): fix outdated refs, stale links, and inconsistencies (#1753)
  .claude/rules/bdd-acceptance-criteria.md
  .claude/rules/design-and-planning.md
  .claude/rules/dev-server-debugging.md
  .claude/rules/entity-access-rules.md
  .claude/rules/local-phase-workflow.md
  .claude/rules/tdd.md
  .claude/rules/workflow.md
Due: none

fix(ui): address review findings for form revalidation
  .changeset/form-field-revalidation.md
  packages/ui/src/__tests__/form-integration.test.ts
  packages/ui/src/form/form.ts
  packages/ui/src/form/validation.ts
Due: ui

feat(ui): add form field revalidation on blur/change after submit (#1746)
  packages/ui/src/__tests__/form-integration.test.ts
  packages/ui/src/form/__tests__/form.test-d.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/__tests__/validation.test.ts
  packages/ui/src/form/form.ts
  packages/ui/src/form/validation.ts
  plans/form-field-revalidation.md
Due: ui

feat(ui): form field revalidation on blur/change after submit (#1752)
  .changeset/form-field-revalidation.md
  packages/ui/src/__tests__/form-integration.test.ts
  packages/ui/src/form/__tests__/form.test-d.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/__tests__/validation.test.ts
  packages/ui/src/form/form.ts
  packages/ui/src/form/validation.ts
  plans/form-field-revalidation.md
Due: ui

docs: AOT-compiled SSR design doc (Rev 3) with validated POCs (#1745)
  bun.lock
  packages/ui-server/src/__tests__/ssr-aot-poc.test.ts
  plans/aot-compiled-ssr.md
Due: none

fix(ui-compiler): address AOT review findings — security, correctness, robustness (#1745)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

feat(ui-server): add AOT SSR diagnostics, divergence detection, and debug logging (#1745)
  packages/ui-server/src/__tests__/ssr-aot-diagnostics.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/debug-logger.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-diagnostics.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-server

refactor(ui-compiler): replace regex test helpers with AST-based extraction (#1745)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
Due: none

feat(ui-compiler): AOT string transformer for pre-compiled SSR (#1745)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-compiler/src/types.ts
Due: ui-compiler

docs: add AOT-compiled SSR documentation (#1745)
  packages/docs/guides/ui/compiler.mdx
  packages/docs/guides/ui/ssr.mdx
Due: none

fix(ui-server): lower AOT benchmark threshold for CI runner variance (#1745)
  packages/ui-server/src/__tests__/ssr-aot-poc.test.ts
Due: none

fix(ui-server): address Phase 4 review findings (#1745)
  packages/ui-server/src/__tests__/ssr-aot-diagnostics.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-diagnostics.ts
Due: ui-server

feat(ui-server): add AOT build manifest, dev manifest manager, and build pipeline integration (#1745)
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/ssr-aot-manifest-dev.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-manifest-dev.ts
Due: cli, ui-server

feat(ui-server): AOT SSR runtime helpers and pipeline integration (#1745)
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/__tests__/ssr-aot-runtime.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-aot-runtime.ts
Due: ui-server

feat(ui-compiler): add hydration comment markers to AOT transformer (#1745)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/__tests__/aot-hydration-markers.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

fix(ui-compiler): address Phase 3 review findings for AOT hydration markers (#1745)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/__tests__/aot-hydration-markers.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

fix(ui-server): address build integration review findings (#1745)
  packages/ui-server/src/__tests__/ssr-aot-manifest-dev.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/ssr-aot-diagnostics.ts
  packages/ui-server/src/ssr-aot-manifest-dev.ts
Due: ui-server

test(ui-server): add AOT benchmark and improve coverage to 95%+ (#1745)
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/ssr-aot-benchmark.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
Due: none

feat(ui-compiler): AOT-compiled SSR — pre-compiled component templates (#1745) (#1750)
  bun.lock
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/docs/guides/ui/compiler.mdx
  packages/docs/guides/ui/ssr.mdx
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/__tests__/aot-hydration-markers.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-compiler/src/types.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/ssr-aot-benchmark.test.ts
  packages/ui-server/src/__tests__/ssr-aot-diagnostics.test.ts
  packages/ui-server/src/__tests__/ssr-aot-manifest-dev.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/__tests__/ssr-aot-poc.test.ts
  packages/ui-server/src/__tests__/ssr-aot-runtime.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/debug-logger.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-diagnostics.ts
  packages/ui-server/src/ssr-aot-manifest-dev.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-aot-runtime.ts
  plans/aot-compiled-ssr.md
Due: cli, ui-compiler, ui-server

fix(server): forward path params to ServiceContext.request (#1757)
  packages/server/src/service/__tests__/context.test.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/context.ts
  packages/server/src/service/route-generator.ts
  packages/server/src/service/types.ts
Due: server

fix(server): address review findings for service ctx.params
  packages/server/src/service/__tests__/context.test.ts
  packages/server/src/service/__tests__/route-generator.test.ts
Due: none

fix(server): forward path params to ServiceContext.request (#1758)
  packages/server/src/service/__tests__/context.test.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/context.ts
  packages/server/src/service/route-generator.ts
  packages/server/src/service/types.ts
Due: server

fix(ci): add concurrency group and job timeouts
  .github/workflows/ci.yml
Due: none

fix(ci): add concurrency group and job timeouts (#1754)
  .github/workflows/ci.yml
Due: none

feat(server): add response() helper and service route generator support #1761
  packages/server/src/index.ts
  packages/server/src/response/__tests__/response-descriptor.test.ts
  packages/server/src/response/index.ts
  packages/server/src/response/response-descriptor.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/route-generator.ts
Due: server

feat(server): entity action support for ResponseDescriptor + type tests #1761
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
  packages/server/src/response/__tests__/response-descriptor.test-d.ts
  packages/server/src/service/types.ts
Due: server

docs(server): add response() helper docs and changeset #1761
  .changeset/custom-response-headers.md
  packages/docs/guides/server/services.mdx
Due: none

refactor(server): address review findings — extract filterProtectedHeaders #1761
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/response/__tests__/response-descriptor.test.ts
  packages/server/src/response/index.ts
  packages/server/src/response/response-descriptor.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/route-generator.ts
Due: server

fix(server): add explicit unique symbol type annotation for RESPONSE_BRAND #1761
  packages/server/src/response/response-descriptor.ts
Due: server

feat(server): custom response headers for service and entity actions (#1764)
  .changeset/custom-response-headers.md
  packages/docs/guides/server/services.mdx
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
  packages/server/src/index.ts
  packages/server/src/response/__tests__/response-descriptor.test-d.ts
  packages/server/src/response/__tests__/response-descriptor.test.ts
  packages/server/src/response/index.ts
  packages/server/src/response/response-descriptor.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/route-generator.ts
  packages/server/src/service/types.ts
Due: server

fix(db,codegen): address review findings — identifier quoting, tests #1756
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/rls-policy-generator.test.ts
  packages/codegen/src/generators/rls-policy-generator.ts
  packages/db/src/client/__tests__/request-scope.test.ts
  packages/db/src/client/request-scope.ts
  packages/db/src/migration/__tests__/rls-differ.test.ts
  packages/db/src/migration/rls-differ.ts
  packages/db/src/migration/rls-sql-generator.ts
Due: codegen, db

feat(codegen): RLS generator outputs structured RlsPolicyInput JSON #1756
  packages/codegen/src/__tests__/generate.test.ts
  packages/codegen/src/generators/__tests__/rls-policy-generator.test.ts
  packages/codegen/src/generators/rls-policy-generator.ts
Due: codegen

feat(db): integrate RLS policies into migrateDev #1756
  packages/db/src/cli/__tests__/migrate-dev-rls.test.ts
  packages/db/src/cli/migrate-dev.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/snapshot.ts
Due: db

chore: add changeset for RLS pipeline #1756
  .changeset/rls-pipeline.md
Due: none
