Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(compiler): skip function defs in computed classification (#992)
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
Due: ui-compiler

refactor(compiler): replace hardcoded registry with framework manifest [#989] (#994)
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/__tests__/reactivity-manifest.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/reactivity-manifest.ts
  packages/ui-compiler/src/types.ts
  packages/ui/reactivity.json
Due: ui-compiler

fix(compiler): unwrap type wrappers in isFunctionDef check [#988] (#996)
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
Due: ui-compiler

fix(compiler): address manifest review issues (#997)
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/__tests__/reactivity-manifest.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/reactivity-manifest.ts
  packages/ui/package.json
Due: ui-compiler

feat(compiler): cross-file reactivity — Layer 1 + Layer 2a (#995)
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/__tests__/reactivity-manifest.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/reactivity-manifest.ts
  packages/ui-compiler/src/types.ts
  packages/ui/package.json
  packages/ui/reactivity.json
  plans/cross-file-reactivity-analysis.md
  plans/reviews/cross-file-reactivity-ben.md
  plans/reviews/cross-file-reactivity-josh.md
  plans/reviews/cross-file-reactivity-pm.md
Due: ui-compiler

docs(compiler): document untestable TypeAssertionExpression path (#1002)
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
Due: none

perf(compiler): skip effect wrapping for static JSX expressions (#1007)
  .changeset/jsx-static-expression-optimization.md
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/__tests__/signal-unwrap.test.ts
  packages/ui-compiler/src/analyzers/__tests__/jsx-analyzer.test.ts
  packages/ui-compiler/src/analyzers/jsx-analyzer.ts
  packages/ui-compiler/src/transformers/__tests__/jsx-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/__tests__/mount-hydration.test.ts
  plans/jsx-static-expression-optimization.md
Due: ui-compiler

docs: design doc for same-type query revalidation [#983] (#998)
  plans/hierarchical-cache-invalidation.md
Due: none

feat(ui-compiler): manifest generator + cross-file import resolver [#990] (#1011)
  bun.lock
  packages/ui-compiler/src/__tests__/manifest-generation-consistency.test.ts
  packages/ui-compiler/src/__tests__/manifest-generator.test.ts
  packages/ui-compiler/src/__tests__/manifest-resolver.test.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/manifest-generator.ts
  packages/ui-compiler/src/manifest-resolver.ts
  packages/ui-server/src/__tests__/diagnostics-collector.test.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/bun-plugin/types.ts
  packages/ui-server/src/debug-logger.ts
  packages/ui-server/src/diagnostics-collector.ts
Due: ui-compiler, ui-server

feat(ui): same-type query revalidation via MutationEventBus [#983] (#1003)
  .changeset/same-type-query-revalidation.md
  packages/fetch/src/types.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
  packages/ui/src/store/__tests__/mutation-event-bus-singleton.test.ts
  packages/ui/src/store/__tests__/mutation-event-bus.test.ts
  packages/ui/src/store/__tests__/optimistic-handler.test.ts
  packages/ui/src/store/index.ts
  packages/ui/src/store/mutation-event-bus-singleton.ts
  packages/ui/src/store/mutation-event-bus.ts
  packages/ui/src/store/optimistic-handler.ts
Due: fetch, ui

docs(auth): client-side access system design (#1012)
  backstage/archive/plans/access-system-client.md
  backstage/archive/plans/access-system.md
  backstage/archive/plans/auth-module-spec.md
  backstage/archive/plans/auth-phase2-spec.md
  plans/unified-auth-system.md
Due: none

feat(auth): dual-token sessions with pluggable stores [#1016] (#1025)
  .changeset/dual-token-sessions.md
  packages/integration-tests/src/__tests__/auth-dual-token.test.ts
  packages/server/src/auth/__tests__/crypto.test.ts
  packages/server/src/auth/__tests__/device-name.test.ts
  packages/server/src/auth/__tests__/dual-token.test.ts
  packages/server/src/auth/__tests__/rate-limit-store.test.ts
  packages/server/src/auth/__tests__/session-management.test.ts
  packages/server/src/auth/__tests__/session-store.test.ts
  packages/server/src/auth/__tests__/token-refresh.test.ts
  packages/server/src/auth/__tests__/types.test-d.ts
  packages/server/src/auth/__tests__/user-store.test.ts
  packages/server/src/auth/cookies.ts
  packages/server/src/auth/crypto.ts
  packages/server/src/auth/device-name.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/jwt.ts
  packages/server/src/auth/password.ts
  packages/server/src/auth/rate-limit-store.ts
  packages/server/src/auth/schema.ts
  packages/server/src/auth/session-store.ts
  packages/server/src/auth/types.ts
  packages/server/src/auth/user-store.ts
  plans/unified-auth-system.md
Due: server

docs: add Claude rule for manual context stable IDs in @vertz/ui [#933] (#1027)
  .claude/rules/context-stable-ids.md
Due: none

docs(auth): switch AccessCheck from getter-backed to ReadonlySignal [#1014] (#1030)
  plans/unified-auth-system.md
Due: none

feat(ui): invalidate(descriptor) — escape-hatch cache invalidation (#1029)
  packages/ui/src/index.ts
  packages/ui/src/query/__tests__/invalidate.test.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/invalidate.ts
  packages/ui/src/query/query.ts
Due: ui

chore: consolidate rules and add agent definitions (#1031)
  .claude/agents/ava.md
  .claude/agents/ben.md
  .claude/agents/josh.md
  .claude/agents/mike.md
  .claude/agents/nora.md
  .claude/rules/biome.md
  .claude/rules/breaking-changes.md
  .claude/rules/build-in-public.md
  .claude/rules/commits.md
  .claude/rules/definition-of-done.md
  .claude/rules/design-and-planning.md
  .claude/rules/design-docs.md
  .claude/rules/policies.md
  .claude/rules/public-api-validation.md
  .claude/rules/semver.md
  .claude/rules/tdd.md
  .claude/rules/ui-components.md
  .claude/rules/workflow.md
  CLAUDE.md
Due: none

feat(auth): OAuth provider support (Google, GitHub, Discord) (#1034)
  .changeset/oauth-providers.md
  packages/errors/src/domain/auth.ts
  packages/errors/src/domain/index.ts
  packages/errors/src/tests/domain/auth.test.ts
  packages/integration-tests/src/__tests__/auth-oauth.test.ts
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/__tests__/crypto.test.ts
  packages/server/src/auth/__tests__/discord.test.ts
  packages/server/src/auth/__tests__/dual-token.test.ts
  packages/server/src/auth/__tests__/github.test.ts
  packages/server/src/auth/__tests__/google.test.ts
  packages/server/src/auth/__tests__/oauth-account-store.test.ts
  packages/server/src/auth/__tests__/oauth-routes.test.ts
  packages/server/src/auth/__tests__/types.test-d.ts
  packages/server/src/auth/__tests__/user-store.test.ts
  packages/server/src/auth/cookies.ts
  packages/server/src/auth/crypto.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/oauth-account-store.ts
  packages/server/src/auth/oauth-schema.ts
  packages/server/src/auth/providers/discord.ts
  packages/server/src/auth/providers/github.ts
  packages/server/src/auth/providers/google.ts
  packages/server/src/auth/providers/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/auth/user-store.ts
  packages/server/src/index.ts
  reviews/oauth-providers/phase-03-adversarial-review.md
Due: errors, server

feat(auth): MFA/TOTP with backup codes and step-up authentication (#1037)
  .changeset/mfa-totp.md
  packages/errors/src/domain/__tests__/mfa-error.test.ts
  packages/errors/src/domain/auth.ts
  packages/errors/src/domain/index.ts
  packages/integration-tests/bunfig.toml
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/auth-mfa.test.ts
  packages/server/bunfig.toml
  packages/server/package.json
  packages/server/src/auth/__tests__/fva.test.ts
  packages/server/src/auth/__tests__/mfa-challenge.test.ts
  packages/server/src/auth/__tests__/mfa-routes.test.ts
  packages/server/src/auth/__tests__/mfa-store.test.ts
  packages/server/src/auth/__tests__/step-up.test.ts
  packages/server/src/auth/__tests__/totp.test.ts
  packages/server/src/auth/cookies.ts
  packages/server/src/auth/fva.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/mfa-store.ts
  packages/server/src/auth/totp.ts
  packages/server/src/auth/types.ts
  packages/server/src/index.ts
  reviews/mfa-totp/phase-01-02-types-totp.md
  reviews/mfa-totp/phase-03-04-routes-challenge.md
  reviews/mfa-totp/phase-05-06-stepup-integration.md
Due: errors, server

feat(auth): resource hierarchy with closure table, role inheritance, and defineAccess() (#1039)
  .changeset/resource-hierarchy.md
  packages/integration-tests/src/__tests__/resource-hierarchy.test-d.ts
  packages/integration-tests/src/__tests__/resource-hierarchy.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/closure-store.test.ts
  packages/server/src/auth/__tests__/define-access.test-d.ts
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/__tests__/role-assignment-store.test.ts
  packages/server/src/auth/__tests__/rules.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/closure-store.ts
  packages/server/src/auth/define-access.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/role-assignment-store.ts
  packages/server/src/auth/rules.ts
  packages/server/src/index.ts
  reviews/resource-hierarchy/phase-06-resource-hierarchy.md
Due: server

feat(ui): deep normalization for EntityStore — cross-entity reactive resolution (#1038)
  .changeset/deep-normalization.md
  packages/codegen/src/generators/__tests__/client-generator.test.ts
  packages/codegen/src/generators/__tests__/relation-manifest-generator.test.ts
  packages/codegen/src/generators/client-generator.ts
  packages/codegen/src/generators/relation-manifest-generator.ts
  packages/codegen/src/types.ts
  packages/ui/src/query/__tests__/query-deep-normalization.test.ts
  packages/ui/src/query/query.ts
  packages/ui/src/store/__tests__/deep-normalization.integration.test.ts
  packages/ui/src/store/__tests__/deep-normalization.test-d.ts
  packages/ui/src/store/__tests__/entity-store.test.ts
  packages/ui/src/store/__tests__/merge.test.ts
  packages/ui/src/store/__tests__/normalize.test.ts
  packages/ui/src/store/__tests__/relation-registry.test.ts
  packages/ui/src/store/__tests__/resolve.test.ts
  packages/ui/src/store/entity-store.ts
  packages/ui/src/store/index.ts
  packages/ui/src/store/merge.ts
  packages/ui/src/store/normalize.ts
  packages/ui/src/store/relation-registry.ts
  packages/ui/src/store/resolve.ts
  plans/reviews/deep-normalization/adversarial-review.md
  plans/reviews/deep-normalization/remaining-gaps.md
Due: codegen, ui

feat(auth): email verification and password reset flows (#1040)
  .changeset/email-verification.md
  .claude/rules/tdd.md
  packages/errors/src/domain/auth.ts
  packages/errors/src/domain/index.ts
  packages/integration-tests/src/__tests__/auth-email-verification.test.ts
  packages/server/src/auth/__tests__/email-verification-routes.test.ts
  packages/server/src/auth/__tests__/email-verification-store.test.ts
  packages/server/src/auth/__tests__/handler-edge-cases.test.ts
  packages/server/src/auth/__tests__/password-reset-routes.test.ts
  packages/server/src/auth/__tests__/password-reset-store.test.ts
  packages/server/src/auth/email-verification-store.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/password-reset-store.ts
  packages/server/src/auth/types.ts
  packages/server/src/auth/user-store.ts
  packages/server/src/index.ts
  reviews/email-verification/phase-05-email-verification.md
Due: errors, server

test(ui,codegen): close remaining deep normalization gaps [#993] (#1041)
  bun.lock
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/index.ts
  packages/codegen/src/ir-adapter.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/ir/types.ts
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/codegen-relation-manifest-eval.test.ts
  packages/ui/src/index.ts
  packages/ui/src/store/__tests__/deep-normalization.integration.test.ts
  packages/ui/src/store/index.ts
  plans/reviews/deep-normalization/remaining-gaps.md
Due: codegen, compiler

fix: update X handle from @viniciusdacal to @vinicius_dacal (#1044)
  README.md
  sites/landing-backup-2026-02-24/index.html
  sites/landing/index.html
Due: none

fix(landing): remove duplicate code section, fix tabs, add Discord flag (#1045)
  sites/landing/index.html
Due: none

feat(auth): access set bootstrap + client-side can() [#1021] (#1046)
  .changeset/access-set-client-can.md
  packages/integration-tests/src/__tests__/auth-access-set.test.ts
  packages/server/src/auth/__tests__/access-set-jwt.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/entity-access.test.ts
  packages/server/src/auth/__tests__/role-assignment-store.test.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/entity-access.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/role-assignment-store.ts
  packages/server/src/auth/types.ts
  packages/server/src/index.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui-server/src/__tests__/ssr-access-set.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-access-set.ts
  packages/ui/bunup.config.ts
  packages/ui/package.json
  packages/ui/reactivity.json
  packages/ui/src/auth/__tests__/access-context.test-d.ts
  packages/ui/src/auth/__tests__/access-context.test.ts
  packages/ui/src/auth/__tests__/access-gate.test.ts
  packages/ui/src/auth/__tests__/create-access-provider.test.ts
  packages/ui/src/auth/access-context.ts
  packages/ui/src/auth/access-gate.ts
  packages/ui/src/auth/access-set-types.ts
  packages/ui/src/auth/create-access-provider.ts
  packages/ui/src/auth/public.ts
  plans/post-implementation-reviews/access-set-client-can.md
  reviews/access-set/phase-7-adversarial-review.md
Due: server, ui, ui-compiler, ui-server

docs: initial Mintlify documentation — guides, API reference, conventions (#1033)
  examples/entity-todo/src/api/env.ts
  examples/entity-todo/src/api/server.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/docs/api-reference/ui/compiler-plugin.mdx
  packages/docs/api-reference/ui/jsx-runtime.mdx
  packages/docs/api-reference/ui/mount.mdx
  packages/docs/api-reference/ui/ssr-handler.mdx
  packages/docs/conventions.mdx
  packages/docs/docs.json
  packages/docs/guides/db/migrations.mdx
  packages/docs/guides/db/overview.mdx
  packages/docs/guides/db/queries.mdx
  packages/docs/guides/db/schema.mdx
  packages/docs/guides/env.mdx
  packages/docs/guides/errors.mdx
  packages/docs/guides/fetch.mdx
  packages/docs/guides/schema.mdx
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/server/entities.mdx
  packages/docs/guides/server/oauth.mdx
  packages/docs/guides/server/overview.mdx
  packages/docs/guides/server/services.mdx
  packages/docs/guides/ui/compiler.mdx
  packages/docs/guides/ui/components.mdx
  packages/docs/guides/ui/data-fetching.mdx
  packages/docs/guides/ui/forms.mdx
  packages/docs/guides/ui/overview.mdx
  packages/docs/guides/ui/reactivity.mdx
  packages/docs/guides/ui/routing.mdx
  packages/docs/guides/ui/ssr.mdx
  packages/docs/guides/ui/styling.mdx
  packages/docs/index.mdx
  packages/docs/installation.mdx
  packages/docs/quickstart.mdx
  packages/vertz/README.md
Due: none

docs: write API reference content and remove internal-only pages (#1055)
  packages/docs/api-reference/fetch/sdk.mdx
  packages/docs/api-reference/ui/compiler-plugin.mdx
  packages/docs/api-reference/ui/context.mdx
  packages/docs/api-reference/ui/css.mdx
  packages/docs/api-reference/ui/form.mdx
  packages/docs/api-reference/ui/jsx-runtime.mdx
  packages/docs/api-reference/ui/query.mdx
  packages/docs/api-reference/ui/reactivity.mdx
  packages/docs/api-reference/ui/router.mdx
  packages/docs/api-reference/ui/signals.mdx
  packages/docs/api-reference/ui/ssr-handler.mdx
  packages/docs/docs.json
Due: none

feat(auth): plans, consumption wallet, and canAndConsume() [#1022] (#1047)
  .changeset/plans-wallet.md
  MAP.md
  packages/docs/docs.json
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/ui/access-control.mdx
  packages/integration-tests/src/__tests__/auth-plans-wallet.test.ts
  packages/integration-tests/src/__tests__/resource-hierarchy.test.ts
  packages/server/README.md
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/billing-period.test.ts
  packages/server/src/auth/__tests__/define-access.test-d.ts
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/__tests__/plan-store.test.ts
  packages/server/src/auth/__tests__/wallet-store.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/billing-period.ts
  packages/server/src/auth/define-access.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/plan-store.ts
  packages/server/src/auth/wallet-store.ts
  packages/server/src/index.ts
  packages/ui/README.md
  packages/ui/src/auth/__tests__/access-context.test.ts
  plans/plans-and-wallet.md
  plans/post-implementation-reviews/plans-wallet.md
  reviews/plans-wallet/phase-08-plans-wallet.md
Due: server

feat(auth): client-side auth session management (#1052)
  .changeset/ui-auth-system.md
  docs/guides/authentication.md
  docs/guides/module-singletons.md
  packages/docs/docs.json
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/ui/access-control.mdx
  packages/docs/guides/ui/auth.mdx
  packages/server/src/auth/index.ts
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui-server/src/__tests__/ssr-session.test.ts
  packages/ui-server/src/ssr-session.ts
  packages/ui/reactivity.json
  packages/ui/src/auth/__tests__/auth-client.test.ts
  packages/ui/src/auth/__tests__/auth-context.test-d.ts
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/__tests__/auth-gate.test.ts
  packages/ui/src/auth/__tests__/auth-types.test.ts
  packages/ui/src/auth/__tests__/token-refresh.test.ts
  packages/ui/src/auth/auth-client.ts
  packages/ui/src/auth/auth-context.ts
  packages/ui/src/auth/auth-gate.ts
  packages/ui/src/auth/auth-types.ts
  packages/ui/src/auth/public.ts
  packages/ui/src/auth/token-refresh.ts
  plans/reviews/ui-auth-system-josh-dx-v2.md
  plans/reviews/ui-auth-system-josh-dx.md
  plans/reviews/ui-auth-system-mike-tech-v2.md
  plans/reviews/ui-auth-system-mike-tech.md
  plans/reviews/ui-auth-system-nora-frontend-v2.md
  plans/reviews/ui-auth-system-nora-frontend.md
  plans/ui-auth-system.md
  reviews/ui-auth-system/phase-01-foundation.md
  reviews/ui-auth-system/phases-02-07-review.md
Due: ui, ui-compiler, ui-server

feat(landing): revamp to full-stack positioning (#1053)
  bun.lock
  package.json
  packages/ui-compiler/src/compiler.ts
  sites/landing/bun-plugin-shim.ts
  sites/landing/bunfig.toml
  sites/landing/index.static.html
  sites/landing/package.json
  sites/landing/public/logo-legacy.png
  sites/landing/public/logo.svg
  sites/landing/public/matheuspoleza.jpg
  sites/landing/public/viniciusdacal.jpg
  sites/landing/scripts/generate-highlights.ts
  sites/landing/src/app.tsx
  sites/landing/src/components/faq.tsx
  sites/landing/src/components/footer.tsx
  sites/landing/src/components/founders.tsx
  sites/landing/src/components/get-started.tsx
  sites/landing/src/components/glue-code.tsx
  sites/landing/src/components/hero.tsx
  sites/landing/src/components/highlighted-code.ts
  sites/landing/src/components/nav.tsx
  sites/landing/src/components/schema-flow.tsx
  sites/landing/src/components/the-stack.tsx
  sites/landing/src/components/token-lines.tsx
  sites/landing/src/components/type-error-demo.tsx
  sites/landing/src/components/vertz-logo.tsx
  sites/landing/src/components/why-vertz.tsx
  sites/landing/src/dev-server.ts
  sites/landing/src/entry-client.ts
  sites/landing/src/styles/globals.ts
  sites/landing/src/styles/theme.ts
  sites/landing/tsconfig.json
Due: ui-compiler

docs: document undocumented auth and access control features (#1061)
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/ui/access-control.mdx
Due: none

refactor(landing): migrate code examples to Shiki tokens (#1058)
  sites/landing/scripts/generate-highlights.ts
  sites/landing/src/components/glue-code.tsx
  sites/landing/src/components/highlighted-code.ts
  sites/landing/src/components/type-error-demo.tsx
Due: none

feat(landing): add production build pipeline, OG images, and deployment docs (#1065)
  bun.lock
  packages/docs/docs.json
  packages/docs/guides/deploy/og-images.mdx
  packages/docs/guides/deploy/static-sites.mdx
  sites/landing/package.json
  sites/landing/public/og.png
  sites/landing/scripts/build.ts
  sites/landing/scripts/generate-og.ts
  sites/landing/wrangler.toml
Due: none

feat(auth): feature flags + reactive access invalidation [#1023] (#1063)
  .changeset/reactive-invalidation.md
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-event-broadcaster.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/flag-store.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-event-broadcaster.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/define-access.ts
  packages/server/src/auth/flag-store.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/index.ts
  packages/ui/src/auth/__tests__/access-event-client.test.ts
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/__tests__/reactive-cascade.test.ts
  packages/ui/src/auth/access-event-client.ts
  packages/ui/src/auth/access-event-handler.ts
  packages/ui/src/auth/access-set-types.ts
  packages/ui/src/auth/auth-context.ts
  packages/ui/src/auth/public.ts
  reviews/reactive-invalidation/phase-09-adversarial.md
Due: server, ui

fix(auth): make all auth store interfaces async for KV/Redis compatibility (#1066)
  .changeset/async-auth-stores.md
  packages/docs/guides/server/auth.mdx
  packages/integration-tests/src/__tests__/auth-access-set.test.ts
  packages/integration-tests/src/__tests__/auth-plans-wallet.test.ts
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/integration-tests/src/__tests__/resource-hierarchy.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-set-jwt.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/closure-store.test.ts
  packages/server/src/auth/__tests__/entity-access.test.ts
  packages/server/src/auth/__tests__/plan-store.test.ts
  packages/server/src/auth/__tests__/rate-limit-store.test.ts
  packages/server/src/auth/__tests__/role-assignment-store.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/closure-store.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/plan-store.ts
  packages/server/src/auth/rate-limit-store.ts
  packages/server/src/auth/role-assignment-store.ts
  packages/server/src/auth/types.ts
Due: server

docs(auth): design doc for DB-backed auth stores [#1059] (#1068)
  plans/db-backed-auth-stores.md
Due: none

docs(auth): entity-centric access redesign design doc (#1069)
  .claude/rules/bdd-acceptance-criteria.md
  .claude/rules/local-phase-workflow.md
  .claude/rules/ticket-system.md
  plans/access-redesign.md
  plans/access-redesign/phase-01-entity-restructuring.md
  plans/access-redesign/phase-02-plans-and-limits.md
  plans/access-redesign/phase-03-overrides-and-advanced-limits.md
  plans/access-redesign/phase-04-versioning-and-grandfathering.md
  plans/access-redesign/phase-05-billing-integration.md
  plans/access-redesign/phase-06-cloud-storage.md
  plans/access-redesign/phase-07-client-side-and-ui.md
  reviews/access-redesign/ava-adversarial-review.md
  reviews/access-redesign/ava-re-review.md
  reviews/access-redesign/ben-adversarial-review.md
  reviews/access-redesign/ben-re-review.md
  reviews/access-redesign/josh-adversarial-review.md
  reviews/access-redesign/josh-re-review.md
  reviews/access-redesign/mike-adversarial-review.md
  reviews/access-redesign/mike-re-review.md
  reviews/access-redesign/nora-adversarial-review.md
  reviews/access-redesign/nora-re-review.md
Due: none

feat(landing): add manifesto page, update entity example, self-host fonts (#1080)
  packages/ui-server/src/bun-dev-server.ts
  sites/landing/index.static.html
  sites/landing/public/fonts/dm-sans-italic-latin.woff2
  sites/landing/public/fonts/dm-sans-latin.woff2
  sites/landing/public/fonts/dm-serif-display-latin.woff2
  sites/landing/public/fonts/jetbrains-mono-latin.woff2
  sites/landing/scripts/build.ts
  sites/landing/scripts/generate-highlights.ts
  sites/landing/src/app.tsx
  sites/landing/src/components/highlighted-code.ts
  sites/landing/src/components/nav.tsx
  sites/landing/src/dev-server.ts
  sites/landing/src/pages/home.tsx
  sites/landing/src/pages/manifesto.tsx
  sites/landing/src/styles/fonts.ts
Due: ui-server

docs(auth): update DB-backed auth stores design for access redesign alignment [#1059] (#1081)
  plans/db-backed-auth-stores.md
Due: none
