Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix: platform agnosticism for runtime packages (#766)
  packages/core/src/context/ctx-builder.ts
  packages/core/src/context/deps-builder.ts
  packages/core/src/env/__tests__/env-validator.test.ts
  packages/core/src/env/env-validator.ts
  packages/core/src/immutability/make-immutable.ts
  packages/core/src/types/env.ts
  packages/db/src/core/db-provider.ts
  packages/db/src/migration/__tests__/integration.test.ts
  packages/db/src/migration/__tests__/runner.test.ts
  packages/db/src/migration/__tests__/snapshot-storage.test.ts
  packages/db/src/migration/auto-migrate.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/runner.ts
  packages/db/src/migration/snapshot-storage.ts
  packages/db/src/migration/storage.ts
  packages/db/src/plugin/__tests__/fingerprint.test.ts
  packages/db/src/plugin/__tests__/integration.test.ts
  packages/db/src/plugin/fingerprint.ts
  packages/db/src/util/__tests__/hash.test.ts
  packages/db/src/util/hash.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/ui/src/component/context.ts
  plans/platform-agnosticism-runtime-audit.md
Due: core, db, server, ui

fix(theme-shadcn): resolve CSS class collision, missing border reset, and card radius (#768)
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/styles/accordion.ts
  packages/theme-shadcn/src/styles/card.ts
  packages/theme-shadcn/src/styles/checkbox.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/form-group.ts
  packages/theme-shadcn/src/styles/input.ts
  packages/theme-shadcn/src/styles/label.ts
  packages/theme-shadcn/src/styles/progress.ts
  packages/theme-shadcn/src/styles/select.ts
  packages/theme-shadcn/src/styles/separator.ts
  packages/theme-shadcn/src/styles/switch.ts
  packages/theme-shadcn/src/styles/tabs.ts
  packages/theme-shadcn/src/styles/tooltip.ts
Due: none

feat(ui): SVG support, Lucide icons, dark mode contrast fixes (#770)
  bun.lock
  examples/task-manager/package.json
  examples/task-manager/src/app.tsx
  examples/task-manager/src/components/icon.tsx
  examples/task-manager/src/components/task-card.tsx
  examples/task-manager/src/components/task-form.tsx
  examples/task-manager/src/pages/settings.tsx
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  examples/task-manager/src/styles/components.ts
  packages/theme-shadcn/src/configure.ts
  packages/ui-server/src/ssr-adapter.ts
  packages/ui/src/dom/__tests__/adapter.test.ts
  packages/ui/src/dom/__tests__/element.test-d.ts
  packages/ui/src/dom/__tests__/svg.test.ts
  packages/ui/src/dom/adapter.ts
  packages/ui/src/dom/dom-adapter.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/dom/index.ts
  packages/ui/src/dom/svg-tags.ts
  packages/ui/src/jsx-runtime.ts
  packages/ui/src/jsx-runtime/__tests__/svg-jsx.test.ts
  packages/ui/src/jsx-runtime/index.ts
  packages/ui/src/mount.ts
  plans/migration-system-architecture.md
Due: ui, ui-server

docs(core,db,server): document platform-agnostic APIs (#769)
  packages/core/README.md
  packages/db/README.md
  packages/server/README.md
Due: none

refactor(ui): remove onCleanup from public API, promote return-callback (#772)
  .claude/rules/ui-components.md
  bun.lock
  examples/entity-todo/src/pages/todo-list.tsx
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  packages/tui/src/__tests__/internals.test.ts
  packages/tui/src/__tests__/persistent-tree.test.ts
  packages/tui/src/index.ts
  packages/ui-canvas/src/canvas-layer.ts
  packages/ui/.api-cheat-sheet.md
  packages/ui/README.md
  packages/ui/src/__tests__/component-model.test.ts
  packages/ui/src/component/__tests__/lifecycle.test.ts
  packages/ui/src/component/lifecycle.ts
  packages/ui/src/index.ts
  packages/ui/src/internals.ts
  packages/ui/src/router/__tests__/router-view.test.ts
Due: ui, ui-canvas

feat(theme-shadcn,ui,ui-compiler): align with shadcn/ui v4 (#773)
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/styles.test.ts
  packages/theme-shadcn/src/__tests__/tokens.test.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/styles/_helpers.ts
  packages/theme-shadcn/src/styles/accordion.ts
  packages/theme-shadcn/src/styles/badge.ts
  packages/theme-shadcn/src/styles/button.ts
  packages/theme-shadcn/src/styles/card.ts
  packages/theme-shadcn/src/styles/checkbox.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/input.ts
  packages/theme-shadcn/src/styles/label.ts
  packages/theme-shadcn/src/styles/progress.ts
  packages/theme-shadcn/src/styles/select.ts
  packages/theme-shadcn/src/styles/switch.ts
  packages/theme-shadcn/src/styles/tabs.ts
  packages/theme-shadcn/src/styles/tooltip.ts
  packages/theme-shadcn/src/tokens/gray.ts
  packages/theme-shadcn/src/tokens/neutral.ts
  packages/theme-shadcn/src/tokens/slate.ts
  packages/theme-shadcn/src/tokens/stone.ts
  packages/theme-shadcn/src/tokens/zinc.ts
  packages/ui-compiler/src/analyzers/__tests__/css-analyzer.test.ts
  packages/ui-compiler/src/analyzers/css-analyzer.ts
  packages/ui-compiler/src/css-extraction/__tests__/css-extraction.test.ts
  packages/ui-compiler/src/css-extraction/extractor.ts
  packages/ui-compiler/src/transformers/__tests__/css-transformer.test.ts
  packages/ui-compiler/src/transformers/css-transformer.ts
  packages/ui/src/css/__tests__/css-raw-declarations.test.ts
  packages/ui/src/css/__tests__/shorthand-coverage.test.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/token-tables.ts
  packages/ui/src/index.ts
Due: ui, ui-compiler

feat(ui): auto-dispose query() via disposal scope (#783)
  .claude/rules/ui-components.md
  examples/entity-todo/src/pages/todo-list.tsx
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: ui

feat: animation primitives — enter/exit transitions & CSS keyframes (#784)
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/styles/_helpers.ts
  packages/theme-shadcn/src/styles/accordion.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/select.ts
  packages/theme-shadcn/src/styles/tooltip.ts
  packages/ui-primitives/src/accordion/__tests__/accordion.test.ts
  packages/ui-primitives/src/accordion/accordion.ts
  packages/ui-primitives/src/combobox/combobox.ts
  packages/ui-primitives/src/dialog/dialog.ts
  packages/ui-primitives/src/menu/menu.ts
  packages/ui-primitives/src/popover/popover.ts
  packages/ui-primitives/src/select/select.ts
  packages/ui-primitives/src/tooltip/tooltip.ts
  packages/ui-primitives/src/utils.ts
  packages/ui-primitives/src/utils/__tests__/animation.test.ts
  packages/ui-primitives/src/utils/__tests__/aria-animated.test.ts
  packages/ui-primitives/src/utils/animation.ts
  packages/ui-primitives/src/utils/aria.ts
  packages/ui/src/css/__tests__/animations.test.ts
  packages/ui/src/css/__tests__/keyframes.test.ts
  packages/ui/src/css/animations.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/keyframes.ts
  packages/ui/src/index.ts
Due: ui, ui-primitives

feat(ui): add Presence component for mount/unmount animations [#787] (#791)
  packages/ui-primitives/src/utils.ts
  packages/ui-primitives/src/utils/aria.ts
  packages/ui/src/component/__tests__/presence.test.ts
  packages/ui/src/component/index.ts
  packages/ui/src/component/presence.ts
  packages/ui/src/dom/__tests__/animation.test.ts
  packages/ui/src/dom/animation.ts
  packages/ui/src/index.ts
  packages/ui/src/internals.ts
Due: ui, ui-primitives

feat(db,cli): unified migration system [#785] (#788)
  bun.lock
  packages/cli/bunup.config.ts
  packages/cli/package.json
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/__tests__/db.test.ts
  packages/cli/src/__tests__/migrate-smart.test.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/load-db-context.test.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/load-db-context.ts
  packages/cli/src/commands/migrate-smart.ts
  packages/db/src/cli/__tests__/baseline.test.ts
  packages/db/src/cli/__tests__/integration.test.ts
  packages/db/src/cli/__tests__/migrate-dev.test.ts
  packages/db/src/cli/__tests__/reset.test.ts
  packages/db/src/cli/__tests__/status.test.ts
  packages/db/src/cli/baseline.ts
  packages/db/src/cli/index.ts
  packages/db/src/cli/migrate-dev.ts
  packages/db/src/cli/reset.ts
  packages/db/src/cli/status.ts
  packages/db/src/index.ts
  packages/db/src/migration/__tests__/introspect.test.ts
  packages/db/src/migration/__tests__/journal.test.ts
  packages/db/src/migration/__tests__/runner.test.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/introspect.ts
  packages/db/src/migration/journal.ts
  packages/db/src/migration/runner.ts
Due: cli, db

feat(ui-compiler): support destructured signal API calls (#790)
  examples/task-manager/src/pages/task-list.tsx
  packages/ui-compiler/src/__tests__/signal-unwrap.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/transformers/__tests__/computed-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
  packages/ui-compiler/src/types.ts
Due: ui-compiler

feat(db,cli): unified migration system with introspection, journal, and drift detection (#792)
  bun.lock
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/load-db-context.test.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/load-db-context.ts
Due: cli

feat(ui): add queryMatch() for exclusive-state pattern matching (#793)
  bun.lock
  examples/entity-todo/package.json
  examples/entity-todo/src/api/client.ts
  examples/entity-todo/src/components/todo-form.tsx
  examples/entity-todo/src/components/todo-item.tsx
  examples/entity-todo/src/pages/todo-list.tsx
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/index.ts
  packages/ui/src/query/__tests__/query-match.test-d.ts
  packages/ui/src/query/__tests__/query-match.test.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/public.ts
  packages/ui/src/query/query-match.ts
Due: cli, ui

feat(theme-shadcn): Textarea, Alert, Toast, AlertDialog + variant completeness (#795)
  packages/theme-shadcn/src/__tests__/components.test.ts
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/styles.test.ts
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/components/alert.ts
  packages/theme-shadcn/src/components/card.ts
  packages/theme-shadcn/src/components/primitives/alert-dialog.ts
  packages/theme-shadcn/src/components/primitives/dropdown-menu.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/components/primitives/popover.ts
  packages/theme-shadcn/src/components/primitives/radio-group.ts
  packages/theme-shadcn/src/components/primitives/slider.ts
  packages/theme-shadcn/src/components/primitives/switch.ts
  packages/theme-shadcn/src/components/primitives/tabs.ts
  packages/theme-shadcn/src/components/primitives/toast.ts
  packages/theme-shadcn/src/components/textarea.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/styles/alert-dialog.ts
  packages/theme-shadcn/src/styles/alert.ts
  packages/theme-shadcn/src/styles/button.ts
  packages/theme-shadcn/src/styles/card.ts
  packages/theme-shadcn/src/styles/dropdown-menu.ts
  packages/theme-shadcn/src/styles/index.ts
  packages/theme-shadcn/src/styles/label.ts
  packages/theme-shadcn/src/styles/popover.ts
  packages/theme-shadcn/src/styles/radio-group.ts
  packages/theme-shadcn/src/styles/select.ts
  packages/theme-shadcn/src/styles/slider.ts
  packages/theme-shadcn/src/styles/switch.ts
  packages/theme-shadcn/src/styles/tabs.ts
  packages/theme-shadcn/src/styles/textarea.ts
  packages/theme-shadcn/src/styles/toast.ts
  packages/ui-primitives/src/menu/__tests__/menu.test.ts
  packages/ui-primitives/src/menu/menu.ts
  packages/ui-primitives/src/select/__tests__/select.test.ts
  packages/ui-primitives/src/select/select.ts
  packages/ui-primitives/src/tabs/__tests__/tabs.test.ts
  packages/ui-primitives/src/tabs/tabs.ts
Due: ui-primitives

feat(codegen): add ClientGenerator for unified createClient() entry point (#797)
  examples/contacts-api/test/codegen.test.ts
  examples/entity-todo/src/__tests__/ssr.test.ts
  examples/entity-todo/src/api/client.ts
  examples/entity-todo/src/api/mock-data.ts
  examples/entity-todo/src/components/todo-form.tsx
  examples/entity-todo/src/components/todo-item.tsx
  examples/entity-todo/src/pages/todo-list.tsx
  examples/entity-todo/src/tests/todo-form.test.ts
  examples/entity-todo/src/tests/todo-list.test.ts
  examples/entity-todo/src/todo-list.test-d.ts
  examples/entity-todo/src/worker.test-d.ts
  examples/entity-todo/test-compiler-plugin.ts
  packages/codegen/src/__tests__/integration.test.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/client-generator.test.ts
  packages/codegen/src/generators/client-generator.ts
  packages/codegen/src/index.ts
  packages/ui/src/form/__tests__/form.test-d.ts
  packages/ui/src/form/__tests__/validation.test.ts
  packages/ui/src/form/form.ts
Due: codegen, ui

feat(theme-shadcn): complete component coverage and fix review findings (#798)
  packages/cli/src/commands/load-db-context.ts
  packages/theme-shadcn/src/__tests__/avatar.test.ts
  packages/theme-shadcn/src/__tests__/components.test.ts
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/sheet.test.ts
  packages/theme-shadcn/src/__tests__/skeleton.test.ts
  packages/theme-shadcn/src/__tests__/styles.test.ts
  packages/theme-shadcn/src/__tests__/table.test.ts
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/components/avatar.ts
  packages/theme-shadcn/src/components/index.ts
  packages/theme-shadcn/src/components/primitives/alert-dialog.ts
  packages/theme-shadcn/src/components/primitives/dropdown-menu.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/components/primitives/select.ts
  packages/theme-shadcn/src/components/primitives/sheet.ts
  packages/theme-shadcn/src/components/primitives/slider.ts
  packages/theme-shadcn/src/components/primitives/switch.ts
  packages/theme-shadcn/src/components/skeleton.ts
  packages/theme-shadcn/src/components/table.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/styles/alert.ts
  packages/theme-shadcn/src/styles/avatar.ts
  packages/theme-shadcn/src/styles/index.ts
  packages/theme-shadcn/src/styles/sheet.ts
  packages/theme-shadcn/src/styles/skeleton.ts
  packages/theme-shadcn/src/styles/slider.ts
  packages/theme-shadcn/src/styles/table.ts
  packages/ui-primitives/src/menu/__tests__/menu.test.ts
  packages/ui-primitives/src/menu/menu.ts
  packages/ui/src/css/__tests__/animations.test.ts
  packages/ui/src/css/animations.ts
  packages/ui/src/css/index.ts
  packages/ui/src/index.ts
Due: cli, ui, ui-primitives

fix(entity-todo): add missing dev server config and document setup (#799)
  docs/fullstack-app-setup.md
  examples/contacts-api/test/api.test.ts
  examples/entity-todo/bun-plugin-shim.ts
  examples/entity-todo/bunfig.toml
  examples/entity-todo/index.html
  examples/entity-todo/package.json
  examples/entity-todo/src/__tests__/api.test.ts
  examples/entity-todo/src/api/client.ts
  examples/entity-todo/src/api/mock-data.ts
  examples/entity-todo/src/components/todo-form.tsx
  examples/entity-todo/src/components/todo-item.tsx
  examples/entity-todo/src/entry-client.ts
  examples/entity-todo/src/pages/todo-list.tsx
  examples/task-manager/src/api/mock-data.ts
  examples/task-manager/src/lib/types.ts
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/client-generator.test.ts
  packages/codegen/src/generators/client-generator.ts
  packages/codegen/src/index.ts
  packages/fetch/src/descriptor.test-d.ts
  packages/fetch/src/descriptor.test.ts
  packages/fetch/src/descriptor.ts
  packages/integration-tests/src/__tests__/entity-walkthrough.test.ts
  packages/integration-tests/src/__tests__/form-walkthrough.test.ts
  packages/integration-tests/src/__tests__/sdk-schema-integration.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/route-generator.ts
  packages/ui/src/__tests__/form-integration.test.ts
  packages/ui/src/form/__tests__/form.test-d.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/form.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: codegen, fetch, server, ui

feat(server): type-safe entity injection (#801)
  packages/server/src/entity/__tests__/context.test-d.ts
  packages/server/src/entity/__tests__/inject.test-d.ts
  packages/server/src/entity/__tests__/inject.test.ts
  packages/server/src/entity/entity-registry.ts
  packages/server/src/entity/entity.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
  packages/server/src/index.ts
Due: server

fix(db): clean up stale comments and deduplicate annotation type utility (#804)
  packages/db/src/query/helpers.ts
  packages/db/src/schema/__tests__/annotations.test-d.ts
  packages/db/src/schema/__tests__/model.test-d.ts
  packages/db/src/schema/__tests__/table.test-d.ts
  packages/db/src/schema/inference.ts
  packages/db/src/schema/table.ts
Due: db

docs(rules): enforce declarative-only UI outside primitives (#805)
  .claude/rules/ui-components.md
Due: none

fix(examples): resolve typecheck failures in task-api, component-catalog, and entity-todo (#807)
  examples/component-catalog/src/demos/dialog.tsx
  examples/component-catalog/src/demos/index.ts
  examples/component-catalog/src/demos/label.tsx
  examples/component-catalog/src/demos/popover.tsx
  examples/component-catalog/src/demos/radio-group.tsx
  examples/component-catalog/src/demos/select.tsx
  examples/component-catalog/src/demos/sheet.tsx
  examples/component-catalog/src/router.ts
  examples/entity-todo/src/__tests__/api.test.ts
  examples/task-api/src/modules/tasks/task.service.ts
  examples/task-api/src/modules/users/user.service.ts
  examples/task-api/src/seed.ts
Due: none

chore(db,cli): remove legacy domain codegen (#808)
  .changeset/remove-legacy-domain-codegen.md
  bun.lock
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/domain-gen.ts
  packages/cli/src/pipeline/types.ts
  packages/cli/src/pipeline/watcher.ts
  packages/db/src/codegen/__tests__/cli.test.ts
  packages/db/src/codegen/__tests__/client-gen.test.ts
  packages/db/src/codegen/__tests__/type-gen.test.ts
  packages/db/src/codegen/client-gen.ts
  packages/db/src/codegen/index.ts
  packages/db/src/codegen/type-gen.ts
  packages/db/src/domain.ts
  packages/db/src/index.ts
Due: cli, db

fix(theme-shadcn): portal floating content to body for Select, DropdownMenu, Popover, Tooltip (#809)
  bun.lock
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/components/button.ts
  packages/theme-shadcn/src/components/primitives/context-menu.ts
  packages/theme-shadcn/src/components/primitives/dropdown-menu.ts
  packages/theme-shadcn/src/components/primitives/hover-card.ts
  packages/theme-shadcn/src/components/primitives/popover.ts
  packages/theme-shadcn/src/components/primitives/radio-group.ts
  packages/theme-shadcn/src/components/primitives/select.ts
  packages/theme-shadcn/src/components/primitives/sheet.ts
  packages/theme-shadcn/src/components/primitives/tooltip.ts
  packages/theme-shadcn/src/styles/button.ts
  packages/theme-shadcn/src/styles/card.ts
  packages/theme-shadcn/src/styles/context-menu.ts
  packages/theme-shadcn/src/styles/dropdown-menu.ts
  packages/theme-shadcn/src/styles/menubar.ts
  packages/theme-shadcn/src/styles/select.ts
  packages/theme-shadcn/src/styles/sheet.ts
  packages/theme-shadcn/src/styles/slider.ts
  packages/theme-shadcn/src/styles/tooltip.ts
  packages/ui-primitives/package.json
  packages/ui-primitives/src/__tests__/integration.test.ts
  packages/ui-primitives/src/context-menu/context-menu.ts
  packages/ui-primitives/src/hover-card/hover-card.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/menu/__tests__/menu.test.ts
  packages/ui-primitives/src/menu/menu.ts
  packages/ui-primitives/src/menubar/menubar.ts
  packages/ui-primitives/src/popover/popover.ts
  packages/ui-primitives/src/select/__tests__/select.test.ts
  packages/ui-primitives/src/select/select.ts
  packages/ui-primitives/src/slider/slider.ts
  packages/ui-primitives/src/tooltip/tooltip.ts
  packages/ui-primitives/src/utils.ts
  packages/ui-primitives/src/utils/__tests__/dismiss.test.ts
  packages/ui-primitives/src/utils/__tests__/floating.test.ts
  packages/ui-primitives/src/utils/dismiss.ts
  packages/ui-primitives/src/utils/floating.ts
Due: ui-primitives

Entity-todo shadcn theme + codegen Result type fix (#810)
  bun.lock
  examples/entity-todo/package.json
  examples/entity-todo/src/__tests__/ssr.test.ts
  examples/entity-todo/src/app.tsx
  examples/entity-todo/src/components/todo-form.tsx
  examples/entity-todo/src/components/todo-item.tsx
  examples/entity-todo/src/entry-client.ts
  examples/entity-todo/src/lib/settings-context.ts
  examples/entity-todo/src/pages/todo-list.tsx
  examples/entity-todo/src/styles/components.ts
  examples/entity-todo/src/styles/global.ts
  examples/entity-todo/src/styles/theme.ts
  examples/entity-todo/src/tests/todo-list.test.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/ir/__tests__/entity-route-injector.test.ts
  packages/compiler/src/ir/entity-route-injector.ts
  packages/fetch/src/client.ts
  packages/fetch/src/index.ts
  packages/fetch/src/types.ts
  packages/theme-shadcn/src/styles/button.ts
Due: codegen, compiler, fetch

feat(entity-todo): shadcn theme, dark mode, Cloudflare SSR bug fixes (#820)
  packages/cloudflare/tests/handler.test.ts
  packages/fetch/src/client.test.ts
  packages/fetch/src/client.ts
  packages/ui/src/__tests__/hydration-e2e.test.ts
  packages/ui/src/dom/conditional.ts
Due: fetch, ui

feat(ui,compiler): context signal auto-unwrap (#821)
  examples/entity-todo/src/app.tsx
  examples/entity-todo/src/lib/settings-context.ts
  examples/task-manager/src/app.tsx
  examples/task-manager/src/lib/settings-context.ts
  examples/task-manager/src/pages/settings.tsx
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/__tests__/signal-api-registry.test.ts
  packages/ui-compiler/src/analyzers/__tests__/jsx-analyzer.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/jsx-analyzer.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui-compiler/src/types.ts
  packages/ui/src/component/__tests__/context.test-d.ts
  packages/ui/src/component/__tests__/context.test.ts
  packages/ui/src/component/context.ts
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/router-context.test.ts
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/__tests__/router.test-d.ts
  packages/ui/src/router/router-context.ts
  packages/ui/src/runtime/signal-types.ts
  plans/context-signal-auto-unwrap.md
Due: ui, ui-compiler

feat(ui): extend RouterView to render nested layouts via matched chain + OutletContext (#823)
  .changeset/nested-routerview-layouts.md
  bun.lock
  examples/task-manager/src/router.ts
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/nested-routerview-walkthrough.test.ts
  packages/ui/src/__tests__/router-integration.test.ts
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/outlet.test.ts
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/index.ts
  packages/ui/src/router/outlet.ts
  packages/ui/src/router/public.ts
  packages/ui/src/router/router-view.ts
  packages/vertz/src/router.ts
  plans/nested-routerview-layouts.md
Due: ui

fix(db): make @vertz/db main entry platform-agnostic (#822)
  examples/entity-todo/docs/cloudflare-deployment.md
  examples/entity-todo/package.json
  examples/entity-todo/scripts/deploy.sh
  examples/entity-todo/src/worker.ts
  examples/entity-todo/wrangler.toml
  packages/cli/src/commands/load-db-context.ts
  packages/db/bunup.config.ts
  packages/db/src/adapters/index.ts
  packages/db/src/client/database.ts
  packages/db/src/index.ts
  packages/db/src/internals.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/package.json
Due: cli, db, ui-server

feat(compiler,codegen,server): expand EntityActionIR with full HTTP semantics [#656] (#825)
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/generators/__tests__/entity-schema-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-types-generator.test.ts
  packages/codegen/src/generators/entity-schema-generator.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/codegen/src/generators/entity-types-generator.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/errors.ts
  packages/compiler/src/ir/__tests__/entity-route-injector.test.ts
  packages/compiler/src/ir/entity-route-injector.ts
  packages/compiler/src/ir/types.ts
  packages/server/src/entity/__tests__/action-pipeline.test.ts
  packages/server/src/entity/__tests__/entity.test-d.ts
  packages/server/src/entity/__tests__/entity.test.ts
  packages/server/src/entity/__tests__/inject.test-d.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
Due: codegen, compiler, server

feat(ui): add revalidating state to query() and queryMatch() (#824)
  examples/entity-todo/src/components/todo-item.tsx
  examples/entity-todo/src/entry-client.ts
  examples/entity-todo/src/pages/todo-list.tsx
  examples/entity-todo/src/styles/components.ts
  packages/ui/src/query/__tests__/query-match.test-d.ts
  packages/ui/src/query/__tests__/query-match.test.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query-match.ts
  packages/ui/src/query/query.ts
Due: ui

feat: add files (#827)
  packages/theme-shadcn/src/components/primitives/accordion.ts
  packages/theme-shadcn/src/components/primitives/alert-dialog.ts
  packages/theme-shadcn/src/components/primitives/dialog.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/styles/accordion.ts
  packages/theme-shadcn/src/styles/alert.ts
  packages/theme-shadcn/src/styles/checkbox.ts
  packages/theme-shadcn/src/styles/radio-group.ts
  packages/theme-shadcn/src/styles/separator.ts
  packages/theme-shadcn/src/styles/switch.ts
Due: none

fix(ui): __child() reactive insert CSR re-render during hydration (#831)
  .changeset/child-hydration-csr-rerender.md
  bun.lock
  examples/entity-todo/migrations/0001_fix-column-casing.sql
  examples/entity-todo/package.json
  examples/entity-todo/src/components/todo-form.tsx
  examples/entity-todo/src/components/todo-item.tsx
  examples/entity-todo/src/entry-client.ts
  examples/entity-todo/src/pages/todo-list.tsx
  examples/entity-todo/src/styles/components.ts
  examples/entity-todo/vertz.config.ts
  packages/cli/bunup.config.ts
  packages/cloudflare/bunup.config.ts
  packages/cloudflare/src/handler.ts
  packages/theme-shadcn/src/configure.ts
  packages/ui/src/css/__tests__/css.test.ts
  packages/ui/src/css/__tests__/shorthand-coverage.test.ts
  packages/ui/src/css/__tests__/token-tables.test.ts
  packages/ui/src/css/class-generator.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/token-tables.ts
  packages/ui/src/dom/__tests__/hydration-element.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/form/__tests__/validation.test.ts
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: cloudflare, ui

feat(ui-primitives): add DropdownMenu primitive [#815] (#832)
  packages/ui-primitives/src/dropdown-menu/__tests__/dropdown-menu.test.ts
  packages/ui-primitives/src/dropdown-menu/dropdown-menu.ts
  packages/ui-primitives/src/index.ts
Due: ui-primitives

feat(ui-server): unified SSR+HMR dev server (#833)
  examples/entity-todo/src/dev-server.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/cli/src/utils/__tests__/paths.test.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
  poc/ssr-hmr/README.md
  poc/ssr-hmr/client.tsx
  poc/ssr-hmr/hmr-shell.html
  poc/ssr-hmr/server.ts
  poc/ssr-hmr/test-hmr.mjs
Due: cli, ui-server

test(ui-server): add unit and integration tests for bun-dev-server (#834)
  examples/entity-todo/src/dev-server.ts
  packages/db/src/__tests__/sqlite-id-generation.test.ts
  packages/db/src/adapters/sql-utils.ts
  packages/ui-server/src/__tests__/bun-dev-server.integration.test.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/vitest.config.ts
Due: db, ui-server

refactor(entity-todo): restructure to api/ convention (#836)
  examples/entity-todo/src/__tests__/api.test.ts
  examples/entity-todo/src/api/db-d1.ts
  examples/entity-todo/src/api/db.ts
  examples/entity-todo/src/api/entities/todos/todos.entity.ts
  examples/entity-todo/src/api/schema.ts
  examples/entity-todo/src/api/server.ts
  examples/entity-todo/src/dev-server.ts
  examples/entity-todo/src/worker.ts
  examples/entity-todo/vertz.config.ts
  packages/cloudflare/src/handler.ts
Due: cloudflare

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
