Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(ui-compiler): exclude signal API vars from computed classification (#909)
  .changeset/fix-signal-api-computed.md
  packages/ui-compiler/src/__tests__/compiler.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
Due: ui-compiler

feat(ui-compiler): distinguish reactive reads from stable closure references [#907] (#913)
  .changeset/stable-closure-refs.md
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
Due: ui-compiler

fix(ui-server): restore index.html on unclean process exit [#914] (#915)
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

feat: remove index.html from framework — generate HTML programmatically [#916] (#918)
  .changeset/remove-index-html.md
  examples/component-catalog/index.html
  examples/entity-todo/index.html
  examples/task-manager/index.html
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: cli, ui-server

feat(ui-server): surface browser runtime errors in terminal (#917)
  .changeset/hmr-fast-refresh-fixes.md
  examples/task-manager/index.html
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/__tests__/diagnostics-collector.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/diagnostics-collector.ts
Due: ui-server

fix(ui-server): correct source map line offset in Bun plugin [#912] (#919)
  .changeset/fix-sourcemap-offset.md
  packages/ui-server/src/bun-plugin/__tests__/sourcemap-offset.test.ts
  packages/ui-server/src/bun-plugin/plugin.ts
Due: ui-server

fix(compiler): classify signal API vars passed as function args as reactive (#920)
  .changeset/querymatch-signal-api-reactivity.md
  packages/ui-compiler/src/analyzers/__tests__/jsx-analyzer.test.ts
  packages/ui-compiler/src/analyzers/jsx-analyzer.ts
Due: ui-compiler

test: add compiler integration + entity-todo e2e tests for queryMatch reactivity (#921)
  bun.lock
  examples/entity-todo/e2e/todo-app.spec.ts
  examples/entity-todo/package.json
  examples/entity-todo/playwright.config.ts
  packages/ui-compiler/src/__tests__/integration.test.ts
Due: none

chore: complete vitest-to-bun:test migration for core, db, schema (#924)
  bun.lock
  packages/core/package.json
  packages/core/src/app/__tests__/bun-adapter.test.ts
  packages/core/vitest.config.ts
  packages/db/package.json
  packages/db/src/__tests__/_type-helpers.ts
  packages/db/src/__tests__/column-metadata.test-d.ts
  packages/db/src/__tests__/database-client-types.test-d.ts
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/__tests__/type-errors.test-d.ts
  packages/db/src/schema/__tests__/annotations.test-d.ts
  packages/db/src/schema/__tests__/column.test-d.ts
  packages/db/src/schema/__tests__/inference.test-d.ts
  packages/db/src/schema/__tests__/model.test-d.ts
  packages/db/src/schema/__tests__/registry.test-d.ts
  packages/db/src/schema/__tests__/relation.test-d.ts
  packages/db/src/schema/__tests__/table.test-d.ts
  packages/db/src/schema/table.ts
  packages/db/tsconfig.typecheck.json
  packages/db/vitest.config.ts
  packages/schema/package.json
  packages/schema/src/__tests__/_type-helpers.ts
  packages/schema/src/__tests__/schema-types.test-d.ts
  packages/schema/src/schemas/__tests__/composite-types.test-d.ts
  packages/schema/src/schemas/__tests__/from-db-enum.test-d.ts
  packages/schema/src/schemas/__tests__/object-types.test-d.ts
  packages/schema/src/schemas/formats/__tests__/format-string-methods.test-d.ts
  packages/schema/src/utils/__tests__/infer-types.test-d.ts
  packages/schema/tsconfig.typecheck.json
  packages/schema/vitest.config.ts
Due: db, schema

fix(ui-server): fix double-nesting signal collection in Fast Refresh [#721] (#928)
  packages/ui-server/src/__tests__/fast-refresh-runtime.test.ts
  packages/ui-server/src/bun-plugin/fast-refresh-runtime.ts
Due: ui-server

feat(ui): add ListTransition component & fix __list reactive proxy (#926)
  .changeset/list-transition.md
  .changeset/reactive-by-default-jsx.md
  examples/entity-todo/src/pages/todo-list.tsx
  examples/task-manager/e2e/screenshots/fix-01-before-dialog.png
  examples/task-manager/e2e/screenshots/fix-02-dialog-open.png
  examples/task-manager/e2e/screenshots/fix-03-dialog-closed.png
  examples/task-manager/e2e/screenshots/fix-04-tabs-details.png
  examples/task-manager/e2e/screenshots/fix-05-tabs-activity.png
  examples/task-manager/src/pages/task-detail.tsx
  packages/create-vertz-app/src/templates/index.ts
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/__tests__/signal-unwrap.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/__tests__/conditional-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/jsx-children-thunk.test.ts
  packages/ui-compiler/src/transformers/__tests__/jsx-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/component/__tests__/list-transition.test.ts
  packages/ui/src/component/list-transition.ts
  packages/ui/src/dom/__tests__/list-transition.test.ts
  packages/ui/src/dom/list-transition.ts
  packages/ui/src/dom/list.ts
  packages/ui/src/index.ts
  packages/ui/src/query/__tests__/query-match.test.ts
  packages/ui/src/query/query-match.ts
Due: ui, ui-compiler

fix(changeset): use patch instead of minor for remove-index-html (#929)
  .changeset/remove-index-html.md
Due: none

feat(icons): add @vertz/icons — tree-shakeable Lucide icon components (#930)
  .changeset/add-icons-package.md
  bun.lock
  examples/task-manager/package.json
  examples/task-manager/src/app.tsx
  examples/task-manager/src/components/icon.tsx
  examples/task-manager/src/pages/settings.tsx
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  packages/icons/bunfig.toml
  packages/icons/bunup.config.ts
  packages/icons/happydom.ts
  packages/icons/package.json
  packages/icons/scripts/__tests__/generate.test.ts
  packages/icons/scripts/generate.ts
  packages/icons/src/__tests__/render-icon.test.ts
  packages/icons/src/generated-icons.ts
  packages/icons/src/index.ts
  packages/icons/src/render-icon.ts
  packages/icons/src/types.ts
  packages/icons/tsconfig.json
  tests/tree-shaking/tree-shaking.test.ts
Due: none

feat(hmr): name-based signal state preservation [#721] (#925)
  packages/ui-compiler/src/__tests__/compiler.test.ts
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
  packages/ui-server/src/__tests__/fast-refresh-runtime.test.ts
  packages/ui-server/src/bun-plugin/fast-refresh-codegen.ts
  packages/ui-server/src/bun-plugin/fast-refresh-runtime.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui/src/__tests__/mount.test.ts
  packages/ui/src/mount.ts
  packages/ui/src/runtime/__tests__/signal.test.ts
  packages/ui/src/runtime/signal.ts
Due: ui, ui-compiler, ui-server

fix(scaffold): fix tsconfig, ListTransition types, and QUICKSTART.md (#934)
  QUICKSTART.md
  packages/create-vertz-app/src/templates/index.ts
  packages/ui/src/component/list-transition.ts
  packages/ui/src/dom/animation.ts
  packages/ui/src/dom/list-transition.ts
  packages/ui/src/jsx-runtime/index.ts
  packages/ui/src/mount.ts
Due: ui

chore: align @vertz/icons and task-manager versions to 0.2.11 (#936)
  examples/task-manager/package.json
  packages/icons/package.json
Due: none

fix(hmr): stable context IDs and nested conditional duplication (#937)
  .changeset/fix-nested-conditional-duplication.md
  lefthook.yml
  packages/ui-server/src/bun-plugin/fast-refresh-runtime.ts
  packages/ui/src/dialog/dialog-stack.ts
  packages/ui/src/dom/__tests__/conditional.test.ts
  packages/ui/src/dom/conditional.ts
  packages/ui/src/router/outlet.ts
  packages/ui/src/router/router-context.ts
Due: ui, ui-server

chore: add @vertz/icons and @vertz/cli-runtime to changeset fixed group [#721] (#939)
  .changeset/config.json
Due: none

fix(ui): narrow ListTransition/Presence return type from Node to DocumentFragment [#940] (#942)
  packages/ui/src/component/list-transition.ts
  packages/ui/src/component/presence.ts
Due: ui

feat(cli): wire auto-migrate in dev server pipeline (#959)
  .changeset/auto-migrate-dev-server.md
  bun.lock
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/__tests__/load-db-context.test.ts
  packages/cli/src/commands/load-db-context.ts
  packages/cli/src/pipeline/__tests__/orchestrator.test.ts
  packages/cli/src/pipeline/__tests__/watcher.test.ts
  packages/cli/src/pipeline/orchestrator.ts
  packages/cli/src/pipeline/types.ts
  packages/cli/src/pipeline/watcher.ts
  packages/db/src/internals.ts
  plans/auto-migrate-dev-server.md
Due: cli, db

feat(vertz): add vertz/ui-server subpath export to meta package [#948] (#961)
  .changeset/ui-server-subpath-export.md
  docs/guides/bun-dev-server.md
  docs/guides/ssr-hydration.md
  packages/vertz/package.json
  packages/vertz/src/ui-server.ts
  plans/api-cheat-sheet-current.md
Due: none

feat: automatic optimistic updates for entity mutations (#950)
  .changeset/automatic-optimistic-updates.md
  examples/entity-todo/e2e/todo-app.spec.ts
  examples/entity-todo/src/components/todo-item.tsx
  examples/entity-todo/src/pages/todo-list.tsx
  packages/codegen/src/generators/__tests__/client-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/client-generator.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/fetch/src/descriptor.test.ts
  packages/fetch/src/descriptor.ts
  packages/fetch/src/index.ts
  packages/fetch/src/types.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/index.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
  packages/ui/src/store/__tests__/entity-store-singleton.test.ts
  packages/ui/src/store/__tests__/entity-store.test.ts
  packages/ui/src/store/__tests__/optimistic-handler.test.ts
  packages/ui/src/store/__tests__/query-envelope-store.test.ts
  packages/ui/src/store/__tests__/query-result-index.test.ts
  packages/ui/src/store/entity-store-singleton.ts
  packages/ui/src/store/entity-store.ts
  packages/ui/src/store/index.ts
  packages/ui/src/store/optimistic-handler.ts
  packages/ui/src/store/query-envelope-store.ts
  packages/ui/src/store/query-result-index.ts
Due: codegen, fetch, ui, ui-server

refactor(ui): remove selector param from mount() — always #app (#962)
  benchmarks/generate-app.mjs
  docs/fullstack-app-setup.md
  docs/guides/bun-dev-server.md
  examples/component-catalog/src/entry-client.ts
  examples/entity-todo/src/entry-client.ts
  examples/task-manager/src/entry-client.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/ui/README.md
  packages/ui/src/__tests__/hydration-e2e.test.ts
  packages/ui/src/__tests__/mount-hydration.test.ts
  packages/ui/src/__tests__/mount.test-d.ts
  packages/ui/src/__tests__/mount.test.ts
  packages/ui/src/hydrate/ARCHITECTURE.md
  packages/ui/src/mount.ts
  plans/hydration-jsx-ordering.md
Due: ui

refactor(server): rename action() to service() [#952] (#963)
  examples/entity-todo/src/__tests__/api.test.ts
  examples/entity-todo/src/api/actions/webhooks/webhooks.service.ts
  examples/entity-todo/src/api/server.ts
  packages/integration-tests/src/__tests__/service-walkthrough.test.ts
  packages/server/src/action/index.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/types.ts
  packages/server/src/index.ts
  packages/server/src/service/__tests__/context.test.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/__tests__/service.test-d.ts
  packages/server/src/service/__tests__/service.test.ts
  packages/server/src/service/context.ts
  packages/server/src/service/index.ts
  packages/server/src/service/route-generator.ts
  packages/server/src/service/service.ts
  packages/server/src/service/types.ts
Due: server

feat(cli): add `vertz start` production server command [#941] (#944)
  .changeset/start-command.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/start.test.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/index.ts
  packages/create-vertz-app/src/templates/index.ts
Due: cli

fix(server): validate entity models registered in createDb() (#967)
  .changeset/validate-entity-model-registration.md
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
Due: server

feat(compiler): auto-reverse destructured component props [#965] (#968)
  examples/entity-todo/src/components/todo-item.tsx
  packages/ui-compiler/src/__tests__/compiler.test.ts
  packages/ui-compiler/src/analyzers/component-analyzer.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/__tests__/props-destructuring-transformer.test.ts
  packages/ui-compiler/src/transformers/props-destructuring-transformer.ts
  packages/ui-compiler/src/types.ts
Due: ui-compiler

feat(router): schema-based route param parsing and validation [#945] (#970)
  .changeset/route-param-schemas.md
  packages/integration-tests/src/__tests__/route-param-schema-walkthrough.test-d.ts
  packages/integration-tests/src/__tests__/route-param-schema-walkthrough.test.ts
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/define-routes.test.ts
  packages/ui/src/router/__tests__/param-schema.test-d.ts
  packages/ui/src/router/__tests__/router-context.test.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/index.ts
  packages/ui/src/router/public.ts
  packages/ui/src/router/router-context.ts
  plans/route-param-schemas.md
Due: ui

refactor(db): derive FK constraints from relations [#954] (#975)
  packages/cli/src/commands/__tests__/load-db-context.test.ts
  packages/cli/src/commands/load-db-context.ts
  packages/db/src/__tests__/database-client-types.test-d.ts
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/__tests__/e2e.test.ts
  packages/db/src/__tests__/postgres-integration.test.ts
  packages/db/src/__tests__/prisma-style-api.test.ts
  packages/db/src/__tests__/type-errors.test-d.ts
  packages/db/src/migration/__tests__/integration.test.ts
  packages/db/src/migration/__tests__/snapshot.test.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/query/__tests__/crud.test.ts
  packages/db/src/query/__tests__/relation-loader.test.ts
  packages/db/src/schema/__tests__/column.test.ts
  packages/db/src/schema/__tests__/inference.test-d.ts
  packages/db/src/schema/__tests__/registry.test-d.ts
  packages/db/src/schema/__tests__/registry.test.ts
  packages/db/src/schema/__tests__/relation.test-d.ts
  packages/db/src/schema/__tests__/relation.test.ts
  packages/db/src/schema/column.ts
Due: cli, db

feat(db): support index types and dialect validation (#974)
  packages/cli/src/commands/__tests__/start.test.ts
  packages/cli/src/commands/start.ts
  packages/db/README.md
  packages/db/src/adapters/__tests__/sql-utils.test.ts
  packages/db/src/adapters/sql-utils.ts
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/migration/__tests__/differ.test.ts
  packages/db/src/migration/__tests__/introspect.test.ts
  packages/db/src/migration/__tests__/snapshot.test.ts
  packages/db/src/migration/__tests__/sql-generator-dialect.test.ts
  packages/db/src/migration/__tests__/sql-generator.test.ts
  packages/db/src/migration/__tests__/validate-indexes.test.ts
  packages/db/src/migration/differ.ts
  packages/db/src/migration/introspect.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/migration/sql-generator.ts
  packages/db/src/migration/validate-indexes.ts
  packages/db/src/schema/__tests__/table.test.ts
  packages/db/src/schema/table.ts
Due: cli, db

fix(compiler): classify component props as reactive sources [#964] (#973)
  packages/ui-compiler/src/__tests__/compiler.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
Due: ui-compiler

fix(db): persist index name in schema snapshot [#977] (#980)
  packages/db/src/migration/__tests__/snapshot.test.ts
  packages/db/src/migration/snapshot.ts
Due: db

fix(ui, component-catalog): widen ListTransition children type to Node (#981)
  .claude/commands/full-test.md
  examples/component-catalog/src/demos/index.ts
  examples/component-catalog/src/router.ts
  packages/ui/src/component/list-transition.ts
  packages/ui/src/dom/list-transition.ts
Due: ui

fix(db): use custom index name in DROP/CREATE INDEX SQL (#982)
  packages/db/src/migration/__tests__/differ.test.ts
  packages/db/src/migration/__tests__/sql-generator.test.ts
  packages/db/src/migration/differ.ts
  packages/db/src/migration/sql-generator.ts
Due: db

feat(compiler): validate entity names match createDb() model registry (#984)
  packages/compiler/src/__tests__/compiler.test.ts
  packages/compiler/src/__tests__/incremental.test.ts
  packages/compiler/src/analyzers/__tests__/database-analyzer.test.ts
  packages/compiler/src/analyzers/database-analyzer.ts
  packages/compiler/src/compiler.ts
  packages/compiler/src/errors.ts
  packages/compiler/src/index.ts
  packages/compiler/src/ir/builder.ts
  packages/compiler/src/ir/types.ts
  packages/compiler/src/validators/completeness-validator.ts
Due: compiler

docs(db): add typed views & semantic layer design plan [#985] (#986)
  plans/typed-views-semantic-layer.md
Due: none

plan: cross-file reactivity analysis design doc (#987)
  plans/cross-file-reactivity-analysis.md
  plans/reviews/cross-file-reactivity-ben.md
  plans/reviews/cross-file-reactivity-josh.md
  plans/reviews/cross-file-reactivity-pm.md
Due: none
