Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(ui-server): address remaining review findings — comments and reuseExistingServer
  packages/ui-server/e2e/hmr.spec.ts
  packages/ui-server/playwright.config.ts
Due: none

test(ui-server): add E2E Playwright tests for HMR behavior #1851
  bun.lock
  packages/ui-server/e2e/fixture/bun-plugin-shim.ts
  packages/ui-server/e2e/fixture/bunfig.toml
  packages/ui-server/e2e/fixture/dev-server.ts
  packages/ui-server/e2e/fixture/src/app.tsx
  packages/ui-server/e2e/fixture/src/entry-client.ts
  packages/ui-server/e2e/fixture/tsconfig.json
  packages/ui-server/e2e/hmr.spec.ts
  packages/ui-server/package.json
  packages/ui-server/playwright.config.ts
  plans/hmr-e2e-tests.md
Due: none

fix(ui-server): address review findings — remove hard sleep, use poll assertions
  packages/ui-server/e2e/hmr.spec.ts
Due: none

fix(ui-server): scope bun test to src/ to exclude Playwright e2e specs
  packages/ui-server/package.json
Due: none

fix(ui-server): apply biome formatting to E2E test files after rebase #1851
  packages/ui-server/e2e/fixture/bun-plugin-shim.ts
  packages/ui-server/e2e/fixture/dev-server.ts
  packages/ui-server/e2e/fixture/src/app.tsx
  packages/ui-server/e2e/fixture/src/entry-client.ts
  packages/ui-server/e2e/fixture/tsconfig.json
  packages/ui-server/e2e/hmr.spec.ts
  packages/ui-server/playwright.config.ts
Due: none

fix(ui-server): apply oxfmt formatting to E2E test files (2-space indent, single quotes) #1851
  packages/ui-server/e2e/fixture/bun-plugin-shim.ts
  packages/ui-server/e2e/fixture/dev-server.ts
  packages/ui-server/e2e/fixture/src/app.tsx
  packages/ui-server/e2e/fixture/src/entry-client.ts
  packages/ui-server/e2e/hmr.spec.ts
  packages/ui-server/playwright.config.ts
Due: none

test(ui-server): add E2E Playwright tests for HMR behavior (#1851) (#1856)
  bun.lock
  packages/ui-server/e2e/fixture/bun-plugin-shim.ts
  packages/ui-server/e2e/fixture/bunfig.toml
  packages/ui-server/e2e/fixture/dev-server.ts
  packages/ui-server/e2e/fixture/src/app.tsx
  packages/ui-server/e2e/fixture/src/entry-client.ts
  packages/ui-server/e2e/fixture/tsconfig.json
  packages/ui-server/e2e/hmr.spec.ts
  packages/ui-server/package.json
  packages/ui-server/playwright.config.ts
  plans/hmr-e2e-tests.md
Due: none

fix(ui-server): stabilize flaky E2E tests — filter benign errors, settle HMR between tests #1851
  packages/ui-server/e2e/hmr.spec.ts
Due: none

fix(ui-server): skip stale bundler restart when HMR hash changes successfully #1851
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

chore: add changeset for shorthand value unwrap fix #1858
  .changeset/fix-shorthand-value-unwrap.md
Due: none

fix(compiler): guard shorthand expansion against shadowed scopes and mutation ranges #1858
  packages/ui-compiler/src/transformers/__tests__/computed-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
Due: ui-compiler

fix(compiler): unwrap signal/computed .value in shorthand properties #1858
  packages/ui-compiler/src/transformers/__tests__/computed-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
Due: ui-compiler

style(compiler): fix formatting to match oxfmt config (single quotes, 2-space indent) #1858
  packages/ui-compiler/src/transformers/__tests__/computed-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
Due: ui-compiler

fix(compiler): revert signal shorthand expansion — signals must flow as objects #1858
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
Due: ui-compiler

fix(compiler): unwrap signal/computed .value in shorthand properties (#1862)
  .changeset/fix-shorthand-value-unwrap.md
  packages/ui-compiler/src/transformers/__tests__/computed-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
Due: ui-compiler

fix(ui-server,cloudflare): wire AOT manifest into Node and Cloudflare handlers #1843
  packages/cloudflare/src/handler.ts
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/ssr/index.ts
Due: cloudflare, ui-server

fix(ui-server,cloudflare): wire AOT manifest into Node and Cloudflare handlers #1843 (#1865)
  packages/cloudflare/src/handler.ts
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/ssr/index.ts
Due: cloudflare, ui-server

fix(ui-server): skip stale bundler restart when HMR hash changes successfully #1851
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(ui-server): skip stale bundler restart when HMR hash changes successfully #1851 (#1863)
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(cli): handle dynamic imports and function calls in AOT route extraction #1875
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-compiler/src/__tests__/prefetch-manifest.test.ts
  packages/ui-compiler/src/prefetch-manifest.ts
Due: cli, ui-compiler

fix(ui): track reactive deps in query() effect when SSR-hydrated #1861
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui

fix(ui): only track deps in SSR hydration path when key is derived #1861
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui

test(ui-compiler): add shorthand and alias edge cases for auto-thunk #1861
  packages/ui-compiler/src/__tests__/query-auto-thunk.test.ts
Due: none

feat(ui-compiler): auto-wrap query(descriptor) in thunk when args have reactive deps #1861
  packages/ui-compiler/src/__tests__/query-auto-thunk.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/query-auto-thunk-transformer.ts
Due: ui-compiler

fix(ui-compiler): address review findings for route extraction #1875
  packages/ui-compiler/src/__tests__/prefetch-manifest.test.ts
  packages/ui-compiler/src/prefetch-manifest.ts
Due: ui-compiler

chore: add changeset for AOT route extraction fix #1875
  .changeset/fix-aot-route-extraction.md
Due: none

chore: add changeset for query reactive refetch fix #1861
  .changeset/fix-query-reactive-refetch.md
Due: none

fix(cli): AOT route extraction for dynamic imports and better error logging (#1876)
  .changeset/fix-aot-route-extraction.md
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-compiler/src/__tests__/prefetch-manifest.test.ts
  packages/ui-compiler/src/prefetch-manifest.ts
Due: cli, ui-compiler

fix(ui,compiler): query() re-fetches when reactive deps change after SSR hydration #1861 (#1877)
  .changeset/fix-query-reactive-refetch.md
  packages/ui-compiler/src/__tests__/query-auto-thunk.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/query-auto-thunk-transformer.ts
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui, ui-compiler

docs: add Vertz runtime design doc and Phase 0 implementation plan
  plans/vertz-native-compiler.md
  plans/vertz-runtime.md
Due: none

docs: add Vertz runtime design doc and Phase 0 implementation plan (#1866)
  plans/vertz-native-compiler.md
  plans/vertz-runtime.md
Due: none

chore(native-compiler): remove unnecessary eslint-disable comment #1867
  native/vertz-compiler/__tests__/native-compiler.test.ts
Due: none

fix(native-compiler): address review findings for Phase 0.2 #1868
  native/vertz-compiler/__tests__/component-analysis.test.ts
  native/vertz-compiler/__tests__/reactivity-analysis.test.ts
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/reactivity_analyzer.rs
  native/vertz-compiler/src/signal_api_registry.rs
Due: none
