Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(ui-primitives,theme-shadcn): wire missing props and sub-components (#1383)
  .changeset/fix-ui-primitives-bugs.md
  packages/theme-shadcn/src/components/primitives/alert-dialog.ts
  packages/theme-shadcn/src/components/primitives/dropdown-menu.ts
  packages/theme-shadcn/src/components/primitives/select.ts
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog-composed.test.ts
  packages/ui-primitives/src/composed/__tests__/with-styles.test-d.ts
  packages/ui-primitives/src/dropdown-menu/__tests__/dropdown-menu-composed.test.ts
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/select/__tests__/select-composed.test.ts
  packages/ui-primitives/src/select/select-composed.tsx
Due: ui-primitives

fix(ui-primitives): RadioGroup keyboard nav skip disabled + event listener cleanup (#1382)
  .changeset/radio-kbd-skip-disabled-listener-cleanup.md
  packages/ui-primitives/src/calendar/__tests__/calendar.test.ts
  packages/ui-primitives/src/calendar/calendar.tsx
  packages/ui-primitives/src/radio/__tests__/radio-composed.test.ts
  packages/ui-primitives/src/radio/__tests__/radio.test.ts
  packages/ui-primitives/src/radio/radio-composed.tsx
  packages/ui-primitives/src/radio/radio.tsx
  packages/ui-primitives/src/tabs/__tests__/tabs.test.ts
  packages/ui-primitives/src/tabs/tabs.tsx
Due: ui-primitives

refactor(ui-primitives): convert all composed primitives to declarative JSX (#1363) (#1386)
  packages/ui-primitives/bunup.config.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/composed/__tests__/scan-slots.test.ts
  packages/ui-primitives/src/composed/__tests__/with-styles.test-d.ts
  packages/ui-primitives/src/composed/scan-slots.ts
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/sheet/sheet-composed.tsx
  packages/ui-primitives/src/tabs/tabs-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
  packages/ui-primitives/test-compiler-plugin.ts
Due: ui-primitives

feat(db): add local SQLite support to createDb + remove deprecated adapters (#1378)
  examples/contacts-api/src/server.ts
  examples/contacts-api/test/api.test.ts
  examples/entity-todo/src/api/db-d1.ts
  examples/entity-todo/src/api/db.ts
  examples/entity-todo/src/api/server.ts
  examples/entity-todo/src/dev-server.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/db/README.md
  packages/db/bunup.config.ts
  packages/db/package.json
  packages/db/src/__tests__/db-integration.e2e.test.ts
  packages/db/src/__tests__/sqlite-id-generation.test.ts
  packages/db/src/adapters/__tests__/sql-utils.test.ts
  packages/db/src/adapters/__tests__/sqlite-adapter.test.ts
  packages/db/src/adapters/d1-adapter.ts
  packages/db/src/adapters/index.ts
  packages/db/src/adapters/sql-utils.ts
  packages/db/src/adapters/sqlite-adapter.ts
  packages/db/src/client/__tests__/createDb-dialect.test.ts
  packages/db/src/client/__tests__/createDb-local-sqlite.test.ts
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/__tests__/local-sqlite-driver.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/index.ts
  packages/db/src/client/sqlite-driver.ts
  packages/db/src/core/db-provider.test.ts
  packages/db/src/core/db-provider.ts
  packages/db/src/core/index.ts
  packages/db/src/d1/index.ts
  packages/db/src/index.ts
  packages/db/src/sqlite/index.ts
  packages/docs/guides/env.mdx
  packages/server/src/create-server.ts
  packages/vertz/package.json
  packages/vertz/src/db-sqlite.ts
  plans/createdb-local-sqlite.md
Due: db, server

fix(ui-primitives): add Home/End key support to ComposedRadioGroup (#1380) (#1388)
  .changeset/radio-home-end-keys.md
  packages/ui-primitives/src/radio/__tests__/radio-composed.test.ts
  packages/ui-primitives/src/radio/radio-composed.tsx
Due: ui-primitives

fix(ui-primitives,theme-shadcn): wire label class key through Select (#1381) (#1389)
  .changeset/select-label-class.md
  packages/theme-shadcn/src/components/primitives/select.ts
  packages/ui-primitives/src/composed/__tests__/with-styles.test-d.ts
  packages/ui-primitives/src/select/__tests__/select-composed.test.ts
  packages/ui-primitives/src/select/select-composed.tsx
Due: ui-primitives

test(ui): add regression test suite for resolve-inspect-rebuild hydration pattern (#1362) (#1390)
  packages/ui/src/hydrate/__tests__/hydration-resolve-inspect-rebuild.test.ts
Due: none

fix(ui-compiler,ui-primitives): object/array literals no longer wrapped in computed() (#1387) (#1391)
  .changeset/object-literal-computed-fix.md
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/radio/radio-composed.tsx
  packages/ui-primitives/src/select/select-composed.tsx
  packages/ui-primitives/src/sheet/sheet-composed.tsx
  packages/ui-primitives/src/tabs/tabs-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
Due: ui-compiler, ui-primitives

fix(ui): add mismatch fallback to sync path in Outlet and RouterView (#1368) (#1392)
  .changeset/fix-sync-hydration-mismatch.md
  packages/ui/src/router/__tests__/outlet.test.ts
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/outlet.ts
  packages/ui/src/router/router-view.ts
Due: ui

test(ui-primitives): add hydration tests for composed primitives (#1361) (#1393)
  packages/ui-primitives/src/__tests__/hydration-composed.test.ts
Due: none

fix(ui-primitives): low-level Radio.Item disabled support + handleListNavigation skips disabled items (#1379) (#1395)
  .changeset/radio-disabled-nav.md
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/radio/__tests__/radio.test.ts
  packages/ui-primitives/src/radio/radio.tsx
  packages/ui-primitives/src/utils/keyboard.ts
Due: ui-primitives

feat(create-vertz-app): replace confirm() with AlertDialog and add hover state [#1299] (#1394)
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

feat(cli): generalized SSG with generateParams in route definitions (#1396)
  .changeset/ssg-generate-params.md
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/prerender.test.ts
  packages/ui-server/src/prerender.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr/index.ts
  packages/ui/src/router/__tests__/define-routes.test.ts
  packages/ui/src/router/define-routes.ts
  plans/ssg-route-definitions.md
Due: cli, ui, ui-server

feat(server): add rules.* serialization for cloud deploy-time extraction (#1321) (#1397)
  .changeset/rules-serialization.md
  packages/server/src/auth/__tests__/rules-serialization.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/rules.ts
Due: server

chore(ui-primitives): strip bare chunk imports from barrel for clean tree-shaking (#1178) (#1400)
  .changeset/strip-bare-chunk-imports.md
  packages/ui-primitives/bunup.config.ts
  packages/ui-primitives/package.json
Due: none

fix(linear): add error state handling to IssueListPage (#1291) (#1399)
  examples/linear/src/pages/issue-list-page.tsx
Due: none

fix(ui-primitives): resolve composed primitives content children inside Provider (#1409)
  packages/ui-primitives/src/alert-dialog/alert-dialog-composed.tsx
  packages/ui-primitives/src/dialog/dialog-composed.tsx
  packages/ui-primitives/src/popover/popover-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
Due: ui-primitives

feat(linear): inline status/priority mutations with optimistic updates [#1284] (#1402)
  examples/linear/src/components/edit-issue-dialog.tsx
  examples/linear/src/components/issue-card.tsx
  examples/linear/src/components/issue-row.tsx
  examples/linear/src/components/status-column.tsx
  examples/linear/src/lib/edit-issue-schema.test.ts
  examples/linear/src/lib/edit-issue-schema.ts
  examples/linear/src/lib/issue-config.ts
  examples/linear/src/pages/issue-detail-page.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/project-board-page.tsx
Due: none

chore(component-catalog): change dev server port to 8000 (#1408)
  examples/component-catalog/package.json
Due: none

feat(linear): polish animations, loading states, error boundaries, E2E tests [#1286] (#1411)
  bun.lock
  examples/linear/bunfig.toml
  examples/linear/e2e/linear.spec.ts
  examples/linear/package.json
  examples/linear/playwright.config.ts
  examples/linear/src/api/server.ts
  examples/linear/src/app.tsx
  examples/linear/src/components/comment-section.tsx
  examples/linear/src/components/error-fallback.tsx
  examples/linear/src/components/issue-card.tsx
  examples/linear/src/components/issue-row.tsx
  examples/linear/src/components/loading-skeleton.tsx
  examples/linear/src/components/project-card.tsx
  examples/linear/src/components/status-column.tsx
  examples/linear/src/components/status-select.tsx
  examples/linear/src/pages/issue-detail-page.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/project-board-page.tsx
  examples/linear/src/pages/projects-page.tsx
  examples/linear/src/router.tsx
  examples/linear/src/styles/components.ts
Due: none

fix(component-catalog): use correct Checkbox casing and JSX pattern (#1401) (#1412)
  examples/component-catalog/src/demos/checkbox.tsx
Due: none

docs: add SSG / generateParams documentation (#1398) (#1413)
  packages/docs/api-reference/ui/router.mdx
  packages/docs/docs.json
  packages/docs/guides/deploy/ssg.mdx
  packages/docs/guides/deploy/static-sites.mdx
  packages/docs/guides/ui/routing.mdx
Due: none

fix(create-vertz-app): require non-empty title in tasks schema template (#1410) (#1414)
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

fix(ui-primitives,theme-shadcn): sheet overlay pointer-events none when closed (#1407) (#1415)
  .changeset/sheet-overlay-pointer-events.md
  packages/theme-shadcn/src/__tests__/sheet.test.ts
  packages/theme-shadcn/src/styles/sheet.ts
  packages/ui-primitives/src/sheet/__tests__/sheet-composed.test.ts
  packages/ui-primitives/src/sheet/sheet-composed.tsx
Due: ui-primitives

fix(component-catalog): use correct PascalCase and JSX for 6 remaining demos (#1405) (#1416)
  examples/component-catalog/src/demos/progress.tsx
  examples/component-catalog/src/demos/radio-group.tsx
  examples/component-catalog/src/demos/slider.tsx
  examples/component-catalog/src/demos/switch.tsx
  examples/component-catalog/src/demos/toast.tsx
  examples/component-catalog/src/demos/toggle.tsx
Due: none

fix(component-catalog): add Select.Trigger and use placeholder prop in select demo (#1403) (#1417)
  examples/component-catalog/src/demos/select.tsx
Due: none

fix(ui-primitives): accordion trigger buttons invisible during hydration (#1406) (#1418)
  packages/ui-primitives/src/accordion/__tests__/accordion-hydration.test.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
Due: ui-primitives

fix(linear): use shared issue config in CreateIssueDialog [#1292] (#1419)
  examples/linear/src/components/create-issue-dialog.tsx
Due: none

fix(cli): add vertz meta-package to esbuild external list (#1279) (#1420)
  .changeset/api-build-vertz-external.md
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/orchestrator.ts
Due: cli

perf(ui): batch effect registration during tolerant hydration (#1422)
  .changeset/batch-hydration-effects.md
  packages/ui/src/dom/__tests__/hydration-deferred-effects-bench.test.ts
  packages/ui/src/dom/__tests__/hydration-deferred-effects.test.ts
  packages/ui/src/dom/attributes.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/ARCHITECTURE.md
  packages/ui/src/hydrate/hydration-context.ts
  packages/ui/src/mount.ts
  packages/ui/src/runtime/signal.ts
Due: ui

feat(linear): retrofit tenant scoping on all entities (#1287) (#1421)
  examples/linear/TENANT_RETROFIT_DX.md
  examples/linear/e2e/linear.spec.ts
  examples/linear/src/api/db.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/seed.test.ts
  examples/linear/src/api/seed.ts
  examples/linear/src/api/server.ts
Due: none

feat(cloudflare): traffic-aware pre-rendering (TPR) for Cloudflare Workers [#713] (#1423)
  .changeset/traffic-aware-pre-rendering.md
  packages/cloudflare/package.json
  packages/cloudflare/src/handler.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/src/isr-cache.ts
  packages/cloudflare/src/tpr-routes.ts
  packages/cloudflare/src/tpr.ts
  packages/cloudflare/tests/handler-isr.test.ts
  packages/cloudflare/tests/isr-cache.test.ts
  packages/cloudflare/tests/tpr-routes.test.ts
  packages/cloudflare/tests/tpr.test.ts
  plans/traffic-aware-pre-rendering.md
Due: cloudflare

feat(cloudflare): add beforeRender middleware hook to createHandler() [#817] (#1424)
  .changeset/cloudflare-before-render-hook.md
  packages/cloudflare/src/handler.ts
  packages/cloudflare/tests/handler.test.ts
Due: cloudflare

docs(db): improve migrations guide with comparison table and troubleshooting (#1430) (#1432)
  packages/docs/guides/db/migrations.mdx
Due: none

fix(db): externalize better-sqlite3, improve SQLite fallback errors (#1250) (#1437)
  .changeset/fix-sqlite-fallback-electrobun.md
  bun.lock
  packages/db/bunup.config.ts
  packages/db/package.json
  packages/db/src/client/__tests__/local-sqlite-driver.test.ts
  packages/db/src/client/sqlite-driver.ts
Due: db

docs: add E2E testing guide (#1433)
  packages/docs/docs.json
  packages/docs/guides/testing.mdx
Due: none

docs(db): add database seeding guide (#1428) (#1434)
  packages/docs/docs.json
  packages/docs/guides/db/overview.mdx
  packages/docs/guides/db/seeding.mdx
Due: none

fix(linear): replace raw SQL schema bootstrap with autoMigrate() (#1425) (#1435)
  examples/linear/src/api/db.ts
  examples/linear/src/api/seed.test.ts
Due: none

chore: add issue orchestrator for autonomous agent dispatch (#1438)
  tools/orchestrator/.gitignore
  tools/orchestrator/package.json
  tools/orchestrator/src/github.ts
  tools/orchestrator/src/orchestrator.ts
  tools/orchestrator/src/prompt.ts
Due: none

fix(linear): use typed db client in seed.ts (#1431) (#1439)
  examples/linear/src/api/db.ts
  examples/linear/src/api/seed.test.ts
  examples/linear/src/api/seed.ts
  packages/db/src/schema/column.ts
Due: db

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
