Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

feat(query): auto-invalidate tenant-scoped queries on tenant switch (#1696) (#1707)
  .changeset/tenant-query-invalidation.md
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/docs/guides/ui/data-fetching.mdx
  packages/docs/guides/ui/multi-tenancy.mdx
  packages/fetch/src/types.ts
  packages/ui/src/auth/__tests__/tenant-context.test.ts
  packages/ui/src/auth/tenant-context.ts
  packages/ui/src/index.ts
  packages/ui/src/query/__tests__/invalidate.test.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/invalidate.ts
  packages/ui/src/query/query.ts
  packages/ui/src/store/query-envelope-store.ts
  plans/tenant-switch-query-invalidation.md
Due: codegen, fetch, ui

feat(ui): add formatRelativeTime() utility and RelativeTime component (#1654) (#1708)
  examples/linear/src/components/comment-item.tsx
  examples/linear/src/lib/format.test.ts
  examples/linear/src/lib/format.ts
  packages/docs/api-reference/ui/relative-time.mdx
  packages/docs/docs.json
  packages/ui/src/format/__tests__/relative-time-component.test.ts
  packages/ui/src/format/__tests__/relative-time.test.ts
  packages/ui/src/format/index.ts
  packages/ui/src/format/relative-time-component.ts
  packages/ui/src/format/relative-time.ts
  packages/ui/src/index.ts
  plans/relative-time.md
Due: ui

fix(ui): __list full-replacement for unkeyed lists (#1701) (#1704)
  .changeset/fix-list-stale-dom.md
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/dom/__tests__/list.test.ts
  packages/ui/src/dom/list.ts
Due: ui, ui-compiler

fix(ui-primitives): floating positioning and context reactivity for overlay components (#1709)
  packages/ui-primitives/src/calendar/__tests__/calendar.test.ts
  packages/ui-primitives/src/calendar/calendar.tsx
  packages/ui-primitives/src/date-picker/date-picker-composed.tsx
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui-primitives/src/hover-card/hover-card-composed.tsx
  packages/ui-primitives/src/menubar/__tests__/menubar-composed.test.ts
  packages/ui-primitives/src/menubar/menubar-composed.tsx
  packages/ui-primitives/src/tooltip/tooltip-composed.tsx
  packages/ui-primitives/src/utils/floating.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui/src/__tests__/theme-components.test.ts
  packages/ui/src/components/index.ts
  packages/ui/src/dom/__tests__/hydration-deferred-effects-bench.local.ts
  sites/component-docs/src/app.tsx
  sites/component-docs/src/components/command-palette.tsx
  sites/component-docs/src/dev-server.ts
  sites/component-docs/src/entry-client.ts
Due: ui, ui-primitives, ui-server

fix(theme-shadcn): light/dark mode contrast issues in themed components (#1710)
  .changeset/fix-theme-contrast.md
  packages/theme-shadcn/src/__tests__/calendar.test.ts
  packages/theme-shadcn/src/__tests__/carousel.test.ts
  packages/theme-shadcn/src/__tests__/date-picker.test.ts
  packages/theme-shadcn/src/__tests__/menubar.test.ts
  packages/theme-shadcn/src/__tests__/pagination.test.ts
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/styles.test.ts
  packages/theme-shadcn/src/styles/alert-dialog.ts
  packages/theme-shadcn/src/styles/button.ts
  packages/theme-shadcn/src/styles/calendar.ts
  packages/theme-shadcn/src/styles/carousel.ts
  packages/theme-shadcn/src/styles/date-picker.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/menubar.ts
  packages/theme-shadcn/src/styles/pagination.ts
  plans/fix-theme-contrast.md
Due: none

feat(ui): compound Breadcrumb with router integration (#1668) (#1711)
  examples/component-catalog/src/demos/breadcrumb.tsx
  packages/theme-shadcn/src/__tests__/breadcrumb.test.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/theme-shadcn/src/styles/breadcrumb.ts
  packages/ui-primitives/src/__tests__/breadcrumb-composed.test.tsx
  packages/ui-primitives/src/breadcrumb/breadcrumb-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/components/index.ts
  plans/breadcrumb-router-integration.md
  sites/component-docs/src/content/breadcrumb-content.tsx
  sites/component-docs/src/props/breadcrumb-props.ts
Due: ui-primitives

feat(ui): generic EmptyState and Skeleton sub-components (#1712)
  .changeset/empty-state-skeleton-primitives.md
  examples/component-catalog/src/demos/empty-state.tsx
  examples/component-catalog/src/demos/index.ts
  examples/component-catalog/src/demos/skeleton.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/projects-page.tsx
  examples/linear/src/styles/components.ts
  packages/docs/guides/ui/component-library.mdx
  packages/theme-shadcn/src/__tests__/empty-state-component.test.tsx
  packages/theme-shadcn/src/__tests__/empty-state.test.ts
  packages/theme-shadcn/src/__tests__/skeleton-subcomponents.test.ts
  packages/theme-shadcn/src/__tests__/skeleton.test.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/theme-shadcn/src/styles/empty-state.ts
  packages/theme-shadcn/src/styles/index.ts
  packages/theme-shadcn/src/styles/skeleton.ts
  packages/theme-shadcn/tsconfig.json
  packages/ui-primitives/src/__tests__/empty-state-composed.test.tsx
  packages/ui-primitives/src/empty-state/empty-state-composed.tsx
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/skeleton/__tests__/skeleton-composed.test.ts
  packages/ui-primitives/src/skeleton/skeleton-composed.tsx
  packages/ui/src/components/index.ts
  sites/component-docs/src/content/empty-state-content.tsx
  sites/component-docs/src/content/registry.ts
  sites/component-docs/src/content/skeleton-content.tsx
  sites/component-docs/src/manifest.ts
  sites/component-docs/src/pages/component-page.tsx
  sites/component-docs/src/props/empty-state-props.ts
  sites/component-docs/src/props/skeleton-props.ts
Due: ui-primitives

feat(ui): consolidate dialogs to DialogStack as single pattern (#1647) (#1713)
  .claude/rules/ui-components.md
  examples/component-catalog/e2e/alert-dialog.spec.ts
  examples/component-catalog/e2e/dialog.spec.ts
  examples/component-catalog/src/demos/alert-dialog.tsx
  examples/component-catalog/src/demos/dialog.tsx
  examples/component-catalog/src/demos/index.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/docs/guides/ui/component-library.mdx
  packages/docs/guides/ui/components.mdx
  packages/integration-tests/src/__tests__/theme-shadcn-walkthrough.test.ts
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/components/primitives/alert-dialog.ts
  packages/theme-shadcn/src/components/primitives/dialog.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/theme-shadcn/src/styles/alert-dialog.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/index.ts
  packages/ui-primitives/bunup.config.ts
  packages/ui-primitives/src/dialog/__tests__/dialog-stack-parts.test.ts
  packages/ui-primitives/src/dialog/dialog-stack-parts.tsx
  packages/ui-primitives/src/index.ts
  packages/ui/src/__tests__/theme-components.test.ts
  packages/ui/src/components/index.ts
  packages/ui/src/dialog/__tests__/dialog-stack.test-d.ts
  packages/ui/src/dialog/__tests__/dialog-stack.test.ts
  packages/ui/src/dialog/dialog-stack.ts
  packages/ui/src/dialog/index.ts
  packages/ui/src/index.ts
  plans/dialog-stack-consolidation.md
  sites/component-docs/src/__tests__/prop-data.test.ts
  sites/component-docs/src/content/alert-dialog-content.tsx
  sites/component-docs/src/content/dialog-content.tsx
  sites/component-docs/src/content/dialog-stack-content.tsx
  sites/component-docs/src/props/alert-dialog-props.ts
  sites/component-docs/src/props/dialog-props.ts
Due: ui, ui-primitives

fix(linear): use framework Dialog sub-components instead of custom markup (#1664) (#1716)
  examples/linear/src/components/create-issue-dialog.tsx
  examples/linear/src/components/create-project-dialog.tsx
  examples/linear/src/components/edit-issue-dialog.tsx
  examples/linear/src/components/manage-labels-dialog.tsx
  examples/linear/src/styles/components.ts
Due: none

fix(linear): use overflow-y:auto instead of overflow:hidden for label list (#1715) (#1719)
  examples/linear/src/components/manage-labels-dialog.tsx
Due: none

chore(linear): remove unused EditIssueDialog and edit-issue-schema (#1714) (#1720)
  examples/linear/src/components/edit-issue-dialog.tsx
  examples/linear/src/lib/edit-issue-schema.test.ts
  examples/linear/src/lib/edit-issue-schema.ts
Due: none

feat(server): support Bearer token auth in getSession() #1658 (#1724)
  packages/integration-tests/src/__tests__/auth-session-entity-context.test.ts
  packages/server/src/auth/__tests__/bearer-auth.test.ts
  packages/server/src/auth/index.ts
  plans/auth-session-entity-context.md
Due: none

feat(ui): ErrorBoundary fallback as framework default for routes (#1650) (#1722)
  examples/linear/src/app.tsx
  examples/linear/src/components/error-fallback.tsx
  examples/linear/src/router.tsx
  examples/linear/src/styles/components.ts
  packages/ui/src/__tests__/router-integration.test.ts
  packages/ui/src/component/__tests__/default-error-fallback.test.ts
  packages/ui/src/component/default-error-fallback.ts
  packages/ui/src/component/index.ts
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/define-routes.test.ts
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/router-view.ts
  plans/route-error-boundary.md
Due: ui

docs(ui): document render callback field selection limitation (#1717)
  bun.lock
  packages/docs/guides/ui/auto-field-selection.mdx
Due: none

chore(process): add wiki archival workflow for completed plans (#1725)
  .claude/rules/local-phase-workflow.md
Due: none

refactor(linear): use TenantProvider instead of manual tenant switching (#1721)
  examples/linear/src/api/access.ts
  examples/linear/src/api/auth.ts
  examples/linear/src/api/db.ts
  examples/linear/src/api/entities/comments.entity.ts
  examples/linear/src/api/entities/issue-labels.entity.ts
  examples/linear/src/api/entities/issues.entity.ts
  examples/linear/src/api/entities/labels.entity.ts
  examples/linear/src/api/entities/projects.entity.ts
  examples/linear/src/api/entitlement-access.test.ts
  examples/linear/src/api/schema.test.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/seed.test.ts
  examples/linear/src/api/seed.ts
  examples/linear/src/app.tsx
  examples/linear/src/components/auth-guard.tsx
  packages/server/src/auth/__tests__/on-user-created.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/route-generator.ts
  packages/ui/src/auth/__tests__/tenant-context.test.ts
  packages/ui/src/auth/tenant-context.ts
  plans/linear-clone-multi-tenancy-redesign.md
Due: server, ui

feat(auth): add iss/aud claims to JWT for token scope enforcement (#1727)
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/__tests__/csrf.test.ts
  packages/server/src/auth/__tests__/jwt-iss-aud-config.test.ts
  packages/server/src/auth/__tests__/jwt.test.ts
  packages/server/src/auth/__tests__/resolve-session-for-ssr.test.ts
  packages/server/src/auth/access-event-broadcaster.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/jwt.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/auth/types.ts
Due: server

refactor(ui): replace __child span wrapper with comment anchor markers (#1728)
  bun.lock
  examples/task-manager/e2e/screenshots/fix-01-before-dialog.png
  examples/task-manager/e2e/screenshots/fix-02-dialog-open.png
  examples/task-manager/e2e/screenshots/fix-03-dialog-closed.png
  examples/task-manager/e2e/screenshots/fix-04-tabs-details.png
  examples/task-manager/e2e/screenshots/fix-05-tabs-activity.png
  packages/ui/src/__tests__/foreign-integration.test.ts
  packages/ui/src/__tests__/hydration-e2e.test.ts
  packages/ui/src/__tests__/mount-hydration.test.ts
  packages/ui/src/dom/__tests__/child-boolean.test.ts
  packages/ui/src/dom/__tests__/child-node.test.ts
  packages/ui/src/dom/__tests__/child-thunk.test.ts
  packages/ui/src/dom/__tests__/hydration-element.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
  plans/child-comment-markers.md
Due: ui

refactor(ui,ui-compiler): remove queryMatch primitive (#1732)
  .changeset/remove-query-match.md
  biome-plugins/no-querymatch-destructure.grit
  biome.json
  examples/entity-todo/e2e/todo-app.spec.ts
  examples/entity-todo/src/pages/todo-list.tsx
  examples/entity-todo/test-compiler-plugin.ts
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/docs/guides/ui/auto-field-selection.mdx
  packages/docs/guides/ui/data-fetching.mdx
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/analyzers/__tests__/jsx-analyzer.test.ts
  packages/ui-compiler/src/analyzers/jsx-analyzer.ts
  packages/ui-compiler/src/transformers/__tests__/jsx-children-thunk.test.ts
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/index.ts
  packages/ui/src/query/__tests__/query-match.test-d.ts
  packages/ui/src/query/__tests__/query-match.test.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/public.ts
  packages/ui/src/query/query-match.ts
  plans/child-comment-markers.md
  plans/cross-file-reactivity-analysis.md
  plans/remove-query-match.md
  plans/ssr-single-pass-prefetch.md
Due: ui, ui-compiler

fix(component-docs): SSR applies theme customization before paint (#1731)
  packages/theme-shadcn/src/styles/list.ts
  packages/ui-primitives/src/list/__tests__/list-animation-hooks.test.tsx
  packages/ui-primitives/src/list/list-composed.tsx
  sites/component-docs/src/__tests__/customization-script.test.ts
  sites/component-docs/src/__tests__/highlighter.test.ts
  sites/component-docs/src/components/code-block.tsx
  sites/component-docs/src/components/theme-customizer.tsx
  sites/component-docs/src/customization-script.ts
  sites/component-docs/src/dev-server.ts
  sites/component-docs/src/hooks/use-customization.ts
  sites/component-docs/src/lib/highlighter.ts
  sites/component-docs/src/styles/globals.ts
Due: ui-primitives

refactor(ui): drop ListTransition in favor of List (#1734)
  .changeset/drop-list-transition.md
  examples/entity-todo/src/pages/todo-list.tsx
  examples/linear/src/app.tsx
  examples/linear/src/components/status-column.tsx
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/docs/api-reference/ui/list.mdx
  packages/docs/guides/ui/auto-field-selection.mdx
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/component/__tests__/list-transition.test.ts
  packages/ui/src/component/list-transition.ts
  packages/ui/src/dom/__tests__/list-transition.test.ts
  packages/ui/src/dom/list-transition.ts
  packages/ui/src/index.ts
  plans/drop-list-transition.md
  plans/relative-time.md
  reviews/drop-list-transition/phase-01-removal.md
Due: ui, ui-server

refactor(ui): replace __conditional span wrappers with comment end markers (#1736)
  packages/ui/src/__tests__/hydration-e2e.test.ts
  packages/ui/src/dom/__tests__/conditional.test.ts
  packages/ui/src/dom/__tests__/hydration-conditional.test.ts
  packages/ui/src/dom/conditional.ts
Due: ui

feat(ui-primitives): animated drag-sort reordering for List component (#1739)
  packages/theme-shadcn/src/components/primitives/list.ts
  packages/ui-primitives/src/list/__tests__/list-drag.test.tsx
  packages/ui-primitives/src/list/list-composed.tsx
  plans/list-drag-sort-animation.md
  sites/component-docs/src/content/list-content.tsx
Due: ui-primitives

chore(component-docs): clean up debug code from overview page
  sites/component-docs/src/pages/overview-page.tsx
Due: none

docs(ui): update hydration docs to reflect comment markers replacing span wrappers
  packages/ui/src/hydrate/ARCHITECTURE.md
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

chore(component-docs): masonry grid, reactive pagination, proper labels
  sites/component-docs/src/dev-server.ts
  sites/component-docs/src/pages/overview-page.tsx
Due: none

chore: require user identity for all commits in workflow rules
  .claude/rules/workflow.md
Due: none

fix(pagination): fix hydration mismatch with thunk pattern
  packages/ui-primitives/src/__tests__/hydration-composed.test.ts
  packages/ui-primitives/src/pagination/pagination-composed.tsx
Due: ui-primitives

fix(accordion): suppress open animation on initial render
  packages/theme-shadcn/src/styles/accordion.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/accordion/accordion.tsx
Due: ui-primitives

chore: add conditional end markers design doc and update e2e screenshots
  examples/task-manager/e2e/screenshots/fix-02-dialog-open.png
  examples/task-manager/e2e/screenshots/fix-05-tabs-activity.png
  plans/conditional-end-markers.md
Due: none

docs(ui): update hydration docs for comment markers (#1740)
  .claude/rules/workflow.md
  examples/task-manager/e2e/screenshots/fix-02-dialog-open.png
  examples/task-manager/e2e/screenshots/fix-05-tabs-activity.png
  packages/theme-shadcn/src/styles/accordion.ts
  packages/ui-primitives/src/__tests__/hydration-composed.test.ts
  packages/ui-primitives/src/accordion/accordion-composed.tsx
  packages/ui-primitives/src/accordion/accordion.tsx
  packages/ui-primitives/src/pagination/pagination-composed.tsx
  packages/ui/src/hydrate/ARCHITECTURE.md
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
  plans/conditional-end-markers.md
  sites/component-docs/src/dev-server.ts
  sites/component-docs/src/pages/overview-page.tsx
Due: ui, ui-primitives

feat(ui-server,ui-compiler): SSR single-pass with zero-discovery prefetch (#1741)
  packages/ui-compiler/src/__tests__/prefetch-manifest.test.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/prefetch-manifest.ts
  packages/ui-server/src/__tests__/ssr-access-evaluator.test.ts
  packages/ui-server/src/__tests__/ssr-manifest-prefetch.test.ts
  packages/ui-server/src/__tests__/ssr-prefetch-dev.test.ts
  packages/ui-server/src/__tests__/ssr-route-matcher.test.ts
  packages/ui-server/src/__tests__/ssr-single-pass.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/debug-logger.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-access-evaluator.ts
  packages/ui-server/src/ssr-manifest-prefetch.ts
  packages/ui-server/src/ssr-prefetch-dev.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr-route-matcher.ts
  packages/ui-server/src/ssr-single-pass.ts
  plans/ssr-single-pass-prefetch.md
Due: ui-compiler, ui-server

chore(landing): add SSR rendering benchmarks
  sites/landing/benchmark-plugin.ts
  sites/landing/benchmark-prod.ts
  sites/landing/benchmark-ssr-direct.ts
  sites/landing/benchmark-ssr.ts
Due: none

chore(landing): add SSR rendering benchmarks (#1747)
  sites/landing/benchmark-plugin.ts
  sites/landing/benchmark-prod.ts
  sites/landing/benchmark-ssr-direct.ts
  sites/landing/benchmark-ssr.ts
Due: none

perf(db, schema): enable prepared statements and optimize parse path
  packages/db/src/client/__tests__/postgres-driver.test.ts
  packages/db/src/client/postgres-driver.ts
  packages/schema/src/core/parse-context.ts
  packages/schema/src/schemas/object.ts
Due: db, schema

perf(db, schema): enable prepared statements and optimize parse path (#1749)
  packages/db/src/client/__tests__/postgres-driver.test.ts
  packages/db/src/client/postgres-driver.ts
  packages/schema/src/core/parse-context.ts
  packages/schema/src/schemas/object.ts
Due: db, schema

feat(server): push rules.where() conditions to DB for get/update/delete
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/crud-pipeline.ts
  plans/where-rule-db-enforcement.md
Due: server
