Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

test(compiler): improve code coverage across analyzers (#1793)
  packages/compiler/src/__tests__/access-analyzer.test.ts
  packages/compiler/src/__tests__/auth-analyzer.test.ts
  packages/compiler/src/__tests__/cross-component-analyzer.test.ts
  packages/compiler/src/__tests__/database-analyzer.test.ts
  packages/compiler/src/__tests__/entity-analyzer.test.ts
  packages/compiler/src/__tests__/field-access-analyzer.test.ts
  packages/compiler/src/__tests__/import-resolver.test.ts
  packages/compiler/src/__tests__/route-analyzer.test.ts
  packages/compiler/src/__tests__/schema-analyzer.test.ts
  packages/compiler/src/__tests__/service-analyzer.test.ts
Due: none

test(compiler): improve code coverage across analyzers (#1793) (#1839)
  packages/compiler/src/__tests__/access-analyzer.test.ts
  packages/compiler/src/__tests__/auth-analyzer.test.ts
  packages/compiler/src/__tests__/cross-component-analyzer.test.ts
  packages/compiler/src/__tests__/database-analyzer.test.ts
  packages/compiler/src/__tests__/entity-analyzer.test.ts
  packages/compiler/src/__tests__/field-access-analyzer.test.ts
  packages/compiler/src/__tests__/import-resolver.test.ts
  packages/compiler/src/__tests__/route-analyzer.test.ts
  packages/compiler/src/__tests__/schema-analyzer.test.ts
  packages/compiler/src/__tests__/service-analyzer.test.ts
Due: none

fix(db): include unique indexes in Postgres introspection (#1786)
  packages/db/src/migration/__tests__/introspect.test.ts
  packages/db/src/migration/introspect.ts
Due: db

fix(db): address review — add negative tests and changeset (#1786)
  .changeset/fix-pg-unique-index-introspection.md
  packages/db/src/migration/__tests__/introspect.test.ts
Due: none

fix(db): include unique indexes in Postgres introspection (#1786) (#1840)
  .changeset/fix-pg-unique-index-introspection.md
  packages/db/src/migration/__tests__/introspect.test.ts
  packages/db/src/migration/introspect.ts
Due: db

docs(mint-docs): add llms.txt with SDK/data-fetching summary #1841
  packages/mint-docs/llms.txt
Due: none

docs(mint-docs): remove manual codegen references from llms.txt #1841
  packages/mint-docs/llms.txt
Due: none

docs(mint-docs): fix .hidden() → .is('hidden') in llms.txt #1841
  packages/mint-docs/llms.txt
Due: none

feat(ui-server): add native Node HTTP adapter (Phase 1)
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/ssr-handler-shared.ts
  packages/ui-server/src/ssr-handler.ts
Due: ui-server

feat(ui-server): add progressive HTML streaming to Node adapter (Phase 2)
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/node-handler.ts
Due: ui-server

feat(ui-server): add SSE nav pre-fetch to Node adapter (Phase 3)
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/node-handler.ts
Due: ui-server

chore(integration-tests): replace @mjackson/node-fetch-server with inline bridge (Phase 4)
  bun.lock
  packages/integration-tests/package.json
  packages/integration-tests/src/runtime-adapters/node.ts
Due: none

docs(ui-server): add Node.js deployment guide and changeset (Phase 5)
  .changeset/native-node-handler.md
  packages/mint-docs/docs.json
  packages/mint-docs/guides/deploy/node.mdx
Due: none

fix(ui-server): address review findings for Node adapter
  packages/mint-docs/guides/deploy/node.mdx
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/node-handler.ts
Due: ui-server

feat(ui-server): add native Node HTTP adapter (#1846)
  .changeset/native-node-handler.md
  bun.lock
  packages/integration-tests/package.json
  packages/integration-tests/src/runtime-adapters/node.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/deploy/node.mdx
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/ssr-handler-shared.ts
  packages/ui-server/src/ssr-handler.ts
Due: ui-server

feat(db): add .hidden() shorthand on column builders (#hidden)
  .changeset/field-hidden-shorthand.md
  packages/db/src/schema/__tests__/column.test-d.ts
  packages/db/src/schema/__tests__/column.test.ts
  packages/db/src/schema/column.ts
  plans/field-hidden-shorthand.md
Due: db

test(db): address review findings for .hidden() shorthand
  packages/db/src/schema/__tests__/column.test.ts
  packages/db/src/schema/__tests__/table.test-d.ts
Due: none

feat(db): add .hidden() shorthand on column builders (#1847)
  .changeset/field-hidden-shorthand.md
  packages/db/src/schema/__tests__/column.test-d.ts
  packages/db/src/schema/__tests__/column.test.ts
  packages/db/src/schema/__tests__/table.test-d.ts
  packages/db/src/schema/column.ts
  plans/field-hidden-shorthand.md
Due: db

fix(ui): prevent TDZ in query() with reactive descriptor closures #1819
  .changeset/fix-query-tdz-1819.md
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: ui

feat(compiler): generate standalone AOT functions for query-using components #1843
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-compiler/src/types.ts
  plans/aot-ssr-wire-up.md
Due: ui-compiler

feat(ui-server): build-time AOT module emission with route mapping #1843
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/index.ts
Due: cli, ui-server

chore: add changeset for AOT SSR wire-up #1843
  .changeset/aot-ssr-wire-up.md
Due: none

feat(compiler): export AOT functions + fix build pipeline #1843
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/__tests__/aot-hydration-markers.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-server/src/__tests__/aot-e2e-pipeline.test.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/aot-manifest-build.ts
Due: cli, ui-compiler, ui-server

feat(ui-server): runtime AOT handler integration + vertz start #1843
  packages/cli/src/commands/start.ts
  packages/ui-server/src/__tests__/aot-manifest-loader.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/aot-manifest-loader.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr/index.ts
Due: cli, ui-server

fix(ui-server): address review findings for AOT pipeline #1843
  packages/cli/src/commands/__tests__/start.test.ts
  packages/ui-server/src/__tests__/aot-manifest-loader.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
Due: ui-server

fix(ui): prevent TDZ in query() with reactive descriptor closures #1819 (#1850)
  .changeset/fix-query-tdz-1819.md
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: ui

fix(cli): update AOT manifest test assertion and add missing mock
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  reviews/aot-ssr-wire-up/phase-03-04-runtime-e2e.md
Due: none

docs: add AOT SSR usage guide for production handlers #1843
  packages/mint-docs/guides/deploy/node.mdx
  packages/mint-docs/guides/ui/ssr.mdx
Due: none

feat: AOT SSR wire-up — compile, build, and render end-to-end (#1843) (#1854)
  .changeset/aot-ssr-wire-up.md
  packages/cli/src/commands/__tests__/start.test.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/mint-docs/guides/deploy/node.mdx
  packages/mint-docs/guides/ui/ssr.mdx
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/__tests__/aot-hydration-markers.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-compiler/src/types.ts
  packages/ui-server/src/__tests__/aot-e2e-pipeline.test.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/aot-manifest-loader.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/aot-manifest-loader.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr/index.ts
  plans/aot-ssr-wire-up.md
  reviews/aot-ssr-wire-up/phase-03-04-runtime-e2e.md
Due: cli, ui-compiler, ui-server

fix(ui-server,ui): dev server error recovery and hydration duplicate handlers (#1849, #1853)
  bun.lock
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui/src/dom/__tests__/hydration-element.test.ts
  packages/ui/src/dom/element.ts
Due: ui, ui-server

fix(ui-server,ui): dev server error recovery and hydration duplicate handlers (#1849, #1853) (#1855)
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui/src/dom/__tests__/hydration-element.test.ts
  packages/ui/src/dom/element.ts
Due: ui, ui-server

docs(mint-docs): replace custom llms.txt with auto-generated + quick reference page #1841
  packages/mint-docs/docs.json
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/llms.txt
Due: none

docs: reframe AOT as default, not opt-in configuration #1843
  packages/mint-docs/guides/deploy/node.mdx
  packages/mint-docs/guides/ui/ssr.mdx
Due: none

fix(examples): wire AOT manifest in task-manager custom server #1843
  examples/task-manager/server.ts
Due: none

docs(mint-docs): add LLM quick reference page to prevent hallucination (#1842)
  packages/mint-docs/docs.json
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

fix(examples): use vertz start instead of custom server.ts #1843
  examples/task-manager/package.json
  examples/task-manager/server.ts
Due: none

chore: AOT docs + switch task-manager to vertz start (#1857)
  examples/task-manager/package.json
  examples/task-manager/server.ts
  packages/mint-docs/guides/deploy/node.mdx
  packages/mint-docs/guides/ui/ssr.mdx
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
