Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

feat(native-compiler): add component + reactivity analysis #1868
  native/Cargo.lock
  native/vertz-compiler/Cargo.toml
  native/vertz-compiler/__tests__/component-analysis.test.ts
  native/vertz-compiler/__tests__/reactivity-analysis.test.ts
  native/vertz-compiler/src/component_analyzer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/reactivity_analyzer.rs
  native/vertz-compiler/src/signal_api_registry.rs
Due: none

feat(native-compiler): scaffold Rust crate with oxc + napi-rs POC #1867
  .github/workflows/native-compiler.yml
  .gitignore
  native/Cargo.lock
  native/Cargo.toml
  native/vertz-compiler/Cargo.toml
  native/vertz-compiler/__tests__/native-compiler.test.ts
  native/vertz-compiler/build.rs
  native/vertz-compiler/package.json
  native/vertz-compiler/src/lib.rs
Due: none

chore(native-compiler): remove unnecessary eslint-disable comment #1867
  native/vertz-compiler/__tests__/native-compiler.test.ts
Due: none

feat(native-compiler): Phase 0.1 — Rust scaffold + oxc NAPI POC (#1878)
  .github/workflows/native-compiler.yml
  .gitignore
  native/Cargo.lock
  native/Cargo.toml
  native/vertz-compiler/Cargo.toml
  native/vertz-compiler/__tests__/native-compiler.test.ts
  native/vertz-compiler/build.rs
  native/vertz-compiler/package.json
  native/vertz-compiler/src/lib.rs
Due: none

fix(native-compiler): address review findings for Phase 0.2 #1868
  native/vertz-compiler/__tests__/component-analysis.test.ts
  native/vertz-compiler/__tests__/reactivity-analysis.test.ts
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/reactivity_analyzer.rs
  native/vertz-compiler/src/signal_api_registry.rs
Due: none

fix(ui-compiler): add AOT helper imports and fix query scope leaks #1880
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/aot-manifest-build.ts
Due: ui-compiler, ui-server

fix(ui-compiler): use negative lookbehind in derived alias replacement #1880
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

chore: update changeset with #1880 fixes
  .changeset/fix-aot-route-extraction.md
Due: none

feat(native-compiler): add signal, computed, and mutation transforms #1869
  native/vertz-compiler/__tests__/computed-transform.test.ts
  native/vertz-compiler/__tests__/mutation-transform.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/src/computed_transformer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/magic_string.rs
  native/vertz-compiler/src/mutation_analyzer.rs
  native/vertz-compiler/src/mutation_transformer.rs
  native/vertz-compiler/src/signal_transformer.rs
Due: none

fix(ui): compute full dep-hash key during client hydration to match SSR key (#1859, #1861)
  .changeset/fix-query-reactive-refetch.md
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui

fix(native-compiler): address review findings for Phase 0.3 #1869
  native/Cargo.lock
  native/vertz-compiler/Cargo.toml
  native/vertz-compiler/__tests__/computed-transform.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/src/computed_transformer.rs
  native/vertz-compiler/src/mutation_transformer.rs
  native/vertz-compiler/src/signal_transformer.rs
Due: none

fix(ui): set idle=false in hydration resolve, add null-thunk test (#1859)
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui

feat(native-compiler): Phase 0.2+0.3 — Analysis + Transforms (#1883)
  native/Cargo.lock
  native/vertz-compiler/Cargo.toml
  native/vertz-compiler/__tests__/component-analysis.test.ts
  native/vertz-compiler/__tests__/computed-transform.test.ts
  native/vertz-compiler/__tests__/mutation-transform.test.ts
  native/vertz-compiler/__tests__/reactivity-analysis.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/src/component_analyzer.rs
  native/vertz-compiler/src/computed_transformer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/magic_string.rs
  native/vertz-compiler/src/mutation_analyzer.rs
  native/vertz-compiler/src/mutation_transformer.rs
  native/vertz-compiler/src/reactivity_analyzer.rs
  native/vertz-compiler/src/signal_api_registry.rs
  native/vertz-compiler/src/signal_transformer.rs
Due: none

fix(ui): compute full dep-hash key during client hydration to match SSR key (#1859, #1861)
  .changeset/fix-query-ssr-hydration-key.md
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui

feat(native-compiler): Phase 0.4 — Props destructuring + Mount frame transforms (#1870)
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/__tests__/props-destructuring.test.ts
  native/vertz-compiler/src/component_analyzer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/mount_frame_transformer.rs
  native/vertz-compiler/src/props_transformer.rs
Due: none

fix(ui): compute full dep-hash key during client hydration to match SSR key (#1859, #1861) (#1884)
  .changeset/fix-query-ssr-hydration-key.md
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui

fix(native-compiler): address review findings for Phase 0.4
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/__tests__/props-destructuring.test.ts
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/mount_frame_transformer.rs
  native/vertz-compiler/src/props_transformer.rs
Due: none

feat(native-compiler): Phase 0.4 — Props destructuring + Mount frame transforms (#1887)
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/__tests__/props-destructuring.test.ts
  native/vertz-compiler/src/component_analyzer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/mount_frame_transformer.rs
  native/vertz-compiler/src/props_transformer.rs
Due: none

fix(ui-server): AOT helper imports per file, exact route matching, query fallback #1880 #1885 #1888
  .changeset/fix-aot-route-extraction.md
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/__tests__/ssr-route-matcher.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-route-matcher.ts
Due: cli, ui-server

chore: add review files and minor formatting from rebase #1880
  packages/ui-server/e2e/fixture/tsconfig.json
  packages/ui-server/src/ssr/index.ts
  reviews/fix-aot-route-extraction/phase-01-fix.md
  reviews/fix-aot-route-extraction/phase-02-fix.md
Due: none

fix(ui-compiler): AOT bundle failures — missing imports and query scope leaks (#1882)
  .changeset/fix-aot-route-extraction.md
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-server/e2e/fixture/tsconfig.json
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/__tests__/ssr-route-matcher.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-route-matcher.ts
  packages/ui-server/src/ssr/index.ts
  reviews/fix-aot-route-extraction/phase-01-fix.md
  reviews/fix-aot-route-extraction/phase-02-fix.md
Due: cli, ui-compiler, ui-server

feat(native-compiler): Phase 0.5 — JSX transform (#1871)
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/magic_string.rs
Due: none

docs(native-compiler): update Phase 0.5 review with resolutions (#1871)
  reviews/native-compiler/phase-05-jsx-transform.md
Due: none

test(native-compiler): add 13 more JSX transform test cases
  native/vertz-compiler/__tests__/jsx-transform.test.ts
Due: none

fix(native-compiler): address Phase 0.5 review blockers and should-fixes (#1871)
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/src/jsx_transformer.rs
  reviews/native-compiler/phase-05-jsx-transform.md
Due: none

feat(native-compiler): address Phase 0.5 should-fix items (#1871)
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/src/jsx_transformer.rs
Due: none

refactor(native-compiler): collapse redundant is_reactive branch in process_attr (#1871)
  native/vertz-compiler/src/jsx_transformer.rs
Due: none

feat(native-compiler): Phase 0.5 — JSX Transform (#1871) (#1889)
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/src/jsx_transformer.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/magic_string.rs
  reviews/native-compiler/phase-05-jsx-transform.md
Due: none

feat(native-compiler): Phase 0.6 — CSS Transform + Fast Refresh + Context Stable IDs (#1871)
  native/vertz-compiler/__tests__/context-stable-ids.test.ts
  native/vertz-compiler/__tests__/css-transform.test.ts
  native/vertz-compiler/__tests__/fast-refresh.test.ts
  native/vertz-compiler/src/context_stable_ids.rs
  native/vertz-compiler/src/css_token_tables.rs
  native/vertz-compiler/src/css_transform.rs
  native/vertz-compiler/src/fast_refresh.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/magic_string.rs
Due: none

fix(native-compiler): Phase 0.6 review fixes — escaping, export const, fraction parsing (#1871)
  native/vertz-compiler/__tests__/context-stable-ids.test.ts
  native/vertz-compiler/src/context_stable_ids.rs
  native/vertz-compiler/src/css_token_tables.rs
  native/vertz-compiler/src/fast_refresh.rs
  reviews/native-compiler/phase-06-css-fast-refresh-context-ids.md
Due: none

style(native-compiler): cargo fmt (#1871)
  native/vertz-compiler/src/css_transform.rs
Due: none

feat(native-compiler): Phase 0.6 — CSS Transform + Fast Refresh + Context Stable IDs (#1871) (#1894)
  native/vertz-compiler/__tests__/context-stable-ids.test.ts
  native/vertz-compiler/__tests__/css-transform.test.ts
  native/vertz-compiler/__tests__/fast-refresh.test.ts
  native/vertz-compiler/src/context_stable_ids.rs
  native/vertz-compiler/src/css_token_tables.rs
  native/vertz-compiler/src/css_transform.rs
  native/vertz-compiler/src/fast_refresh.rs
  native/vertz-compiler/src/lib.rs
  native/vertz-compiler/src/magic_string.rs
  reviews/native-compiler/phase-06-css-fast-refresh-context-ids.md
Due: none

test(ui): add unit test for descriptor-in-thunk cache key with static _key
  packages/ui/src/query/__tests__/query.test.ts
Due: none

feat(task-manager): add URL-based pagination with useSearchParams + query
  examples/task-manager/e2e/prod-ssr.spec.ts
  examples/task-manager/e2e/server-nav.spec.ts
  examples/task-manager/e2e/ssr.spec.ts
  examples/task-manager/e2e/task-list.spec.ts
  examples/task-manager/src/api/mock-data.ts
  examples/task-manager/src/lib/types.ts
  examples/task-manager/src/pages/task-list.tsx
  examples/task-manager/src/tests/task-list.test.ts
Due: none

fix(ui-compiler): auto-thunk query() args containing reactive source variables
  packages/ui-compiler/src/__tests__/query-auto-thunk.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/query-auto-thunk-transformer.ts
  plans/fix-query-reactive-source-auto-thunk.md
Due: ui-compiler
