Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

chore(entity-todo): remove unused vite.config.ts [#684]
  examples/entity-todo/vite.config.ts
Due: none

chore(entity-todo): sync lockfile with package.json changes [#684]
  bun.lock
  examples/entity-todo/package.json
Due: none

fix(cloudflare): add @vertz/ui-server as devDependency to fix CI typecheck [#684]
  bun.lock
  packages/cloudflare/package.json
Due: none

fix(entity-todo): fix createRequire regex in build script [#684]
  examples/entity-todo/build.ts
Due: none

fix(db,ui-server): eliminate dead-code bundling in Worker builds [#738]
  bun.lock
  examples/contacts-api/src/server.ts
  examples/contacts-api/test/api.test.ts
  examples/entity-todo/build.ts
  examples/entity-todo/src/db-d1.ts
  examples/entity-todo/src/db.ts
  packages/cloudflare/src/handler.ts
  packages/cloudflare/tests/handler.test.ts
  packages/db/bunup.config.ts
  packages/db/package.json
  packages/db/src/client/postgres-driver.ts
  packages/db/src/d1/index.ts
  packages/db/src/index.ts
  packages/db/src/postgres/index.ts
  packages/db/src/sqlite/index.ts
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/ssr/index.ts
Due: cloudflare, db

fix(db): add postgres to devDependencies for CI typecheck [#738]
  packages/db/package.json
Due: none

chore(db): sync lockfile with postgres devDependency [#738]
  bun.lock
Due: none

fix(ci): pin bun to 1.3.9 to match packageManager [#738]
  .github/workflows/ci.yml
Due: none

feat(cloudflare): zero-boilerplate SSR via SSR module config (#737)
  .github/workflows/ci.yml
  bun.lock
  examples/contacts-api/src/server.ts
  examples/contacts-api/test/api.test.ts
  examples/entity-todo/build.ts
  examples/entity-todo/package.json
  examples/entity-todo/src/db-d1.ts
  examples/entity-todo/src/db.ts
  examples/entity-todo/src/dev-server.ts
  examples/entity-todo/src/entry-server.ts
  examples/entity-todo/src/worker.ts
  examples/entity-todo/vite.config.ts
  examples/entity-todo/wrangler.toml
  packages/cloudflare/package.json
  packages/cloudflare/src/handler.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/tests/handler.test.ts
  packages/db/bunup.config.ts
  packages/db/package.json
  packages/db/src/client/postgres-driver.ts
  packages/db/src/d1/index.ts
  packages/db/src/index.ts
  packages/db/src/postgres/index.ts
  packages/db/src/sqlite/index.ts
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/ssr/index.ts
Due: cloudflare, db

chore: upgrade dependencies across monorepo [#738]
  bun.lock
  examples/entity-todo/package.json
  package.json
  packages/cli-runtime/package.json
  packages/cli/package.json
  packages/cloudflare/package.json
  packages/codegen/package.json
  packages/compiler/package.json
  packages/core/package.json
  packages/create-vertz-app/package.json
  packages/db/package.json
  packages/fetch/package.json
  packages/integration-tests/package.json
  packages/server/package.json
  packages/server/src/__tests__/auth/auth.test.ts
  packages/testing/package.json
  packages/tui/package.json
  packages/ui-canvas/package.json
  packages/ui-compiler/package.json
  packages/ui-primitives/package.json
  packages/ui-server/package.json
  packages/ui/package.json
Due: none

fix(db): increase timeout for ID generator uniqueness test [#738]
  packages/db/src/__tests__/id-generators.test.ts
Due: none

chore: upgrade dependencies across monorepo (#740)
  bun.lock
  examples/entity-todo/package.json
  package.json
  packages/cli-runtime/package.json
  packages/cli/package.json
  packages/cloudflare/package.json
  packages/codegen/package.json
  packages/compiler/package.json
  packages/core/package.json
  packages/create-vertz-app/package.json
  packages/db/package.json
  packages/db/src/__tests__/id-generators.test.ts
  packages/fetch/package.json
  packages/integration-tests/package.json
  packages/server/package.json
  packages/server/src/__tests__/auth/auth.test.ts
  packages/testing/package.json
  packages/tui/package.json
  packages/ui-canvas/package.json
  packages/ui-compiler/package.json
  packages/ui-primitives/package.json
  packages/ui-server/package.json
  packages/ui/package.json
Due: none

fix(db): remove unused @vertz/server peer dependency [#741]
  bun.lock
  package.json
  packages/db/package.json
Due: none

fix(db): remove unused @vertz/server peer dependency [#741] (#742)
  bun.lock
  package.json
  packages/db/package.json
Due: none

feat(ui-server,ui-compiler,cli): remove Vite, replace with Bun-native dev server [#739]
  .changeset/remove-vite-bun-dev-server.md
  bun.lock
  examples/entity-todo/src/dev-server.ts
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/ui-compiler/package.json
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/__tests__/nav-handler.test.ts
  packages/ui-compiler/src/__tests__/vite-plugin-ssr-routing.test.ts
  packages/ui-compiler/src/__tests__/vite-plugin-ssr.test.ts
  packages/ui-compiler/src/__tests__/vite-plugin.test.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/nav-handler.ts
  packages/ui-compiler/src/vite-plugin.ts
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/__tests__/dev-server-openapi.test.ts
  packages/ui-server/src/__tests__/dev-server-ssr-module.test.ts
  packages/ui-server/src/__tests__/dev-server.test.ts
  packages/ui-server/src/__tests__/node-web-bridge.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/dev-server.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/node-web-bridge.ts
  packages/ui-server/src/ssr-html.ts
  packages/ui/README.md
Due: cli, ui-compiler, ui-server

test(ui-server,cli): improve coverage for bun-dev-server and dev command [#739]
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/__tests__/ssr-html.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

feat: remove Vite, replace with Bun-native dual-mode dev server (#743)
  .changeset/remove-vite-bun-dev-server.md
  bun.lock
  examples/entity-todo/src/dev-server.ts
  packages/cli/package.json
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/ui-compiler/package.json
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/__tests__/nav-handler.test.ts
  packages/ui-compiler/src/__tests__/vite-plugin-ssr-routing.test.ts
  packages/ui-compiler/src/__tests__/vite-plugin-ssr.test.ts
  packages/ui-compiler/src/__tests__/vite-plugin.test.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/nav-handler.ts
  packages/ui-compiler/src/vite-plugin.ts
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/__tests__/dev-server-openapi.test.ts
  packages/ui-server/src/__tests__/dev-server-ssr-module.test.ts
  packages/ui-server/src/__tests__/dev-server.test.ts
  packages/ui-server/src/__tests__/node-web-bridge.test.ts
  packages/ui-server/src/__tests__/ssr-html.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/dev-server.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/node-web-bridge.ts
  packages/ui-server/src/ssr-html.ts
  packages/ui/README.md
Due: cli, ui-compiler, ui-server

feat(ui): add per-field setValue() and reset() to form() API [#529]
  packages/ui/src/form/__tests__/field-state.test.ts
  packages/ui/src/form/__tests__/form.test-d.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/field-state.ts
  packages/ui/src/form/form.ts
Due: ui

chore: add changeset for #529
  .changeset/form-field-set-reset.md
Due: none

fix(ui): use field.setValue() in handleInputOrChange to avoid logic duplication [#529]
  packages/ui/src/form/form.ts
Due: ui

feat(ui): per-field setValue() and reset() for form() API (#747)
  .changeset/form-field-set-reset.md
  packages/ui/src/form/__tests__/field-state.test.ts
  packages/ui/src/form/__tests__/form.test-d.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/field-state.ts
  packages/ui/src/form/form.ts
Due: ui

docs: add design plan for lazy children thunks [#744]
  plans/hydration-jsx-children-thunks.md
  plans/hydration-jsx-ordering.md
Due: none

docs: add design plan for lazy children thunks [#744] (#748)
  plans/hydration-jsx-children-thunks.md
  plans/hydration-jsx-ordering.md
Due: none

fix(ui): __element() returns specific HTML element types via overloads [#514]
  packages/ui/src/dom/__tests__/element.test-d.ts
  packages/ui/src/dom/element.ts
Due: ui

chore: add changeset for #596 and #514
  .changeset/literal-status-element-types.md
Due: none

fix(errors): use literal status types on HTTP error subclasses [#596]
  packages/errors/src/fetch.ts
  packages/errors/src/tests/fetch-status-literals.test-d.ts
  packages/errors/tsconfig.json
Due: errors

fix(errors,ui): literal status types + __element() overloads (#746)
  .changeset/literal-status-element-types.md
  packages/errors/src/fetch.ts
  packages/errors/src/tests/fetch-status-literals.test-d.ts
  packages/errors/tsconfig.json
  packages/ui/src/dom/__tests__/element.test-d.ts
  packages/ui/src/dom/element.ts
Due: errors, ui

fix(server): return Result from action pipeline instead of throwing [#399]
  .changeset/action-pipeline-result-type.md
  packages/server/src/entity/__tests__/action-pipeline.test.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/route-generator.ts
Due: server

fix(server): return Result from action pipeline instead of throwing [#399] (#749)
  .changeset/action-pipeline-result-type.md
  packages/server/src/entity/__tests__/action-pipeline.test.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/route-generator.ts
Due: server

feat(compiler,ui): lazy children thunks for hydration-safe JSX composition (#750)
  .github/workflows/ci.yml
  examples/task-manager/src/app.tsx
  examples/task-manager/src/tests/task-list.test.ts
  package.json
  packages/ui-compiler/src/transformers/__tests__/jsx-children-thunk.test-vitest.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/__tests__/hydration-children-thunk.test.ts
  packages/ui/src/component/__tests__/children.test.ts
  packages/ui/src/component/__tests__/context.test-d.ts
  packages/ui/src/component/__tests__/context.test.ts
  packages/ui/src/component/children.ts
  packages/ui/src/component/context.ts
  packages/ui/src/css/__tests__/theme-provider.test.ts
  packages/ui/src/css/theme-provider.ts
  packages/ui/src/jsx-runtime/__tests__/jsx-runtime.test.ts
  packages/ui/src/jsx-runtime/index.ts
  packages/ui/src/router/__tests__/link.test.ts
  packages/ui/src/router/link.ts
Due: ui, ui-compiler

fix(server,errors): migrate auth + access enforcer to Result type [#399]
  .changeset/auth-result-access-enforcer-migration.md
  packages/errors/src/domain/auth.ts
  packages/errors/src/domain/index.ts
  packages/errors/src/tests/domain/auth.test.ts
  packages/server/src/__tests__/auth/auth.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/entity/__tests__/access-enforcer.test.ts
  packages/server/src/entity/__tests__/action-pipeline.test.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/index.ts
Due: errors, server

fix(server,errors): migrate auth + access enforcer to Result type [#399] (#751)
  .changeset/auth-result-access-enforcer-migration.md
  packages/errors/src/domain/auth.ts
  packages/errors/src/domain/index.ts
  packages/errors/src/tests/domain/auth.test.ts
  packages/server/src/__tests__/auth/auth.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/entity/__tests__/access-enforcer.test.ts
  packages/server/src/entity/__tests__/action-pipeline.test.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/index.ts
Due: errors, server

fix(task-manager): broken CSS token, debug logs, and @ts-ignore [#744] (#753)
  examples/task-manager/dev-server.ts
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
Due: none

feat(task-manager): wire vertz dev, remove manual dev-server (#755)
  bun.lock
  examples/entity-todo/build.ts
  examples/entity-todo/package.json
  examples/task-manager/build.ts
  examples/task-manager/dev-server.ts
  examples/task-manager/index.html
  examples/task-manager/package.json
  examples/task-manager/src/app.tsx
  examples/task-manager/src/entry-client.ts
  examples/task-manager/src/index.ts
  examples/task-manager/src/worker.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/build.test.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/production-build/index.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
Due: cli

test(db): add mutation-killing tests for @vertz/db [#399]
  packages/db/src/adapters/__tests__/sql-utils.test.ts
  packages/db/src/client/__tests__/sqlite-driver.test.ts
  packages/db/src/query/__tests__/crud-unit.test.ts
  packages/db/src/query/__tests__/executor.test.ts
  packages/db/src/query/__tests__/helpers.test.ts
Due: none

test(db): add mutation-killing tests for @vertz/db [#399] (#758)
  packages/db/src/adapters/__tests__/sql-utils.test.ts
  packages/db/src/client/__tests__/sqlite-driver.test.ts
  packages/db/src/query/__tests__/crud-unit.test.ts
  packages/db/src/query/__tests__/executor.test.ts
  packages/db/src/query/__tests__/helpers.test.ts
Due: none

feat(fetch,codegen,ui): QueryDescriptor for zero-boilerplate SDK + query() integration (#763)
  bun.lock
  examples/task-manager/package.json
  examples/task-manager/src/api/mock-data.ts
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  examples/task-manager/src/router.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/codegen/src/generators/typescript/emit-client.ts
  packages/fetch/src/client.test.ts
  packages/fetch/src/client.ts
  packages/fetch/src/descriptor.test-d.ts
  packages/fetch/src/descriptor.test.ts
  packages/fetch/src/descriptor.ts
  packages/fetch/src/index.ts
  packages/fetch/src/types.ts
  packages/ui/package.json
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/index.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/public.ts
  packages/ui/src/query/query.ts
  plans/sdk-query-integration.md
  poc/sdk-query-descriptor/FINDINGS.md
  poc/sdk-query-descriptor/auth.test.ts
  poc/sdk-query-descriptor/auth.ts
  poc/sdk-query-descriptor/descriptor.test-d.ts
  poc/sdk-query-descriptor/descriptor.test.ts
  poc/sdk-query-descriptor/descriptor.ts
  poc/sdk-query-descriptor/simulated-sdk.ts
  poc/sdk-query-descriptor/tsconfig.json
Due: codegen, fetch, ui

feat(theme-shadcn): theme system with components and primitives (#765)
  bun.lock
  examples/task-manager/src/components/confirm-dialog.tsx
  examples/task-manager/src/styles/components.ts
  examples/task-manager/src/styles/theme.ts
  packages/integration-tests/src/__tests__/theme-shadcn-walkthrough.test.ts
  packages/theme-shadcn/bunfig.toml
  packages/theme-shadcn/happydom.ts
  packages/theme-shadcn/package.json
  packages/theme-shadcn/src/__tests__/components.test.ts
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/components/badge.ts
  packages/theme-shadcn/src/components/button.ts
  packages/theme-shadcn/src/components/card.ts
  packages/theme-shadcn/src/components/form-group.ts
  packages/theme-shadcn/src/components/index.ts
  packages/theme-shadcn/src/components/input.ts
  packages/theme-shadcn/src/components/label.ts
  packages/theme-shadcn/src/components/primitives/accordion.ts
  packages/theme-shadcn/src/components/primitives/checkbox.ts
  packages/theme-shadcn/src/components/primitives/dialog.ts
  packages/theme-shadcn/src/components/primitives/index.ts
  packages/theme-shadcn/src/components/primitives/progress.ts
  packages/theme-shadcn/src/components/primitives/select.ts
  packages/theme-shadcn/src/components/primitives/switch.ts
  packages/theme-shadcn/src/components/primitives/tabs.ts
  packages/theme-shadcn/src/components/primitives/tooltip.ts
  packages/theme-shadcn/src/components/separator.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  packages/theme-shadcn/src/styles/accordion.ts
  packages/theme-shadcn/src/styles/checkbox.ts
  packages/theme-shadcn/src/styles/dialog.ts
  packages/theme-shadcn/src/styles/index.ts
  packages/theme-shadcn/src/styles/progress.ts
  packages/theme-shadcn/src/styles/select.ts
  packages/theme-shadcn/src/styles/switch.ts
  packages/theme-shadcn/src/styles/tabs.ts
  packages/theme-shadcn/src/styles/tooltip.ts
Due: none

refactor(codegen): drop module/router codegen, keep only entity SDK [#760] (#767)
  packages/codegen/src/__tests__/config.test.ts
  packages/codegen/src/__tests__/generate.test.ts
  packages/codegen/src/__tests__/incremental.test.ts
  packages/codegen/src/__tests__/integration.test.ts
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/__tests__/ir-adapter.test.ts
  packages/codegen/src/__tests__/pipeline.test.ts
  packages/codegen/src/__tests__/typescript/emit-cli.test.ts
  packages/codegen/src/__tests__/typescript/emit-client.test.ts
  packages/codegen/src/__tests__/typescript/emit-routes.test.ts
  packages/codegen/src/__tests__/typescript/emit-sdk.test.ts
  packages/codegen/src/__tests__/typescript/emit-types.test.ts
  packages/codegen/src/config.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/codegen/src/generators/entity-types-generator.ts
  packages/codegen/src/generators/typescript/emit-cli.ts
  packages/codegen/src/generators/typescript/emit-client.ts
  packages/codegen/src/generators/typescript/emit-routes.ts
  packages/codegen/src/generators/typescript/emit-sdk.ts
  packages/codegen/src/generators/typescript/emit-types.ts
  packages/codegen/src/index.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
Due: codegen
