Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(runtime): server module hot-swap via isolate restart — Phase 4a (#2068)
  native/vertz-runtime/src/runtime/persistent_isolate.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mcp.rs
  native/vertz-runtime/src/server/module_server.rs
Due: none

chore: regenerate Cargo.lock after rebase
  native/Cargo.lock
Due: none

feat(runtime): persistent V8 isolate for API routes + SSR (#2077)
  native/Cargo.lock
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/benches/crud_benchmark.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/lib.rs
  native/vertz-runtime/src/native_handler/access_rules.rs
  native/vertz-runtime/src/native_handler/jwt.rs
  native/vertz-runtime/src/native_handler/mod.rs
  native/vertz-runtime/src/native_handler/response.rs
  native/vertz-runtime/src/native_handler/sql_builder.rs
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/runtime/mod.rs
  native/vertz-runtime/src/runtime/persistent_isolate.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mcp.rs
  native/vertz-runtime/src/server/module_server.rs
  native/vertz-runtime/src/ssr/session.rs
  native/vertz-runtime/src/watcher/file_watcher.rs
  plans/persistent-v8-isolate.md
Due: none

fix(ui-primitives): guard against double done() call in onItemExit animation (#1737)
  packages/ui-primitives/src/list/__tests__/list-animation-hooks.test.tsx
  packages/ui-primitives/src/list/list-composed.tsx
Due: ui-primitives

fix(ui-primitives): guard against double done() call in onItemExit animation (#1737) (#2078)
  packages/ui-primitives/src/list/__tests__/list-animation-hooks.test.tsx
  packages/ui-primitives/src/list/list-composed.tsx
Due: ui-primitives

fix(ui-server): add removeChild/replaceChild overrides to SSRDocumentFragment (#2020)
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-fragment.ts
Due: ui-server

fix(ui-server): preserve comment markers in SSR fragment serialization (#2020)
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/index.ts
  packages/ui-server/src/dom-shim/ssr-fragment.ts
Due: ui-server

fix(ui-server): SSR single-pass drops conditional/list comment markers (#2020) (#2080)
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/index.ts
  packages/ui-server/src/dom-shim/ssr-fragment.ts
Due: ui-server

feat(cli): add --experimental-runtime flag to vertz dev (#2052)
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/runtime/__tests__/launcher.test.ts
  packages/cli/src/runtime/launcher.ts
Due: cli

fix(cli): address review findings for --experimental-runtime (#2052)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/main.rs
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/runtime/__tests__/launcher.test.ts
  packages/cli/src/runtime/launcher.ts
Due: cli

feat(cli): add --experimental-runtime flag to vertz dev (#2052) (#2083)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/main.rs
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/runtime/__tests__/launcher.test.ts
  packages/cli/src/runtime/launcher.ts
Due: cli

feat(create-vertz-app): add router to hello-world template #1970
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  plans/1970-hello-world-router-template.md
Due: none

feat(create-vertz-app): add router to hello-world template #1970 (#2082)
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  plans/1970-hello-world-router-template.md
Due: none

feat(ui): add CSS tokens for top/right/bottom/left, object-fit, aspect-ratio (#1963)
  packages/ui/src/css/__tests__/token-resolver.test.ts
  packages/ui/src/css/__tests__/token-tables.test.ts
  packages/ui/src/css/token-resolver.ts
  packages/ui/src/css/token-tables.ts
Due: ui

docs(mint-docs): document new CSS tokens for position, object-fit, aspect-ratio (#1963)
  packages/mint-docs/api-reference/ui/css.mdx
  packages/mint-docs/guides/ui/styling.mdx
Due: none

feat(ui): add CSS tokens for position offsets, object-fit, aspect-ratio (#2081)
  packages/mint-docs/api-reference/ui/css.mdx
  packages/mint-docs/guides/ui/styling.mdx
  packages/ui/src/css/__tests__/token-resolver.test.ts
  packages/ui/src/css/__tests__/token-tables.test.ts
  packages/ui/src/css/token-resolver.ts
  packages/ui/src/css/token-tables.ts
Due: ui

fix(runtime): implement Drop for SmartDebouncer to cancel pending state #2084
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

test(runtime): add post-cancel reuse verification #2084
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

fix(runtime): implement Drop for SmartDebouncer #2084 (#2090)
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

docs: VirtualScroll design doc and headless layout vision
  bun.lock
  plans/headless-layout-vision.md
  plans/virtualization-pretext.md
Due: none

docs: VirtualScroll design doc and headless layout vision (#2088)
  bun.lock
  plans/headless-layout-vision.md
  plans/virtualization-pretext.md
Due: none

fix(runtime): add max-wait cap to SmartDebouncer batch phase #2086
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

fix(runtime): address review findings for SmartDebouncer #2086
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

feat(runtime): add vertz publish command for npm publishing
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/pm/pack.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/src/pm/scripts.rs
  native/vertz-runtime/src/pm/tarball.rs
  native/vertz-runtime/src/pm/types.rs
  native/vertz-runtime/src/pm/workspace.rs
  native/vertz-runtime/tests/pm_publish.rs
Due: none

style(runtime): cargo fmt
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/pm/pack.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/tests/pm_publish.rs
Due: none

fix(runtime): SmartDebouncer max-wait cap for batch phase #2086 (#2092)
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

fix(runtime): address clippy lints and review findings
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/pack.rs
  native/vertz-runtime/src/pm/registry.rs
Due: none

feat(runtime): add vertz publish command (#2094)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/pm/pack.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/src/pm/scripts.rs
  native/vertz-runtime/src/pm/tarball.rs
  native/vertz-runtime/src/pm/types.rs
  native/vertz-runtime/src/pm/workspace.rs
  native/vertz-runtime/tests/pm_publish.rs
Due: none

docs(pm): vertz audit design doc Rev 4 — address review findings #2036
  plans/vertz-audit.md
Due: none

feat(pm): add vertz audit — Phase 1 core scan + JSON + severity filter #2036
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/src/pm/types.rs
Due: none

fix(pm): address Phase 2 adversarial review findings for vertz audit --fix #2036
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/linker.rs
  native/vertz-runtime/src/pm/mod.rs
Due: none

fix(pm): address adversarial review findings for vertz audit #2036
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
Due: none

feat(pm): add vertz audit --fix — Phase 2 auto-update vulnerable packages #2036
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
Due: none

fix(pm): address final adversarial review for vertz audit #2036
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/registry.rs
Due: none

feat(pm): add vertz audit — vulnerability scanning + auto-fix (#2098)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/linker.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/src/pm/types.rs
  plans/vertz-audit.md
Due: none

fix(runtime): address phase 1 review findings for auto-install config #2034
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/main.rs
  reviews/pm-auto-install/phase-01-config-cli-flags.md
Due: none

feat(runtime): add autoInstall config, CLI flags, and vertz add suggestions #2034
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/errors/suggestions.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/vertzrc.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mcp.rs
  native/vertz-runtime/src/server/module_server.rs
  plans/2034-pm-auto-install.md
Due: none

fix(runtime): address review findings for auto-install dedup #2034
  native/vertz-runtime/src/errors/suggestions.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/pm/vertzrc.rs
  native/vertz-runtime/src/server/module_server.rs
Due: none

feat(runtime): auto-install missing packages in handle_deps_request #2034
  native/vertz-runtime/src/errors/broadcaster.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/server/diagnostics.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mcp.rs
  native/vertz-runtime/src/server/mcp_events.rs
  native/vertz-runtime/src/server/module_server.rs
Due: none

feat(runtime): auto-install missing packages during vertz dev #2034 (#2097)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/errors/broadcaster.rs
  native/vertz-runtime/src/errors/suggestions.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/pm/vertzrc.rs
  native/vertz-runtime/src/server/diagnostics.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mcp.rs
  native/vertz-runtime/src/server/mcp_events.rs
  native/vertz-runtime/src/server/module_server.rs
  plans/2034-pm-auto-install.md
  reviews/pm-auto-install/phase-01-config-cli-flags.md
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
