Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(docs-framework): add frontmatter parsing and integrate into build pipeline
  packages/docs-framework/src/__tests__/build-pipeline.test.ts
  packages/docs-framework/src/__tests__/frontmatter.test.ts
  packages/docs-framework/src/generator/build-pipeline.ts
  packages/docs-framework/src/index.ts
  packages/docs-framework/src/mdx/frontmatter.ts
Due: none

feat(docs-framework): add build pipeline with LLM output and manifest generation
  packages/docs-framework/src/__tests__/build-pipeline.test.ts
  packages/docs-framework/src/__tests__/llm-index.test.ts
  packages/docs-framework/src/config/load.ts
  packages/docs-framework/src/generator/build-pipeline.ts
  packages/docs-framework/src/generator/discover.ts
  packages/docs-framework/src/generator/llm-index.ts
  packages/docs-framework/src/index.ts
Due: none

fix(docs-framework): address adversarial review findings
  packages/docs-framework/src/__tests__/config.test.ts
  packages/docs-framework/src/__tests__/init.test.ts
  packages/docs-framework/src/__tests__/llm-index.test.ts
  packages/docs-framework/src/__tests__/llm-markdown.test.ts
  packages/docs-framework/src/__tests__/load-config.test.ts
  packages/docs-framework/src/config/load.ts
  packages/docs-framework/src/mdx/llm-markdown.ts
Due: none

fix(docs-framework): address dev server review findings
  packages/cli/src/commands/docs.ts
  packages/docs-framework/src/dev/compile-mdx-html.ts
  packages/docs-framework/src/dev/docs-dev-server.ts
  packages/docs-framework/src/dev/escape-html.ts
  packages/docs-framework/src/dev/render-page-html.ts
  reviews/docs-framework/phase-01-dev-server.md
Due: cli

fix(docs-framework): address phase 1 review findings
  bun.lock
  packages/cli/src/commands/__tests__/docs.test.ts
  packages/cli/src/commands/docs.ts
  packages/docs-framework/package.json
  packages/docs-framework/src/__tests__/breadcrumbs.test.tsx
  packages/docs-framework/src/__tests__/docs-layout.test.tsx
  packages/docs-framework/src/__tests__/footer.test.tsx
  packages/docs-framework/src/__tests__/header.test.tsx
  packages/docs-framework/src/__tests__/prev-next-nav.test.tsx
  packages/docs-framework/src/__tests__/sidebar.test.tsx
  packages/docs-framework/src/__tests__/table-of-contents.test.tsx
  packages/docs-framework/src/__tests__/theme-toggle.test.tsx
  packages/docs-framework/src/cli/actions.ts
  packages/docs-framework/src/layout/docs-layout.tsx
  packages/docs-framework/src/layout/header.tsx
  packages/docs-framework/src/layout/sidebar.tsx
  packages/docs-framework/src/routing/resolve.ts
  packages/docs-framework/test-compiler-plugin.ts
Due: cli

feat(docs-framework): add dev server with MDX compilation and page rendering
  bun.lock
  packages/cli/src/commands/__tests__/docs.test.ts
  packages/cli/src/commands/docs.ts
  packages/docs-framework/package.json
  packages/docs-framework/src/__tests__/breadcrumbs.test.tsx
  packages/docs-framework/src/__tests__/compile-mdx-html.test.ts
  packages/docs-framework/src/__tests__/docs-dev-server.local.ts
  packages/docs-framework/src/__tests__/docs-layout.test.tsx
  packages/docs-framework/src/__tests__/footer.test.tsx
  packages/docs-framework/src/__tests__/header.test.tsx
  packages/docs-framework/src/__tests__/prev-next-nav.test.tsx
  packages/docs-framework/src/__tests__/render-page-html.test.ts
  packages/docs-framework/src/__tests__/sidebar.test.tsx
  packages/docs-framework/src/__tests__/table-of-contents.test.tsx
  packages/docs-framework/src/__tests__/theme-toggle.test.tsx
  packages/docs-framework/src/cli/actions.ts
  packages/docs-framework/src/dev/compile-mdx-html.ts
  packages/docs-framework/src/dev/docs-dev-server.ts
  packages/docs-framework/src/dev/render-page-html.ts
  packages/docs-framework/src/index.ts
  packages/docs-framework/test-compiler-plugin.ts
  reviews/docs-framework/phase-01-cli-layout.md
  reviews/docs-framework/phase-01-core-logic.md
Due: cli

feat(docs-framework): add LLM exclude filtering and enriched frontmatter (Phase 4)
  packages/docs-framework/src/__tests__/build-pipeline.test.ts
  packages/docs-framework/src/generator/build-pipeline.ts
Due: none

feat(docs-framework): add built-in MDX components (Phase 2)
  packages/docs-framework/src/__tests__/llm-markdown.test.ts
  packages/docs-framework/src/__tests__/mdx-components.test.ts
  packages/docs-framework/src/components/accordion.ts
  packages/docs-framework/src/components/callout.ts
  packages/docs-framework/src/components/card.ts
  packages/docs-framework/src/components/children.ts
  packages/docs-framework/src/components/code-group.ts
  packages/docs-framework/src/components/columns.ts
  packages/docs-framework/src/components/frame.ts
  packages/docs-framework/src/components/index.ts
  packages/docs-framework/src/components/steps.ts
  packages/docs-framework/src/components/tabs.ts
  packages/docs-framework/src/dev/compile-mdx-html.ts
  packages/docs-framework/src/index.ts
  packages/docs-framework/src/mdx/llm-markdown.ts
Due: none

feat(docs-framework): add search UI and Pagefind integration (Phase 5)
  packages/docs-framework/src/__tests__/render-page-html.test.ts
  packages/docs-framework/src/config/types.ts
  packages/docs-framework/src/dev/render-page-html.ts
  packages/docs-framework/src/generator/build-pipeline.ts
Due: none

feat(mdx,ui-server): add dual Shiki theme support and dev server plugin extensibility
  packages/mdx/src/__tests__/plugin.test.ts
  packages/mdx/src/plugin.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
  plans/docs-framework.md
Due: ui-server

feat(docs-framework): add SSG build with HTML output, SEO, sitemap, redirects (Phase 3)
  packages/docs-framework/src/__tests__/build-pipeline.test.ts
  packages/docs-framework/src/generator/build-pipeline.ts
Due: none

fix(docs-framework): address adversarial review findings for phases 2-5
  packages/docs-framework/src/__tests__/build-pipeline.test.ts
  packages/docs-framework/src/__tests__/llm-markdown.test.ts
  packages/docs-framework/src/__tests__/mdx-components.test.ts
  packages/docs-framework/src/__tests__/render-page-html.test.ts
  packages/docs-framework/src/components/callout.ts
  packages/docs-framework/src/components/card.ts
  packages/docs-framework/src/components/columns.ts
  packages/docs-framework/src/dev/render-page-html.ts
  packages/docs-framework/src/generator/build-pipeline.ts
  packages/docs-framework/src/mdx/llm-markdown.ts
Due: none

fix(server,db): address review findings — add levels to mock graphs (#1787)
  packages/db/src/client/database.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/__tests__/request-handler.test.ts
Due: db

feat(db): multi-level .tenant() hierarchy support (#1787)
  packages/db/src/client/__tests__/tenant-graph.test.ts
  packages/db/src/client/index.ts
  packages/db/src/client/tenant-graph.ts
  packages/db/src/index.ts
  plans/multi-level-tenancy.md
Due: db

fix(server): address Phase 2 review findings (#1787)
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/define-access.ts
  packages/server/src/auth/index.ts
Due: server

feat(server,db): update tenantGraph consumers for multi-level hierarchy (#1787)
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/database.ts
  packages/server/src/entity/__tests__/tenant-chain-edge-cases.test.ts
  packages/server/src/entity/__tests__/tenant-chain.test.ts
  packages/server/src/entity/tenant-chain.ts
Due: db, server

feat(server,ui): per-level billing + access set integration (#1787)
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/__tests__/multi-level-access-e2e.test.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/cloud-jwt-verifier.ts
  packages/server/src/auth/define-access.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/auth/types.ts
  packages/ui-server/src/ssr-access-set.ts
  packages/ui/src/auth/access-set-types.ts
Due: server, ui, ui-server

chore(icons): exclude generated files from coverage reporting #1802
  bunfig.toml
  packages/icons/bunfig.toml
Due: none

chore(icons): revert root bunfig change per review
  bunfig.toml
Due: none

chore(icons): exclude generated files from coverage reporting (#1827)
  packages/icons/bunfig.toml
Due: none

test(cli-runtime): reach 95%+ code coverage (#1799)
  packages/cli-runtime/src/__tests__/auth.test.ts
  packages/cli-runtime/src/__tests__/cli.test.ts
  packages/cli-runtime/src/__tests__/output.test.ts
  packages/cli-runtime/src/__tests__/resolver.test.ts
Due: none

test(cli-runtime): reach 95%+ code coverage (#1799) (#1828)
  packages/cli-runtime/src/__tests__/auth.test.ts
  packages/cli-runtime/src/__tests__/cli.test.ts
  packages/cli-runtime/src/__tests__/output.test.ts
  packages/cli-runtime/src/__tests__/resolver.test.ts
Due: none

feat(docs-framework): add ParamField, ResponseField, Expandable, Tooltip, and Icon components
  packages/docs-framework/src/__tests__/api-components.test.ts
  packages/docs-framework/src/components/expandable.ts
  packages/docs-framework/src/components/icon.ts
  packages/docs-framework/src/components/index.ts
  packages/docs-framework/src/components/param-field.ts
  packages/docs-framework/src/components/response-field.ts
  packages/docs-framework/src/components/tooltip.ts
  packages/docs-framework/src/mdx/llm-markdown.ts
Due: none

fix(docs-framework): exclude image links from LLM internal link rewriting
  packages/docs-framework/src/mdx/llm-markdown.ts
Due: none

feat(docs-framework): LLM enhancements — internal link rewriting and code block metadata
  packages/docs-framework/src/__tests__/llm-enhancements.test.ts
  packages/docs-framework/src/mdx/llm-markdown.ts
Due: none

feat(docs-framework): enhanced code blocks with Shiki, line highlighting, and copy button
  bun.lock
  packages/docs-framework/package.json
  packages/docs-framework/src/__tests__/compile-mdx-html.test.ts
  packages/docs-framework/src/__tests__/enhanced-code-blocks.test.ts
  packages/docs-framework/src/dev/compile-mdx-html.ts
  packages/docs-framework/src/mdx/rehype-enhanced-code.ts
  plans/docs-framework-phase2.md
Due: none

feat(docs-framework): search palette with Cmd+K, Pagefind integration, and keyboard nav
  packages/docs-framework/src/__tests__/search-palette.test.ts
  packages/docs-framework/src/dev/render-page-html.ts
  packages/docs-framework/src/search/search-palette-script.ts
Due: none

feat(docs-framework): SSG completions — hidden, noindex, head tags, analytics, banner
  packages/docs-framework/src/__tests__/ssg-completions.test.ts
  packages/docs-framework/src/components/banner.ts
  packages/docs-framework/src/dev/render-page-html.ts
  packages/docs-framework/src/ssg/head-injection.ts
Due: none

chore(docs-framework): fix formatting in render-page-html
  packages/docs-framework/src/dev/render-page-html.ts
Due: none

fix(server): address deep review findings — 4 blockers + inline fixes (#1787)
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/cloud-jwt-verifier.ts
  packages/server/src/auth/index.ts
  packages/ui/src/auth/access-set-types.ts
Due: server, ui

test(ui-server): skip flaky AOT benchmark timing tests (#1787)
  packages/ui-server/src/__tests__/ssr-aot-poc.test.ts
Due: none

feat(server,db,ui): multi-level tenant hierarchy (#1787) (#1826)
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/__tests__/tenant-graph.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/index.ts
  packages/db/src/client/tenant-graph.ts
  packages/db/src/index.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/__tests__/request-handler.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/__tests__/multi-level-access-e2e.test.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/cloud-jwt-verifier.ts
  packages/server/src/auth/define-access.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/auth/types.ts
  packages/server/src/entity/__tests__/tenant-chain-edge-cases.test.ts
  packages/server/src/entity/__tests__/tenant-chain.test.ts
  packages/server/src/entity/tenant-chain.ts
  packages/ui-server/src/__tests__/ssr-aot-poc.test.ts
  packages/ui-server/src/ssr-access-set.ts
  packages/ui/src/auth/access-set-types.ts
  plans/multi-level-tenancy.md
Due: db, server, ui, ui-server

test(codegen): reach 100% code coverage (#1792)
  packages/codegen/src/__tests__/generate.test.ts
  packages/codegen/src/__tests__/generators.test.ts
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/__tests__/pipeline.test.ts
Due: none

test(codegen): reach 100% code coverage (#1792) (#1833)
  packages/codegen/src/__tests__/generate.test.ts
  packages/codegen/src/__tests__/generators.test.ts
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/__tests__/pipeline.test.ts
Due: none

fix(docs-framework): address review findings — XSS, banner persistence, tooltip hover
  packages/docs-framework/src/__tests__/api-components.test.ts
  packages/docs-framework/src/__tests__/search-palette.test.ts
  packages/docs-framework/src/__tests__/ssg-completions.test.ts
  packages/docs-framework/src/components/banner.ts
  packages/docs-framework/src/components/icon.ts
  packages/docs-framework/src/components/tooltip.ts
  packages/docs-framework/src/dev/render-page-html.ts
  packages/docs-framework/src/search/search-palette-script.ts
Due: none

feat(docs-framework): enhanced code blocks, search, API components, SSG, and LLM output (#1834)
  bun.lock
  packages/docs-framework/package.json
  packages/docs-framework/src/__tests__/api-components.test.ts
  packages/docs-framework/src/__tests__/compile-mdx-html.test.ts
  packages/docs-framework/src/__tests__/enhanced-code-blocks.test.ts
  packages/docs-framework/src/__tests__/llm-enhancements.test.ts
  packages/docs-framework/src/__tests__/search-palette.test.ts
  packages/docs-framework/src/__tests__/ssg-completions.test.ts
  packages/docs-framework/src/components/banner.ts
  packages/docs-framework/src/components/expandable.ts
  packages/docs-framework/src/components/icon.ts
  packages/docs-framework/src/components/index.ts
  packages/docs-framework/src/components/param-field.ts
  packages/docs-framework/src/components/response-field.ts
  packages/docs-framework/src/components/tooltip.ts
  packages/docs-framework/src/dev/compile-mdx-html.ts
  packages/docs-framework/src/dev/render-page-html.ts
  packages/docs-framework/src/mdx/llm-markdown.ts
  packages/docs-framework/src/mdx/rehype-enhanced-code.ts
  packages/docs-framework/src/search/search-palette-script.ts
  packages/docs-framework/src/ssg/head-injection.ts
  plans/docs-framework-phase2.md
Due: none

test(compiler): fix review findings — strengthen assertions (#1793)
  packages/compiler/src/__tests__/access-analyzer.test.ts
  packages/compiler/src/__tests__/cross-component-analyzer.test.ts
  packages/compiler/src/__tests__/route-analyzer.test.ts
  packages/compiler/src/__tests__/service-analyzer.test.ts
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
