Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

test(ui): add tests for search-param-only navigation optimization
  packages/ui/src/router/__tests__/navigate.test.ts
Due: none

refactor(task-manager): use @vertz/schema for search param schema
  bun.lock
  examples/task-manager/package.json
  examples/task-manager/src/router.ts
Due: none

fix(task-manager): search param schema defaults + pagination loading UX (#1898)
  bun.lock
  examples/task-manager/package.json
  examples/task-manager/src/pages/task-list.tsx
  examples/task-manager/src/router.ts
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/navigate.ts
Due: ui

fix(ui-server): collectCSS empty tracker fallback + variant cache key (#1912)
  packages/ui-server/src/__tests__/ssr-css-treeshake.test.ts
  packages/ui-server/src/render-to-html.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui/src/css/variants.ts
Due: ui, ui-server

perf(ui,ui-server): render-scoped CSS collection for SSR (#1912)
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/render-to-html.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui/src/css/__tests__/css-render-scoped.test.ts
  packages/ui/src/css/css.ts
  packages/ui/src/ssr/ssr-render-context.ts
Due: ui, ui-server

perf(ui,theme-shadcn): lazy variant compilation + lazy configureTheme (#1912)
  packages/theme-shadcn/src/__tests__/configure.test.ts
  packages/theme-shadcn/src/configure.ts
  packages/ui/src/css/__tests__/variants.test.ts
  packages/ui/src/css/variants.ts
  plans/1912-css-tree-shaking.md
Due: ui

test(ui-server): add integration tests for SSR CSS tree-shaking (#1912)
  packages/ui-server/src/__tests__/ssr-css-treeshake.test.ts
Due: none

perf(ui,theme-shadcn,ui-server): tree-shake unused component CSS from SSR responses (#1912) (#1924)
  packages/theme-shadcn/src/__tests__/configure.test.ts
  packages/theme-shadcn/src/configure.ts
  packages/ui-server/src/__tests__/ssr-css-treeshake.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/render-to-html.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui/src/css/__tests__/css-render-scoped.test.ts
  packages/ui/src/css/__tests__/variants.test.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/variants.ts
  packages/ui/src/ssr/ssr-render-context.ts
  plans/1912-css-tree-shaking.md
Due: ui, ui-server

feat(server): closure table auto-population + multi-level flag resolution (#1787)
  packages/server/src/auth/__tests__/multi-level-flag-resolution.test.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/crud-pipeline-closure.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/route-generator.ts
Due: server

fix(server): address Phase 3 review findings (#1787)
  packages/server/src/auth/__tests__/cascaded-wallet-consumption.test.ts
  packages/server/src/auth/access-context.ts
Due: server

docs(mint-docs): add multi-level tenancy guide (#1787)
  packages/mint-docs/guides/server/multi-tenancy.mdx
Due: none

feat(server): cascaded wallet consumption + getBatchConsumption (#1787)
  packages/server/src/auth/__tests__/cascaded-wallet-consumption.test.ts
  packages/server/src/auth/__tests__/cloud/cached-wallet-store.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-failmode.test.ts
  packages/server/src/auth/__tests__/wallet-store-batch.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/cloud/cached-wallet-store.ts
  packages/server/src/auth/cloud/cloud-wallet-store.ts
  packages/server/src/auth/wallet-store.ts
Due: server

feat(server): level-aware tenant filtering + switch-tenant server resolution (#1787)
  packages/server/src/auth/__tests__/switch-tenant-level-resolution.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/crud-pipeline-cross-level.test.ts
  packages/server/src/entity/context.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
Due: server

feat(server): multi-level tenancy — cascaded wallet, filtering, flag resolution (#1787) (#1923)
  packages/mint-docs/guides/server/multi-tenancy.mdx
  packages/server/src/auth/__tests__/cascaded-wallet-consumption.test.ts
  packages/server/src/auth/__tests__/cloud/cached-wallet-store.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-failmode.test.ts
  packages/server/src/auth/__tests__/multi-level-flag-resolution.test.ts
  packages/server/src/auth/__tests__/switch-tenant-level-resolution.test.ts
  packages/server/src/auth/__tests__/wallet-store-batch.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/cloud/cached-wallet-store.ts
  packages/server/src/auth/cloud/cloud-wallet-store.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/auth/wallet-store.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/crud-pipeline-closure.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-cross-level.test.ts
  packages/server/src/entity/context.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
Due: server

fix(task-manager): search param schema defaults + loading indicator + 4 items/page
  examples/task-manager/src/pages/task-list.tsx
Due: none

feat(ui-compiler): AOT SSR for parameterized routes — Phase 1 compiler [#1913]
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-compiler/src/types.ts
  plans/aot-parameterized-routes.md
Due: ui-compiler

feat(ui-server): resolve parameterized query keys in AOT pipeline (#1913)
  packages/ui-server/src/__tests__/aot-e2e-pipeline.test.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-server

fix(ui): skip SSE prefetch, view transition, and loaders for search-param-only navigation
  examples/task-manager/src/pages/task-list.tsx
Due: none

feat(ui-compiler,ui-server): AOT SSR for parameterized routes (#1913) (#1928)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-compiler/src/types.ts
  packages/ui-server/src/__tests__/aot-e2e-pipeline.test.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  plans/aot-parameterized-routes.md
Due: ui-compiler, ui-server

fix(auth): address review findings for sub-tenant plan assignment
  packages/integration-tests/src/__tests__/auth-billing.test.ts
  packages/integration-tests/src/__tests__/auth-versioning.test.ts
  packages/server/src/auth/__tests__/billing/event-emitter.test.ts
  packages/server/src/auth/__tests__/billing/webhook-handler.test.ts
  packages/server/src/auth/__tests__/billing/webhook-metadata.test.ts
  packages/server/src/auth/__tests__/plan-manager.test.ts
  packages/server/src/auth/billing/event-emitter.ts
  packages/server/src/auth/billing/webhook-handler.ts
  packages/server/src/auth/plan-manager.ts
  packages/server/src/auth/plan-version-store.ts
Due: server

feat(auth): replace tenantId with (resourceType, resourceId) in plan stores (#1915)
  packages/integration-tests/src/__tests__/auth-access-set.test.ts
  packages/integration-tests/src/__tests__/auth-billing.test.ts
  packages/integration-tests/src/__tests__/auth-db-stores.test.ts
  packages/integration-tests/src/__tests__/auth-plans-wallet.test.ts
  packages/integration-tests/src/__tests__/auth-versioning.test.ts
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-set-addons.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/auth-tables.test.ts
  packages/server/src/auth/__tests__/billing/webhook-handler.test.ts
  packages/server/src/auth/__tests__/billing/webhook-metadata.test.ts
  packages/server/src/auth/__tests__/cascaded-wallet-consumption.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-failmode.test.ts
  packages/server/src/auth/__tests__/db-subscription-store.test.ts
  packages/server/src/auth/__tests__/define-access.test-d.ts
  packages/server/src/auth/__tests__/grandfathering-store.test.ts
  packages/server/src/auth/__tests__/multi-level-access-e2e.test.ts
  packages/server/src/auth/__tests__/plan-manager.test.ts
  packages/server/src/auth/__tests__/plan-version-store.test.ts
  packages/server/src/auth/__tests__/shared-subscription-store.tests.ts
  packages/server/src/auth/__tests__/subscription-store.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/auth-models.ts
  packages/server/src/auth/auth-tables.ts
  packages/server/src/auth/billing/webhook-handler.ts
  packages/server/src/auth/db-subscription-store.ts
  packages/server/src/auth/grandfathering-store.ts
  packages/server/src/auth/plan-manager.ts
  packages/server/src/auth/plan-version-store.ts
  packages/server/src/auth/subscription-store.ts
  plans/sub-tenant-plan-assignment.md
Due: server

fix(auth): adapt cascaded-wallet-consumption tests to (resourceType, resourceId) API
  packages/server/src/auth/__tests__/cascaded-wallet-consumption.test.ts
  packages/server/src/auth/access-context.ts
Due: server

fix(task-manager): restore DOM globals after SSR tests
  examples/task-manager/src/__tests__/ssr.test.ts
Due: none

fix(ui): prevent loading flash on nav-prefetch cache miss from depHash mismatch
  examples/task-manager/src/pages/task-list.tsx
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/cache.ts
  packages/ui/src/query/query.ts
Due: ui

fix(task-manager): restore DOM globals after SSR dom-shim cleanup
  examples/task-manager/src/__tests__/ssr.test.ts
Due: none

feat(auth): sub-tenant plan assignment with (resourceType, resourceId) (#1915) (#1930)
  examples/task-manager/src/__tests__/ssr.test.ts
  packages/integration-tests/src/__tests__/auth-access-set.test.ts
  packages/integration-tests/src/__tests__/auth-billing.test.ts
  packages/integration-tests/src/__tests__/auth-db-stores.test.ts
  packages/integration-tests/src/__tests__/auth-plans-wallet.test.ts
  packages/integration-tests/src/__tests__/auth-versioning.test.ts
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-set-addons.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/auth-tables.test.ts
  packages/server/src/auth/__tests__/billing/event-emitter.test.ts
  packages/server/src/auth/__tests__/billing/webhook-handler.test.ts
  packages/server/src/auth/__tests__/billing/webhook-metadata.test.ts
  packages/server/src/auth/__tests__/cascaded-wallet-consumption.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-failmode.test.ts
  packages/server/src/auth/__tests__/db-subscription-store.test.ts
  packages/server/src/auth/__tests__/define-access.test-d.ts
  packages/server/src/auth/__tests__/grandfathering-store.test.ts
  packages/server/src/auth/__tests__/multi-level-access-e2e.test.ts
  packages/server/src/auth/__tests__/plan-manager.test.ts
  packages/server/src/auth/__tests__/plan-version-store.test.ts
  packages/server/src/auth/__tests__/shared-subscription-store.tests.ts
  packages/server/src/auth/__tests__/subscription-store.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/auth-models.ts
  packages/server/src/auth/auth-tables.ts
  packages/server/src/auth/billing/event-emitter.ts
  packages/server/src/auth/billing/webhook-handler.ts
  packages/server/src/auth/db-subscription-store.ts
  packages/server/src/auth/grandfathering-store.ts
  packages/server/src/auth/plan-manager.ts
  packages/server/src/auth/plan-version-store.ts
  packages/server/src/auth/subscription-store.ts
  plans/sub-tenant-plan-assignment.md
Due: server

fix(ui): prevent loading flash on nav-prefetch cache miss from depHash mismatch
  packages/ui/src/query/query.ts
Due: ui

fix(ui): prevent loading flash on nav-prefetch cache miss from depHash mismatch
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
Due: ui

fix(ui): prevent loading flash on nav-prefetch by fixing search params timing
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/query.ts
  packages/ui/src/router/navigate.ts
Due: ui

fix(ui): prevent loading flash on nav-prefetch back-navigation (#1931)
  examples/task-manager/src/pages/task-list.tsx
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/cache.ts
  packages/ui/src/query/query.ts
  packages/ui/src/router/navigate.ts
Due: ui

fix(ui): batch searchParams + current signal updates in applyNavigation (#1927)
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/navigate.ts
Due: ui

chore(changeset): add changeset for #1927 fix
  .changeset/fix-search-params-spa-defaults.md
Due: none

fix(task-manager): clean up SSR resolver between test files
  examples/task-manager/src/__tests__/routing-bug.test.ts
  examples/task-manager/src/__tests__/ssr.test.ts
Due: none

fix(ci): exclude native-compiler from CI pipeline to prevent OOM
  package.json
Due: none

fix(ui): searchParams defaults not applied on SPA navigation (#1927) (#1932)
  .changeset/fix-search-params-spa-defaults.md
  examples/task-manager/src/__tests__/routing-bug.test.ts
  examples/task-manager/src/__tests__/ssr.test.ts
  package.json
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/navigate.ts
Due: ui

test(server): increase coverage for multi-level tenancy (#1787)
  packages/server/src/auth/__tests__/cloud/cached-wallet-store.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-wallet-store.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-closure.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-cross-level.test.ts
Due: none

feat(server): closure table auto-population + multi-level flag resolution (#1787)
  packages/server/src/create-server.ts
Due: server

feat(server): level-aware tenant filtering + switch-tenant server resolution (#1787)
  packages/server/src/create-server.ts
Due: server

feat(server): multi-level tenancy (#1787) (#1929)
  packages/server/src/auth/__tests__/cloud/cached-wallet-store.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-wallet-store.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-closure.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-cross-level.test.ts
Due: none

fix(native-compiler): clean up default+all-type import braces (#1904)
  native/vertz-compiler/__tests__/typescript-strip.test.ts
  native/vertz-compiler/src/typescript_strip.rs
Due: none
