Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(server): dev-mode-aware error handling across all route handlers (#2232) (#2240)
  packages/server/src/agent/route-generator.test.ts
  packages/server/src/agent/route-generator.ts
  packages/server/src/auth/__tests__/auth-session-edge-cases.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/error-handler.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/error-handler.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/index.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/route-generator.ts
  plans/dev-mode-error-handling.md
  plans/dev-mode-error-handling/phase-01-entity-error-handler.md
  plans/dev-mode-error-handling/phase-02-route-generators-threading.md
  reviews/dev-mode-error-handling/phase-01-02-implementation.md
Due: server

feat(runtime): make native V8 runtime work with entity-todo example
  .github/workflows/release.yml
  bun.lock
  examples/entity-todo/src/server.ts
  native/Cargo.lock
  native/vtz/build.rs
  native/vtz/src/cli.rs
  native/vtz/src/runtime/module_loader.rs
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/__tests__/local-sqlite-driver.test.ts
  packages/db/src/client/__tests__/postgres-driver.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/postgres-driver.ts
  packages/db/src/client/sqlite-driver.ts
  packages/mint-docs/docs.json
  packages/mint-docs/installation.mdx
  packages/mint-docs/project-structure.mdx
  packages/mint-docs/quickstart.mdx
  packages/mint-docs/runtime.mdx
  plans/runtime-distribution-and-docs.md
Due: db

chore: fix formatting (oxfmt)
  packages/db/src/client/postgres-driver.ts
  packages/mint-docs/installation.mdx
  packages/mint-docs/runtime.mdx
Due: db

fix(fetch): widen query param type to accept typed interfaces (#2217)
  packages/fetch/src/client.ts
  packages/fetch/src/index.ts
  packages/fetch/src/types.test-d.ts
  packages/fetch/src/types.ts
  packages/openapi/src/generators/__tests__/types-generator.test.ts
  packages/openapi/src/generators/types-generator.ts
Due: fetch

fix(fetch): address review — widen descriptor types, add typecheck config (#2217)
  .changeset/fix-query-params-type.md
  packages/fetch/package.json
  packages/fetch/src/descriptor.test-d.ts
  packages/fetch/src/descriptor.ts
  packages/fetch/src/types.test-d.ts
  packages/fetch/tsconfig.typecheck.json
Due: fetch

fix(runtime): resolve #subpath imports and .vertz/ routing for client modules
  native/vtz/src/compiler/import_rewriter.rs
  native/vtz/src/server/html_shell.rs
  native/vtz/src/server/http.rs
Due: none

feat(runtime): make native V8 runtime work with entity-todo example (#2242)
  .github/workflows/release.yml
  bun.lock
  examples/entity-todo/src/server.ts
  native/Cargo.lock
  native/vtz/build.rs
  native/vtz/src/cli.rs
  native/vtz/src/compiler/import_rewriter.rs
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/server/html_shell.rs
  native/vtz/src/server/http.rs
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/__tests__/local-sqlite-driver.test.ts
  packages/db/src/client/__tests__/postgres-driver.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/postgres-driver.ts
  packages/db/src/client/sqlite-driver.ts
  packages/mint-docs/docs.json
  packages/mint-docs/installation.mdx
  packages/mint-docs/project-structure.mdx
  packages/mint-docs/quickstart.mdx
  packages/mint-docs/runtime.mdx
  plans/runtime-distribution-and-docs.md
Due: db

fix(fetch,openapi): widen query param type for codegen compatibility (#2217) (#2243)
  .changeset/fix-query-params-type.md
  packages/fetch/package.json
  packages/fetch/src/client.ts
  packages/fetch/src/descriptor.test-d.ts
  packages/fetch/src/descriptor.ts
  packages/fetch/src/index.ts
  packages/fetch/src/types.test-d.ts
  packages/fetch/src/types.ts
  packages/fetch/tsconfig.typecheck.json
  packages/openapi/src/generators/__tests__/types-generator.test.ts
  packages/openapi/src/generators/types-generator.ts
Due: fetch

feat(runtime): port E2E HMR tests from Bun dev server to native vtz runtime
  bun.lock
  native/vtz/src/assets/fast-refresh-runtime.js
  package.json
  packages/ui-server/e2e/fixture/bun-plugin-shim.ts
  packages/ui-server/e2e/fixture/bunfig.toml
  packages/ui-server/e2e/fixture/dev-server.ts
  packages/ui-server/e2e/fixture/package.json
  packages/ui-server/e2e/fixture/src/entry-client.ts
  packages/ui-server/e2e/fixture/tsconfig.json
  packages/ui-server/playwright.config.ts
Due: none

feat(runtime): port E2E HMR tests to native vtz runtime (#2245)
  bun.lock
  native/vtz/src/assets/fast-refresh-runtime.js
  package.json
  packages/ui-server/e2e/fixture/bun-plugin-shim.ts
  packages/ui-server/e2e/fixture/bunfig.toml
  packages/ui-server/e2e/fixture/dev-server.ts
  packages/ui-server/e2e/fixture/package.json
  packages/ui-server/e2e/fixture/src/entry-client.ts
  packages/ui-server/e2e/fixture/tsconfig.json
  packages/ui-server/playwright.config.ts
Due: none

docs: replace bun/bunx references with vtz runtime commands
  packages/mint-docs/examples/task-manager.mdx
  packages/mint-docs/guides/agents/workflows.mdx
  packages/mint-docs/guides/deploy/cloudflare.mdx
  packages/mint-docs/guides/deploy/og-images.mdx
  packages/mint-docs/guides/deploy/static-sites.mdx
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/guides/server/codegen.mdx
  packages/mint-docs/guides/testing-server.mdx
  packages/mint-docs/guides/testing.mdx
  packages/mint-docs/guides/ui/compiler.mdx
  packages/mint-docs/guides/ui/icons.mdx
  packages/mint-docs/guides/ui/overview.mdx
  packages/mint-docs/guides/ui/ssr.mdx
  packages/mint-docs/index.mdx
  packages/mint-docs/installation.mdx
  packages/mint-docs/project-structure.mdx
  packages/mint-docs/quickstart.mdx
  packages/mint-docs/runtime.mdx
Due: none

chore: update bun.lock version references to 0.2.47
  bun.lock
Due: none

docs: add vtz installation instructions to entry point pages
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/installation.mdx
  packages/mint-docs/quickstart.mdx
  packages/mint-docs/runtime.mdx
Due: none

fix(docs): fix oxfmt formatting in workflows.mdx
  packages/mint-docs/guides/agents/workflows.mdx
Due: none

docs: replace bun/bunx with vtz runtime across all Mintlify docs (#2247)
  bun.lock
  packages/mint-docs/examples/task-manager.mdx
  packages/mint-docs/guides/agents/workflows.mdx
  packages/mint-docs/guides/deploy/cloudflare.mdx
  packages/mint-docs/guides/deploy/og-images.mdx
  packages/mint-docs/guides/deploy/static-sites.mdx
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/guides/server/codegen.mdx
  packages/mint-docs/guides/testing-server.mdx
  packages/mint-docs/guides/testing.mdx
  packages/mint-docs/guides/ui/compiler.mdx
  packages/mint-docs/guides/ui/icons.mdx
  packages/mint-docs/guides/ui/overview.mdx
  packages/mint-docs/guides/ui/ssr.mdx
  packages/mint-docs/index.mdx
  packages/mint-docs/installation.mdx
  packages/mint-docs/project-structure.mdx
  packages/mint-docs/quickstart.mdx
  packages/mint-docs/runtime.mdx
Due: none

feat(runtime): fix native E2E infrastructure and port HMR tests to vtz webview
  native/vtz/src/main.rs
  native/vtz/src/runtime/ops/e2e.rs
  native/vtz/src/runtime/ops/e2e_bootstrap.js
  native/vtz/src/server/http.rs
  native/vtz/src/test/e2e_runner.rs
  packages/ui-server/e2e/fixture/src/hmr.e2e.ts
Due: none

feat(runtime): add missing E2E tests for parity with Playwright suite
  packages/ui-server/e2e/fixture/src/hmr.e2e.ts
Due: none

feat(runtime): fix native E2E infrastructure and port HMR tests (#2246)
  native/vtz/src/main.rs
  native/vtz/src/runtime/ops/e2e.rs
  native/vtz/src/runtime/ops/e2e_bootstrap.js
  native/vtz/src/server/http.rs
  native/vtz/src/test/e2e_runner.rs
  packages/ui-server/e2e/fixture/src/hmr.e2e.ts
Due: none

feat(runtime): add vtzx shorthand for vtz exec
  install.sh
  native/vtz/src/cli.rs
  native/vtz/src/main.rs
  packages/mint-docs/guides/deploy/cloudflare.mdx
  packages/mint-docs/guides/deploy/static-sites.mdx
  packages/mint-docs/guides/server/codegen.mdx
  packages/mint-docs/guides/testing.mdx
  packages/mint-docs/runtime.mdx
  packages/runtime/package.json
Due: none

chore: update Cargo.lock version references to 0.2.47
  native/Cargo.lock
Due: none

feat(runtime): add vtzx shorthand for vtz exec (#2248)
  install.sh
  native/Cargo.lock
  native/vtz/src/cli.rs
  native/vtz/src/main.rs
  packages/mint-docs/guides/deploy/cloudflare.mdx
  packages/mint-docs/guides/deploy/static-sites.mdx
  packages/mint-docs/guides/server/codegen.mdx
  packages/mint-docs/guides/testing.mdx
  packages/mint-docs/runtime.mdx
  packages/runtime/package.json
Due: none

feat(create-vertz-app): add landing-page template type and fix vertz create --template
  packages/cli/src/cli.ts
  packages/cli/src/commands/create.ts
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/create-vertz-app/src/__tests__/prompts.test.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/prompts.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/types.ts
Due: cli

fix(create-vertz-app): use vtz build instead of vtz run build in CLAUDE.md
  packages/create-vertz-app/src/templates/index.ts
Due: none

feat(create-vertz-app): add landing-page template content and scaffold wiring
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

chore(create-vertz-app): fix oxfmt formatting in scaffold tests
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
Due: none

feat(create-vertz-app): add landing-page scaffold template (#2249)
  packages/cli/src/cli.ts
  packages/cli/src/commands/create.ts
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/create-vertz-app/src/__tests__/prompts.test.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/prompts.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/create-vertz-app/src/types.ts
Due: cli

chore(runtime): improve vtz test runner CI readiness
  bun.lock
  native/vertz-compiler/__tests__/parity/app-file-parity.test.ts
  native/vertz-compiler/__tests__/parity/benchmark.test.ts
  native/vertz-compiler/__tests__/parity/build-transform-benchmark.test.ts
  native/vertz-compiler/__tests__/parity/build-transform-parity.test.ts
  native/vertz-compiler/__tests__/parity/cross-compiler-equivalence.test.ts
  native/vtz/src/compiler/import_rewriter.rs
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/test/collector.rs
  native/vtz/src/test/runner.rs
  native/vtz/src/test/typetests.rs
  package.json
  packages/compiler/package.json
Due: none

style(runtime): fix rustfmt formatting in test runner
  native/vtz/src/test/runner.rs
Due: none

fix(compiler): restore ts-morph dependency removed in error
  bun.lock
  packages/compiler/package.json
Due: none

chore(runtime): improve vtz test runner CI readiness (#2251)
  bun.lock
  native/vertz-compiler/__tests__/parity/app-file-parity.test.ts
  native/vertz-compiler/__tests__/parity/benchmark.test.ts
  native/vertz-compiler/__tests__/parity/build-transform-benchmark.test.ts
  native/vertz-compiler/__tests__/parity/build-transform-parity.test.ts
  native/vertz-compiler/__tests__/parity/cross-compiler-equivalence.test.ts
  native/vtz/src/compiler/import_rewriter.rs
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/test/collector.rs
  native/vtz/src/test/runner.rs
  native/vtz/src/test/typetests.rs
  package.json
Due: none

fix(compiler): fix three native compiler bugs blocking vtz dev for landing page
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler-core/src/magic_string.rs
  native/vertz-compiler-core/src/props_transformer.rs
  native/vertz-compiler-core/src/typescript_strip.rs
  native/vertz-compiler-core/tests/compile_benchmarks.rs
  packages/landing/src/app.tsx
Due: none

fix(compiler): add module-level JSX transform and regression tests
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler-core/src/lib.rs
  native/vertz-compiler-core/src/props_transformer.rs
  packages/landing/src/app.tsx
Due: none

fix(build): add native-compiler to workspace for NAPI binary resolution
  bun.lock
  native/vertz-compiler/package.json
  package.json
Due: none

fix(landing): move setInterval into onMount to prevent SSR hang
  packages/landing/src/components/hero.tsx
Due: none

fix(runtime): skip string literals in import rewriter to prevent mangling
  native/vtz/src/compiler/import_rewriter.rs
Due: none

fix(compiler): preserve type annotations on __props and strip unused index from list render
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler-core/src/props_transformer.rs
Due: none

refactor(compiler): use AST-based analysis for list render index param
  native/vertz-compiler-core/src/jsx_transformer.rs
Due: none

refactor(compiler): replace string-based key_references_index with AST analysis
  native/vertz-compiler-core/src/jsx_transformer.rs
Due: none

fix(compiler): fix hydration marker injection for fragment-returning components
  native/vertz-compiler-core/src/jsx_transformer.rs
Due: none
