Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

feat(db): codegen, introspection, and ensureTable for pgvector (#1810)
  packages/db/src/client/database.ts
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/__tests__/introspect-vector.test.ts
  packages/db/src/migration/codegen.ts
  packages/db/src/migration/introspect.ts
Due: db

feat(db): add vector index options and SQLite validation (#1810)
  packages/db/src/migration/__tests__/snapshot-vector.test.ts
  packages/db/src/migration/__tests__/validate-indexes.test.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/migration/validate-indexes.ts
  packages/db/src/schema/__tests__/table-vector-index.test.ts
  packages/db/src/schema/table.ts
Due: db

feat(db): E2E integration test and changeset for pgvector (#1810)
  .changeset/pgvector-support.md
  packages/db/src/__tests__/pgvector-e2e.test.ts
Due: none

fix(db): address pgvector review findings — B1, B2, S1, S2, S3
  packages/db/src/d.ts
  packages/db/src/migration/__tests__/differ-vector.test.ts
  packages/db/src/migration/differ.ts
  packages/db/src/migration/introspect.ts
  packages/db/src/migration/sql-generator.ts
  packages/db/src/schema/__tests__/column-vector.test.ts
  packages/db/src/schema/__tests__/table-vector-index.test.ts
  packages/db/src/schema/table.ts
Due: db

feat(db): SQL generation, dialect, and differ for pgvector (#1810)
  packages/db/src/dialect/__tests__/postgres-dialect.test.ts
  packages/db/src/dialect/postgres.ts
  packages/db/src/dialect/types.ts
  packages/db/src/migration/__tests__/differ-vector.test.ts
  packages/db/src/migration/__tests__/sql-generator-dialect.test.ts
  packages/db/src/migration/differ.ts
  packages/db/src/migration/sql-generator.ts
Due: db

style(db): format snapshot-vector and validate-indexes test files
  bun.lock
  examples/linear/package.json
  packages/db/src/migration/__tests__/snapshot-vector.test.ts
  packages/db/src/migration/__tests__/validate-indexes.test.ts
Due: none

fix: resolve bun.lock merge conflict from rebase
  bun.lock
  examples/linear/package.json
Due: none

style(cli): fix oxfmt formatting in preview test (#2164)
  packages/cli/src/commands/__tests__/preview.test.ts
Due: none

docs(db): add pgvector documentation — d.vector(), HNSW/IVFFlat indexes (#1810)
  packages/mint-docs/guides/db/introspection.mdx
  packages/mint-docs/guides/db/schema.mdx
Due: none

fix(pm): vtz create runs bin scripts + registry cache guard (#2339, #2340) (#2349)
  native/vtz/Cargo.toml
  native/vtz/src/cli.rs
  native/vtz/src/main.rs
  native/vtz/src/pm/create.rs
  native/vtz/src/pm/registry.rs
Due: none

style: format schema.mdx
  packages/mint-docs/guides/db/schema.mdx
Due: none

feat(cli): add `vertz preview` command (#2350)
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/freshness.test.ts
  packages/cli/src/commands/__tests__/preview.test.ts
  packages/cli/src/commands/freshness.ts
  packages/cli/src/commands/preview.ts
  packages/cli/src/commands/serve-shared.ts
  packages/cli/src/commands/start.ts
  plans/2164-cli-preview.md
  plans/2164-cli-preview/phase-01-extract-shared-serving.md
  plans/2164-cli-preview/phase-02-freshness-detection.md
  plans/2164-cli-preview/phase-03-preview-command.md
Due: cli

fix(ssr): return HTTP 404 for unmatched routes + auto-detect favicon (#2344, #2347)
  native/vtz/src/bridge/mod.rs
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/html_shell.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/module_server.rs
  native/vtz/src/ssr/html_document.rs
  native/vtz/tests/ssr_render.rs
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-progressive-response.ts
Due: ui-server

feat(db): full pgvector support — vector column type and HNSW/IVFFlat index options (#1810) (#2351)
  .changeset/pgvector-support.md
  packages/db/src/__tests__/pgvector-e2e.test.ts
  packages/db/src/client/database.ts
  packages/db/src/d.ts
  packages/db/src/dialect/__tests__/postgres-dialect.test.ts
  packages/db/src/dialect/postgres.ts
  packages/db/src/dialect/types.ts
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/__tests__/differ-vector.test.ts
  packages/db/src/migration/__tests__/introspect-vector.test.ts
  packages/db/src/migration/__tests__/snapshot-vector.test.ts
  packages/db/src/migration/__tests__/sql-generator-dialect.test.ts
  packages/db/src/migration/__tests__/validate-indexes.test.ts
  packages/db/src/migration/codegen.ts
  packages/db/src/migration/differ.ts
  packages/db/src/migration/introspect.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/migration/sql-generator.ts
  packages/db/src/migration/validate-indexes.ts
  packages/db/src/schema/__tests__/column-vector.test.ts
  packages/db/src/schema/__tests__/table-vector-index.test.ts
  packages/db/src/schema/column.ts
  packages/db/src/schema/table.ts
  packages/mint-docs/guides/db/introspection.mdx
  packages/mint-docs/guides/db/schema.mdx
Due: db

fix(ssr): return HTTP 404 for unmatched routes + auto-detect favicon (#2344, #2347) (#2352)
  native/vtz/src/bridge/mod.rs
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/html_shell.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/module_server.rs
  native/vtz/src/ssr/html_document.rs
  native/vtz/tests/ssr_render.rs
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-progressive-response.ts
Due: ui-server

chore(agents): add changeset for typed prev (#2147)
  .changeset/typed-prev-builder.md
Due: none

feat(agents): typed ctx.prev accumulation via builder pattern (#2147)
  packages/agents/src/index.ts
  packages/agents/src/types.test-d.ts
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
  plans/2147-agents-typed-prev.md
  plans/2147-agents-typed-prev/phase-01-builder-pattern.md
Due: none

fix(agents): address review findings for typed prev (#2147)
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
  reviews/agent-typed-prev/phase-01-builder-pattern.md
Due: none

docs: llms.txt discoverability, fix outdated CLI refs, document /api/ prefix (#2181)
  packages/landing/public/robots.txt
  packages/landing/scripts/build.ts
  packages/landing/src/llms-txt.ts
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

style(agents): fix oxfmt formatting (#2147)
  packages/agents/src/workflow.ts
Due: none

feat(runtime): wire persistent isolate to use production snapshot (#2116)
  native/vtz/src/runtime/persistent_isolate.rs
  plans/2107-test-runner-isolate-optimization.md
Due: none

feat(runtime): add V8 production snapshot infrastructure (#2116)
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/mod.rs
  native/vtz/src/runtime/snapshot.rs
  native/vtz/src/test/snapshot.rs
  plans/2116-v8-prod-snapshots.md
  plans/2116-v8-prod-snapshots/phase-01-shared-infra-and-snapshot.md
  plans/2116-v8-prod-snapshots/phase-02-wire-persistent-isolate.md
Due: none

fix(runtime): address Phase 1 review findings (#2116)
  bun.lock
  native/Cargo.lock
  native/vtz/src/runtime/js_runtime.rs
Due: none

fix(runtime): update persistent isolate doc-comment and step numbers (#2116)
  native/vtz/src/runtime/persistent_isolate.rs
Due: none

docs: llms.txt discoverability, fix outdated CLI refs, document /api/ prefix (#2181) (#2356)
  packages/landing/public/robots.txt
  packages/landing/scripts/build.ts
  packages/landing/src/llms-txt.ts
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

feat(agents): typed ctx.prev accumulation via builder pattern (#2147) (#2355)
  .changeset/typed-prev-builder.md
  packages/agents/src/index.ts
  packages/agents/src/types.test-d.ts
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
  plans/2147-agents-typed-prev.md
  plans/2147-agents-typed-prev/phase-01-builder-pattern.md
  reviews/agent-typed-prev/phase-01-builder-pattern.md
Due: none

feat(runtime): V8 startup snapshots for production runtime (#2116) (#2357)
  bun.lock
  native/Cargo.lock
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/mod.rs
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/runtime/snapshot.rs
  native/vtz/src/test/snapshot.rs
  plans/2107-test-runner-isolate-optimization.md
  plans/2116-v8-prod-snapshots.md
  plans/2116-v8-prod-snapshots/phase-01-shared-infra-and-snapshot.md
  plans/2116-v8-prod-snapshots/phase-02-wire-persistent-isolate.md
Due: none

fix(agents): error on output schema validation failure (#2354)
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
Due: none

chore(agents): add changeset for output schema validation fix (#2354)
  .changeset/fix-output-schema-validation.md
Due: none

fix(agents): address review findings for output schema validation (#2354)
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
Due: none

fix(ci): re-link runtime binary after downloading artifacts
  .github/workflows/release.yml
Due: none

chore(agents): add adversarial review for #2354
  reviews/fix-output-schema-validation/review.md
Due: none

fix(ci): re-link runtime binary after downloading artifacts (#2360)
  .github/workflows/release.yml
Due: none

fix(agents): error on output schema validation failure (#2354) (#2359)
  .changeset/fix-output-schema-validation.md
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
  reviews/fix-output-schema-validation/review.md
Due: none

feat(agents): add errorReason to WorkflowResult (#2358)
  packages/agents/src/index.ts
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
Due: none

chore(agents): add changeset for errorReason (#2358)
  .changeset/workflow-error-reason.md
Due: none

fix(agents): address review findings — add JSDoc, test, update docs (#2358)
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
  packages/mint-docs/guides/agents/workflows.mdx
Due: none

chore(agents): add adversarial review for #2358
  reviews/workflow-error-reason/review.md
Due: none

style(docs): fix oxfmt formatting in workflows.mdx (#2358)
  packages/mint-docs/guides/agents/workflows.mdx
Due: none

feat(agents): add errorReason to WorkflowResult (#2358) (#2362)
  .changeset/workflow-error-reason.md
  packages/agents/src/index.ts
  packages/agents/src/workflow.test.ts
  packages/agents/src/workflow.ts
  packages/mint-docs/guides/agents/workflows.mdx
  reviews/workflow-error-reason/review.md
Due: none
