Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(ui-compiler): include index param in key function and strip key from DOM output (#1591) (#1597)
  .changeset/fix-map-index-key.md
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
Due: ui-compiler

fix(ui-compiler): use direct attribute access in extractKeyPropValue (#1592) (#1600)
  .changeset/fix-key-nested-extraction.md
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
Due: ui-compiler

fix(ui-compiler): option.selected IDL property breaks in happydom tests (#1593) (#1602)
  .changeset/fix-option-selected-happydom.md
  examples/task-manager/src/components/task-form.tsx
  examples/task-manager/src/pages/settings.tsx
  packages/ui-compiler/src/transformers/__tests__/jsx-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
  packages/ui-primitives/src/calendar/calendar-composed.tsx
Due: ui-compiler, ui-primitives

fix(ui): mirror selected IDL property to attribute for detached option elements (#1601)
  packages/ui-primitives/src/calendar/__tests__/calendar-composed.test.ts
  packages/ui/src/dom/__tests__/attributes.test.ts
  packages/ui/src/dom/__tests__/list.test.ts
  packages/ui/src/dom/attributes.ts
  packages/ui/src/dom/list.ts
Due: ui

fix(server): validate entity models by table name, not registry key (#1603)
  examples/linear/src/api/db.ts
  examples/linear/src/api/seed.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
  plans/entity-model-validation-by-table-name.md
Due: server

test(server): add cloud mode coverage for createServer (#1605)
  packages/server/src/__tests__/cloud-mode-server.test.ts
Due: none

feat(auth): Phase 6 — Cloud storage + data residency (#1077) (#1604)
  packages/server/src/auth/__tests__/cloud/cached-wallet-store.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-config.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-failmode.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-health.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-storage-config.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-wallet-store.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/cloud/cached-wallet-store.ts
  packages/server/src/auth/cloud/cloud-config.ts
  packages/server/src/auth/cloud/cloud-health.ts
  packages/server/src/auth/cloud/cloud-wallet-store.ts
  packages/server/src/auth/cloud/create-cloud-wallet-store.ts
  packages/server/src/auth/cloud/index.ts
  packages/server/src/auth/define-access.ts
  packages/server/src/auth/index.ts
Due: server

fix(ui): SVG hydration and checkbox toggle fixes + tests (#1606)
  packages/ui-primitives/src/checkbox/checkbox-composed.tsx
  packages/ui/src/__tests__/hydration-e2e.test.ts
  packages/ui/src/dom/conditional.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui, ui-primitives

fix(ui): checkbox CSS transitions + dev server stale graph detection (#1607)
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/styles/checkbox.ts
  packages/ui-primitives/src/checkbox/__tests__/checkbox-composed.test.ts
  packages/ui-primitives/src/checkbox/checkbox-composed.tsx
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-primitives, ui-server

fix(ui): correct Select dropdown animation keyframes and defer close hiding (#1615) (#1620)
  .changeset/select-dropdown-animation.md
  packages/theme-shadcn/src/__tests__/primitive-styles.test.ts
  packages/theme-shadcn/src/styles/select.ts
  packages/ui-primitives/src/select/__tests__/select-composed.test.ts
  packages/ui-primitives/src/select/select-composed.tsx
Due: ui-primitives

fix(theme-shadcn): improve HoverCard styling to match design system (#1616) (#1619)
  .changeset/hovercard-styling-fix.md
  examples/component-catalog/src/demos/hover-card.tsx
  packages/theme-shadcn/src/__tests__/hover-card.test.ts
  packages/theme-shadcn/src/styles/hover-card.ts
Due: none

fix(theme-shadcn): ContextMenu too thin, missing padding around items (#1610) (#1617)
  .changeset/contextmenu-spacing-fix.md
  packages/theme-shadcn/src/__tests__/context-menu.test.ts
  packages/theme-shadcn/src/styles/context-menu.ts
Due: none

fix(ui-primitives): Command component styling — double borders, false 'no results', missing gap (#1618)
  .changeset/command-styling-fixes.md
  examples/component-catalog/src/demos/command.tsx
  packages/theme-shadcn/src/styles/command.ts
  packages/ui-primitives/src/command/__tests__/command-composed.test.ts
  packages/ui-primitives/src/command/command-composed.tsx
Due: ui-primitives

fix(theme-shadcn): enable floating positioning for menubar submenus (#1612) (#1621)
  .changeset/menubar-submenu-positioning.md
  packages/theme-shadcn/src/__tests__/menubar.test.ts
  packages/theme-shadcn/src/components/primitives/menubar.ts
  packages/ui-primitives/src/menubar/__tests__/menubar-composed.test.ts
Due: none

fix(theme-shadcn): add dialog UA resets to drawer panel styles (#1614) (#1623)
  .changeset/drawer-dialog-reset.md
  packages/theme-shadcn/src/__tests__/drawer.test.ts
  packages/theme-shadcn/src/styles/drawer.ts
Due: none

fix(theme-shadcn): reset list-style on breadcrumb ol (#1609) (#1626)
  .changeset/breadcrumb-list-style-reset.md
  packages/theme-shadcn/src/__tests__/breadcrumb.test.ts
  packages/theme-shadcn/src/styles/breadcrumb.ts
Due: none

fix(landing): fix font layout shift and broken code formatting (#1627)
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/font-metrics.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/prerender.ts
  sites/landing/src/components/token-lines.tsx
Due: cli, ui-server

feat(db): declare tenant root on table with .tenant(), remove ModelOptions (#1629)
  examples/linear/src/api/schema.test.ts
  examples/linear/src/api/schema.ts
  packages/cli/src/commands/__tests__/load-db-context.test.ts
  packages/db/src/__tests__/e2e.test.ts
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/__tests__/tenant-graph.test.ts
  packages/db/src/client/tenant-graph.ts
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/schema/__tests__/model.test-d.ts
  packages/db/src/schema/__tests__/model.test.ts
  packages/db/src/schema/__tests__/relation.test-d.ts
  packages/db/src/schema/__tests__/table.test-d.ts
  packages/db/src/schema/__tests__/table.test.ts
  packages/db/src/schema/model.ts
  packages/db/src/schema/registry.ts
  packages/db/src/schema/relation.ts
  packages/db/src/schema/table.ts
  packages/integration-tests/src/__tests__/indirect-tenant-isolation.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/entity.test.ts
  packages/server/src/entity/__tests__/tenant-chain-edge-cases.test.ts
  packages/server/src/entity/__tests__/tenant-chain.test.ts
  packages/server/src/entity/entity.ts
  packages/server/src/entity/tenant-chain.ts
  plans/tenant-root-table-declaration.md
Due: db, server

docs(db): update multi-tenancy docs for .tenant() API (#1630)
  packages/docs/guides/db/schema.mdx
Due: none

fix(ui-primitives): declarative carousel rewrite + ResizablePanel querySelectorAll fix (#1628)
  packages/theme-shadcn/src/__tests__/resizable-panel.test.ts
  packages/theme-shadcn/src/styles/carousel.ts
  packages/theme-shadcn/src/styles/resizable-panel.ts
  packages/ui-primitives/src/carousel/__tests__/carousel-composed.test.ts
  packages/ui-primitives/src/carousel/carousel-composed.tsx
  packages/ui-primitives/src/resizable-panel/__tests__/resizable-panel-composed.test.ts
  packages/ui-primitives/src/resizable-panel/resizable-panel-composed.tsx
Due: ui-primitives

feat(ui): hydration DOM compatibility — post-hydration onMount queue and Foreign component (#1634)
  .changeset/hydration-dom-compat.md
  packages/docs/api-reference/ui/foreign.mdx
  packages/docs/docs.json
  packages/ui/src/__tests__/foreign-integration.test.ts
  packages/ui/src/__tests__/mount-hydration.test.ts
  packages/ui/src/component/__tests__/foreign.test.ts
  packages/ui/src/component/foreign.ts
  packages/ui/src/component/lifecycle.ts
  packages/ui/src/index.ts
  packages/ui/src/mount.ts
  packages/ui/src/router/outlet.ts
  packages/ui/src/router/router-view.ts
  plans/hydration-dom-compatibility.md
Due: ui

chore(linear): remove redundant workspaceId from indirectly-scoped tables (#1631)
  examples/linear/TENANT_RETROFIT_DX.md
  examples/linear/src/api/auth.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/api/seed.test.ts
  examples/linear/src/api/seed.ts
  examples/linear/src/app.tsx
  examples/linear/src/components/auth-guard.tsx
  examples/linear/src/components/manage-labels-dialog.tsx
  examples/linear/src/dev-server.ts
  examples/linear/src/lib/constants.ts
  examples/linear/src/pages/issue-detail-page.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/project-board-page.tsx
  packages/compiler/src/analyzers/__tests__/auth-analyzer.test.ts
  packages/compiler/src/analyzers/auth-analyzer.ts
  packages/fetch/src/vertzql.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/route-generator.ts
  packages/theme-shadcn/src/components/button.tsx
Due: compiler, fetch, server

test(fetch): add unit tests for resolveVertzQL where/orderBy/limit encoding (#1637) (#1681)
  .changeset/vertzql-encode-all-keys.md
  packages/fetch/src/vertzql.test.ts
Due: none

fix(ui-compiler): support JSX spread attributes on intrinsic elements and components (#1684)
  .changeset/jsx-spread-attrs.md
  packages/theme-shadcn/src/components/button.tsx
  packages/ui-compiler/src/__tests__/jsx-spread.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/dom/__tests__/spread.test.ts
  packages/ui/src/dom/index.ts
  packages/ui/src/dom/spread.ts
  packages/ui/src/internals.ts
  plans/jsx-spread-attributes.md
Due: ui, ui-compiler

fix(ui): register __on event listener cleanup with disposal scope (#1641) (#1685)
  .changeset/fix-form-onsubmit-dialog.md
  packages/ui/src/dialog/__tests__/dialog-stack.test.ts
  packages/ui/src/dom/__tests__/events.test.ts
  packages/ui/src/dom/events.ts
Due: ui

fix(server): extract auth session middleware and add integration tests (#1636) (#1686)
  .changeset/auth-session-middleware.md
  packages/server/src/auth/__tests__/auth-entity-session.test.ts
  packages/server/src/auth/__tests__/session-middleware.test.ts
  packages/server/src/auth/session-middleware.ts
  packages/server/src/create-server.ts
Due: server

feat(component-docs): add ShadCN-style documentation site for all 43 components (#1691)
  sites/component-docs/src/content/alert-content.tsx
  sites/component-docs/src/content/avatar-content.tsx
  sites/component-docs/src/content/card-content.tsx
  sites/component-docs/src/content/date-picker-content.tsx
  sites/component-docs/src/content/form-group-content.tsx
  sites/component-docs/src/content/skeleton-content.tsx
  sites/component-docs/src/content/table-content.tsx
Due: none

fix(fetch,server): keep where/orderBy/limit as flat query params (#1666) (#1692)
  .changeset/vertzql-encode-all-keys.md
  .changeset/vertzql-flat-query-params.md
  packages/fetch/src/vertzql.test.ts
  packages/fetch/src/vertzql.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/vertzql-parser.ts
Due: fetch, server

fix(component-docs): fix ScrollArea preview by constraining height (#1678) (#1693)
  packages/ui-primitives/src/date-picker/date-picker-composed.tsx
  packages/ui-primitives/src/dropdown-menu/__tests__/dropdown-menu-composed.test.ts
  packages/ui-primitives/src/dropdown-menu/dropdown-menu-composed.tsx
  packages/ui/src/css/theme-provider.ts
  packages/ui/src/index.ts
  sites/component-docs/src/app.tsx
  sites/component-docs/src/components/command-palette.tsx
  sites/component-docs/src/components/docs-layout.tsx
  sites/component-docs/src/content/alert-dialog-content.tsx
  sites/component-docs/src/content/dialog-content.tsx
  sites/component-docs/src/content/scroll-area-content.tsx
Due: ui, ui-primitives

feat(ui): add DialogStackProvider for auto container management (#1697)
  examples/linear/src/app.tsx
  packages/mdx/src/__tests__/plugin.test.ts
  packages/ui/src/dialog/__tests__/dialog-stack.test.ts
  packages/ui/src/dialog/dialog-stack.ts
  packages/ui/src/dialog/index.ts
  packages/ui/src/index.ts
  plans/dialog-stack-auto-container.md
  sites/component-docs/src/content/dialog-stack-content.tsx
  sites/component-docs/src/content/registry.ts
  sites/component-docs/src/manifest.ts
  sites/component-docs/src/pages/component-page.tsx
  sites/component-docs/src/props/dialog-stack-props.ts
Due: ui

feat(ui): query() null-return for conditional/dependent queries (#1653) (#1694)
  packages/docs/api-reference/ui/query.mdx
  packages/docs/guides/ui/data-fetching.mdx
  packages/ui-compiler/src/__tests__/manifest-resolver.test.ts
  packages/ui-compiler/src/__tests__/reactivity-manifest.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui/reactivity.json
  packages/ui/src/query/__tests__/query-match.test.ts
  packages/ui/src/query/__tests__/query-ssr.test.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query-match.ts
  packages/ui/src/query/query.ts
  plans/query-null-return-conditional.md
Due: ui, ui-compiler

fix(ui-server): auto field selection tracks child component field accesses (#1695)
  .changeset/fix-cross-file-field-selection.md
  packages/ui-server/src/bun-plugin/__tests__/field-selection-inject.test.ts
  packages/ui-server/src/bun-plugin/__tests__/field-selection-manifest.test.ts
  packages/ui-server/src/bun-plugin/field-selection-inject.ts
  packages/ui-server/src/bun-plugin/field-selection-manifest.ts
  packages/ui-server/src/bun-plugin/plugin.ts
Due: ui-server

feat: add TenantSwitcher component with useTenant hook and SDK codegen (#1642) (#1698)
  packages/codegen/src/__tests__/ir-adapter.test.ts
  packages/codegen/src/generators/__tests__/auth-sdk-generator.test.ts
  packages/codegen/src/generators/auth-sdk-generator.ts
  packages/codegen/src/ir-adapter.ts
  packages/docs/docs.json
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/server/multi-tenancy.mdx
  packages/docs/guides/ui/auth.mdx
  packages/docs/guides/ui/multi-tenancy.mdx
  packages/server/src/auth/__tests__/switch-tenant.test.ts
  packages/server/src/auth/__tests__/token-refresh.test.ts
  packages/server/src/auth/auth-tables.ts
  packages/server/src/auth/db-user-store.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/auth/user-store.ts
  packages/ui-auth/src/__tests__/tenant-switcher.test.ts
  packages/ui-auth/src/index.ts
  packages/ui-auth/src/tenant-switcher.tsx
  packages/ui/src/auth/__tests__/tenant-context.test.ts
  packages/ui/src/auth/public.ts
  packages/ui/src/auth/tenant-context.ts
Due: codegen, server, ui

fix: resolve flaky CI tests across 6 packages (#1702)
  packages/mdx/src/__tests__/plugin.test.ts
  packages/og/src/__tests__/fixtures/NotoSans-Regular-Latin.ttf
  packages/og/src/__tests__/test-helpers.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/crypto.test.ts
  packages/server/src/auth/__tests__/handler-edge-cases.test.ts
  packages/server/src/auth/jwks-client.test.ts
  packages/ui-canvas/package.json
  packages/ui-canvas/src/graphics-benchmark.local.ts
  packages/ui-canvas/tsconfig.json
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui/package.json
  packages/ui/src/dom/__tests__/hydration-deferred-effects-bench.local.ts
  packages/ui/tsconfig.json
  plans/fix-flaky-ci-tests.md
Due: ui, ui-canvas

docs: add VertzQL auto field selection optimization guide (#1699) (#1703)
  packages/docs/docs.json
  packages/docs/guides/ui/auto-field-selection.mdx
  packages/docs/guides/ui/data-fetching.mdx
Due: none

feat(linear,codegen,docs): use VertzQL include for server-side relation resolution (#1645) (#1706)
  examples/linear/src/api/entities/comments.entity.ts
  examples/linear/src/api/entities/issues.entity.ts
  examples/linear/src/api/schema.ts
  examples/linear/src/components/status-column.tsx
  examples/linear/src/pages/issue-detail-page.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/project-board-page.tsx
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/docs/guides/db/queries.mdx
  packages/docs/guides/ui/data-fetching.mdx
Due: codegen

fix(server): populate ctx.entity from registry instead of empty fallback (#1657) (#1705)
  .changeset/fix-entity-ctx-empty.md
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/route-generator.ts
Due: server

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
