Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

test(cli): skip 3 broken test blocks pending #2731
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
Due: none

refactor(pm): migrate leaf modules to typed PmError (#2736) (#2745)
  native/vtz/src/pm/bin.rs
  native/vtz/src/pm/config.rs
  native/vtz/src/pm/error.rs
  native/vtz/src/pm/lockfile.rs
  native/vtz/src/pm/mod.rs
  native/vtz/src/pm/types.rs
  native/vtz/src/pm/vertzrc.rs
  reviews/pm-thiserror/phase-01.md
Due: none

test(cli): skip 3 broken test blocks pending #2731 (#2746)
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
Due: none

fix(vtz): semver resolver — ^0.27.3 must not match 0.25.12 (#2738)
  .changeset/fix-vtz-semver-resolver.md
  native/vtz/src/pm/resolver.rs
  vertz.lock
Due: none

feat(vtz): add vitest-compat mock APIs to @vertz/test (toward #2731)
  .changeset/feat-vtz-test-vitest-mock-apis.md
  native/vtz/src/test/globals.rs
  packages/test/src/__tests__/mock-api.test.ts
  packages/test/src/index.ts
Due: none

fix(vtz): semver resolver — ^0.27.3 must not match 0.25.12 (#2738) (#2747)
  .changeset/fix-vtz-semver-resolver.md
  native/vtz/src/pm/resolver.rs
  vertz.lock
Due: none

feat(vtz): add vitest-compat mock APIs to @vertz/test (toward #2731) (#2748)
  .changeset/feat-vtz-test-vitest-mock-apis.md
  native/vtz/src/test/globals.rs
  packages/test/src/__tests__/mock-api.test.ts
  packages/test/src/index.ts
Due: none

fix(vtz): repair node:http createServer/listen/fetch/close hang (#2718, #2720)
  .changeset/fix-vtz-node-http-hang.md
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/runtime/ops/http_serve.rs
  packages/docs/package.json
  packages/docs/src/__tests__/docs-cli-actions.test.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/vertz/__tests__/node-http.test.ts
Due: none

fix(vtz): vi.mock propagates through transitive imports (#2731)
  .changeset/fix-vtz-mock-transitive-propagation.md
  native/vertz-compiler-core/src/lib.rs
  native/vertz-compiler-core/src/mock_hoisting.rs
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/test/globals.rs
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
Due: none

fix(vtz): repair node:http createServer/listen/fetch/close hang (#2718, #2720) (#2749)
  .changeset/fix-vtz-node-http-hang.md
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/runtime/ops/http_serve.rs
  packages/docs/package.json
  packages/docs/src/__tests__/docs-cli-actions.test.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/vertz/__tests__/node-http.test.ts
Due: none

fix(vtz): vi.mock propagates through transitive imports (#2731) (#2750)
  .changeset/fix-vtz-mock-transitive-propagation.md
  native/vertz-compiler-core/src/lib.rs
  native/vertz-compiler-core/src/mock_hoisting.rs
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/test/globals.rs
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
Due: none

chore(ci): build vtz from source in CI, drop setup-vtz@v1
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

chore(ci): use release profile for build-from-source
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

chore(ci): drop Rust build from lint job
  .github/workflows/ci.yml
Due: none

chore(ci): build vtz from source in CI (drop setup-vtz@v1) (#2752)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

fix(vtz): isolate process.env per V8 isolate (fixes #1)
  native/Cargo.lock
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/ops/env.rs
  native/vtz/src/runtime/ops/process.rs
Due: none

fix(vtz): isolate process.env per V8 isolate (fixes #1) (#2753)
  native/Cargo.lock
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/ops/env.rs
  native/vtz/src/runtime/ops/process.rs
Due: none

fix(vtz): import rewriter skips JS comments (#2730)
  .changeset/fix-rewriter-comment-apostrophe.md
  native/Cargo.lock
  native/vtz/src/compiler/import_rewriter.rs
Due: none

chore(ui-server): skip AOT tests when runtime can't load .node addons
  packages/ui-server/src/__tests__/preload-mock-native-compiler.ts
Due: ui-server

fix(vtz): import rewriter skips JS comments (#2730) (#2754)
  .changeset/fix-rewriter-comment-apostrophe.md
  native/Cargo.lock
  native/vtz/src/compiler/import_rewriter.rs
  packages/ui-server/src/__tests__/preload-mock-native-compiler.ts
Due: ui-server

fix(vtz): transform nested JSX in callbacks + nullish coalescing
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler-core/src/spy_exports.rs
Due: none

test(vtz): update `??` reactivity test to accept __conditional
  native/Cargo.lock
  native/vertz-compiler/__tests__/jsx-transform.test.ts
Due: none

docs(ui): design doc + phase 1 plan for dropping classname utilities
  bun.lock
  plans/drop-classname-utilities.md
  plans/drop-classname-utilities/phase-01-object-form-e2e.md
Due: none

feat(ui): add StyleBlock type for object-form css() input
  packages/ui/src/css/__tests__/style-block.test-d.ts
  packages/ui/src/css/style-block.ts
Due: ui

refactor(ui): extract UNITLESS_PROPERTIES to shared css module
  packages/ui/src/css/__tests__/unitless-properties.test.ts
  packages/ui/src/css/unitless-properties.ts
  packages/ui/src/dom/style.ts
Due: ui

feat(ui): accept StyleBlock objects in css()
  packages/ui/src/css/__tests__/css-object-form.test.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/public.ts
Due: ui

feat(ui): accept StyleBlock objects in variants()
  packages/ui/src/css/__tests__/variants-object-form.test-d.ts
  packages/ui/src/css/__tests__/variants-object-form.test.ts
  packages/ui/src/css/variants.ts
Due: ui

feat(compiler): extract StyleBlock object form in Rust css() transform
  native/vertz-compiler-core/src/css_transform.rs
  native/vertz-compiler-core/src/css_unitless.rs
  native/vertz-compiler-core/src/lib.rs
Due: none

test(ui): parity test for UNITLESS_PROPERTIES (TS ↔ Rust)
  native/vertz-compiler-core/src/css_unitless.rs
  packages/ui/src/css/__tests__/unitless-parity.test.ts
  packages/ui/src/css/unitless-properties.ts
Due: ui

fix(vtz): transform nested JSX in callbacks + nullish coalescing (#2758)
  native/Cargo.lock
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler-core/src/spy_exports.rs
  native/vertz-compiler/__tests__/jsx-transform.test.ts
Due: none

refactor(landing): rewrite hero.tsx to object-form css()
  packages/landing/src/components/hero.tsx
  reviews/drop-classname-utilities/phase-01-perf-baseline.md
Due: none

feat(ui): add standalone unitless-parity lint gate
  packages/ui/package.json
  packages/ui/scripts/check-unitless-parity.ts
Due: none

fix(ui): class-name parity between Rust compiler and TS runtime
  native/vertz-compiler-core/src/css_transform.rs
  packages/ui/src/css/__tests__/class-name-parity.test.ts
  packages/ui/src/css/class-generator.ts
  packages/ui/src/css/css.ts
Due: ui

fix(landing): restore badgeDotPing fade to 0.4 opacity
  packages/landing/src/components/hero.tsx
Due: none

docs(reviews): Phase 1 adversarial review + blocker resolutions
  reviews/drop-classname-utilities/phase-01-followups.md
  reviews/drop-classname-utilities/phase-01-test-failures-analysis.md
  reviews/drop-classname-utilities/phase-01.md
Due: none

refactor(vtz): consolidate VertzModuleLoader constructors into builder (#2737)
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/module_loader.rs
  plans/2737-module-loader-builder.md
  plans/2737-module-loader-builder/phase-01-builder.md
  plans/2737-module-loader-consolidation-rationale.md
Due: none

style(ui): format unitless-parity test per oxfmt
  packages/ui/src/css/__tests__/unitless-parity.test.ts
Due: none

feat(ui): add token.* helper with typed augmentation
  packages/ui/src/css/__tests__/token-augmentation.test-d.ts
  packages/ui/src/css/__tests__/token-in-css.test.ts
  packages/ui/src/css/__tests__/token.test-d.ts
  packages/ui/src/css/__tests__/token.test.ts
  packages/ui/src/css/css.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/token.ts
  packages/ui/src/index.ts
Due: ui

style(ui): collapse isStyleBlock predicate per oxfmt
  packages/ui/src/css/css.ts
Due: ui

test(ui): allow object exports in subpath tests for token
  packages/ui/src/__tests__/subpath-exports.test.ts
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
