Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

feat(runtime): package manager Phase 2 — vertz add/remove/install CLI (#2017)
  native/Cargo.lock
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/lib.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/bin.rs
  native/vertz-runtime/src/pm/linker.rs
  native/vertz-runtime/src/pm/lockfile.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/src/pm/resolver.rs
  native/vertz-runtime/src/pm/tarball.rs
  native/vertz-runtime/src/pm/types.rs
  native/vertz-runtime/tests/pm_integration.rs
  plans/vertz-package-manager.md
Due: none

feat(runtime): test runner Phase 4a — codemod, config, imports, preload
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/test/codemod.rs
  native/vertz-runtime/src/test/config.rs
  native/vertz-runtime/src/test/executor.rs
  native/vertz-runtime/src/test/mod.rs
  native/vertz-runtime/src/test/runner.rs
  native/vertz-runtime/src/test/watch.rs
  native/vertz-runtime/tests/test_runner.rs
Due: none

fix(runtime): address Phase 4b review — 2 blockers, 6 should-fixes, 6 nits
  native/vertz-runtime/src/test/globals.rs
  reviews/vertz-test-runner/phase-04b-missing-features.md
Due: none

fix(runtime): address Phase 4a review — replacen, Option CLI types, config merge
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/test/config.rs
  native/vertz-runtime/src/test/executor.rs
  reviews/vertz-test-runner/phase-04a-codemod-config.md
Due: none

feat(runtime): test runner Phase 4b — toMatchObject, asymmetric matchers, timer mocking, skipIf, each
  native/vertz-runtime/src/test/globals.rs
  native/vertz-runtime/tests/test_runner.rs
Due: none

test(runtime): add E2E tests for codemod migration + @vertz/test imports
  native/vertz-runtime/tests/test_runner.rs
Due: none

feat(runtime): test runner Phase 4a+4b — codemod, config, matchers, timer mocking (#2018)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/test/codemod.rs
  native/vertz-runtime/src/test/config.rs
  native/vertz-runtime/src/test/executor.rs
  native/vertz-runtime/src/test/globals.rs
  native/vertz-runtime/src/test/mod.rs
  native/vertz-runtime/src/test/runner.rs
  native/vertz-runtime/src/test/watch.rs
  native/vertz-runtime/tests/test_runner.rs
  reviews/vertz-test-runner/phase-04a-codemod-config.md
  reviews/vertz-test-runner/phase-04b-missing-features.md
Due: none

fix(ui): Link component accepts multiple children (#1966)
  packages/ui/src/router/__tests__/link.test.ts
  packages/ui/src/router/link.ts
Due: ui

fix(ui): Link component accepts multiple children (#1966) (#2019)
  packages/ui/src/router/__tests__/link.test.ts
  packages/ui/src/router/link.ts
Due: ui

feat(runtime): --json infra + PmOutput trait + vertz list + rm alias
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/tests/pm_integration.rs
  plans/vertz-package-manager-phase2b.md
Due: none

feat(pm): add `vertz outdated` + abbreviated metadata + introspection tests
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/src/pm/types.rs
  native/vertz-runtime/tests/pm_introspection.rs
Due: none

feat(pm): add `vertz why` with BFS dependency path tracing
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
Due: none

fix(pm): address review findings — BFS cap, parallel outdated, safety
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/tests/pm_introspection.rs
Due: none

feat(pm): package manager Phase 2b — introspection & agent output (#2022)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
  native/vertz-runtime/src/pm/registry.rs
  native/vertz-runtime/src/pm/types.rs
  native/vertz-runtime/tests/pm_integration.rs
  native/vertz-runtime/tests/pm_introspection.rs
  plans/vertz-package-manager-phase2b.md
Due: none

feat(ui,ui-server): add googleFont() API and Google Fonts resolver (#1972)
  packages/ui-server/src/__tests__/google-fonts-resolver.test.ts
  packages/ui-server/src/google-fonts-resolver.ts
  packages/ui/src/css/__tests__/google-font.test-d.ts
  packages/ui/src/css/__tests__/google-font.test.ts
  packages/ui/src/css/font.ts
  packages/ui/src/css/google-font.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
Due: ui, ui-server

feat(ui-server): wire Google Fonts resolver into dev server (#1972)
  packages/ui-server/src/__tests__/google-fonts-resolver.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/font-metrics.ts
  packages/ui-server/src/google-fonts-resolver.ts
Due: ui-server

docs(mint-docs): document googleFont() API and update subpath exports (#1972)
  packages/mint-docs/guides/ui/styling.mdx
  packages/ui/src/__tests__/subpath-exports.test.ts
Due: none

chore(ci): remove task-manager deploy workflow and fix release build filters
  .github/workflows/preview-task-manager.yml
  .github/workflows/release.yml
Due: none

chore(ci): remove task-manager deploy workflow and fix release build filters (#2024)
  .github/workflows/preview-task-manager.yml
  .github/workflows/release.yml
Due: none

fix(ci): exclude native compiler and benchmarks from build script
  package.json
Due: none

fix(ci): exclude native compiler and benchmarks from build script (#2025)
  package.json
Due: none

fix(ui-compiler): preserve JsxText leading whitespace in AOT string builder
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

fix(ui-compiler): don't replace query alias names inside string literals
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

fix(ui-compiler): format aot-compiler test file
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
Due: none

Viniciusdacal/k8s benchmark (#2023)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

docs(ui): document Google Fonts loading pattern (#1972)
  packages/mint-docs/guides/ui/styling.mdx
Due: none

fix(ui-server): subset-aware font selection and HMR re-resolution (#1972)
  .changeset/google-fonts-auto-fetch.md
  packages/ui-server/src/__tests__/google-fonts-resolver.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/google-fonts-resolver.ts
Due: ui-server

style(mint-docs): fix table formatting in styling guide (#1972)
  packages/mint-docs/guides/ui/styling.mdx
Due: none

feat(ui,ui-server): googleFont() auto-fetch API (#1972) (#2027)
  .changeset/google-fonts-auto-fetch.md
  packages/mint-docs/guides/ui/styling.mdx
  packages/ui-server/src/__tests__/google-fonts-resolver.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/font-metrics.ts
  packages/ui-server/src/google-fonts-resolver.ts
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/css/__tests__/google-font.test-d.ts
  packages/ui/src/css/__tests__/google-font.test.ts
  packages/ui/src/css/font.ts
  packages/ui/src/css/google-font.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
Due: ui, ui-server

fix(runtime): resolve clippy dead_code warnings and fmt
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/test/collector.rs
  native/vertz-runtime/src/test/typetests.rs
Due: none

feat(compiler): full TypeScript pattern support for monorepo rollout
  native/Cargo.lock
  native/vertz-compiler-core/src/typescript_strip.rs
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/compiler/pipeline.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/test/collector.rs
  native/vertz-runtime/src/test/globals.rs
  native/vertz-runtime/src/test/runner.rs
  native/vertz-runtime/src/test/typetests.rs
Due: none

fix(ci): format all files, fix workflow syntax, prevent release deadlock (#2015)
  native/vertz-compiler-core/src/typescript_strip.rs
Due: none

feat(compiler): full TypeScript pattern support for monorepo rollout (#2028)
  native/Cargo.lock
  native/vertz-compiler-core/src/typescript_strip.rs
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/compiler/pipeline.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/test/collector.rs
  native/vertz-runtime/src/test/globals.rs
  native/vertz-runtime/src/test/runner.rs
  native/vertz-runtime/src/test/typetests.rs
Due: none

fix(pm): add missing workspaces field to PackageJson
  native/vertz-runtime/src/pm/types.rs
Due: none

feat(pm): workspace -w flag for add/remove (Phase 3f)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/workspace.rs
Due: none

feat(pm): add vertz update command with --latest and --dry-run
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
Due: none

feat(pm): add .npmrc parsing and private registry config support
  native/vertz-runtime/src/pm/config.rs
  native/vertz-runtime/src/pm/mod.rs
Due: none

fix: update integration test signatures for new pm API parameters
  native/vertz-runtime/tests/pm_integration.rs
  native/vertz-runtime/tests/pm_introspection.rs
Due: none

feat(pm): add vertz cache clean/list/path subcommands
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/cache.rs
  native/vertz-runtime/src/pm/mod.rs
Due: none

feat(pm): incremental linking with manifest (Phase 3d)
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/pm/linker.rs
  native/vertz-runtime/src/pm/mod.rs
  native/vertz-runtime/src/pm/output.rs
Due: none
