Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(examples): replace Vite with unified Bun dev server in task-manager [#715]
  bun.lock
  examples/task-manager/build.ts
  examples/task-manager/bun-plugin-shim.ts
  examples/task-manager/bunfig.toml
  examples/task-manager/dev-server.ts
  examples/task-manager/e2e/prod-ssr.spec.ts
  examples/task-manager/index.html
  examples/task-manager/package.json
  examples/task-manager/playwright.config.ts
  examples/task-manager/src/index.ts
  examples/task-manager/vite.config.ts
  packages/ui-server/package.json
Due: none

docs(guides): add Bun dev server setup and usage guide [#715]
  docs/guides/bun-dev-server.md
Due: none

refactor(ui-server): merge @vertz/bun-plugin into @vertz/ui-server [#715]
  .claude/rules/breaking-changes.md
  bun.lock
  docs/guides/bun-dev-server.md
  examples/task-manager/build.ts
  examples/task-manager/bun-plugin-shim.ts
  examples/task-manager/dev-server.ts
  examples/task-manager/index.html
  examples/task-manager/package.json
  packages/bun-plugin/bunup.config.ts
  packages/bun-plugin/package.json
  packages/bun-plugin/tsconfig.json
  packages/bun-plugin/tsconfig.typecheck.json
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/bun-plugin/context-stable-ids.ts
  packages/ui-server/src/bun-plugin/fast-refresh-codegen.ts
  packages/ui-server/src/bun-plugin/fast-refresh-runtime.ts
  packages/ui-server/src/bun-plugin/file-path-hash.ts
  packages/ui-server/src/bun-plugin/index.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/bun-plugin/types.ts
  packages/ui-server/tsconfig.json
Due: ui-server

feat(examples): replace Vite with unified Bun dev server [#715] (#729)
  .claude/rules/breaking-changes.md
  bun.lock
  docs/guides/bun-dev-server.md
  examples/task-manager/build.ts
  examples/task-manager/bun-plugin-shim.ts
  examples/task-manager/bunfig.toml
  examples/task-manager/dev-server.ts
  examples/task-manager/e2e/prod-ssr.spec.ts
  examples/task-manager/index.html
  examples/task-manager/package.json
  examples/task-manager/playwright.config.ts
  examples/task-manager/src/index.ts
  examples/task-manager/vite.config.ts
  packages/bun-plugin/bunup.config.ts
  packages/bun-plugin/package.json
  packages/bun-plugin/tsconfig.json
  packages/bun-plugin/tsconfig.typecheck.json
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/bun-plugin/context-stable-ids.ts
  packages/ui-server/src/bun-plugin/fast-refresh-codegen.ts
  packages/ui-server/src/bun-plugin/fast-refresh-runtime.ts
  packages/ui-server/src/bun-plugin/file-path-hash.ts
  packages/ui-server/src/bun-plugin/index.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/bun-plugin/types.ts
  packages/ui-server/tsconfig.json
Due: ui-server

feat(server): add VertzQL select, include, and q= param support [#728]
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/field-filter.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/field-filter.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/vertzql-parser.ts
Due: server

fix(integration-tests): update walkthrough queries to bracket syntax [#728]
  packages/integration-tests/src/__tests__/entity-walkthrough.test.ts
Due: none

feat(server): add typed query options and constrain relation field narrowing [#728]
  packages/server/src/entity/__tests__/vertzql-types.test-d.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/types.ts
Due: server

feat(server,db): type ServerConfig.db as DatabaseInstance, deprecate EntityDbAdapter path [#728]
  packages/db/src/adapters/index.ts
  packages/server/src/create-server.ts
Due: server

fix(server,db): address PR review findings for VertzQL [#728]
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/types/adapter.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/vertzql-parser.ts
Due: db, server

feat(server): enforce entity relations config at runtime [#730]
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/field-filter.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/field-filter.ts
  packages/server/src/entity/index.ts
Due: server

feat(server): add VertzQL query param parser with validation [#728]
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/vertzql-parser.ts
Due: server

feat(db,server): add DatabaseInstance bridge adapter [#728]
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/adapters/index.ts
  packages/db/src/index.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
Due: db, server

feat(server,db): entity query builder unification (VertzQL) (#731)
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/adapters/index.ts
  packages/db/src/index.ts
  packages/db/src/types/adapter.ts
  packages/integration-tests/src/__tests__/entity-walkthrough.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/field-filter.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/__tests__/vertzql-types.test-d.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/field-filter.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
  packages/server/src/entity/vertzql-parser.ts
Due: db, server

chore: add changeset for VertzQL query builder unification [#728]
  .changeset/vertzql-query-builder-unification.md
Due: none

feat(db): replace DatabaseInstance with Prisma-style DatabaseClient API [#728]
  packages/db/src/__tests__/crud-id-generation.test.ts
  packages/db/src/__tests__/database-client-types.test-d.ts
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/__tests__/db-integration.e2e.test.ts
  packages/db/src/__tests__/e2e.test.ts
  packages/db/src/__tests__/integration-postgres-regression.test.ts
  packages/db/src/__tests__/integration-sqlite.test.ts
  packages/db/src/__tests__/postgres-integration.test.ts
  packages/db/src/__tests__/prisma-style-api.test.ts
  packages/db/src/client/__tests__/createDb-dialect.test.ts
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/__tests__/result-errors.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/index.ts
  packages/db/src/core/db-provider.test.ts
  packages/db/src/core/db-provider.ts
  packages/db/src/index.ts
  packages/db/src/query/__tests__/aggregate.test.ts
  packages/db/src/query/__tests__/crud.test.ts
  packages/db/src/query/__tests__/relation-loader.test.ts
  packages/integration-tests/src/__tests__/dts-type-preservation.test.ts
Due: db

fix(db,server): update bridge adapter and server to use DatabaseClient [#728]
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/adapters/index.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
Due: db, server

chore(cli): remove dead Ink+React rendering dependencies [#733]
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/ui/__tests__/components/banner.test.tsx
  packages/cli/src/ui/__tests__/components/diagnostic-display.test.tsx
  packages/cli/src/ui/__tests__/components/diagnostic-summary.test.tsx
  packages/cli/src/ui/components/Banner.tsx
  packages/cli/src/ui/components/DiagnosticDisplay.tsx
  packages/cli/src/ui/components/DiagnosticSummary.tsx
  packages/cli/tsconfig.json
  packages/cli/tsconfig.typecheck.json
Due: cli

refactor(db): drop getRequired, keep only getOrThrow [#728]
  packages/db/src/__tests__/database-client-types.test-d.ts
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/__tests__/prisma-style-api.test.ts
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/client/__tests__/result-errors.test.ts
  packages/db/src/client/database.ts
  packages/db/src/errors.ts
  packages/server/src/__tests__/create-server.test.ts
Due: db

feat(db): Prisma-style DatabaseClient API (#732)
  packages/db/src/__tests__/crud-id-generation.test.ts
  packages/db/src/__tests__/database-client-types.test-d.ts
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/__tests__/db-integration.e2e.test.ts
  packages/db/src/__tests__/e2e.test.ts
  packages/db/src/__tests__/integration-postgres-regression.test.ts
  packages/db/src/__tests__/integration-sqlite.test.ts
  packages/db/src/__tests__/postgres-integration.test.ts
  packages/db/src/__tests__/prisma-style-api.test.ts
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/adapters/index.ts
  packages/db/src/client/__tests__/createDb-dialect.test.ts
  packages/db/src/client/__tests__/database.test.ts
  packages/db/src/client/__tests__/result-errors.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/index.ts
  packages/db/src/core/db-provider.test.ts
  packages/db/src/core/db-provider.ts
  packages/db/src/errors.ts
  packages/db/src/index.ts
  packages/db/src/query/__tests__/aggregate.test.ts
  packages/db/src/query/__tests__/crud.test.ts
  packages/db/src/query/__tests__/relation-loader.test.ts
  packages/integration-tests/src/__tests__/dts-type-preservation.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
Due: db, server

feat(tui): add Banner, Divider, KeyValue, DiagnosticView components [#715]
  packages/tui/src/__tests__/polish-components.test.ts
  packages/tui/src/components/Banner.ts
  packages/tui/src/components/DiagnosticView.ts
  packages/tui/src/components/Divider.ts
  packages/tui/src/components/KeyValue.ts
Due: tui

feat(tui): add renderToString for headless ANSI rendering [#715]
  packages/tui/src/__tests__/render-to-string.test.ts
  packages/tui/src/index.ts
  packages/tui/src/layout/types.ts
  packages/tui/src/render-to-string.ts
  packages/tui/src/renderer/paint.ts
  packages/tui/src/renderer/renderer.ts
Due: tui

fix(tui): address adversarial review findings [#715]
  .changeset/vertzql-query-builder-unification.md
  packages/tui/src/__tests__/interactive.test.ts
  packages/tui/src/__tests__/paint.test.ts
  packages/tui/src/__tests__/task-runner.test.ts
  packages/tui/src/auth/device-code-flow.ts
  packages/tui/src/components/TaskRunner.ts
  packages/tui/src/interactive.ts
Due: tui

feat(tui): add TaskRunner component for build pipelines [#715]
  packages/tui/src/__tests__/task-runner.test.ts
  packages/tui/src/components/TaskRunner.ts
  packages/tui/src/index.ts
Due: tui

feat(tui): add device code auth flow for OAuth 2.0 [#715]
  packages/tui/src/__tests__/device-code-auth.test.ts
  packages/tui/src/auth/device-code-auth.ts
  packages/tui/src/auth/device-code-display.ts
  packages/tui/src/auth/device-code-flow.ts
  packages/tui/src/auth/index.ts
  packages/tui/src/auth/types.ts
Due: tui

test(tui): increase coverage for auth, display, taskrunner, interactive [#715]
  packages/tui/src/__tests__/device-code-auth.test.ts
  packages/tui/src/__tests__/interactive.test.ts
  packages/tui/src/__tests__/task-runner.test.ts
Due: none

feat(tui): add CI/non-interactive mode for prompts [#715]
  packages/tui/src/__tests__/interactive.test.ts
  packages/tui/src/index.ts
  packages/tui/src/interactive.ts
  packages/tui/src/prompt.ts
Due: tui

feat(tui): export auth, wizard, and polish components from index [#715]
  packages/tui/src/index.ts
Due: none

feat(tui): add Dashboard and LogStream components [#715]
  packages/tui/src/__tests__/dashboard.test.ts
  packages/tui/src/components/Dashboard.ts
  packages/tui/src/components/LogStream.ts
  packages/tui/src/index.ts
Due: tui

feat(tui): add wizard component for multi-step flows [#715]
  packages/tui/src/__tests__/wizard.test.ts
  packages/tui/src/wizard.ts
Due: tui

style(tui): fix import ordering in interactive.test.ts and index.ts [#715]
  packages/tui/src/__tests__/interactive.test.ts
  packages/tui/src/index.ts
Due: none

feat(tui): CLI-ready TUI components — auth, dashboard, wizard, polish (#734)
  packages/tui/src/__tests__/dashboard.test.ts
  packages/tui/src/__tests__/device-code-auth.test.ts
  packages/tui/src/__tests__/interactive.test.ts
  packages/tui/src/__tests__/paint.test.ts
  packages/tui/src/__tests__/polish-components.test.ts
  packages/tui/src/__tests__/render-to-string.test.ts
  packages/tui/src/__tests__/task-runner.test.ts
  packages/tui/src/__tests__/wizard.test.ts
  packages/tui/src/auth/device-code-auth.ts
  packages/tui/src/auth/device-code-display.ts
  packages/tui/src/auth/device-code-flow.ts
  packages/tui/src/auth/index.ts
  packages/tui/src/auth/types.ts
  packages/tui/src/components/Banner.ts
  packages/tui/src/components/Dashboard.ts
  packages/tui/src/components/DiagnosticView.ts
  packages/tui/src/components/Divider.ts
  packages/tui/src/components/KeyValue.ts
  packages/tui/src/components/LogStream.ts
  packages/tui/src/components/TaskRunner.ts
  packages/tui/src/index.ts
  packages/tui/src/interactive.ts
  packages/tui/src/layout/types.ts
  packages/tui/src/prompt.ts
  packages/tui/src/render-to-string.ts
  packages/tui/src/renderer/paint.ts
  packages/tui/src/renderer/renderer.ts
  packages/tui/src/wizard.ts
Due: tui

feat(cli): wire vertz dev for api-only, full-stack, and ui-only modes [#684]
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
Due: cli

feat(entity-todo): migrate to vertz dev convention [#684]
  examples/entity-todo/package.json
  examples/entity-todo/src/app.tsx
  examples/entity-todo/src/entry-server.test-d.ts
  examples/entity-todo/src/index.ts
  examples/entity-todo/src/server.ts
  examples/entity-todo/vite.config.ts
Due: none

feat(cli): add app type detection for dev server [#684]
  packages/cli/src/dev-server/__tests__/app-detector.test.ts
  packages/cli/src/dev-server/app-detector.ts
Due: cli

feat(ui-server): add ssrModule mode to createDevServer [#684]
  packages/ui-server/src/__tests__/dev-server-ssr-module.test.ts
  packages/ui-server/src/dev-server.ts
  packages/ui-server/src/index.ts
Due: ui-server

feat(ui-server): add Node-Web bridge utility [#684]
  packages/ui-server/src/__tests__/node-web-bridge.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/node-web-bridge.ts
Due: ui-server

feat: zero-config vertz dev — eliminate full-stack boilerplate (#736)
  examples/entity-todo/package.json
  examples/entity-todo/src/app.tsx
  examples/entity-todo/src/entry-server.test-d.ts
  examples/entity-todo/src/index.ts
  examples/entity-todo/src/server.ts
  examples/entity-todo/vite.config.ts
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/dev-server/__tests__/app-detector.test.ts
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/app-detector.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/ui-server/src/__tests__/dev-server-ssr-module.test.ts
  packages/ui-server/src/__tests__/node-web-bridge.test.ts
  packages/ui-server/src/dev-server.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/node-web-bridge.ts
Due: cli, ui-server

feat(entity-todo): refactor worker for Cloudflare deployment POC
  examples/entity-todo/package.json
  examples/entity-todo/src/entry-server.ts
  examples/entity-todo/src/worker.ts
  examples/entity-todo/vite.config.ts
  examples/entity-todo/wrangler.toml
Due: none

feat(cloudflare): zero-boilerplate SSR via SSR module config [#684]
  examples/entity-todo/src/dev-server.ts
  examples/entity-todo/src/entry-server.ts
  examples/entity-todo/src/worker.ts
  packages/cloudflare/src/handler.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/tests/handler.test.ts
Due: cloudflare

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
