Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

feat(landing): add manifesto page, update entity example, self-host fonts (#1080)
  packages/ui-server/src/bun-dev-server.ts
  sites/landing/index.static.html
  sites/landing/public/fonts/dm-sans-italic-latin.woff2
  sites/landing/public/fonts/dm-sans-latin.woff2
  sites/landing/public/fonts/dm-serif-display-latin.woff2
  sites/landing/public/fonts/jetbrains-mono-latin.woff2
  sites/landing/scripts/build.ts
  sites/landing/scripts/generate-highlights.ts
  sites/landing/src/app.tsx
  sites/landing/src/components/highlighted-code.ts
  sites/landing/src/components/nav.tsx
  sites/landing/src/dev-server.ts
  sites/landing/src/pages/home.tsx
  sites/landing/src/pages/manifesto.tsx
  sites/landing/src/styles/fonts.ts
Due: ui-server

docs(auth): update DB-backed auth stores design for access redesign alignment [#1059] (#1081)
  plans/db-backed-auth-stores.md
Due: none

fix(create-vertz): add `create-vertz` package so `bun create vertz` works (#1084)
  .changeset/config.json
  .changeset/create-vertz-package.md
  bun.lock
  packages/create-vertz/bin/create-vertz.ts
  packages/create-vertz/package.json
Due: none

fix(vertz): use meta-package in scaffolded apps + add missing subpath exports (#1089)
  .changeset/meta-package-subpaths.md
  bun.lock
  packages/compiler/src/utils/__tests__/ast-helpers.test.ts
  packages/compiler/src/utils/__tests__/import-resolver.test.ts
  packages/compiler/src/utils/__tests__/schema-executor.test.ts
  packages/compiler/src/utils/import-resolver.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/vertz/package.json
  packages/vertz/src/db-sqlite.ts
  packages/vertz/src/ui-server-bun-plugin.ts
Due: compiler

feat(ui): add italic and list-style CSS shorthands (#1070, #1071) (#1090)
  packages/ui/src/css/__tests__/token-resolver.test.ts
  packages/ui/src/css/token-resolver.ts
  packages/ui/src/css/token-tables.ts
Due: ui

fix(ui-server): clear full require.cache on file change for SSR (#1050) (#1092)
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

feat(schema): make d.uuid().primary() auto-generate UUID v7 by default (#1048) (#1095)
  packages/create-vertz-app/src/templates/index.ts
  packages/db/src/__tests__/column-generate.test.ts
  packages/db/src/schema/column.ts
  packages/server/src/auth/oauth-schema.ts
  packages/server/src/auth/schema.ts
Due: db, server

feat(server): add rules.public shorthand for entity access (#1049) (#1094)
  packages/server/src/auth/__tests__/rules.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/rules.ts
  packages/server/src/entity/__tests__/access-enforcer.test.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/types.ts
Due: server

feat(ui): expose typed field names on form() for compile-time validation (#1051) (#1098)
  packages/ui/src/form/__tests__/form.test-d.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/form.ts
  packages/ui/src/form/index.ts
  packages/ui/src/form/public.ts
Due: ui

docs(ui): document css() shade tokens, font-family patterns, and @vertz/icons usage (#1056) (#1097)
  packages/docs/docs.json
  packages/docs/guides/ui/icons.mdx
  packages/docs/guides/ui/styling.mdx
Due: none

chore(examples): use form().fields for typed input names (#1051) (#1099)
  examples/entity-todo/src/components/todo-form.tsx
  examples/task-manager/src/components/task-form.tsx
  packages/docs/api-reference/ui/form.mdx
  packages/docs/guides/ui/auth.mdx
  packages/docs/guides/ui/forms.mdx
Due: none

feat(og): add @vertz/og package for OG image generation (#1100)
  .changeset/og-package.md
  bun.lock
  packages/og/bunup.config.ts
  packages/og/package.json
  packages/og/src/__tests__/fonts.test.ts
  packages/og/src/__tests__/generate.test.ts
  packages/og/src/__tests__/h.test.ts
  packages/og/src/__tests__/image.test.ts
  packages/og/src/__tests__/og-response.test.ts
  packages/og/src/__tests__/templates/card.test.ts
  packages/og/src/__tests__/templates/hero.test.ts
  packages/og/src/__tests__/templates/integration.test.ts
  packages/og/src/__tests__/templates/minimal.test.ts
  packages/og/src/__tests__/test-helpers.ts
  packages/og/src/__tests__/types.test-d.ts
  packages/og/src/edge.ts
  packages/og/src/fonts.ts
  packages/og/src/generate.ts
  packages/og/src/h.ts
  packages/og/src/image.ts
  packages/og/src/index.ts
  packages/og/src/jsx.d.ts
  packages/og/src/og-response.ts
  packages/og/src/templates/card.tsx
  packages/og/src/templates/hero.tsx
  packages/og/src/templates/index.ts
  packages/og/src/templates/minimal.tsx
  packages/og/src/types.ts
  packages/og/tsconfig.json
  packages/og/tsconfig.typecheck.json
Due: none

Add generated useRouter typing and object-style navigation (#1102)
  .changeset/late-buses-hunt.md
  .claude/rules/ui-components.md
  BOOTSTRAP.md
  examples/component-catalog/src/app.tsx
  examples/component-catalog/src/pages/home.tsx
  examples/component-catalog/src/router.ts
  examples/component-catalog/tsconfig.json
  examples/task-manager/src/pages/create-task.tsx
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  examples/task-manager/src/router.ts
  examples/task-manager/tsconfig.json
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/router-augmentation-generator.test.ts
  packages/codegen/src/generators/router-augmentation-generator.ts
  packages/docs/api-reference/ui/router.mdx
  packages/docs/conventions.mdx
  packages/docs/guides/ui/auth.mdx
  packages/docs/guides/ui/forms.mdx
  packages/docs/guides/ui/routing.mdx
  packages/integration-tests/src/__tests__/nested-routerview-walkthrough.test.ts
  packages/integration-tests/src/__tests__/type-safe-router-walkthrough.test-d.ts
  packages/ui/src/__tests__/nav-query-e2e.test.ts
  packages/ui/src/__tests__/router-integration.test.ts
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/__tests__/router.test-d.ts
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/__tests__/type-safe-router.test-d.ts
  packages/ui/src/router/index.ts
  packages/ui/src/router/navigate.ts
  packages/ui/src/router/params.ts
  packages/ui/src/router/public.ts
  packages/ui/src/test/test-router.ts
  plans/type-safe-router.md
Due: codegen, ui

Keep router changeset on patch (#1104)
  .changeset/late-buses-hunt.md
Due: none

fix(codegen): wire create() mutations through OptimisticHandler for bus emission [#1008] (#1105)
  .changeset/create-mutation-bus.md
  examples/entity-todo/src/components/todo-form.tsx
  examples/entity-todo/src/pages/todo-list.tsx
  packages/codegen/src/generators/__tests__/client-generator.test.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/client-generator.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
Due: codegen

feat(ui): built-in font system with font() API (#1079) (#1103)
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-html.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-html.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/css/__tests__/font.test-d.ts
  packages/ui/src/css/__tests__/font.test.ts
  packages/ui/src/css/__tests__/sanitize.test.ts
  packages/ui/src/css/__tests__/theme.test.ts
  packages/ui/src/css/font.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/sanitize.ts
  packages/ui/src/css/theme.ts
  packages/ui/src/index.ts
  reviews/font-system/ava-adversarial-review.md
  reviews/font-system/ben-adversarial-review.md
  reviews/font-system/mike-adversarial-review.md
  reviews/font-system/nora-adversarial-review.md
  sites/landing/scripts/build.ts
  sites/landing/src/app.tsx
  sites/landing/src/dev-server.ts
  sites/landing/src/styles/fonts.ts
  sites/landing/src/styles/globals.ts
  sites/landing/src/styles/theme.ts
Due: ui, ui-server

docs(ui): document font() and compileFonts() APIs (#1107)
  packages/docs/api-reference/ui/css.mdx
  packages/docs/guides/ui/styling.mdx
  packages/ui/README.md
Due: none

fix(ui): add LRU eviction to MemoryCache (#1036) (#1108)
  .changeset/all-seals-act.md
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/query/__tests__/cache.test.ts
  packages/ui/src/query/cache.ts
  packages/ui/src/ssr/test-ssr-helpers.ts
Due: ui, ui-server

feat(ui-server): incremental HMR manifest updates [#991] (#1109)
  .changeset/incremental-hmr-manifest.md
  packages/ui-server/src/__tests__/bun-plugin-manifest-hmr.test.ts
  packages/ui-server/src/__tests__/diagnostics-collector.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/bun-plugin/types.ts
  packages/ui-server/src/diagnostics-collector.ts
  reviews/incremental-hmr-manifest/phase-01-plugin-api-and-watcher.md
Due: ui-server

fix: harden auth security flows (#1111)
  bun.lock
  docs/guides/authentication.md
  package.json
  packages/core/src/server/__tests__/request-utils.test.ts
  packages/core/src/server/request-utils.ts
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/ui/auth.mdx
  packages/server/package.json
  packages/server/src/__tests__/auth/auth.test.ts
  packages/server/src/auth/__tests__/access-set-jwt.test.ts
  packages/server/src/auth/__tests__/db-session-store.test.ts
  packages/server/src/auth/__tests__/handler-edge-cases.test.ts
  packages/server/src/auth/__tests__/types.test-d.ts
  packages/server/src/auth/db-session-store.ts
  packages/server/src/auth/db-types.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/session-store.ts
  packages/server/src/auth/types.ts
  packages/server/src/create-server.ts
  packages/ui-server/package.json
  plans/security-auth-hardening-implementation.md
  plans/security-auth-hardening.md
  reviews/security-auth-hardening/phase-01-signup-and-revocation.md
  reviews/security-auth-hardening/phase-02-cache-timing-body.md
  reviews/security-auth-hardening/phase-03-dependencies-and-docs.md
Due: core, server

feat(ui): add orphan-aware cache eviction to query() (#1112)
  packages/ui/src/query/__tests__/cache.test.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/cache.ts
  packages/ui/src/query/query.ts
Due: ui

feat(ui): on-demand entity eviction in EntityStore.merge() (#1114)
  .changeset/on-demand-entity-eviction.md
  packages/ui/src/store/__tests__/entity-store.test.ts
  packages/ui/src/store/entity-store.ts
Due: ui

docs(rules): make autonomous phase workflow explicit with GitHub CI monitoring (#1115)
  .claude/rules/design-and-planning.md
  .claude/rules/local-phase-workflow.md
  .claude/rules/workflow.md
Due: none

docs: VertzQL field selection & tenant isolation design plans (#1117)
  .claude/rules/entity-access-rules.md
  MAP.md
  plans/reviews/vertzql-auto-field-selection-dx-review.md
  plans/reviews/vertzql-auto-field-selection-scope-review.md
  plans/reviews/vertzql-auto-field-selection-technical-review.md
  plans/tenant-isolation-and-entity-access.md
  plans/vertzql-auto-field-selection.md
Due: none

feat(compiler,codegen): type-safe access from defineAccess() [#1024] (#1116)
  .changeset/codegen-access-types.md
  packages/codegen/src/__tests__/generate.test.ts
  packages/codegen/src/__tests__/ir-adapter.test.ts
  packages/codegen/src/config.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/access-types-generator.test.ts
  packages/codegen/src/generators/__tests__/rls-policy-generator.test.ts
  packages/codegen/src/generators/access-types-generator.ts
  packages/codegen/src/generators/rls-policy-generator.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/__tests__/compiler.test.ts
  packages/compiler/src/__tests__/incremental.test.ts
  packages/compiler/src/analyzers/__tests__/access-analyzer.test.ts
  packages/compiler/src/analyzers/access-analyzer.ts
  packages/compiler/src/compiler.ts
  packages/compiler/src/errors.ts
  packages/compiler/src/index.ts
  packages/compiler/src/ir/types.ts
  packages/docs/docs.json
  packages/docs/guides/server/auth.mdx
  packages/docs/guides/server/codegen.mdx
  packages/docs/guides/ui/access-control.mdx
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access.ts
  packages/server/src/auth/index.ts
  packages/server/src/index.ts
  packages/ui/src/auth/access-context.ts
  packages/ui/src/auth/public.ts
  plans/codegen-access-types.md
Due: codegen, compiler, server, ui

feat(server): tenant isolation & entity access descriptors [#1118] (#1120)
  packages/integration-tests/src/__tests__/tenant-isolation.test.ts
  packages/server/src/auth/__tests__/switch-tenant.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/access-enforcer.test.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/entity.test.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/context.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/entity.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/types.ts
  packages/server/src/service/context.ts
Due: server

feat(server): indirect tenant scoping via FK relation chains (#1123)
  packages/integration-tests/src/__tests__/indirect-tenant-isolation.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/tenant-chain.test.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/entity.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/tenant-chain.ts
  packages/server/src/entity/types.ts
  packages/server/src/index.ts
  plans/indirect-tenant-scoping.md
Due: server

feat: VertzQL auto field selection — compiler-driven query narrowing [#1119] (#1121)
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/fetch/src/index.ts
  packages/fetch/src/vertzql.test.ts
  packages/fetch/src/vertzql.ts
  packages/ui-compiler/src/analyzers/__tests__/component-prop-field-analyzer.test.ts
  packages/ui-compiler/src/analyzers/__tests__/field-selection-analyzer.test.ts
  packages/ui-compiler/src/analyzers/component-prop-field-analyzer.ts
  packages/ui-compiler/src/analyzers/field-selection-analyzer.ts
  packages/ui-compiler/src/index.ts
  packages/ui-server/src/__tests__/bun-plugin-manifest-hmr.test.ts
  packages/ui-server/src/__tests__/bun-plugin-onload.test.ts
  packages/ui-server/src/__tests__/diagnostics-collector.test.ts
  packages/ui-server/src/bun-plugin/__tests__/field-selection-inject.test.ts
  packages/ui-server/src/bun-plugin/__tests__/field-selection-manifest.test.ts
  packages/ui-server/src/bun-plugin/field-selection-inject.ts
  packages/ui-server/src/bun-plugin/field-selection-manifest.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/debug-logger.ts
  packages/ui-server/src/diagnostics-collector.ts
Due: codegen, fetch, ui-compiler, ui-server

feat(compiler,codegen,ui): entity schema manifest and relation includes [#1122] (#1124)
  packages/codegen/src/__tests__/integration.test.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/__tests__/entity-schema-manifest-generator.test.ts
  packages/codegen/src/generators/entity-schema-manifest-generator.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/ir/types.ts
  packages/ui-compiler/src/analyzers/__tests__/field-selection-analyzer.test.ts
  packages/ui-compiler/src/analyzers/field-selection-analyzer.ts
  packages/ui-compiler/src/index.ts
  packages/ui-server/src/bun-plugin/__tests__/entity-schema-integration.test.ts
  packages/ui-server/src/bun-plugin/__tests__/field-selection-inject.test.ts
  packages/ui-server/src/bun-plugin/field-selection-inject.ts
Due: codegen, compiler, ui-compiler, ui-server

feat(server): content descriptors for non-JSON service actions (#1129)
  .claude/rules/design-and-planning.md
  .claude/rules/local-phase-workflow.md
  .claude/rules/workflow.md
  packages/core/src/server/__tests__/request-utils.test.ts
  packages/core/src/server/request-utils.ts
  packages/docs/guides/server/services.mdx
  packages/integration-tests/src/__tests__/content-descriptors-walkthrough.test.ts
  packages/server/src/content/__tests__/builders.test-d.ts
  packages/server/src/content/__tests__/builders.test.ts
  packages/server/src/content/builders.ts
  packages/server/src/content/content-descriptor.ts
  packages/server/src/content/index.ts
  packages/server/src/index.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/__tests__/service.test-d.ts
  packages/server/src/service/context.ts
  packages/server/src/service/index.ts
  packages/server/src/service/route-generator.ts
  packages/server/src/service/types.ts
  plans/raw-service-actions.md
  reviews/content-descriptors/design-review.md
Due: core, server

feat(ui-server): wire entity schema into bun plugin [#1126] (#1128)
  packages/fetch/src/vertzql.test.ts
  packages/fetch/src/vertzql.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/vertzql-parser.ts
  packages/ui-server/src/bun-plugin/__tests__/entity-schema-e2e-pipeline.test.ts
  packages/ui-server/src/bun-plugin/__tests__/entity-schema-integration.test.ts
  packages/ui-server/src/bun-plugin/__tests__/entity-schema-loading.test.ts
  packages/ui-server/src/bun-plugin/__tests__/plugin-entity-schema.test.ts
  packages/ui-server/src/bun-plugin/entity-schema-loader.ts
  packages/ui-server/src/bun-plugin/field-selection-inject.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/bun-plugin/types.ts
  packages/ui/src/auth/__tests__/token-refresh.test.ts
Due: fetch, server, ui-server

chore(codegen,ui-server): extract shared EntitySchemaManifest types [#1125] (#1131)
  .changeset/shared-entity-schema-types.md
  bun.lock
  packages/codegen/src/generators/entity-schema-manifest-generator.ts
  packages/codegen/src/index.ts
  packages/ui-server/package.json
  packages/ui-server/src/bun-plugin/field-selection-inject.ts
Due: codegen, ui-server

feat(create-vertz-app): add LLM rules to project template (#1133)
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

feat: VertzQL relation queries with where/orderBy/limit (#1130) (#1132)
  .changeset/vertzql-relation-queries.md
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/generators/__tests__/entity-schema-manifest-generator.test.ts
  packages/codegen/src/generators/entity-schema-manifest-generator.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/ir/types.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/index.ts
  packages/db/src/query/__tests__/relation-loader.test.ts
  packages/db/src/query/relation-loader.ts
  packages/db/src/schema/__tests__/inference.test-d.ts
  packages/db/src/schema/inference.ts
  packages/db/src/sql/select.ts
  packages/db/src/types/adapter.ts
  packages/fetch/src/vertzql.test.ts
  packages/fetch/src/vertzql.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/entity.test-d.ts
  packages/server/src/entity/__tests__/field-filter.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/__tests__/vertzql-types.test-d.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/field-filter.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/entity/types.ts
  packages/server/src/entity/vertzql-parser.ts
  plans/vertzql-relation-queries.md
  reviews/vertzql-relation-queries/adversarial-review.md
  reviews/vertzql-relation-queries/phase-01-04-implementation.md
Due: codegen, compiler, db, fetch, server

feat(ui): dev-mode field selection Proxy for entity store [#1119] (#1136)
  packages/ui/src/index.ts
  packages/ui/src/store/__tests__/entity-store.test.ts
  packages/ui/src/store/__tests__/field-selection-tracker.test.ts
  packages/ui/src/store/entity-store.ts
  packages/ui/src/store/field-selection-tracker.ts
  packages/ui/src/store/index.ts
  packages/ui/src/store/types.ts
  reviews/auto-field-selection/phase-01-dev-proxy.md
Due: ui

refactor: thread model generics through entity pipeline [#1135] (#1144)
  packages/db/src/__tests__/adapter-types.test-d.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  packages/db/src/types/adapter.ts
  packages/server/src/entity/__tests__/e2e.test-d.ts
  packages/server/src/entity/crud-pipeline.ts
  packages/server/src/entity/entity-operations.ts
Due: db, server

fix(landing): Lighthouse audit fixes — a11y, SEO, image optimization (#1145)
  sites/landing/public/matheuspoleza.jpg
  sites/landing/public/robots.txt
  sites/landing/public/sitemap.xml
  sites/landing/public/viniciusdacal.jpg
  sites/landing/scripts/generate-highlights.ts
  sites/landing/src/components/founders.tsx
  sites/landing/src/components/glue-code.tsx
  sites/landing/src/components/highlighted-code.ts
  sites/landing/src/components/type-error-demo.tsx
Due: none

feat(ui): default font-display to swap instead of optional [#1141] (#1146)
  .changeset/font-display-swap.md
  packages/ui/src/css/__tests__/font.test.ts
  packages/ui/src/css/font.ts
Due: ui
