Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(openapi): show raw tags in error, add query index signature (#2216, #2217)
  .changeset/openapi-exclude-tags-query-types.md
  packages/openapi/src/generators/__tests__/resource-generator.test.ts
  packages/openapi/src/generators/__tests__/types-generator.test.ts
  packages/openapi/src/generators/resource-generator.ts
  packages/openapi/src/generators/types-generator.ts
Due: none

fix(openapi): show raw tags in error, add query index signature (#2216, #2217) (#2225)
  .changeset/openapi-exclude-tags-query-types.md
  packages/openapi/src/generators/__tests__/resource-generator.test.ts
  packages/openapi/src/generators/__tests__/types-generator.test.ts
  packages/openapi/src/generators/resource-generator.ts
  packages/openapi/src/generators/types-generator.ts
  reviews/openapi-exclude-tags-and-query-types/review.md
Due: none

fix(openapi): shorten fallback type names by stripping path segments (#2219)
  .changeset/openapi-shorter-type-names.md
  packages/openapi/src/generators/__tests__/resource-generator.test.ts
  packages/openapi/src/generators/__tests__/schema-generator.test.ts
  packages/openapi/src/generators/__tests__/types-generator.test.ts
  packages/openapi/src/generators/resource-generator.ts
  packages/openapi/src/generators/schema-generator.ts
  packages/openapi/src/generators/types-generator.ts
  packages/openapi/src/parser/__tests__/openapi-parser.test.ts
  packages/openapi/src/parser/__tests__/operation-id-normalizer.test.ts
  packages/openapi/src/parser/openapi-parser.ts
  packages/openapi/src/parser/operation-id-normalizer.ts
  packages/openapi/src/parser/types.ts
Due: none

fix(openapi): add collision detection and deduplicate getTypePrefix (#2219)
  packages/openapi/src/generators/json-schema-to-ts.ts
  packages/openapi/src/generators/resource-generator.ts
  packages/openapi/src/generators/schema-generator.ts
  packages/openapi/src/generators/types-generator.ts
  packages/openapi/src/parser/__tests__/openapi-parser.test.ts
  packages/openapi/src/parser/__tests__/operation-id-normalizer.test.ts
  packages/openapi/src/parser/openapi-parser.ts
  reviews/openapi-shorter-type-names/review.md
Due: none

fix(openapi): shorten fallback type names by stripping path segments (#2219) (#2222)
  .changeset/openapi-shorter-type-names.md
  packages/openapi/src/generators/__tests__/resource-generator.test.ts
  packages/openapi/src/generators/__tests__/schema-generator.test.ts
  packages/openapi/src/generators/__tests__/types-generator.test.ts
  packages/openapi/src/generators/json-schema-to-ts.ts
  packages/openapi/src/generators/resource-generator.ts
  packages/openapi/src/generators/schema-generator.ts
  packages/openapi/src/generators/types-generator.ts
  packages/openapi/src/parser/__tests__/openapi-parser.test.ts
  packages/openapi/src/parser/__tests__/operation-id-normalizer.test.ts
  packages/openapi/src/parser/openapi-parser.ts
  packages/openapi/src/parser/operation-id-normalizer.ts
  packages/openapi/src/parser/types.ts
  reviews/openapi-shorter-type-names/review.md
Due: none

chore: housekeeping — meta-package CLI, docs rules.public, route warnings (#2138, #2228, #2231, #2133)
  bun.lock
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/guides/server/entities.mdx
  packages/mint-docs/guides/server/overview.mdx
  packages/mint-docs/guides/server/services.mdx
  packages/mint-docs/index.mdx
  packages/mint-docs/quickstart.mdx
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/route-generator.ts
  packages/vertz/package.json
Due: server

fix(ci): update bun.lock after adding @vertz/cli dependency
  bun.lock
Due: none

style: fix formatting in entity route-generator test
  packages/server/src/entity/__tests__/route-generator.test.ts
Due: none

style: fix formatting in docs and openapi generator
  packages/mint-docs/guides/server/overview.mdx
  packages/mint-docs/guides/server/services.mdx
  packages/openapi/src/generators/resource-generator.ts
Due: none

chore: housekeeping easy wins (#2138, #2228, #2231, #2133) (#2233)
  bun.lock
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/guides/server/entities.mdx
  packages/mint-docs/guides/server/overview.mdx
  packages/mint-docs/guides/server/services.mdx
  packages/mint-docs/index.mdx
  packages/mint-docs/quickstart.mdx
  packages/openapi/src/generators/resource-generator.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/route-generator.ts
  packages/vertz/package.json
Due: server

fix(runtime): error when framework app falls back to legacy SSR render (#2229)
  native/Cargo.lock
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/tests/ssr_render.rs
Due: none

fix(runtime): address review findings for SSR fallback detection
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/tests/ssr_render.rs
Due: none

fix(runtime): skip CSS transform for test files in vertz test (#2141)
  native/Cargo.lock
  native/vertz-compiler-core/src/lib.rs
  native/vertz-compiler/src/lib.rs
  native/vtz/src/plugin/vertz.rs
Due: none

docs: document SSR fallback detection behavior (#2229)
  .claude/rules/dev-server-debugging.md
Due: none

fix(runtime): unify is_test_file and add e2e/local patterns (#2141)
  native/vtz/src/plugin/vertz.rs
  native/vtz/src/test/mod.rs
  native/vtz/src/test/watch.rs
Due: none

fix(runtime): error when framework app falls back to legacy SSR render (#2234)
  .claude/rules/dev-server-debugging.md
  native/Cargo.lock
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/tests/ssr_render.rs
Due: none

fix(runtime): skip CSS transform for test files in vertz test (#2237)
  native/vertz-compiler-core/src/lib.rs
  native/vertz-compiler/src/lib.rs
  native/vtz/src/plugin/vertz.rs
  native/vtz/src/test/mod.rs
  native/vtz/src/test/watch.rs
Due: none

style: format project-structure.mdx
  packages/mint-docs/project-structure.mdx
Due: none

refactor(compiler): remove compiler.entryFile config option (#2230)
  examples/contacts-api/vertz.config.ts
  examples/entity-todo/vertz.config.ts
  examples/linear/vertz.config.ts
  packages/cli/src/commands/__tests__/check.test.ts
  packages/cli/src/config/__tests__/defaults.test.ts
  packages/cli/src/config/__tests__/loader.test.ts
  packages/cli/src/config/defaults.ts
  packages/cli/src/config/loader.ts
  packages/cli/src/pipeline/__tests__/orchestrator.test.ts
  packages/cli/src/pipeline/orchestrator.ts
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
  packages/cli/src/production-build/orchestrator.ts
  packages/compiler/src/__tests__/config.test.ts
  packages/compiler/src/__tests__/incremental.test.ts
  packages/compiler/src/analyzers/__tests__/access-analyzer.test.ts
  packages/compiler/src/analyzers/__tests__/auth-analyzer.test.ts
  packages/compiler/src/analyzers/__tests__/database-analyzer.test.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/config.ts
  packages/compiler/src/incremental.ts
  packages/compiler/src/index.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/guides/server/codegen.mdx
  packages/mint-docs/project-structure.mdx
Due: cli, compiler

docs: document src/server.ts auto-discovery convention (#2230)
  packages/mint-docs/docs.json
  packages/mint-docs/guides/server/codegen.mdx
  packages/mint-docs/installation.mdx
  packages/mint-docs/project-structure.mdx
  plans/2230-docs-server-entry-convention.md
  reviews/docs-server-entry/phase-01-documentation.md
Due: none

fix: address review findings — remove stale entryFile refs, add .tsx tests (#2230)
  packages/cli/README.md
  packages/compiler/src/__tests__/incremental.test.ts
  packages/compiler/src/incremental.ts
  packages/site/pages/guides/server/codegen.mdx
  reviews/docs-server-entry/phase-02-remove-entryfile.md
Due: compiler

refactor: consolidate entry point discovery, remove compiler.entryFile (#2230) (#2235)
  examples/contacts-api/vertz.config.ts
  examples/entity-todo/vertz.config.ts
  examples/linear/vertz.config.ts
  packages/cli/README.md
  packages/cli/src/commands/__tests__/check.test.ts
  packages/cli/src/config/__tests__/defaults.test.ts
  packages/cli/src/config/__tests__/loader.test.ts
  packages/cli/src/config/defaults.ts
  packages/cli/src/config/loader.ts
  packages/cli/src/pipeline/__tests__/orchestrator.test.ts
  packages/cli/src/pipeline/orchestrator.ts
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/cloudflare/build-cloudflare.ts
  packages/cli/src/production-build/orchestrator.ts
  packages/compiler/src/__tests__/config.test.ts
  packages/compiler/src/__tests__/incremental.test.ts
  packages/compiler/src/analyzers/__tests__/access-analyzer.test.ts
  packages/compiler/src/analyzers/__tests__/auth-analyzer.test.ts
  packages/compiler/src/analyzers/__tests__/database-analyzer.test.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/config.ts
  packages/compiler/src/incremental.ts
  packages/compiler/src/index.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/server/codegen.mdx
  packages/mint-docs/installation.mdx
  packages/mint-docs/project-structure.mdx
  packages/site/pages/guides/server/codegen.mdx
  plans/2230-docs-server-entry-convention.md
  reviews/docs-server-entry/phase-01-documentation.md
  reviews/docs-server-entry/phase-02-remove-entryfile.md
Due: cli, compiler

feat(runtime): auto-install missing npm packages for SSR/API routes (#2093)
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/auto_installer.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/mod.rs
  native/vtz/src/server/module_server.rs
  native/vtz/tests/ssr_render.rs
Due: none

refactor(runtime): address review findings for auto-install (#2093)
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/runtime/persistent_isolate.rs
Due: none

fix(runtime): correct SSR fallback detection placement after rebase (#2093)
  native/vtz/src/runtime/persistent_isolate.rs
Due: none

feat(ui-server,cli): wire apiPrefix through dev server and CLI banner (#2131)
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: cli, ui-server

feat(server): add configurable API prefix with normalization (#2131)
  packages/core/src/types/app.ts
  packages/server/src/__tests__/cloud-mode-server.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/__tests__/prefix.test.ts
  packages/server/src/__tests__/request-handler.test.ts
  packages/server/src/create-server.ts
  packages/server/src/prefix.ts
Due: core, server

feat(server): wire apiPrefix through auth cookie paths and cloud proxy (#2131)
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/cloud-proxy.ts
  packages/server/src/auth/cookies.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/create-server.ts
Due: server

feat(cloudflare): rename basePath to apiPrefix, auto-read from app (#2131)
  examples/entity-todo/docs/cloudflare-deployment.md
  packages/cloudflare/src/handler.ts
  packages/cloudflare/tests/handler-isr.test.ts
  packages/cloudflare/tests/handler.test-d.ts
  packages/cloudflare/tests/handler.test.ts
  packages/mint-docs/guides/deploy/cloudflare.mdx
Due: cloudflare

feat(server): fix auth route dispatch with custom prefix, add docs and changeset (#2131)
  .changeset/customizable-api-prefix.md
  packages/cli/src/dev-server/fullstack-server.ts
  packages/mint-docs/guides/server/overview.mdx
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/create-server.ts
Due: cli, server

feat(runtime): auto-install missing npm packages for SSR/API routes (#2093) (#2238)
  native/vtz/src/runtime/module_loader.rs
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/auto_installer.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/mod.rs
  native/vtz/src/server/module_server.rs
  native/vtz/tests/ssr_render.rs
Due: none

fix(server): address Phase 1 review findings (#2131)
  packages/server/src/__tests__/cloud-mode-server.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/__tests__/prefix.test.ts
  packages/server/src/prefix.ts
Due: server

fix(ui-server): update stale comments to reference dynamic apiPrefix (#2131)
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(cloudflare): rename stripBasePath to stripApiPrefix, add empty prefix guard to SSR interceptor (#2131)
  packages/cloudflare/src/handler.ts
Due: cloudflare

style: apply oxfmt formatting to all changed files (#2131)
  packages/cloudflare/src/handler.ts
  packages/mint-docs/guides/server/overview.mdx
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/create-server.ts
  packages/ui-server/src/bun-dev-server.ts
Due: cloudflare, server, ui-server

feat(server): allow customizing or removing the /api/ route prefix (#2131) (#2239)
  .changeset/customizable-api-prefix.md
  examples/entity-todo/docs/cloudflare-deployment.md
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/cloudflare/src/handler.ts
  packages/cloudflare/tests/handler-isr.test.ts
  packages/cloudflare/tests/handler.test-d.ts
  packages/cloudflare/tests/handler.test.ts
  packages/core/src/types/app.ts
  packages/mint-docs/guides/deploy/cloudflare.mdx
  packages/mint-docs/guides/server/overview.mdx
  packages/server/src/__tests__/cloud-mode-server.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/__tests__/prefix.test.ts
  packages/server/src/__tests__/request-handler.test.ts
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/cloud-proxy.ts
  packages/server/src/auth/cookies.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/create-server.ts
  packages/server/src/prefix.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: cli, cloudflare, core, server, ui-server

feat(server): add devMode option to entityErrorHandler (#2232)
  packages/server/src/entity/__tests__/error-handler.test.ts
  packages/server/src/entity/error-handler.ts
  plans/dev-mode-error-handling.md
  plans/dev-mode-error-handling/phase-01-entity-error-handler.md
  plans/dev-mode-error-handling/phase-02-route-generators-threading.md
Due: server

feat(server): thread devMode through all route handlers (#2232)
  packages/server/src/agent/route-generator.test.ts
  packages/server/src/agent/route-generator.ts
  packages/server/src/auth/__tests__/auth-session-edge-cases.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/route-generator.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  packages/server/src/service/route-generator.ts
Due: server

fix(server): address review findings for dev-mode error handling (#2232)
  packages/server/src/agent/route-generator.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/entity/index.ts
  packages/server/src/index.ts
  packages/server/src/service/__tests__/route-generator.test.ts
  reviews/dev-mode-error-handling/phase-01-02-implementation.md
Due: none

style(server): fix oxfmt formatting (#2232)
  packages/server/src/auth/__tests__/auth-session-edge-cases.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/entity/__tests__/error-handler.test.ts
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
