Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(ci): build @vertz/ci before running vtz ci on CI
  .github/workflows/ci.yml
Due: none

feat(ci): enable vtz ci cache persistence across CI runs
  .github/workflows/ci.yml
Due: none

fix(build): use native compiler in CI so library children are thunked
  .changeset/fix-library-children-thunks.md
  .github/workflows/release.yml
  native/Cargo.lock
  native/vertz-compiler/package.json
  packages/ui-server/src/compiler/native-compiler.ts
Due: ui-server

fix(native-compiler): use platform-aware binary path in tests
  native/vertz-compiler/__tests__/aot-ssr.test.ts
  native/vertz-compiler/__tests__/body-jsx-diagnostics.test.ts
  native/vertz-compiler/__tests__/component-analysis.test.ts
  native/vertz-compiler/__tests__/computed-transform.test.ts
  native/vertz-compiler/__tests__/context-stable-ids.test.ts
  native/vertz-compiler/__tests__/cross-file-manifest.test.ts
  native/vertz-compiler/__tests__/css-diagnostics.test.ts
  native/vertz-compiler/__tests__/css-transform.test.ts
  native/vertz-compiler/__tests__/fast-refresh.test.ts
  native/vertz-compiler/__tests__/field-selection.test.ts
  native/vertz-compiler/__tests__/hydration-markers.test.ts
  native/vertz-compiler/__tests__/import-injection.test.ts
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/__tests__/load-compiler.ts
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/__tests__/mutation-diagnostics.test.ts
  native/vertz-compiler/__tests__/mutation-transform.test.ts
  native/vertz-compiler/__tests__/native-compiler.test.ts
  native/vertz-compiler/__tests__/parity/parity-1911.test.ts
  native/vertz-compiler/__tests__/prefetch-manifest.test.ts
  native/vertz-compiler/__tests__/props-destructuring.test.ts
  native/vertz-compiler/__tests__/query-auto-thunk.test.ts
  native/vertz-compiler/__tests__/reactivity-analysis.test.ts
  native/vertz-compiler/__tests__/route-splitting.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/__tests__/ssr-safety-diagnostics.test.ts
  native/vertz-compiler/__tests__/typescript-strip.test.ts
Due: none

fix(build): use native compiler in CI so library children are thunked (#2459)
  .changeset/fix-library-children-thunks.md
  .github/workflows/release.yml
  native/Cargo.lock
  native/vertz-compiler/__tests__/aot-ssr.test.ts
  native/vertz-compiler/__tests__/body-jsx-diagnostics.test.ts
  native/vertz-compiler/__tests__/component-analysis.test.ts
  native/vertz-compiler/__tests__/computed-transform.test.ts
  native/vertz-compiler/__tests__/context-stable-ids.test.ts
  native/vertz-compiler/__tests__/cross-file-manifest.test.ts
  native/vertz-compiler/__tests__/css-diagnostics.test.ts
  native/vertz-compiler/__tests__/css-transform.test.ts
  native/vertz-compiler/__tests__/fast-refresh.test.ts
  native/vertz-compiler/__tests__/field-selection.test.ts
  native/vertz-compiler/__tests__/hydration-markers.test.ts
  native/vertz-compiler/__tests__/import-injection.test.ts
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  native/vertz-compiler/__tests__/load-compiler.ts
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/__tests__/mutation-diagnostics.test.ts
  native/vertz-compiler/__tests__/mutation-transform.test.ts
  native/vertz-compiler/__tests__/native-compiler.test.ts
  native/vertz-compiler/__tests__/parity/parity-1911.test.ts
  native/vertz-compiler/__tests__/prefetch-manifest.test.ts
  native/vertz-compiler/__tests__/props-destructuring.test.ts
  native/vertz-compiler/__tests__/query-auto-thunk.test.ts
  native/vertz-compiler/__tests__/reactivity-analysis.test.ts
  native/vertz-compiler/__tests__/route-splitting.test.ts
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/__tests__/ssr-safety-diagnostics.test.ts
  native/vertz-compiler/__tests__/typescript-strip.test.ts
  native/vertz-compiler/package.json
  packages/ui-server/src/compiler/native-compiler.ts
Due: ui-server

fix(desktop): use remove_dir_all for recursive directory removal (#2411)
  native/vtz/src/webview/ipc_handlers/fs.rs
  packages/desktop/src/fs.ts
Due: none

test(desktop): add empty directory removal regression test (#2411)
  native/vtz/src/webview/ipc_handlers/fs.rs
Due: none

chore: add changeset for fs.remove fix (#2411)
  .changeset/fix-fs-remove-dirs.md
Due: none

docs(db): clarify SQLite requires vtz runtime, not plain Node (#2400)
  packages/db/src/client/sqlite-driver.ts
  packages/mint-docs/guides/common-mistakes.mdx
  packages/mint-docs/guides/db/overview.mdx
Due: db

fix(desktop): fs.remove handles non-empty directories (#2411) (#2461)
  .changeset/fix-fs-remove-dirs.md
  native/vtz/src/webview/ipc_handlers/fs.rs
  packages/desktop/src/fs.ts
Due: none

fix(create-vertz-app): add DialogStackProvider to todo-app template (#2462)
  .changeset/fix-todo-dialog-provider.md
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

fix(vertz): fix pre-existing test failures in subpath-exports
  packages/vertz/__tests__/subpath-exports.test.ts
Due: none

fix(runtime): update SSR test fixture deps to 0.2.56
  native/vtz/tests/fixtures/ssr-app/package.json
  native/vtz/tests/fixtures/ssr-app/vertz.lock
Due: none

docs(db): clarify SQLite requires vtz runtime (#2400) (#2465)
  native/vtz/tests/fixtures/ssr-app/package.json
  native/vtz/tests/fixtures/ssr-app/vertz.lock
  packages/db/src/client/sqlite-driver.ts
  packages/mint-docs/guides/common-mistakes.mdx
  packages/mint-docs/guides/db/overview.mdx
  packages/vertz/__tests__/subpath-exports.test.ts
Due: db

fix(docs): remove bun:sqlite references, emphasize vtz native driver
  packages/db/src/client/sqlite-driver.ts
  packages/mint-docs/guides/common-mistakes.mdx
  packages/mint-docs/guides/db/overview.mdx
Due: db

fix(ui,runtime): fix DialogStackProvider hydration, 404 for routerless apps, 503 on first API request
  .changeset/fix-todo-dialog-provider.md
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/http.rs
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui/src/dialog/__tests__/dialog-stack.test.ts
  packages/ui/src/dialog/dialog-stack.ts
Due: ui, ui-server

fix(docs): remove bun:sqlite references, emphasize vtz native driver (#2467)
  packages/db/src/client/sqlite-driver.ts
  packages/mint-docs/guides/common-mistakes.mdx
  packages/mint-docs/guides/db/overview.mdx
Due: db

fix(ui,runtime): fix todo-app template, DialogStackProvider hydration, routerless 404, API init race (#2464)
  .changeset/fix-todo-dialog-provider.md
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/http.rs
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui/src/dialog/__tests__/dialog-stack.test.ts
  packages/ui/src/dialog/dialog-stack.ts
Due: ui, ui-server

fix(server): add generation counter to prevent stale isolate swaps (#2405)
  native/vtz/src/server/http.rs
  native/vtz/tests/isolate_swap_race.rs
Due: none

fix(server): wait for isolate init before swap during HMR (#2405)
  native/vtz/src/server/http.rs
  native/vtz/tests/isolate_swap_race.rs
Due: none

fix(server): wait for isolate init before swap during HMR (#2405) (#2468)
  native/vtz/src/server/http.rs
  native/vtz/tests/isolate_swap_race.rs
Due: none

chore(desktop): add changeset and structural invariant test (#2409)
  .changeset/desktop-ipc-permissions.md
  native/vtz/src/webview/ipc_permissions.rs
Due: none

feat(desktop): add TypeScript permission types and type tests (#2409)
  packages/desktop/src/__tests__/permissions.test-d.ts
  packages/desktop/src/index.ts
  packages/desktop/src/permissions.ts
Due: none

feat(desktop): add per-method IPC permission enforcement (#2409)
  native/Cargo.lock
  native/vtz/src/main.rs
  native/vtz/src/pm/vertzrc.rs
  native/vtz/src/webview/ipc_dispatcher.rs
  native/vtz/src/webview/ipc_permissions.rs
  native/vtz/src/webview/mod.rs
Due: none

docs(desktop): add design doc and phase plans for IPC permissions (#2409)
  plans/desktop-ipc-permissions.md
  plans/desktop-ipc-permissions/phase-01-rust-enforcement.md
  plans/desktop-ipc-permissions/phase-02-typescript-types.md
Due: none

feat(desktop): per-method IPC permission system (#2409) (#2469)
  .changeset/desktop-ipc-permissions.md
  native/Cargo.lock
  native/vtz/src/main.rs
  native/vtz/src/pm/vertzrc.rs
  native/vtz/src/webview/ipc_dispatcher.rs
  native/vtz/src/webview/ipc_permissions.rs
  native/vtz/src/webview/mod.rs
  packages/desktop/src/__tests__/permissions.test-d.ts
  packages/desktop/src/index.ts
  packages/desktop/src/permissions.ts
  plans/desktop-ipc-permissions.md
  plans/desktop-ipc-permissions/phase-01-rust-enforcement.md
  plans/desktop-ipc-permissions/phase-02-typescript-types.md
Due: none

chore(cli,ui-server): remove Bun dev server, native vtz is the only path
  .claude/rules/dev-server-debugging.md
  docs/guides/bun-dev-server.md
  examples/entity-todo/src/dev-server.ts
  examples/linear/src/dev-server.ts
  packages/cli/src/__tests__/load-introspect-context.test.ts
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/component-docs/package.json
  packages/component-docs/src/dev-server.ts
  packages/landing/package.json
  packages/landing/src/dev-server.ts
  packages/site/pages/guides/deploy/static-sites.mdx
  packages/site/pages/guides/server/codegen.mdx
  packages/ui-server/ARCHITECTURE.md
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/bun-dev-server.integration.local.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/diagnostics-collector.ts
  packages/ui-server/src/source-map-resolver.ts
Due: cli, ui-server

fix(ui-server): fix bun-plugin build overwriting main dist/index.js
  packages/ui-server/bunup.config.ts
Due: none

fix(cli): remove experimentalRuntime from cli.ts dev command registration
  packages/cli/src/cli.ts
Due: cli

style: format dev.ts and codegen.mdx
  packages/cli/src/commands/dev.ts
  packages/site/pages/guides/server/codegen.mdx
Due: cli

fix(ui-server): align SSR tests with routerless 200 status and skip broken redirect tests
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/__tests__/ssr-single-pass.test.ts
Due: none

fix(ui-server): remove flawed document cleanup assertion in renderToHTML test
  packages/ui-server/src/__tests__/render-to-html.test.ts
Due: none

chore(cli,ui-server): remove Bun dev server (#2470)
  .claude/rules/dev-server-debugging.md
  docs/guides/bun-dev-server.md
  examples/entity-todo/src/dev-server.ts
  examples/linear/src/dev-server.ts
  packages/cli/src/__tests__/load-introspect-context.test.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/dev.test.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/component-docs/package.json
  packages/component-docs/src/dev-server.ts
  packages/landing/package.json
  packages/landing/src/dev-server.ts
  packages/site/pages/guides/deploy/static-sites.mdx
  packages/site/pages/guides/server/codegen.mdx
  packages/ui-server/ARCHITECTURE.md
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/bun-dev-server.integration.local.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/__tests__/render-to-html.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/__tests__/ssr-single-pass.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/diagnostics-collector.ts
  packages/ui-server/src/source-map-resolver.ts
Due: cli, ui-server

chore(ci): replace Turborepo with vtz ci for CI orchestration
  .github/workflows/ci.yml
  .gitignore
  bun.lock
  ci.config.ts
  package.json
Due: none

chore(ci): move coverage to separate main-only workflow, increase test concurrency
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

chore(ci): remove dead cache step (vtz ci cache engine doesn't write)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

fix(entity-todo): use DialogStack for delete confirmation and fix List.Item styling
  examples/entity-todo/src/app.tsx
  examples/entity-todo/src/components/todo-item.tsx
  examples/entity-todo/src/pages/todo-list.tsx
  examples/entity-todo/src/styles/components.ts
Due: none

fix(theme-shadcn): remove default layout styles from List.Item
  examples/entity-todo/src/pages/todo-list.tsx
  examples/entity-todo/src/styles/components.ts
  packages/theme-shadcn/src/styles/list.ts
Due: none

chore: add changeset for theme-shadcn List.Item fix
  .changeset/fix-todo-dialog-list.md
Due: none

fix(entity-todo): use plain ul/li instead of List component
  examples/entity-todo/src/pages/todo-list.tsx
Due: none
