Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(server): type rules.entitlement() with registered Entitlement union [#2992] (#2993)
  .changeset/fix-rules-entitlement-typed-2992.md
  packages/integration-tests/src/__tests__/rules-entitlement-narrowing.test-d.ts
  packages/server/src/auth/rules.test-d.ts
  packages/server/src/auth/rules.ts
Due: server

fix(ui,fetch): map server 422 validation errors to form field signals [#2981]
  .changeset/fix-form-server-422-errors-2981.md
  packages/fetch/src/client.test.ts
  packages/fetch/src/client.ts
  packages/fetch/src/index.ts
  packages/integration-tests/src/__tests__/form-walkthrough.test.ts
  packages/ui/src/__tests__/form-integration.test.ts
  packages/ui/src/form/form.ts
Due: fetch, ui

test(fetch,ui): cover empty `details`, `_form` path, and stale error clearing [#2981]
  packages/fetch/src/client.test.ts
  packages/fetch/src/client.ts
  packages/integration-tests/src/__tests__/errors-as-values-e2e.test.ts
  packages/ui/src/__tests__/form-integration.test.ts
  packages/ui/src/form/form.ts
Due: fetch, ui

docs(changeset): update #2981 wording — normalization lives in fetch client
  .changeset/fix-form-server-422-errors-2981.md
Due: none

fix(ui,fetch): map server 422 validation errors to form field signals [#2981] (#2994)
  .changeset/fix-form-server-422-errors-2981.md
  packages/fetch/src/client.test.ts
  packages/fetch/src/client.ts
  packages/fetch/src/index.ts
  packages/integration-tests/src/__tests__/errors-as-values-e2e.test.ts
  packages/integration-tests/src/__tests__/form-walkthrough.test.ts
  packages/ui/src/__tests__/form-integration.test.ts
  packages/ui/src/form/form.ts
Due: fetch, ui

fix(vtz): recover from wiped .vertz/deps/ and clear stale dep re-bundle errors [#2954]
  .changeset/fix-dep-rebundle-stale-errors-2954.md
  native/vtz/src/deps/prebundle.rs
  native/vtz/src/server/http.rs
  native/vtz/src/watcher/dep_watcher.rs
Due: none

fix(vtz): scope dep-rebundle Build-error clear per package [#2954]
  .changeset/fix-dep-rebundle-stale-errors-2954.md
  native/vtz/src/watcher/dep_watcher.rs
Due: none

fix(ui,schema): drop unknown form fields and coerce checkbox values for JSON [#2980]
  .changeset/fix-form-checkbox-json-coerce-2980.md
  packages/schema/src/__tests__/coerce.test.ts
  packages/schema/src/coerce.ts
  packages/ui/src/form/__tests__/form-coercion.test.ts
  packages/ui/src/form/form.ts
Due: schema, ui

fix(vtz): recover from wiped .vertz/deps/ and clear stale dep re-bundle errors [#2954] (#2995)
  .changeset/fix-dep-rebundle-stale-errors-2954.md
  native/vtz/src/deps/prebundle.rs
  native/vtz/src/server/http.rs
  native/vtz/src/watcher/dep_watcher.rs
Due: none

fix(ui,schema): drop unknown form fields and coerce checkbox values for JSON [#2980] (#2996)
  .changeset/fix-form-checkbox-json-coerce-2980.md
  packages/schema/src/__tests__/coerce.test.ts
  packages/schema/src/coerce.ts
  packages/ui/src/form/__tests__/form-coercion.test.ts
  packages/ui/src/form/form.ts
Due: schema, ui

fix(agents): opt-in d.jsonb<T>() for agent_sessions.state and agent_messages.toolCalls [#2958]
  .changeset/agent-columns-jsonb-opt-in-2958.md
  packages/agents/src/entities/__tests__/bridge.integration.test.ts
  packages/agents/src/entities/__tests__/columns.test-d.ts
  packages/agents/src/entities/__tests__/columns.test.ts
  packages/agents/src/entities/__tests__/define.test-d.ts
  packages/agents/src/entities/__tests__/define.test.ts
  packages/agents/src/entities/columns.ts
  packages/agents/src/entities/index.ts
  packages/mint-docs/guides/agents/entity-bridge.mdx
Due: none

chore(release): lock remaining public packages to fixed version group [#2998]
  .changeset/config.json
Due: none

chore(release): lock remaining public packages to fixed version group [#2998] (#2999)
  .changeset/config.json
Due: none

fix(agents): opt-in d.jsonb<T>() for agent_sessions.state and agent_messages.toolCalls [#2958] (#2997)
  .changeset/agent-columns-jsonb-opt-in-2958.md
  packages/agents/src/entities/__tests__/bridge.integration.test.ts
  packages/agents/src/entities/__tests__/columns.test-d.ts
  packages/agents/src/entities/__tests__/columns.test.ts
  packages/agents/src/entities/__tests__/define.test-d.ts
  packages/agents/src/entities/__tests__/define.test.ts
  packages/agents/src/entities/columns.ts
  packages/agents/src/entities/index.ts
  packages/mint-docs/guides/agents/entity-bridge.mdx
Due: none

fix(ui,runtime): return correct HTTP status for SSR routes [#3001]
  .changeset/fix-task-manager-ssr-404-3001.md
  native/Cargo.lock
  native/vtz/src/runtime/persistent_isolate.rs
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui/src/router/navigate.ts
Due: ui

fix(ui,runtime): return correct HTTP status for SSR routes [#3001] (#3004)
  .changeset/fix-task-manager-ssr-404-3001.md
  native/Cargo.lock
  native/vtz/src/runtime/persistent_isolate.rs
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui/src/router/navigate.ts
Due: ui

fix(examples): use vtz dev in playwright configs instead of bun run dev [#3002]
  examples/entity-todo/playwright.config.ts
  examples/linear/playwright.config.ts
  examples/task-manager/playwright.config.ts
Due: none

fix(examples): use vtz dev in playwright configs instead of bun run dev [#3002] (#3009)
  examples/entity-todo/playwright.config.ts
  examples/linear/playwright.config.ts
  examples/task-manager/playwright.config.ts
Due: none

fix(examples): align linear example on port 3001 [#3007]
  examples/linear/.env.example
  examples/linear/package.json
  examples/linear/playwright.config.ts
  examples/linear/src/api/auth.ts
Due: none

fix(examples): align linear example on port 3001 [#3007] (#3010)
  examples/linear/.env.example
  examples/linear/package.json
  examples/linear/playwright.config.ts
  examples/linear/src/api/auth.ts
Due: none

fix(vtz): walk up to find @vertz/cli for codegen in hoisted workspaces [#3000]
  .changeset/fix-codegen-resolver-walk-up-3000.md
  native/vtz/src/main.rs
Due: none

fix(vtz): walk up to find @vertz/cli for codegen in hoisted workspaces [#3000] (#3011)
  .changeset/fix-codegen-resolver-walk-up-3000.md
  native/vtz/src/main.rs
Due: none

docs(examples): fix entity-todo README stale references [#3005] (#3013)
  examples/entity-todo/README.md
Due: none

chore(examples): remove dead dev:legacy script from entity-todo [#3008]
  examples/entity-todo/package.json
Due: none

docs(site): replace bun run/bunx with vtz CLI invocations [#3006]
  packages/site/pages/guides/deploy/cloudflare.mdx
  packages/site/pages/guides/deploy/og-images.mdx
  packages/site/pages/guides/deploy/static-sites.mdx
  packages/site/pages/guides/llm-quick-reference.mdx
  packages/site/pages/guides/server/codegen.mdx
  packages/site/pages/guides/testing.mdx
  packages/site/pages/guides/ui/compiler.mdx
  packages/site/pages/guides/ui/icons.mdx
  packages/site/pages/guides/ui/overview.mdx
  packages/site/pages/guides/ui/ssr.mdx
  packages/site/pages/index.mdx
  packages/site/pages/installation.mdx
  packages/site/pages/quickstart.mdx
Due: none

docs(site): use vtz run for build/start, fix -D dev flag [#3006]
  packages/site/pages/guides/deploy/cloudflare.mdx
  packages/site/pages/guides/deploy/og-images.mdx
  packages/site/pages/guides/deploy/static-sites.mdx
  packages/site/pages/guides/server/codegen.mdx
  packages/site/pages/guides/testing.mdx
  packages/site/pages/guides/ui/compiler.mdx
  packages/site/pages/quickstart.mdx
Due: none

chore(examples): remove dead dev:legacy script from entity-todo [#3008] (#3014)
  examples/entity-todo/package.json
Due: none

docs(site): replace bun/bunx references with vtz CLI invocations [#3006] (#3015)
  packages/site/pages/guides/deploy/cloudflare.mdx
  packages/site/pages/guides/deploy/og-images.mdx
  packages/site/pages/guides/deploy/static-sites.mdx
  packages/site/pages/guides/llm-quick-reference.mdx
  packages/site/pages/guides/server/codegen.mdx
  packages/site/pages/guides/testing.mdx
  packages/site/pages/guides/ui/compiler.mdx
  packages/site/pages/guides/ui/icons.mdx
  packages/site/pages/guides/ui/overview.mdx
  packages/site/pages/guides/ui/ssr.mdx
  packages/site/pages/index.mdx
  packages/site/pages/installation.mdx
  packages/site/pages/quickstart.mdx
Due: none

docs(examples): rewrite entity-todo README reactive UI snippet [#3012]
  examples/entity-todo/README.md
Due: none

fix(changeset): rename 'vtz' to 'vertz' in fix-fragment-root-hydration changeset [#2964]
  .changeset/fix-fragment-root-hydration-2784.md
Due: none

docs(examples): rewrite entity-todo README reactive UI snippet [#3012] (#3016)
  examples/entity-todo/README.md
Due: none

fix(changeset): rename 'vtz' to 'vertz' in fix-fragment-root-hydration changeset [#2964] (#3017)
  .changeset/fix-fragment-root-hydration-2784.md
Due: none

fix(compiler): use span-overlap check for signal mutation ranges [#2785]
  .changeset/fix-mutation-range-overlap-2785.md
  native/vertz-compiler-core/src/signal_transformer.rs
Due: none

docs(compiler): clarify overlaps_mutation_range is robustness change [#2785]
  native/vertz-compiler-core/src/signal_transformer.rs
Due: none

fix(compiler): use span-overlap check for signal mutation ranges (#2785) (#3019)
  .changeset/fix-mutation-range-overlap-2785.md
  native/vertz-compiler-core/src/signal_transformer.rs
Due: none

fix(build): assert bundle outputs land inside outDir [#2953]
  .changeset/fix-build-outputs-outside-outdir-2953.md
  packages/build/src/__tests__/bundle.test.ts
  packages/build/src/__tests__/validate.test.ts
  packages/build/src/bundle.ts
  packages/build/src/validate.ts
Due: none

review: revert absolute outdir; realpath-normalize the assertion [#2953]
  .changeset/fix-build-outputs-outside-outdir-2953.md
  packages/build/src/__tests__/validate.test.ts
  packages/build/src/bundle.ts
  packages/build/src/validate.ts
Due: none

fix(build): assert bundle outputs land inside outDir [#2953] (#3020)
  .changeset/fix-build-outputs-outside-outdir-2953.md
  packages/build/src/__tests__/bundle.test.ts
  packages/build/src/__tests__/validate.test.ts
  packages/build/src/bundle.ts
  packages/build/src/validate.ts
Due: none

fix(vtz): heal store + project bins corrupted by pre-#2908 vtz [#2952]
  .changeset/fix-tsc-bin-stub-2952.md
  native/vtz/src/pm/linker.rs
  native/vtz/src/pm/mod.rs
  native/vtz/src/pm/tarball.rs
Due: none

review: extend bin-path traversal guard to handle backslash separators [#2952]
  native/vtz/src/pm/linker.rs
  native/vtz/src/pm/tarball.rs
Due: none
