Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(ui-server): nav pre-fetch passes search params to SSR context (#1774)
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/ssr-handler.ts
Due: ui-server

fix(codegen): update router augmentation test stub for new search param types
  packages/codegen/src/generators/__tests__/router-augmentation-generator.test.ts
Due: none

fix(ui): use enableTestSSR() in search params tests for happy-dom compat
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/define-routes.ts
Due: ui

fix(ui): restore ExtractSearchParams type and foundSchema fallback
  packages/ui/src/router/define-routes.ts
Due: ui

refactor(ui): remove deprecated useSearchParams(signal) overload
  packages/ui/src/router/__tests__/router.test-d.ts
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/search-params.ts
Due: ui

feat(ui): reactive useSearchParams() proxy with type inference (#1774) (#1781)
  .changeset/reactive-search-params.md
  packages/codegen/src/generators/__tests__/router-augmentation-generator.test.ts
  packages/codegen/src/generators/router-augmentation-generator.ts
  packages/docs/api-reference/ui/router.mdx
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui/reactivity.json
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/define-routes.test.ts
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/__tests__/reactive-search-params.test.ts
  packages/ui/src/router/__tests__/router.test-d.ts
  packages/ui/src/router/__tests__/search-params.test.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/index.ts
  packages/ui/src/router/navigate.ts
  packages/ui/src/router/public.ts
  packages/ui/src/router/reactive-search-params.ts
  packages/ui/src/router/search-params.ts
  plans/reactive-search-params.md
  reviews/reactive-search-params/phase-01-runtime-proxy.md
Due: codegen, ui, ui-compiler

refactor(auth): remove /v1 prefix from cloud auth proxy paths (#1782)
  .changeset/remove-auth-v1-prefix.md
  packages/server/src/auth/cloud-proxy.test.ts
  packages/server/src/auth/cloud-proxy.ts
  packages/server/src/auth/cloud-server-integration.test.ts
  packages/server/src/create-server.ts
Due: server

docs: update design doc to remove stale /auth/v1/ references (#1782)
  plans/cloud-managed-auth-phase1.md
Due: none

refactor(auth): remove /v1 prefix from cloud auth proxy paths (#1784)
  .changeset/remove-auth-v1-prefix.md
  packages/server/src/auth/cloud-proxy.test.ts
  packages/server/src/auth/cloud-proxy.ts
  packages/server/src/auth/cloud-server-integration.test.ts
  packages/server/src/create-server.ts
  plans/cloud-managed-auth-phase1.md
Due: server

fix(testing): address review findings for typed test client #1779
  packages/testing/src/__tests__/test-client.test-d.ts
  packages/testing/src/__tests__/test-client.test.ts
  packages/testing/src/test-client-types.ts
  packages/testing/src/test-client.ts
Due: testing

fix(testing): move @vertz/db to dependencies for DTS generation #1779
  bun.lock
  packages/testing/package.json
Due: none

docs(testing): add server testing guide for typed test client #1779
  .changeset/typed-test-client.md
  packages/docs/docs.json
  packages/docs/guides/testing-server.mdx
  packages/docs/guides/testing.mdx
Due: none

feat(testing): add typed test client with entity/service proxies #1779
  bun.lock
  packages/server/src/service/__tests__/service.test-d.ts
  packages/server/src/service/service.ts
  packages/server/src/service/types.ts
  packages/testing/package.json
  packages/testing/src/__tests__/test-client.test.ts
  packages/testing/src/index.ts
  packages/testing/src/test-client-types.ts
  packages/testing/src/test-client.ts
  plans/typed-test-client.md
Due: server, testing

feat(testing): add typed test client with entity/service proxies (#1785)
  .changeset/typed-test-client.md
  bun.lock
  packages/docs/docs.json
  packages/docs/guides/testing-server.mdx
  packages/docs/guides/testing.mdx
  packages/server/src/service/__tests__/service.test-d.ts
  packages/server/src/service/service.ts
  packages/server/src/service/types.ts
  packages/testing/package.json
  packages/testing/src/__tests__/test-client.test-d.ts
  packages/testing/src/__tests__/test-client.test.ts
  packages/testing/src/index.ts
  packages/testing/src/test-client-types.ts
  packages/testing/src/test-client.ts
  plans/typed-test-client.md
Due: server, testing

feat(auth): add algorithms option to cloud JWT verifier (#1783)
  packages/server/src/auth/cloud-jwt-verifier.test.ts
  packages/server/src/auth/cloud-jwt-verifier.ts
Due: server

feat(auth): plumb algorithm through createAuth, key gen, JWKS, SSR (#1783)
  packages/server/src/auth/__tests__/auth-algorithm.test.ts
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/auth/types.ts
Due: server

fix(auth): address review findings for JWT algorithm config (#1783)
  packages/server/src/auth/__tests__/resolve-session-for-ssr.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/create-server.ts
  packages/server/src/index.ts
  reviews/jwt-algorithm-config/phase-all-review.md
Due: server

feat(auth): add algorithm parameter to createJWT/verifyJWT (#1783)
  packages/server/src/auth/__tests__/jwt.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/jwt.ts
  packages/server/src/auth/types.ts
  plans/configurable-jwt-algorithm.md
Due: server

feat(auth): add test key helpers, docs, changeset (#1783)
  .changeset/configurable-jwt-algorithm.md
  packages/docs/guides/server/auth.mdx
  packages/server/src/auth/__tests__/test-keys.ts
Due: server

feat(auth): make JWT signing algorithm configurable (ES256, RS256) (#1789)
  .changeset/configurable-jwt-algorithm.md
  packages/docs/guides/server/auth.mdx
  packages/server/src/auth/__tests__/auth-algorithm.test.ts
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/__tests__/jwt.test.ts
  packages/server/src/auth/__tests__/resolve-session-for-ssr.test.ts
  packages/server/src/auth/__tests__/test-keys.ts
  packages/server/src/auth/cloud-jwt-verifier.test.ts
  packages/server/src/auth/cloud-jwt-verifier.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/jwt.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/auth/types.ts
  packages/server/src/create-server.ts
  packages/server/src/index.ts
  plans/configurable-jwt-algorithm.md
  reviews/jwt-algorithm-config/phase-all-review.md
Due: server

fix(db): address adversarial review findings for db pull codegen
  packages/cli/src/__tests__/db-pull.test.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/db.ts
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/codegen.ts
Due: cli, db

feat(cli): add vertz db pull command
  packages/cli/src/__tests__/db-pull.test.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/load-db-context.ts
  packages/db/src/index.ts
Due: cli

feat(db): add schema code generator and introspection enhancements for db pull
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/__tests__/introspect.test.ts
  packages/db/src/migration/codegen.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/introspect.ts
  packages/db/src/migration/snapshot.ts
  plans/db-introspect-codegen.md
Due: db

docs(db): add introspection guide for vertz db pull
  packages/docs/docs.json
  packages/docs/guides/db/introspection.mdx
  packages/docs/guides/db/migrations.mdx
Due: none

feat(db): add db pull command with schema code generation (#1788)
  packages/cli/src/__tests__/db-pull.test.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/load-db-context.ts
  packages/db/src/index.ts
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/__tests__/introspect.test.ts
  packages/db/src/migration/codegen.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/introspect.ts
  packages/db/src/migration/snapshot.ts
  packages/docs/docs.json
  packages/docs/guides/db/introspection.mdx
  packages/docs/guides/db/migrations.mdx
  plans/db-introspect-codegen.md
Due: cli, db

chore: exclude __tests__/ from code coverage
  bunfig.toml
  packages/cli-runtime/bunfig.toml
  packages/cli/bunfig.toml
  packages/db/bunfig.toml
  packages/fetch/bunfig.toml
  packages/server/bunfig.toml
  packages/testing/bunfig.toml
  packages/ui-compiler/bunfig.toml
  packages/ui-primitives/bunfig.toml
  packages/ui-server/bunfig.toml
Due: none

chore: exclude __tests__/ from code coverage (#1790)
  bunfig.toml
  packages/cli-runtime/bunfig.toml
  packages/cli/bunfig.toml
  packages/db/bunfig.toml
  packages/fetch/bunfig.toml
  packages/server/bunfig.toml
  packages/testing/bunfig.toml
  packages/ui-compiler/bunfig.toml
  packages/ui-primitives/bunfig.toml
  packages/ui-server/bunfig.toml
Due: none

test(db,cli): improve code coverage for codegen and load-db-context
  packages/cli/src/__tests__/load-introspect-context.test.ts
  packages/db/src/migration/__tests__/codegen.test.ts
Due: none

test(db,cli): improve code coverage for codegen and load-db-context (#1791)
  packages/cli/src/__tests__/load-introspect-context.test.ts
  packages/db/src/migration/__tests__/codegen.test.ts
Due: none

test(cloudflare): reach 95%+ code coverage for handler, image-optimizer, tpr-routes (#1800)
  packages/cloudflare/tests/handler.test.ts
  packages/cloudflare/tests/image-optimizer.test.ts
  packages/cloudflare/tests/tpr-routes.test.ts
Due: none

test(cloudflare): reach 95%+ code coverage for handler, image-optimizer, tpr-routes (#1800) (#1805)
  packages/cloudflare/tests/handler.test.ts
  packages/cloudflare/tests/image-optimizer.test.ts
  packages/cloudflare/tests/tpr-routes.test.ts
Due: none

test(cli): reach 95%+ code coverage for CLI package (#1798)
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/commands/__tests__/load-db-context.test.ts
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/utils/__tests__/runtime-detect.test.ts
Due: none

fix(test): use valid ESM export in mock server build output
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
Due: none

test(cli): reach 95%+ code coverage for CLI package (#1809)
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/commands/__tests__/load-db-context.test.ts
  packages/cli/src/production-build/__tests__/orchestrator.test.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/utils/__tests__/runtime-detect.test.ts
Due: none

test(schema): reach 100% line coverage for all source files (#1794)
  packages/schema/src/__tests__/index.test.ts
  packages/schema/src/core/__tests__/wrappers.test.ts
  packages/schema/src/schemas/__tests__/array.test.ts
  packages/schema/src/schemas/__tests__/bigint.test.ts
  packages/schema/src/schemas/__tests__/boolean.test.ts
  packages/schema/src/schemas/__tests__/coerced.test.ts
  packages/schema/src/schemas/__tests__/custom.test.ts
  packages/schema/src/schemas/__tests__/discriminated-union.test.ts
  packages/schema/src/schemas/__tests__/enum.test.ts
  packages/schema/src/schemas/__tests__/file.test.ts
  packages/schema/src/schemas/__tests__/instanceof.test.ts
  packages/schema/src/schemas/__tests__/intersection.test.ts
  packages/schema/src/schemas/__tests__/lazy.test.ts
  packages/schema/src/schemas/__tests__/literal.test.ts
  packages/schema/src/schemas/__tests__/map.test.ts
  packages/schema/src/schemas/__tests__/nan.test.ts
  packages/schema/src/schemas/__tests__/object.test.ts
  packages/schema/src/schemas/__tests__/record.test.ts
  packages/schema/src/schemas/__tests__/set.test.ts
  packages/schema/src/schemas/__tests__/special.test.ts
  packages/schema/src/schemas/__tests__/symbol.test.ts
  packages/schema/src/schemas/__tests__/tuple.test.ts
  packages/schema/src/schemas/__tests__/union.test.ts
  packages/schema/src/schemas/formats/__tests__/cuid.test.ts
  packages/schema/src/schemas/formats/__tests__/hex.test.ts
  packages/schema/src/schemas/formats/__tests__/jwt.test.ts
  packages/schema/src/schemas/formats/__tests__/nanoid.test.ts
  packages/schema/src/schemas/formats/__tests__/ulid.test.ts
  packages/schema/src/transforms/__tests__/preprocess.test.ts
Due: none

test(schema): reach 100% line coverage for all source files (#1794) (#1808)
  packages/schema/src/__tests__/index.test.ts
  packages/schema/src/core/__tests__/wrappers.test.ts
  packages/schema/src/schemas/__tests__/array.test.ts
  packages/schema/src/schemas/__tests__/bigint.test.ts
  packages/schema/src/schemas/__tests__/boolean.test.ts
  packages/schema/src/schemas/__tests__/coerced.test.ts
  packages/schema/src/schemas/__tests__/custom.test.ts
  packages/schema/src/schemas/__tests__/discriminated-union.test.ts
  packages/schema/src/schemas/__tests__/enum.test.ts
  packages/schema/src/schemas/__tests__/file.test.ts
  packages/schema/src/schemas/__tests__/instanceof.test.ts
  packages/schema/src/schemas/__tests__/intersection.test.ts
  packages/schema/src/schemas/__tests__/lazy.test.ts
  packages/schema/src/schemas/__tests__/literal.test.ts
  packages/schema/src/schemas/__tests__/map.test.ts
  packages/schema/src/schemas/__tests__/nan.test.ts
  packages/schema/src/schemas/__tests__/object.test.ts
  packages/schema/src/schemas/__tests__/record.test.ts
  packages/schema/src/schemas/__tests__/set.test.ts
  packages/schema/src/schemas/__tests__/special.test.ts
  packages/schema/src/schemas/__tests__/symbol.test.ts
  packages/schema/src/schemas/__tests__/tuple.test.ts
  packages/schema/src/schemas/__tests__/union.test.ts
  packages/schema/src/schemas/formats/__tests__/cuid.test.ts
  packages/schema/src/schemas/formats/__tests__/hex.test.ts
  packages/schema/src/schemas/formats/__tests__/jwt.test.ts
  packages/schema/src/schemas/formats/__tests__/nanoid.test.ts
  packages/schema/src/schemas/formats/__tests__/ulid.test.ts
  packages/schema/src/transforms/__tests__/preprocess.test.ts
Due: none

test(errors): reach 100% code coverage (#1795)
  packages/errors/src/tests/domain/auth.test.ts
  packages/errors/src/tests/match-error.test.ts
Due: none

test(fetch): reach 100% code coverage for descriptor.ts and vertzql.ts (#1796)
  packages/fetch/src/descriptor.test.ts
  packages/fetch/src/vertzql.test.ts
Due: none

test(errors): reach 100% code coverage (#1795) (#1804)
  packages/errors/src/tests/domain/auth.test.ts
  packages/errors/src/tests/match-error.test.ts
Due: none
