Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(vertz-compiler): resolve grid-cols:N to repeat() in Rust compiler (#1993)
  native/vertz-compiler/src/css_token_tables.rs
Due: none

fix(ui-server, ui-compiler): move CSS filtering to build time for zero runtime overhead (#1988, #1989)
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/aot-manifest-loader.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: cli, ui-server

fix(ui-server): collect CSS transitively from full component tree (#1989)
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/aot-manifest-build.ts
Due: ui-server

fix(ui, theme-shadcn): lazy per-component theme CSS compilation (#1979)
  .changeset/aot-app-layout-composition.md
  packages/theme-shadcn/src/configure.ts
  packages/ui/src/theme/registry.ts
Due: ui

perf(ui-server): cache per-route CSS output to eliminate GC-induced tail latency
  .changeset/aot-app-layout-composition.md
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-server

fix(ui-server, ui-compiler): per-rule CSS filtering and manifest CSS as primary source (#1988, #1989)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/css-transformer.ts
  packages/ui-compiler/src/types.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-compiler, ui-server

fix(ui-server, ui-compiler): eliminate dead CSS and ensure AOT CSS on non-Bun bundlers (#1988, #1989)
  .changeset/aot-app-layout-composition.md
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/transformers/css-transformer.ts
  packages/ui-compiler/src/types.ts
  packages/ui-server/src/__tests__/css-filter.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/aot-manifest-loader.ts
  packages/ui-server/src/css-filter.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: cli, ui-compiler, ui-server

fix(ui-compiler): resolve grid-cols:N to repeat(N, minmax(0, 1fr)) at compile time (#1993)
  packages/ui-compiler/src/css-extraction/__tests__/css-extraction.test.ts
  packages/ui-compiler/src/css-extraction/extractor.ts
Due: ui-compiler

fix(ui-server, ui-compiler): AOT SSR App layout composition + portable hole references (#1977, #1981) (#1980)
  .changeset/aot-app-layout-composition.md
  .github/workflows/ci.yml
  native/vertz-compiler/src/css_token_tables.rs
  package.json
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/theme-shadcn/src/configure.ts
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/css-extraction/__tests__/css-extraction.test.ts
  packages/ui-compiler/src/css-extraction/extractor.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  packages/ui-compiler/src/transformers/css-transformer.ts
  packages/ui-compiler/src/types.ts
  packages/ui-server/src/__tests__/aot-e2e-pipeline.test.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/__tests__/css-filter.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/__tests__/ssr-css-treeshake.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/aot-manifest-loader.ts
  packages/ui-server/src/css-filter.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui/src/theme/registry.ts
Due: cli, ui, ui-compiler, ui-server

chore(site): add features showcase, todo app, and scroll UX polish
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/ssr-render.ts
  sites/landing/package.json
  sites/landing/public/og.png
  sites/landing/scripts/generate-og.ts
  sites/landing/src/components/benchmarks.tsx
  sites/landing/src/components/faq.tsx
  sites/landing/src/components/features.tsx
  sites/landing/src/components/get-started.tsx
  sites/landing/src/components/glue-code.tsx
  sites/landing/src/components/hero.tsx
  sites/landing/src/components/highlighted-code.ts
  sites/landing/src/components/schema-flow.tsx
  sites/landing/src/components/the-stack.tsx
  sites/landing/src/components/why-vertz.tsx
  sites/landing/src/pages/home.tsx
Due: cli, ui-server

chore(site): apply Dark Elegant branding and rework hero section
  sites/landing/scripts/generate-highlights.ts
  sites/landing/src/components/copy-button.tsx
  sites/landing/src/components/hero.tsx
  sites/landing/src/components/highlighted-code.ts
  sites/landing/src/components/nav.tsx
  sites/landing/src/components/token-lines.tsx
  sites/landing/src/components/vertz-logo.tsx
  sites/landing/src/pages/home.tsx
  sites/landing/src/styles/globals.ts
Due: none

Saving uncommitted changes before archiving
  .playwright-mcp/element-2026-03-27T23-49-46-253Z.png
  .playwright-mcp/element-2026-03-28T03-24-39-662Z.png
  .playwright-mcp/element-2026-03-28T03-25-36-296Z.png
  .playwright-mcp/element-2026-03-28T03-26-43-545Z.png
  .playwright-mcp/element-2026-03-28T05-53-29-662Z.png
  .playwright-mcp/element-2026-03-28T05-59-55-632Z.png
  .playwright-mcp/element-2026-03-28T06-01-01-345Z.png
  .playwright-mcp/element-2026-03-28T06-15-14-427Z.png
  .playwright-mcp/element-2026-03-28T06-15-30-466Z.png
  .playwright-mcp/element-2026-03-28T06-15-38-428Z.png
  .playwright-mcp/page-2026-03-27T23-50-08-395Z.png
  .playwright-mcp/page-2026-03-27T23-50-20-893Z.png
  .playwright-mcp/page-2026-03-27T23-50-28-371Z.png
Due: none

fix(cli): update theme-color test to match new #111110 branding
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
Due: none

chore(site): add features showcase, todo app, and scroll UX polish
  sites/landing/src/components/features.tsx
Due: none

chore(site): canary badge, dark branding, features showcase & hero polish (#1996)
  .playwright-mcp/element-2026-03-27T23-49-46-253Z.png
  .playwright-mcp/element-2026-03-28T03-24-39-662Z.png
  .playwright-mcp/element-2026-03-28T03-25-36-296Z.png
  .playwright-mcp/element-2026-03-28T03-26-43-545Z.png
  .playwright-mcp/element-2026-03-28T05-53-29-662Z.png
  .playwright-mcp/element-2026-03-28T05-59-55-632Z.png
  .playwright-mcp/element-2026-03-28T06-01-01-345Z.png
  .playwright-mcp/element-2026-03-28T06-15-14-427Z.png
  .playwright-mcp/element-2026-03-28T06-15-30-466Z.png
  .playwright-mcp/element-2026-03-28T06-15-38-428Z.png
  .playwright-mcp/page-2026-03-27T23-50-08-395Z.png
  .playwright-mcp/page-2026-03-27T23-50-20-893Z.png
  .playwright-mcp/page-2026-03-27T23-50-28-371Z.png
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/ssr-render.ts
  sites/landing/package.json
  sites/landing/public/og.png
  sites/landing/scripts/generate-highlights.ts
  sites/landing/scripts/generate-og.ts
  sites/landing/src/components/benchmarks.tsx
  sites/landing/src/components/copy-button.tsx
  sites/landing/src/components/faq.tsx
  sites/landing/src/components/features.tsx
  sites/landing/src/components/get-started.tsx
  sites/landing/src/components/glue-code.tsx
  sites/landing/src/components/hero.tsx
  sites/landing/src/components/highlighted-code.ts
  sites/landing/src/components/nav.tsx
  sites/landing/src/components/schema-flow.tsx
  sites/landing/src/components/the-stack.tsx
  sites/landing/src/components/token-lines.tsx
  sites/landing/src/components/vertz-logo.tsx
  sites/landing/src/components/why-vertz.tsx
  sites/landing/src/pages/home.tsx
  sites/landing/src/styles/globals.ts
Due: cli, ui-server

feat(vertz-runtime): add error overlay, auto-recovery, and diagnostics
  native/vertz-runtime/src/assets/error-overlay.js
  native/vertz-runtime/src/assets/hmr-client.js
  native/vertz-runtime/src/compiler/cache.rs
  native/vertz-runtime/src/errors/broadcaster.rs
  native/vertz-runtime/src/errors/categories.rs
  native/vertz-runtime/src/errors/mod.rs
  native/vertz-runtime/src/errors/source_mapper.rs
  native/vertz-runtime/src/hmr/mod.rs
  native/vertz-runtime/src/hmr/recovery.rs
  native/vertz-runtime/src/hmr/websocket.rs
  native/vertz-runtime/src/lib.rs
  native/vertz-runtime/src/server/diagnostics.rs
  native/vertz-runtime/src/server/html_shell.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mod.rs
  native/vertz-runtime/src/server/module_server.rs
  native/vertz-runtime/tests/error_overlay.rs
Due: none

fix(vertz-runtime): deduplicate errors and filter CSS warnings
  native/vertz-runtime/src/compiler/pipeline.rs
  native/vertz-runtime/src/errors/categories.rs
Due: none

feat(vertz-runtime): validate client-only rendering pipeline
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mod.rs
  native/vertz-runtime/src/server/module_server.rs
  native/vertz-runtime/src/server/theme_css.rs
  native/vertz-runtime/tests/client_render.rs
  native/vertz-runtime/tests/fixtures/linear-clone-app/package.json
  native/vertz-runtime/tests/fixtures/linear-clone-app/src/app.tsx
  native/vertz-runtime/tests/fixtures/linear-clone-app/src/components/Avatar.tsx
  native/vertz-runtime/tests/fixtures/linear-clone-app/src/components/IssueRow.tsx
  native/vertz-runtime/tests/fixtures/linear-clone-app/src/components/PriorityIcon.tsx
  native/vertz-runtime/tests/fixtures/linear-clone-app/src/layouts/AppLayout.tsx
  native/vertz-runtime/tests/fixtures/linear-clone-app/src/pages/IssuePage.tsx
  native/vertz-runtime/tests/fixtures/linear-clone-app/src/styles/theme.css
  native/vertz-runtime/tests/fixtures/task-manager-app/package.json
  native/vertz-runtime/tests/fixtures/task-manager-app/src/app.tsx
  native/vertz-runtime/tests/fixtures/task-manager-app/src/components/StatusBadge.tsx
  native/vertz-runtime/tests/fixtures/task-manager-app/src/components/TaskCard.tsx
  native/vertz-runtime/tests/fixtures/task-manager-app/src/pages/TaskList.tsx
  native/vertz-runtime/tests/fixtures/task-manager-app/src/styles/theme.css
Due: none

feat(vertz-runtime): add server-side rendering with hydration
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/lib.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/module_server.rs
  native/vertz-runtime/src/ssr/async_local_storage.rs
  native/vertz-runtime/src/ssr/css_collector.rs
  native/vertz-runtime/src/ssr/dom_shim.rs
  native/vertz-runtime/src/ssr/html_document.rs
  native/vertz-runtime/src/ssr/hydration.rs
  native/vertz-runtime/src/ssr/mod.rs
  native/vertz-runtime/src/ssr/render.rs
  native/vertz-runtime/src/ssr/session.rs
  native/vertz-runtime/tests/client_render.rs
  native/vertz-runtime/tests/fixtures/ssr-app/package.json
  native/vertz-runtime/tests/fixtures/ssr-app/src/app.js
  native/vertz-runtime/tests/fixtures/ssr-app/src/app.tsx
  native/vertz-runtime/tests/ssr_render.rs
Due: none

feat(vertz-runtime): add V8 embedding with deno_core
  native/Cargo.lock
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/lib.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/runtime/mod.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/runtime/ops/console.rs
  native/vertz-runtime/src/runtime/ops/crypto.rs
  native/vertz-runtime/src/runtime/ops/env.rs
  native/vertz-runtime/src/runtime/ops/fetch.rs
  native/vertz-runtime/src/runtime/ops/mod.rs
  native/vertz-runtime/src/runtime/ops/path.rs
  native/vertz-runtime/src/runtime/ops/performance.rs
  native/vertz-runtime/src/runtime/ops/timers.rs
  native/vertz-runtime/tests/fixtures/js-modules/config.js
  native/vertz-runtime/tests/fixtures/js-modules/entry.js
  native/vertz-runtime/tests/fixtures/js-modules/utils.js
  native/vertz-runtime/tests/v8_integration.rs
Due: none

feat(vertz-runtime): add compilation pipeline and module serving
  native/vertz-runtime/src/compiler/cache.rs
  native/vertz-runtime/src/compiler/import_rewriter.rs
  native/vertz-runtime/src/compiler/mod.rs
  native/vertz-runtime/src/compiler/pipeline.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/deps/cache.rs
  native/vertz-runtime/src/deps/mod.rs
  native/vertz-runtime/src/deps/prebundle.rs
  native/vertz-runtime/src/deps/scanner.rs
  native/vertz-runtime/src/lib.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/runtime/js_runtime.rs
  native/vertz-runtime/src/runtime/module_loader.rs
  native/vertz-runtime/src/runtime/ops/console.rs
  native/vertz-runtime/src/runtime/ops/crypto.rs
  native/vertz-runtime/src/runtime/ops/env.rs
  native/vertz-runtime/src/runtime/ops/fetch.rs
  native/vertz-runtime/src/runtime/ops/path.rs
  native/vertz-runtime/src/runtime/ops/performance.rs
  native/vertz-runtime/src/server/css_server.rs
  native/vertz-runtime/src/server/html_shell.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mod.rs
  native/vertz-runtime/src/server/module_server.rs
  native/vertz-runtime/tests/client_render.rs
  native/vertz-runtime/tests/fixtures/minimal-app/package.json
  native/vertz-runtime/tests/fixtures/minimal-app/public/index.html
  native/vertz-runtime/tests/fixtures/minimal-app/src/app.tsx
  native/vertz-runtime/tests/fixtures/minimal-app/src/components/Hello.tsx
  native/vertz-runtime/tests/v8_integration.rs
Due: none

feat(vertz-runtime): add LLM inspection endpoints (Phase 2)
  native/vertz-runtime/src/assets/hmr-client.js
  native/vertz-runtime/src/hmr/protocol.rs
  native/vertz-runtime/src/server/console_log.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mod.rs
  native/vertz-runtime/src/server/module_server.rs
Due: none

feat(vertz-runtime): improve SSR DOM shim and rendering pipeline
  native/vertz-runtime/src/ssr/dom_shim.rs
  native/vertz-runtime/src/ssr/hydration.rs
  native/vertz-runtime/src/ssr/render.rs
  native/vertz-runtime/tests/ssr_render.rs
Due: none

feat(vertz-runtime): add terminal diagnostics and LLM error API
  native/vertz-runtime/src/errors/broadcaster.rs
  native/vertz-runtime/src/errors/mod.rs
  native/vertz-runtime/src/errors/terminal.rs
  native/vertz-runtime/src/server/http.rs
Due: none

feat(vertz-runtime): improve module resolution with package.json exports
  native/vertz-runtime/src/compiler/import_rewriter.rs
  native/vertz-runtime/src/deps/mod.rs
  native/vertz-runtime/src/deps/resolve.rs
  native/vertz-runtime/src/runtime/module_loader.rs
Due: none

feat(vertz-runtime): add HTTP server with static file serving
  native/Cargo.lock
  native/Cargo.toml
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/banner.rs
  native/vertz-runtime/src/cli.rs
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/main.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/logging.rs
  native/vertz-runtime/src/server/mod.rs
  native/vertz-runtime/tests/fixtures/public/assets/logo.txt
  native/vertz-runtime/tests/fixtures/public/index.html
  native/vertz-runtime/tests/fixtures/public/styles/app.css
  native/vertz-runtime/tests/static_serving.rs
Due: none

feat(vertz-runtime): add built-in MCP server for LLM tool integration
  native/vertz-runtime/src/banner.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mcp.rs
  native/vertz-runtime/src/server/mod.rs
  native/vertz-runtime/src/server/module_server.rs
Due: none

refactor(native-compiler): extract vertz-compiler-core crate
  native/Cargo.lock
  native/Cargo.toml
  native/vertz-compiler-core/Cargo.toml
  native/vertz-compiler-core/src/aot_string_transformer.rs
  native/vertz-compiler-core/src/body_jsx_diagnostics.rs
  native/vertz-compiler-core/src/component_analyzer.rs
  native/vertz-compiler-core/src/computed_transformer.rs
  native/vertz-compiler-core/src/context_stable_ids.rs
  native/vertz-compiler-core/src/css_diagnostics.rs
  native/vertz-compiler-core/src/css_token_tables.rs
  native/vertz-compiler-core/src/css_transform.rs
  native/vertz-compiler-core/src/fast_refresh.rs
  native/vertz-compiler-core/src/field_selection.rs
  native/vertz-compiler-core/src/hydration_markers.rs
  native/vertz-compiler-core/src/import_injection.rs
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler-core/src/lib.rs
  native/vertz-compiler-core/src/magic_string.rs
  native/vertz-compiler-core/src/mount_frame_transformer.rs
  native/vertz-compiler-core/src/mutation_analyzer.rs
  native/vertz-compiler-core/src/mutation_diagnostics.rs
  native/vertz-compiler-core/src/mutation_transformer.rs
  native/vertz-compiler-core/src/prefetch_manifest.rs
  native/vertz-compiler-core/src/props_transformer.rs
  native/vertz-compiler-core/src/query_auto_thunk.rs
  native/vertz-compiler-core/src/reactivity_analyzer.rs
  native/vertz-compiler-core/src/route_splitting.rs
  native/vertz-compiler-core/src/signal_api_registry.rs
  native/vertz-compiler-core/src/signal_transformer.rs
  native/vertz-compiler-core/src/ssr_safety_diagnostics.rs
  native/vertz-compiler-core/src/typescript_strip.rs
  native/vertz-compiler-core/src/utils.rs
  native/vertz-compiler/Cargo.toml
  native/vertz-compiler/src/lib.rs
Due: none

docs(vertz-runtime): add detailed implementation plans for dev server phases
  plans/vertz-dev-server/next-steps.md
  plans/vertz-dev-server/phase-00-compiler-crate-refactor.md
  plans/vertz-dev-server/phase-01-http-server-static-assets.md
  plans/vertz-dev-server/phase-02-v8-embedding.md
  plans/vertz-dev-server/phase-03-compilation-module-serving.md
  plans/vertz-dev-server/phase-04a-client-only-rendering.md
  plans/vertz-dev-server/phase-04b-server-side-rendering.md
  plans/vertz-dev-server/phase-05-file-watcher-hmr.md
  plans/vertz-dev-server/phase-06-auto-recovery-zero-restart.md
Due: none

feat(vertz-runtime): add file watcher, module graph, and HMR
  native/Cargo.lock
  native/vertz-runtime/Cargo.toml
  native/vertz-runtime/src/assets/fast-refresh-runtime.js
  native/vertz-runtime/src/assets/hmr-client.js
  native/vertz-runtime/src/hmr/mod.rs
  native/vertz-runtime/src/hmr/protocol.rs
  native/vertz-runtime/src/hmr/websocket.rs
  native/vertz-runtime/src/lib.rs
  native/vertz-runtime/src/server/html_shell.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/module_server.rs
  native/vertz-runtime/src/watcher/file_watcher.rs
  native/vertz-runtime/src/watcher/mod.rs
  native/vertz-runtime/src/watcher/module_graph.rs
  native/vertz-runtime/tests/client_render.rs
Due: none

feat(vertz-runtime): fix HMR error handling, error overlay, and TS stripping
  examples/task-manager/src/components/task-card.tsx
  native/vertz-compiler-core/src/magic_string.rs
  native/vertz-compiler-core/src/typescript_strip.rs
  native/vertz-runtime/src/assets/error-overlay.js
  native/vertz-runtime/src/assets/fast-refresh-helpers.js
  native/vertz-runtime/src/assets/fast-refresh-runtime.js
  native/vertz-runtime/src/assets/hmr-client.js
  native/vertz-runtime/src/compiler/pipeline.rs
  native/vertz-runtime/src/server/html_shell.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/ssr/html_document.rs
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

fix(vertz-runtime): populate module graph for transitive HMR invalidation
  native/vertz-runtime/src/deps/scanner.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/module_server.rs
Due: none

feat(vertz-runtime): add error suggestions and auto-detect entry file
  native/vertz-runtime/src/config.rs
  native/vertz-runtime/src/errors/mod.rs
  native/vertz-runtime/src/errors/suggestions.rs
Due: none

feat(vertz-runtime): add line/column and code snippets to error overlay
  native/vertz-runtime/src/assets/error-overlay.js
  native/vertz-runtime/src/compiler/pipeline.rs
  native/vertz-runtime/src/server/module_server.rs
Due: none

style(native): run cargo fmt to fix CI formatting check
  native/vertz-compiler-core/src/typescript_strip.rs
  native/vertz-runtime/src/compiler/pipeline.rs
  native/vertz-runtime/src/deps/resolve.rs
  native/vertz-runtime/src/deps/scanner.rs
  native/vertz-runtime/src/errors/categories.rs
  native/vertz-runtime/src/errors/suggestions.rs
  native/vertz-runtime/src/errors/terminal.rs
  native/vertz-runtime/src/server/http.rs
  native/vertz-runtime/src/server/mcp.rs
  native/vertz-runtime/src/server/module_server.rs
  native/vertz-runtime/src/ssr/render.rs
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

fix(native): resolve clippy warnings for CI compliance
  native/vertz-compiler-core/src/magic_string.rs
  native/vertz-runtime/src/compiler/import_rewriter.rs
  native/vertz-runtime/src/compiler/pipeline.rs
  native/vertz-runtime/src/errors/suggestions.rs
  native/vertz-runtime/src/errors/terminal.rs
  native/vertz-runtime/src/server/module_server.rs
  native/vertz-runtime/src/watcher/file_watcher.rs
Due: none

chore: add native Rust checks to pre-push hook
  lefthook.yml
Due: none

fix(native): fix clippy --all-targets lints and match CI flags
  lefthook.yml
  native/vertz-runtime/src/compiler/import_rewriter.rs
  native/vertz-runtime/src/errors/terminal.rs
Due: none

fix(ui-compiler): extract CSS from @vertz-no-aot components for AOT manifest
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/css-extraction/__tests__/css-extraction.test.ts
  packages/ui-server/src/__tests__/aot-e2e-pipeline.test.ts
Due: ui-compiler
