Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

test(fetch): reach 100% code coverage for descriptor.ts and vertzql.ts (#1796)
  packages/fetch/src/descriptor.test.ts
  packages/fetch/src/vertzql.test.ts
Due: none

test(fetch): reach 100% code coverage for descriptor.ts and vertzql.ts (#1796) (#1803)
  packages/fetch/src/descriptor.test.ts
  packages/fetch/src/vertzql.test.ts
Due: none

test(db): add explicit constructors for V8 coverage tracking (#1797)
  packages/db/src/dialect/postgres.ts
  packages/db/src/dialect/sqlite.ts
  packages/db/src/migration/snapshot-storage.ts
Due: db

test(db): add explicit constructors for V8 coverage tracking (#1797) (#1807)
  packages/db/src/dialect/postgres.ts
  packages/db/src/dialect/sqlite.ts
  packages/db/src/migration/snapshot-storage.ts
Due: db

test(core): improve code coverage for env-validator and trie (#1801)
  packages/core/src/env/__tests__/env-validator.test.ts
  packages/core/src/router/__tests__/trie.test.ts
Due: none

test(core): improve code coverage for env-validator and trie (#1801) (#1806)
  packages/core/src/env/__tests__/env-validator.test.ts
  packages/core/src/router/__tests__/trie.test.ts
Due: none

perf(ui-server): cache theme compilation and eliminate double JSON serialization
  packages/ui-server/src/render-to-html.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr-single-pass.ts
Due: ui-server

docs(plans): add progressive HTML streaming design doc
  plans/progressive-html-streaming.md
Due: none

feat(ui-server): wire single-pass SSR into production handler
  packages/docs/guides/ui/ssr.mdx
  packages/ui-server/src/ssr-handler.ts
Due: ui-server

fix(cli): resolve global vi.mock('jiti') pollution breaking 30 tests
  packages/cli/src/__tests__/load-introspect-context.test.ts
  packages/cli/src/commands/load-db-context.ts
Due: cli

fix(cli): add missing stripScriptsFromStaticHTML to start.test.ts mock
  packages/cli/src/commands/__tests__/start.test.ts
Due: none

perf(ui-server): SSR performance fixes and progressive streaming design (#1811)
  packages/cli/src/__tests__/load-introspect-context.test.ts
  packages/cli/src/commands/__tests__/start.test.ts
  packages/cli/src/commands/load-db-context.ts
  packages/docs/guides/ui/ssr.mdx
  packages/ui-server/src/render-to-html.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr-single-pass.ts
  plans/progressive-html-streaming.md
Due: cli, ui-server

fix(core): address review findings for env file loading
  packages/core/src/env/__tests__/load-env-files.test.ts
  packages/core/src/env/__tests__/parse-env-file.test.ts
  packages/core/src/env/load-env-files.ts
  packages/core/src/env/parse-env-file.ts
Due: core

feat(core): implement .env file loading in createEnv()
  .changeset/env-load-files.md
  packages/core/src/env/__tests__/env-validator.test.ts
  packages/core/src/env/__tests__/load-env-files.test.ts
  packages/core/src/env/__tests__/parse-env-file.test.ts
  packages/core/src/env/env-validator.ts
  packages/core/src/env/load-env-files.ts
  packages/core/src/env/parse-env-file.ts
  packages/docs/guides/env.mdx
Due: core

feat(core): implement .env file loading in createEnv() (#1814)
  .changeset/env-load-files.md
  packages/core/src/env/__tests__/env-validator.test.ts
  packages/core/src/env/__tests__/load-env-files.test.ts
  packages/core/src/env/__tests__/parse-env-file.test.ts
  packages/core/src/env/env-validator.ts
  packages/core/src/env/load-env-files.ts
  packages/core/src/env/parse-env-file.ts
  packages/docs/guides/env.mdx
Due: core

fix(db): add hnsw index type, fix timestamp defaults and casing in codegen
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/__tests__/validate-indexes.test.ts
  packages/db/src/migration/codegen.ts
  packages/db/src/migration/validate-indexes.ts
  packages/db/src/schema/table.ts
Due: db

fix(db): add hnsw index type, fix timestamp defaults and casing in codegen (#1816)
  packages/db/src/migration/__tests__/codegen.test.ts
  packages/db/src/migration/__tests__/validate-indexes.test.ts
  packages/db/src/migration/codegen.ts
  packages/db/src/migration/validate-indexes.ts
  packages/db/src/schema/table.ts
Due: db

fix(ui): add child end markers to prevent text merging during hydration (#1812)
  packages/ui/src/dom/__tests__/child-boolean.test.ts
  packages/ui/src/dom/__tests__/child-node.test.ts
  packages/ui/src/dom/__tests__/child-thunk.test.ts
  packages/ui/src/dom/__tests__/hydration-element.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

fix(ui): address review findings for child end markers
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

chore: add changeset for child end markers fix (#1812)
  .changeset/fix-child-hydration-text.md
Due: none

test(ui): reach 100% code coverage for element.ts and hydration-context.ts (#1812)
  packages/ui/src/dom/__tests__/child-node.test.ts
  packages/ui/src/dom/__tests__/hydration-element.test.ts
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

fix(ui): SSR hydration drops static text between reactive expressions (#1812) (#1817)
  .changeset/fix-child-hydration-text.md
  packages/ui/src/dom/__tests__/child-boolean.test.ts
  packages/ui/src/dom/__tests__/child-node.test.ts
  packages/ui/src/dom/__tests__/child-thunk.test.ts
  packages/ui/src/dom/__tests__/hydration-element.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

fix(ui): move unsubscribeBus declaration before lifecycleEffect to fix TDZ (#1819)
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: ui

fix(ui): guard eager subscription to prevent double-registration (#1819)
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: ui

chore(ui): add changeset and review for query TDZ fix (#1819)
  .changeset/fix-query-tdz-1819.md
  reviews/fix-query-tdz/phase-01-fix.md
Due: none

fix(ui): query() TDZ error with reactive descriptor-in-thunk (#1819) (#1822)
  .changeset/fix-query-tdz-1819.md
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
  reviews/fix-query-tdz/phase-01-fix.md
Due: ui

test(ui-server): reach 100% coverage for progressive HTML streaming files
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-single-pass.test.ts
  packages/ui-server/src/__tests__/template-split.test.ts
Due: none

feat(ui-server): add progressive HTML streaming for SSR
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-progressive-response.test.ts
  packages/ui-server/src/__tests__/template-split.test.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-progressive-response.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui-server/src/template-split.ts
  plans/progressive-html-streaming.md
Due: ui-server

fix(ui-server): prevent double CSS inlining in progressive path
  packages/ui-server/src/ssr-handler.ts
Due: ui-server

test(ui-server): add XSS escaping test for progressive stream error messages
  packages/ui-server/src/__tests__/ssr-progressive-response.test.ts
Due: none

feat(ui-server): add progressiveHTML option to BunDevServerOptions
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(ui-server): address review findings for progressive HTML streaming
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-progressive-response.test.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-progressive-response.ts
Due: ui-server

feat(ui-server): progressive HTML streaming for SSR (#1821)
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-progressive-response.test.ts
  packages/ui-server/src/__tests__/ssr-single-pass.test.ts
  packages/ui-server/src/__tests__/template-split.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-progressive-response.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui-server/src/template-split.ts
  plans/progressive-html-streaming.md
Due: ui-server

fix(ui-server): auto-restart dev server when bundler stale after new file (#1818)
  .claude/rules/dev-server-debugging.md
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(ui-server): auto-restart dev server when bundler stale after new file (#1818) (#1824)
  .claude/rules/dev-server-debugging.md
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

chore: add changeset for #1815
  .changeset/aot-ssr-child-end-markers.md
Due: none

fix(ui-compiler): emit <!--/child--> end markers in AOT SSR (#1815)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/__tests__/aot-hydration-markers.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

fix(ui-compiler): emit <!--/child--> end markers in AOT SSR (#1815) (#1823)
  .changeset/aot-ssr-child-end-markers.md
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/__tests__/aot-hydration-markers.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

feat(docs-framework): add core config, routing, ToC, LLM output, and init scaffolding
  bun.lock
  packages/docs-framework/package.json
  packages/docs-framework/src/__tests__/config.test.ts
  packages/docs-framework/src/__tests__/discover.test.ts
  packages/docs-framework/src/__tests__/init.test.ts
  packages/docs-framework/src/__tests__/llm-index.test.ts
  packages/docs-framework/src/__tests__/llm-markdown.test.ts
  packages/docs-framework/src/__tests__/load-config.test.ts
  packages/docs-framework/src/__tests__/routing.test.ts
  packages/docs-framework/src/__tests__/toc.test.ts
  packages/docs-framework/src/cli/init.ts
  packages/docs-framework/src/config/define.ts
  packages/docs-framework/src/config/load.ts
  packages/docs-framework/src/config/types.ts
  packages/docs-framework/src/generator/discover.ts
  packages/docs-framework/src/generator/llm-index.ts
  packages/docs-framework/src/index.ts
  packages/docs-framework/src/mdx/extract-headings.ts
  packages/docs-framework/src/mdx/llm-markdown.ts
  packages/docs-framework/src/routing/resolve.ts
  packages/docs-framework/tsconfig.json
Due: none

feat(docs-framework): add CLI integration and layout components
  bun.lock
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/docs.ts
  packages/docs-framework/bunfig.toml
  packages/docs-framework/bunup.config.ts
  packages/docs-framework/happydom.ts
  packages/docs-framework/package.json
  packages/docs-framework/src/__tests__/breadcrumbs.test.tsx
  packages/docs-framework/src/__tests__/docs-cli-actions.test.ts
  packages/docs-framework/src/__tests__/docs-layout.test.tsx
  packages/docs-framework/src/__tests__/footer.test.tsx
  packages/docs-framework/src/__tests__/header.test.tsx
  packages/docs-framework/src/__tests__/prev-next-nav.test.tsx
  packages/docs-framework/src/__tests__/sidebar.test.tsx
  packages/docs-framework/src/__tests__/table-of-contents.test.tsx
  packages/docs-framework/src/__tests__/theme-toggle.test.tsx
  packages/docs-framework/src/cli/actions.ts
  packages/docs-framework/src/index.ts
  packages/docs-framework/src/layout/breadcrumbs.tsx
  packages/docs-framework/src/layout/docs-layout.tsx
  packages/docs-framework/src/layout/footer.tsx
  packages/docs-framework/src/layout/header.tsx
  packages/docs-framework/src/layout/prev-next-nav.tsx
  packages/docs-framework/src/layout/sidebar.tsx
  packages/docs-framework/src/layout/table-of-contents.tsx
  packages/docs-framework/src/layout/theme-toggle.tsx
  packages/docs-framework/test-compiler-plugin.ts
  packages/docs-framework/tsconfig.json
Due: cli
