Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

chore(auth): address review findings — changeset, test coverage (#1944)
  .changeset/broadcaster-resource-id.md
  packages/server/src/auth/__tests__/access-event-broadcaster.test.ts
  plans/1944-broadcaster-resource-id.md
Due: none

chore(auth): align AccessEventBroadcaster with (resourceType, resourceId) pattern (#1949)
  .changeset/broadcaster-resource-id.md
  packages/integration-tests/src/__tests__/reactive-invalidation.test.ts
  packages/server/src/auth/__tests__/access-event-broadcaster.test.ts
  packages/server/src/auth/access-event-broadcaster.ts
  packages/ui/src/auth/__tests__/access-event-client.test.ts
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/__tests__/reactive-cascade.test.ts
  packages/ui/src/auth/access-event-client.ts
  plans/1944-broadcaster-resource-id.md
Due: server, ui

fix(auth): deep-freeze EntitlementDef array properties (#1946)
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/define-access.ts
Due: server

test(auth): add type-level and edge-case tests for EntitlementDef freeze (#1946)
  packages/server/src/auth/__tests__/define-access.test-d.ts
  packages/server/src/auth/__tests__/define-access.test.ts
Due: none

fix(auth): deep-freeze EntitlementDef array properties (#1946) (#1952)
  packages/server/src/auth/__tests__/define-access.test-d.ts
  packages/server/src/auth/__tests__/define-access.test.ts
  packages/server/src/auth/define-access.ts
Due: server

feat(auth): align OverrideStore and WalletStore with (resourceType, resourceId) pattern (#1943)
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/cascaded-wallet-consumption.test.ts
  packages/server/src/auth/__tests__/cloud/cached-wallet-store.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-wallet-store.test.ts
  packages/server/src/auth/__tests__/override-store.test.ts
  packages/server/src/auth/__tests__/wallet-store-batch.test.ts
  packages/server/src/auth/__tests__/wallet-store.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/cloud/cached-wallet-store.ts
  packages/server/src/auth/cloud/cloud-wallet-store.ts
  packages/server/src/auth/override-store.ts
  packages/server/src/auth/wallet-store.ts
Due: server

fix(auth): update integration + type-level tests for (resourceType, resourceId) pattern (#1943)
  .changeset/wallet-override-resource-id.md
  packages/integration-tests/src/__tests__/auth-plans-wallet.test.ts
  packages/server/src/auth/__tests__/define-access.test-d.ts
  packages/server/src/auth/override-store.ts
  packages/server/src/auth/wallet-store.ts
Due: server

feat(auth): align OverrideStore and WalletStore with (resourceType, resourceId) pattern (#1953)
  .changeset/wallet-override-resource-id.md
  packages/integration-tests/src/__tests__/auth-plans-wallet.test.ts
  packages/server/src/auth/__tests__/access-context.test.ts
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/__tests__/cascaded-wallet-consumption.test.ts
  packages/server/src/auth/__tests__/cloud/cached-wallet-store.test.ts
  packages/server/src/auth/__tests__/cloud/cloud-wallet-store.test.ts
  packages/server/src/auth/__tests__/define-access.test-d.ts
  packages/server/src/auth/__tests__/override-store.test.ts
  packages/server/src/auth/__tests__/wallet-store-batch.test.ts
  packages/server/src/auth/__tests__/wallet-store.test.ts
  packages/server/src/auth/access-context.ts
  packages/server/src/auth/access-set.ts
  packages/server/src/auth/cloud/cached-wallet-store.ts
  packages/server/src/auth/cloud/cloud-wallet-store.ts
  packages/server/src/auth/override-store.ts
  packages/server/src/auth/wallet-store.ts
Due: server

fix(docs): address review findings for docs check command (#1835)
  .changeset/docs-check-command.md
  packages/docs/src/__tests__/docs-check.test.ts
  packages/docs/src/validate/docs-check.ts
Due: none

chore(docs): add adversarial review for docs check command (#1835)
  reviews/docs-check-command/phase-01-validation.md
Due: none

feat(docs): implement `vertz docs check` validation command (#1835)
  packages/cli/src/cli.ts
  packages/cli/src/commands/docs.ts
  packages/docs/src/__tests__/docs-check.test.ts
  packages/docs/src/cli/actions.ts
  packages/docs/src/index.ts
  packages/docs/src/validate/docs-check.ts
  plans/docs-check-command.md
Due: cli

feat(docs): implement `vertz docs check` validation command (#1954)
  .changeset/docs-check-command.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/docs.ts
  packages/docs/src/__tests__/docs-check.test.ts
  packages/docs/src/cli/actions.ts
  packages/docs/src/index.ts
  packages/docs/src/validate/docs-check.ts
  plans/docs-check-command.md
  reviews/docs-check-command/phase-01-validation.md
Due: cli

fix(auth): wallet/limit enrichment for default-plan tenants (#1830)
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/access-set.ts
Due: server

test(auth): add unlimited limits test for default-plan tenants (#1830)
  packages/server/src/auth/__tests__/access-set.test.ts
Due: none

fix(auth): wallet/limit enrichment for default-plan tenants (#1830) (#1957)
  packages/server/src/auth/__tests__/access-set.test.ts
  packages/server/src/auth/access-set.ts
Due: server

perf(auth): use getBatchConsumption in computeAccessSet (#1831)
  packages/server/src/auth/__tests__/access-set-batch-consumption.test.ts
  packages/server/src/auth/access-set.ts
  plans/batch-consumption-access-set.md
Due: server

perf(auth): use getBatchConsumption in computeAccessSet (#1831) (#1958)
  packages/server/src/auth/__tests__/access-set-batch-consumption.test.ts
  packages/server/src/auth/access-set.ts
  plans/batch-consumption-access-set.md
Due: server

fix(ui): context Provider propagates computed/derived values reactively
  .changeset/fix-context-reactivity.md
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/src/signal_transformer.rs
  packages/ui/src/component/__tests__/context.test.ts
  packages/ui/src/component/context.ts
Due: ui

fix(ui): address review — add edge case tests and static-shape comment
  packages/ui/src/component/__tests__/context.test.ts
  packages/ui/src/component/context.ts
Due: ui

fix(ui): context Provider propagates computed/derived values reactively (#1956)
  .changeset/fix-context-reactivity.md
  native/vertz-compiler/__tests__/signal-transform.test.ts
  native/vertz-compiler/src/signal_transformer.rs
  packages/ui/src/component/__tests__/context.test.ts
  packages/ui/src/component/context.ts
Due: ui

fix(ui-compiler): handle array destructuring in reactivity transforms
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/transformers/__tests__/computed-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
Due: ui-compiler

fix(ui-compiler): fix MagicString crash and preserve default values in array destructuring
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/transformers/__tests__/computed-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
Due: ui-compiler

feat(ui-compiler): Phase 3+4 — if-else chain flattening and ||/?? operator support (#1951)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

feat(ui-compiler): Phase 2 — preserve .map() block body with variable declarations
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

chore: add changeset for AOT compiler optimizations (#1951)
  .changeset/aot-compiler-optimizations.md
Due: none

fix(ui-compiler): address review findings for AOT compiler optimizations (#1951)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

docs: add AOT compiler optimizations design doc
  plans/aot-compiler-optimizations.md
Due: none

feat(ui-compiler): Phase 1 — derived variable preamble for AOT functions (#1951)
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
Due: ui-compiler

feat(ui-compiler): AOT compiler optimizations — compile more components (#1951) (#1961)
  .changeset/aot-compiler-optimizations.md
  packages/ui-compiler/src/__tests__/aot-compiler.test.ts
  packages/ui-compiler/src/transformers/aot-string-transformer.ts
  plans/aot-compiler-optimizations.md
Due: ui-compiler

fix(ui-compiler): handle array destructuring in reactivity transforms (#1960)
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/transformers/__tests__/computed-transformer.test.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/computed-transformer.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
Due: ui-compiler

ci: also exclude @vertz/landing from CI
  package.json
Due: none

fix(ui-compiler): preserve .map() index parameter in compiled render function
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/dom/__tests__/list.test.ts
  packages/ui/src/dom/list-value.ts
  packages/ui/src/dom/list.ts
Due: ui, ui-compiler

fix(ui-compiler): address review findings for map index fix
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/dom/__tests__/list-value.test.ts
  packages/ui/src/dom/list-value.ts
  packages/ui/src/dom/list.ts
Due: ui, ui-compiler

ci: increase job timeout from 20 to 30 minutes
  .github/workflows/ci.yml
Due: none

ci: fix OOM — use TURBO_CONCURRENCY=1 and NODE_OPTIONS heap limit
  .github/workflows/ci.yml
  package.json
Due: none

ci: exclude component-docs from CI and set 10min timeout
  .github/workflows/ci.yml
  package.json
Due: none

fix(ui-compiler): preserve .map() index parameter in compiled output (#1959)
  .github/workflows/ci.yml
  packages/ui-compiler/src/transformers/__tests__/list-transformer.test.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui/src/dom/__tests__/list-value.test.ts
  packages/ui/src/dom/__tests__/list.test.ts
  packages/ui/src/dom/list-value.ts
  packages/ui/src/dom/list.ts
Due: ui, ui-compiler

fix(theme-shadcn): flatten configureTheme override API — colors instead of overrides.tokens.colors #1969
  packages/integration-tests/src/__tests__/theme-shadcn-walkthrough.test.ts
  packages/mint-docs/guides/ui/component-library.mdx
  packages/theme-shadcn/src/__tests__/configure.test.ts
  packages/theme-shadcn/src/base.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/merge.ts
  packages/theme-shadcn/src/types.ts
  plans/1969-flatten-theme-overrides.md
  sites/component-docs/src/__tests__/theme-customization.test.ts
  sites/component-docs/src/hooks/use-customization.ts
Due: none

fix(theme-shadcn): address review findings — type test, stale comments, changeset #1969
  .changeset/flatten-theme-overrides.md
  packages/integration-tests/src/__tests__/theme-shadcn-walkthrough.test.ts
  packages/theme-shadcn/src/__tests__/configure.test.ts
  packages/theme-shadcn/src/__tests__/merge.test.ts
Due: none

fix(ci): filter out site packages that hang typecheck on CI runners
  package.json
Due: none
