Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(runtime): add tool endpoints and CORS to LLM bridge (#2050)
  native/vtz/Cargo.toml
  native/vtz/src/bridge/command.rs
  native/vtz/src/bridge/mod.rs
  native/vtz/src/bridge/tools.rs
  native/vtz/src/server/mcp.rs
Due: none

feat(runtime): add SSE event stream to LLM bridge (#2050)
  native/Cargo.lock
  native/vtz/Cargo.toml
  native/vtz/src/bridge/events.rs
  native/vtz/src/bridge/mod.rs
  native/vtz/src/server/mcp_events.rs
Due: none

feat(runtime): add HTTP-to-WebSocket LLM bridge skeleton (#2050)
  native/vtz/src/bridge/health.rs
  native/vtz/src/bridge/mod.rs
  native/vtz/src/cli.rs
  native/vtz/src/config.rs
  native/vtz/src/lib.rs
  native/vtz/src/main.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp_events.rs
  plans/2050-http-ws-llm-bridge.md
  plans/2050-http-ws-llm-bridge/phase-01-bridge-skeleton.md
  plans/2050-http-ws-llm-bridge/phase-02-sse-events.md
  plans/2050-http-ws-llm-bridge/phase-03-tool-endpoints.md
Due: none

fix(runtime): address review findings for LLM bridge (#2050)
  native/vtz/src/bridge/events.rs
  native/vtz/src/server/http.rs
  reviews/2050-http-ws-llm-bridge/phase-all-review.md
Due: none

fix(server): correct EntityNestedInclude depth start from [unknown] to [] (#2309)
  packages/server/src/entity/__tests__/vertzql-types.test-d.ts
  packages/server/src/entity/types.ts
Due: server

feat(runtime): Phase 4 design doc + implementation plans — native signal runtime + parallel SSR (#2033) (#2320)
  plans/native-signal-runtime-parallel-ssr.md
  plans/native-signal-runtime-parallel-ssr/phase-01-ssr-isolate-pool.md
  plans/native-signal-runtime-parallel-ssr/phase-02-rust-signal-graph.md
  plans/native-signal-runtime-parallel-ssr/phase-03-streaming-ssr.md
Due: none

feat(runtime): HTTP-to-WebSocket LLM bridge (#2050) (#2321)
  native/Cargo.lock
  native/vtz/Cargo.toml
  native/vtz/src/bridge/command.rs
  native/vtz/src/bridge/events.rs
  native/vtz/src/bridge/health.rs
  native/vtz/src/bridge/mod.rs
  native/vtz/src/bridge/tools.rs
  native/vtz/src/cli.rs
  native/vtz/src/config.rs
  native/vtz/src/lib.rs
  native/vtz/src/main.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/mcp_events.rs
  plans/2050-http-ws-llm-bridge.md
  plans/2050-http-ws-llm-bridge/phase-01-bridge-skeleton.md
  plans/2050-http-ws-llm-bridge/phase-02-sse-events.md
  plans/2050-http-ws-llm-bridge/phase-03-tool-endpoints.md
  reviews/2050-http-ws-llm-bridge/phase-all-review.md
Due: none

docs(runtime): document self-update command and update notifications
  packages/mint-docs/runtime.mdx
Due: none

docs(runtime): document self-update command and update notifications (#2323)
  packages/mint-docs/runtime.mdx
Due: none

fix(ui-server): address Phase 2 review findings (#2047)
  packages/ui-server/src/__tests__/state-inspector.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/bun-plugin/state-inspector.ts
  reviews/2047-mcp-signal-state-inspection/phase-02-websocket-mcp-tool.md
Due: ui-server

feat(ui-server): add client-side state inspector for MCP signal inspection (#2047)
  packages/ui-server/src/__tests__/state-inspector.test.ts
  packages/ui-server/src/bun-plugin/state-inspector.ts
  packages/ui/src/query/__tests__/query-group-marker.test.ts
  packages/ui/src/query/query.ts
  plans/2047-mcp-signal-state-inspection.md
  plans/2047-mcp-signal-state-inspection/phase-01-client-side-collection.md
  plans/2047-mcp-signal-state-inspection/phase-02-websocket-mcp-tool.md
Due: ui, ui-server

feat(ui-server): add WebSocket-based state inspection flow (#2047)
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/bun-plugin/state-inspector.ts
Due: ui-server

fix(ui-server): address Phase 1 review findings (#2047)
  packages/ui-server/src/__tests__/state-inspector.test.ts
  packages/ui-server/src/bun-plugin/state-inspector.ts
  packages/ui/src/query/__tests__/query-group-marker.test.ts
  packages/ui/src/query/query.ts
  reviews/2047-mcp-signal-state-inspection/phase-01-client-side-collection.md
Due: ui, ui-server

chore(review): Phase 2 re-review — approved (#2047)
  reviews/2047-mcp-signal-state-inspection/phase-02-websocket-mcp-tool.md
Due: none

style(ui-server): fix oxfmt formatting in state-inspector tests (#2047)
  packages/ui-server/src/__tests__/state-inspector.test.ts
Due: none

chore(runtime): add phase review files for audit log (#2048)
  reviews/2048-audit-log/phase-02-capture-points.md
  reviews/2048-audit-log/phase-03-consolelog-replacement.md
Due: none

feat(runtime): remove ConsoleLog, wire audit log everywhere (#2048)
  native/vtz/src/server/console_log.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/mod.rs
  native/vtz/src/server/module_server.rs
  native/vtz/tests/parity/diagnostics.rs
Due: none

feat(runtime): wire audit log capture points (#2048)
  native/vtz/src/errors/broadcaster.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/module_server.rs
Due: none

fix(runtime): update vertz_render_component for audit log (#2048)
  native/vtz/src/server/mcp.rs
Due: none

feat(runtime): add AuditLog core + MCP tool (#2048)
  native/vtz/src/server/audit_log.rs
  native/vtz/src/server/diagnostics.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/mod.rs
  native/vtz/src/server/module_server.rs
  native/vtz/tests/error_overlay.rs
  plans/2048-audit-log.md
  plans/2048-audit-log/phase-01-core-and-mcp-tool.md
  plans/2048-audit-log/phase-02-capture-points.md
  plans/2048-audit-log/phase-03-consolelog-replacement.md
Due: none

fix(runtime): address Phase 1 review findings (#2048)
  native/vtz/src/server/diagnostics.rs
  native/vtz/src/server/mcp.rs
  reviews/2048-audit-log/phase-01-core-and-mcp-tool.md
Due: none

feat(server): thread TModels through entity TypedIncludeOption (#2309) (#2322)
  packages/server/src/entity/__tests__/vertzql-types.test-d.ts
  packages/server/src/entity/types.ts
  plans/2309-entity-typed-include.md
  plans/2309-entity-typed-include/phase-01-thread-tmodels.md
Due: server

docs: trim LLM quick reference to concise overview with links
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

fix(runtime): update bridge tests for audit log (#2048)
  native/vtz/src/bridge/mod.rs
Due: none

docs: trim LLM quick reference to concise overview with links (#2326)
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

feat(ui-server): signal/state inspection via MCP (#2047) (#2324)
  packages/ui-server/bunup.config.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/state-inspector.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/bun-plugin/state-inspector.ts
  packages/ui/src/query/__tests__/query-group-marker.test.ts
  packages/ui/src/query/query.ts
  plans/2047-mcp-signal-state-inspection.md
  plans/2047-mcp-signal-state-inspection/phase-01-client-side-collection.md
  plans/2047-mcp-signal-state-inspection/phase-02-websocket-mcp-tool.md
  reviews/2047-mcp-signal-state-inspection/phase-01-client-side-collection.md
  reviews/2047-mcp-signal-state-inspection/phase-02-websocket-mcp-tool.md
Due: ui, ui-server

feat(runtime): full-stack audit log (#2048) (#2325)
  native/vtz/src/bridge/mod.rs
  native/vtz/src/errors/broadcaster.rs
  native/vtz/src/server/audit_log.rs
  native/vtz/src/server/console_log.rs
  native/vtz/src/server/diagnostics.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/mod.rs
  native/vtz/src/server/module_server.rs
  native/vtz/tests/error_overlay.rs
  native/vtz/tests/parity/diagnostics.rs
  plans/2048-audit-log.md
  plans/2048-audit-log/phase-01-core-and-mcp-tool.md
  plans/2048-audit-log/phase-02-capture-points.md
  plans/2048-audit-log/phase-03-consolelog-replacement.md
  reviews/2048-audit-log/phase-01-core-and-mcp-tool.md
  reviews/2048-audit-log/phase-02-capture-points.md
  reviews/2048-audit-log/phase-03-consolelog-replacement.md
Due: none

fix(runtime): add init() timeout for V8 isolate bootstrap (#2085)
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/http.rs
  native/vtz/tests/ssr_render.rs
  reviews/fix-init-timeout/phase-01-implementation.md
Due: none

fix(runtime): resolve self-referencing package imports in module loader (#2145)
  native/vtz/src/runtime/module_loader.rs
Due: none

fix(runtime): handle exports without src/ in dist path for self-references (#2145)
  native/vtz/src/runtime/module_loader.rs
Due: none

fix(runtime): add init() timeout for V8 isolate bootstrap (#2085) (#2327)
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/http.rs
  native/vtz/tests/ssr_render.rs
  reviews/fix-init-timeout/phase-01-implementation.md
Due: none

fix(runtime): resolve self-referencing package imports in module loader (#2145) (#2328)
  native/vtz/src/runtime/module_loader.rs
Due: none

fix(ui-server): skip AOT functions with residual JSX from .map() callbacks (#1914)
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/aot-manifest-build.ts
Due: cli, ui-server

fix(ui-server): broaden residual JSX detection + per-function validation (#1914)
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/aot-manifest-build.ts
Due: ui-server

style(cli): fix indentation in AOT barrel pipeline (#1914)
  packages/cli/src/production-build/ui-build-pipeline.ts
Due: cli

fix(runtime): form validation tests fail — schema runtime gaps in vertz test (#2144)
  native/vertz-compiler-core/src/typescript_strip.rs
  native/vtz/src/test/dom_shim.rs
  native/vtz/src/test/globals.rs
  reviews/fix-form-validation-tests/phase-01-runtime-gaps.md
Due: none

fix(ui-server): skip AOT functions with residual JSX (#1914) (#2331)
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/aot-manifest-build.test.ts
  packages/ui-server/src/aot-manifest-build.ts
Due: cli, ui-server

fix(runtime): form validation tests fail — schema runtime gaps in vertz test (#2144) (#2332)
  native/vertz-compiler-core/src/typescript_strip.rs
  native/vtz/src/test/dom_shim.rs
  native/vtz/src/test/globals.rs
  reviews/fix-form-validation-tests/phase-01-runtime-gaps.md
Due: none

fix(native-compiler): handle optional chaining in AOT .map() transforms (#2330)
  native/vertz-compiler-core/src/aot_string_transformer.rs
Due: none

fix(runtime): implement form.reset() in DOM shim (#2329)
  native/vtz/src/test/dom_shim.rs
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
