Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

docs(reviews): adversarial review of geo-seo-strategy plan
  reviews/geo-seo-strategy/00-consolidation.md
  reviews/geo-seo-strategy/01-strategic-adversarial.md
  reviews/geo-seo-strategy/02-technical-feasibility.md
  reviews/geo-seo-strategy/03-manifesto-positioning.md
Due: none

docs(plans): revise geo-seo-strategy per adversarial review (B1-B5)
  plans/geo-seo-strategy.md
  plans/geo-seo-strategy/phase-00-prerequisites.md
  plans/geo-seo-strategy/phase-02-ignition-content.md
  plans/geo-seo-strategy/phase-03-distribution-blitz.md
  plans/geo-seo-strategy/phase-04-autonomous-pipeline.md
Due: none

feat(agents): bridge AgentStore to Vertz entities (RLS-aware sessions/messages) [#2847]
  .changeset/agent-store-entity-bridge.md
  packages/agents/build.config.ts
  packages/agents/migrations/001-add-rls-columns.sql
  packages/agents/package.json
  packages/agents/src/entities/__tests__/bridge.integration.test.ts
  packages/agents/src/entities/__tests__/define.test-d.ts
  packages/agents/src/entities/__tests__/define.test.ts
  packages/agents/src/entities/columns.ts
  packages/agents/src/entities/define.ts
  packages/agents/src/entities/index.ts
  packages/agents/src/run.ts
  packages/agents/src/stores/d1-store.test.ts
  packages/agents/src/stores/d1-store.ts
  packages/agents/src/stores/memory-store.test.ts
  packages/agents/src/stores/memory-store.ts
  packages/agents/src/stores/sqlite-store.test.ts
  packages/agents/src/stores/sqlite-store.ts
  packages/agents/src/stores/types.ts
  packages/agents/src/testing/crash-harness.test.ts
  packages/agents/src/testing/crash-harness.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/agents/entity-bridge.mdx
Due: none

test(ui,ui-primitives): regression coverage for List.Item context on reactive re-runs [#2956]
  packages/ui-primitives/src/list/__tests__/list-composed.test.tsx
  packages/ui/src/dom/__tests__/list-value.test.ts
Due: none

docs(plans): round-2 revisions per final adversarial review
  plans/geo-seo-strategy.md
  plans/geo-seo-strategy/phase-01-foundation-infra.md
  plans/geo-seo-strategy/phase-02-ignition-content.md
  plans/geo-seo-strategy/phase-03-distribution-launch.md
  plans/geo-seo-strategy/phase-04-autonomous-pipeline.md
  plans/geo-seo-strategy/phase-05-measurement-iteration.md
Due: none

docs(plans): remove reviews/ before merge per workflow rule
  reviews/geo-seo-strategy/00-consolidation.md
  reviews/geo-seo-strategy/01-strategic-adversarial.md
  reviews/geo-seo-strategy/02-technical-feasibility.md
  reviews/geo-seo-strategy/03-manifesto-positioning.md
Due: none

docs(plans): GEO/SEO strategy design doc + 5 phase files (#2963)
  plans/geo-seo-strategy.md
  plans/geo-seo-strategy/phase-00-prerequisites.md
  plans/geo-seo-strategy/phase-01-foundation-infra.md
  plans/geo-seo-strategy/phase-02-ignition-content.md
  plans/geo-seo-strategy/phase-03-distribution-launch.md
  plans/geo-seo-strategy/phase-04-autonomous-pipeline.md
  plans/geo-seo-strategy/phase-05-measurement-iteration.md
Due: none

chore(2947): oxfmt blog files to fix CI lint gate [#2947]
  packages/landing/content/blog/2026-04-22-blog-runs-on-vertz.mdx
  packages/landing/scripts/compile-blog-posts.ts
  packages/landing/src/blog/.generated/manifest.ts
  packages/landing/src/blog/components/__tests__/reading-progress.test.ts
  packages/landing/src/blog/components/post-card.tsx
  packages/landing/src/blog/components/toc.tsx
  packages/landing/src/blog/feed/__tests__/rss.test.ts
  packages/landing/src/blog/mdx/custom/badge.ts
Due: none

chore(2947): post-merge housekeeping — retro + archive plan [#2947]
  plans/archived/2947-blog.md
  plans/archived/2947-blog/phase-01-mdx-infra.md
  plans/archived/2947-blog/phase-02-post-layout.md
  plans/archived/2947-blog/phase-03-list-layout.md
  plans/archived/2947-blog/phase-04-mdx-components-tier1.md
  plans/archived/2947-blog/phase-05-seo-og-rss.md
  plans/archived/2947-blog/phase-06-mdx-components-tier2.md
  plans/archived/2947-blog/phase-07-first-post.md
  plans/post-implementation-reviews/2947-blog.md
Due: none

chore(2947): gitignore reviews/ and remove 2947-blog from tracking [#2947]
  .gitignore
  reviews/2947-blog/phase-01-mdx-infra.md
  reviews/2947-blog/phase-02-post-layout.md
  reviews/2947-blog/phase-03-list-layout.md
  reviews/2947-blog/phase-04-mdx-components-tier1.md
  reviews/2947-blog/phase-05-seo-og-rss.md
  reviews/2947-blog/phase-06-mdx-components-tier2.md
  reviews/2947-blog/phase-07-first-post.md
  reviews/2947-blog/screenshots/phase-01/blog-list-1440.png
  reviews/2947-blog/screenshots/phase-01/blog-post-1440.png
  reviews/2947-blog/screenshots/phase-02/post-1440x900.png
  reviews/2947-blog/screenshots/phase-02/post-375x812.png
  reviews/2947-blog/screenshots/phase-02/post-768x1024.png
  reviews/2947-blog/screenshots/phase-03/blog-list.png
  reviews/2947-blog/screenshots/phase-04/post-with-callout.png
  reviews/2947-blog/screenshots/phase-07/blog-list.png
  reviews/2947-blog/screenshots/phase-07/first-post-desktop.png
  reviews/2947-blog/screenshots/phase-07/post-not-found.png
Due: none

chore(2947): link retro to umbrella follow-up issues [#2947]
  plans/post-implementation-reviews/2947-blog.md
Due: none

chore(2947): post-merge housekeeping — retro + archive plan (#2973)
  .gitignore
  plans/archived/2947-blog.md
  plans/archived/2947-blog/phase-01-mdx-infra.md
  plans/archived/2947-blog/phase-02-post-layout.md
  plans/archived/2947-blog/phase-03-list-layout.md
  plans/archived/2947-blog/phase-04-mdx-components-tier1.md
  plans/archived/2947-blog/phase-05-seo-og-rss.md
  plans/archived/2947-blog/phase-06-mdx-components-tier2.md
  plans/archived/2947-blog/phase-07-first-post.md
  plans/post-implementation-reviews/2947-blog.md
  reviews/2947-blog/phase-01-mdx-infra.md
  reviews/2947-blog/phase-02-post-layout.md
  reviews/2947-blog/phase-03-list-layout.md
  reviews/2947-blog/phase-04-mdx-components-tier1.md
  reviews/2947-blog/phase-05-seo-og-rss.md
  reviews/2947-blog/phase-06-mdx-components-tier2.md
  reviews/2947-blog/phase-07-first-post.md
  reviews/2947-blog/screenshots/phase-01/blog-list-1440.png
  reviews/2947-blog/screenshots/phase-01/blog-post-1440.png
  reviews/2947-blog/screenshots/phase-02/post-1440x900.png
  reviews/2947-blog/screenshots/phase-02/post-375x812.png
  reviews/2947-blog/screenshots/phase-02/post-768x1024.png
  reviews/2947-blog/screenshots/phase-03/blog-list.png
  reviews/2947-blog/screenshots/phase-04/post-with-callout.png
  reviews/2947-blog/screenshots/phase-07/blog-list.png
  reviews/2947-blog/screenshots/phase-07/first-post-desktop.png
  reviews/2947-blog/screenshots/phase-07/post-not-found.png
Due: none

feat(landing): 10 thematic blog posts + per-post cover generator
  bun.lock
  packages/landing/content/blog/2026-04-22-blog-runs-on-vertz.mdx
  packages/landing/content/blog/2026-04-22-designing-a-framework-for-llms.mdx
  packages/landing/content/blog/2026-04-22-durable-agents-on-cloudflare.mdx
  packages/landing/content/blog/2026-04-22-errors-as-values.mdx
  packages/landing/content/blog/2026-04-22-forms-that-survive-refactors.mdx
  packages/landing/content/blog/2026-04-22-multi-tenancy-by-default.mdx
  packages/landing/content/blog/2026-04-22-one-schema-four-layers.mdx
  packages/landing/content/blog/2026-04-22-reactivity-without-hooks.mdx
  packages/landing/content/blog/2026-04-22-ssr-without-hydration-drama.mdx
  packages/landing/content/blog/2026-04-22-three-testing-levels-one-runner.mdx
  packages/landing/content/blog/2026-04-22-why-we-ship-our-own-runtime.mdx
  packages/landing/package.json
  packages/landing/public/blog/authors/matheus.jpg
  packages/landing/public/blog/covers/blog-runs-on-vertz.png
  packages/landing/public/blog/covers/designing-a-framework-for-llms.png
  packages/landing/public/blog/covers/durable-agents-on-cloudflare.png
  packages/landing/public/blog/covers/errors-as-values.png
  packages/landing/public/blog/covers/forms-that-survive-refactors.png
  packages/landing/public/blog/covers/multi-tenancy-by-default.png
  packages/landing/public/blog/covers/one-schema-four-layers.png
  packages/landing/public/blog/covers/reactivity-without-hooks.png
  packages/landing/public/blog/covers/ssr-without-hydration-drama.png
  packages/landing/public/blog/covers/three-testing-levels-one-runner.png
  packages/landing/public/blog/covers/why-we-ship-our-own-runtime.png
  packages/landing/scripts/generate-blog-covers.ts
  packages/landing/src/blog/.generated/manifest.ts
  vertz.lock
Due: none

fix(landing): MDX pipeline + blog code-block layout
  packages/landing/scripts/compile-blog-posts.ts
  packages/landing/src/blog/layout/blog-post-layout.tsx
  packages/landing/src/blog/mdx/custom/callout.ts
  packages/landing/src/blog/styles/code-breakout.ts
  packages/landing/src/blog/styles/prose.ts
Due: none

chore(infra): unbreak landing typecheck and root tsc
  bun.lock
  packages/landing/package.json
  packages/landing/tsconfig.json
  packages/vertz/package.json
Due: none

feat(docs-mcp): @vertz/docs-mcp public MCP server [#2967]
  .changeset/docs-mcp-server-2967.md
  bun.lock
  packages/docs-mcp/README.md
  packages/docs-mcp/build.config.ts
  packages/docs-mcp/package.json
  packages/docs-mcp/scripts/build-index.ts
  packages/docs-mcp/src/__tests__/build-index.test.ts
  packages/docs-mcp/src/__tests__/search.test.ts
  packages/docs-mcp/src/__tests__/server.local.ts
  packages/docs-mcp/src/__tests__/tools.test.ts
  packages/docs-mcp/src/cli.ts
  packages/docs-mcp/src/index.ts
  packages/docs-mcp/src/search.ts
  packages/docs-mcp/src/server.ts
  packages/docs-mcp/src/tools.ts
  packages/docs-mcp/tsconfig.json
  packages/docs-mcp/tsconfig.typecheck.json
  packages/landing/src/components/use-in-ide.tsx
  packages/landing/src/pages/home.tsx
  vertz.lock
Due: none

style(landing): oxfmt blog posts + cover generator
  packages/landing/content/blog/2026-04-22-designing-a-framework-for-llms.mdx
  packages/landing/content/blog/2026-04-22-forms-that-survive-refactors.mdx
  packages/landing/content/blog/2026-04-22-multi-tenancy-by-default.mdx
  packages/landing/content/blog/2026-04-22-one-schema-four-layers.mdx
  packages/landing/content/blog/2026-04-22-reactivity-without-hooks.mdx
  packages/landing/content/blog/2026-04-22-ssr-without-hydration-drama.mdx
  packages/landing/content/blog/2026-04-22-three-testing-levels-one-runner.mdx
  packages/landing/content/blog/2026-04-22-why-we-ship-our-own-runtime.mdx
  packages/landing/scripts/generate-blog-covers.ts
  packages/landing/src/blog/.generated/manifest.ts
Due: none

chore: sync vertz.lock after added deps
  vertz.lock
Due: none

feat(landing): 10 thematic blog posts + per-post covers (#2977)
  bun.lock
  packages/landing/content/blog/2026-04-22-blog-runs-on-vertz.mdx
  packages/landing/content/blog/2026-04-22-designing-a-framework-for-llms.mdx
  packages/landing/content/blog/2026-04-22-durable-agents-on-cloudflare.mdx
  packages/landing/content/blog/2026-04-22-errors-as-values.mdx
  packages/landing/content/blog/2026-04-22-forms-that-survive-refactors.mdx
  packages/landing/content/blog/2026-04-22-multi-tenancy-by-default.mdx
  packages/landing/content/blog/2026-04-22-one-schema-four-layers.mdx
  packages/landing/content/blog/2026-04-22-reactivity-without-hooks.mdx
  packages/landing/content/blog/2026-04-22-ssr-without-hydration-drama.mdx
  packages/landing/content/blog/2026-04-22-three-testing-levels-one-runner.mdx
  packages/landing/content/blog/2026-04-22-why-we-ship-our-own-runtime.mdx
  packages/landing/package.json
  packages/landing/public/blog/authors/matheus.jpg
  packages/landing/public/blog/covers/blog-runs-on-vertz.png
  packages/landing/public/blog/covers/designing-a-framework-for-llms.png
  packages/landing/public/blog/covers/durable-agents-on-cloudflare.png
  packages/landing/public/blog/covers/errors-as-values.png
  packages/landing/public/blog/covers/forms-that-survive-refactors.png
  packages/landing/public/blog/covers/multi-tenancy-by-default.png
  packages/landing/public/blog/covers/one-schema-four-layers.png
  packages/landing/public/blog/covers/reactivity-without-hooks.png
  packages/landing/public/blog/covers/ssr-without-hydration-drama.png
  packages/landing/public/blog/covers/three-testing-levels-one-runner.png
  packages/landing/public/blog/covers/why-we-ship-our-own-runtime.png
  packages/landing/scripts/compile-blog-posts.ts
  packages/landing/scripts/generate-blog-covers.ts
  packages/landing/src/blog/.generated/manifest.ts
  packages/landing/src/blog/layout/blog-post-layout.tsx
  packages/landing/src/blog/mdx/custom/callout.ts
  packages/landing/src/blog/styles/code-breakout.ts
  packages/landing/src/blog/styles/prose.ts
  packages/landing/tsconfig.json
  packages/vertz/package.json
  vertz.lock
Due: none

fix(docs-mcp): address review blockers + should-fixes [#2967]
  packages/docs-mcp/package.json
  packages/docs-mcp/scripts/build-index.ts
  packages/docs-mcp/src/__tests__/build-index.test.ts
  packages/docs-mcp/src/__tests__/server.local.ts
  packages/docs-mcp/src/__tests__/tools.test.ts
  packages/docs-mcp/src/cli.ts
  turbo.json
  vertz.lock
Due: none

chore(docs-mcp): apply oxfmt formatting [#2967]
  packages/docs-mcp/README.md
  packages/docs-mcp/package.json
  packages/docs-mcp/src/cli.ts
  packages/docs-mcp/tsconfig.typecheck.json
Due: none

feat(agents): bridge AgentStore to Vertz entities (RLS-aware sessions/messages) [#2847] (#2966)
  .changeset/agent-store-entity-bridge.md
  packages/agents/build.config.ts
  packages/agents/migrations/001-add-rls-columns.sql
  packages/agents/package.json
  packages/agents/src/entities/__tests__/bridge.integration.test.ts
  packages/agents/src/entities/__tests__/define.test-d.ts
  packages/agents/src/entities/__tests__/define.test.ts
  packages/agents/src/entities/columns.ts
  packages/agents/src/entities/define.ts
  packages/agents/src/entities/index.ts
  packages/agents/src/run.ts
  packages/agents/src/stores/d1-store.test.ts
  packages/agents/src/stores/d1-store.ts
  packages/agents/src/stores/memory-store.test.ts
  packages/agents/src/stores/memory-store.ts
  packages/agents/src/stores/sqlite-store.test.ts
  packages/agents/src/stores/sqlite-store.ts
  packages/agents/src/stores/types.ts
  packages/agents/src/testing/crash-harness.test.ts
  packages/agents/src/testing/crash-harness.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/agents/entity-bridge.mdx
Due: none

fix(compiler): disambiguate context stable ids on same-name collisions [#2786] (#2965)
  .changeset/fix-context-stable-id-collision-2786.md
  native/vertz-compiler-core/src/context_stable_ids.rs
  packages/ui-server/src/build-plugin/__tests__/context-stable-ids.test.ts
  packages/ui-server/src/build-plugin/context-stable-ids.ts
Due: ui-server

chore(ui): oxfmt fix in list-value test [#2956]
  packages/ui/src/dom/__tests__/list-value.test.ts
Due: none

fix(ui): prevent concurrent form submissions on double-click [#2982]
  .changeset/fix-form-concurrent-submission-2982.md
  packages/ui/src/form/__tests__/form-concurrent.test.ts
  packages/ui/src/form/form.ts
Due: ui

fix(ui): prevent concurrent form submissions on double-click [#2982] (#2983)
  .changeset/fix-form-concurrent-submission-2982.md
  packages/ui/src/form/__tests__/form-concurrent.test.ts
  packages/ui/src/form/form.ts
Due: ui

test(ui,ui-primitives): regression coverage for List.Item context on reactive re-runs [#2956] (#2978)
  packages/ui-primitives/src/list/__tests__/list-composed.test.tsx
  packages/ui/src/dom/__tests__/list-value.test.ts
Due: none

fix(query): refetch on remount after mutation while unmounted [#2986]
  .changeset/fix-query-stale-cache-on-remount.md
  packages/ui/src/query/__tests__/cache.test.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/cache.ts
  packages/ui/src/query/query.ts
  packages/ui/src/store/__tests__/mutation-event-bus.test.ts
  packages/ui/src/store/mutation-event-bus.ts
Due: ui

fix(ui): form() initial option re-evaluates reactively [#2984]
  packages/ui/src/form/__tests__/field-state.test.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/field-state.ts
  packages/ui/src/form/form.ts
Due: ui

feat(ui,ui-server)!: remove Suspense — loading UX is early-return + query.loading [#2985]
  .changeset/remove-suspense-2985.md
  docs/guides/ssr-hydration.md
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  packages/mint-docs/guides/ui/data-fetching.mdx
  packages/mint-docs/guides/ui/live-data.mdx
  packages/ui-server/README.md
  packages/ui-server/src/__tests__/render-to-stream.test.ts
  packages/ui-server/src/__tests__/slot-placeholder.test.ts
  packages/ui-server/src/__tests__/ssr-integration.test.ts
  packages/ui-server/src/__tests__/template-chunk.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/render-to-stream.ts
  packages/ui-server/src/slot-placeholder.ts
  packages/ui-server/src/template-chunk.ts
  packages/ui-server/src/types.ts
  packages/ui/.api-cheat-sheet.md
  packages/ui/README.md
  packages/ui/src/component/__tests__/error-boundary.test.ts
  packages/ui/src/component/__tests__/suspense.test.ts
  packages/ui/src/component/error-boundary-context.ts
  packages/ui/src/component/error-boundary.ts
  packages/ui/src/component/index.ts
  packages/ui/src/component/suspense.ts
  packages/ui/src/index.ts
  packages/ui/src/jsx-runtime/__tests__/jsx-types.test-d.ts
Due: ui, ui-server

fix(query): refetch on remount after mutation while unmounted [#2986] (#2988)
  .changeset/fix-query-stale-cache-on-remount.md
  packages/ui/src/query/__tests__/cache.test.ts
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/cache.ts
  packages/ui/src/query/query.ts
  packages/ui/src/store/__tests__/mutation-event-bus.test.ts
  packages/ui/src/store/mutation-event-bus.ts
Due: ui

docs(ui-server): remove stale renderToStream nonce options + CSP section [#2985]
  packages/ui-server/README.md
Due: none

chore(ui-server): oxfmt fix in README after Suspense cleanup [#2985]
  packages/ui-server/README.md
Due: none

fix(compiler): make early-return guards reactive in component bodies [#2987]
  .changeset/fix-reactive-early-return-guards-2987.md
  native/vertz-compiler-core/src/lib.rs
  native/vertz-compiler-core/src/reactive_guard_transformer.rs
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/__tests__/reactive-guards.test.ts
  packages/ui/src/__tests__/reactive-guard-runtime.test.ts
Due: none

fix(compiler): make early-return guards reactive in component bodies [#2987] (#2991)
  .changeset/fix-reactive-early-return-guards-2987.md
  native/vertz-compiler-core/src/lib.rs
  native/vertz-compiler-core/src/reactive_guard_transformer.rs
  native/vertz-compiler/__tests__/mount-frame.test.ts
  native/vertz-compiler/__tests__/reactive-guards.test.ts
  packages/ui/src/__tests__/reactive-guard-runtime.test.ts
Due: none

feat(ui,ui-server)!: remove Suspense — loading UX is early-return + query.loading [#2985] (#2990)
  .changeset/remove-suspense-2985.md
  docs/guides/ssr-hydration.md
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler/__tests__/jsx-transform.test.ts
  packages/mint-docs/guides/ui/data-fetching.mdx
  packages/mint-docs/guides/ui/live-data.mdx
  packages/ui-server/README.md
  packages/ui-server/src/__tests__/render-to-stream.test.ts
  packages/ui-server/src/__tests__/slot-placeholder.test.ts
  packages/ui-server/src/__tests__/ssr-integration.test.ts
  packages/ui-server/src/__tests__/template-chunk.test.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/render-to-stream.ts
  packages/ui-server/src/slot-placeholder.ts
  packages/ui-server/src/template-chunk.ts
  packages/ui-server/src/types.ts
  packages/ui/.api-cheat-sheet.md
  packages/ui/README.md
  packages/ui/src/component/__tests__/error-boundary.test.ts
  packages/ui/src/component/__tests__/suspense.test.ts
  packages/ui/src/component/error-boundary-context.ts
  packages/ui/src/component/error-boundary.ts
  packages/ui/src/component/index.ts
  packages/ui/src/component/suspense.ts
  packages/ui/src/index.ts
  packages/ui/src/jsx-runtime/__tests__/jsx-types.test-d.ts
Due: ui, ui-server

fix(ui): form() initial option re-evaluates reactively [#2984] (#2989)
  packages/ui/src/form/__tests__/field-state.test.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/field-state.ts
  packages/ui/src/form/form.ts
Due: ui

fix(server): type rules.entitlement() with registered Entitlement union [#2992]
  .changeset/fix-rules-entitlement-typed-2992.md
  packages/server/src/auth/rules.test-d.ts
  packages/server/src/auth/rules.ts
Due: server

test(integration-tests): verify EntitlementRegistry augmentation narrows rules.entitlement end-to-end [#2992]
  packages/integration-tests/src/__tests__/rules-entitlement-narrowing.test-d.ts
Due: none
