Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(component-docs): resolve a11y lint errors in code-block and overview-page (#2160)
  packages/component-docs/src/components/code-block.tsx
  packages/component-docs/src/pages/overview-page.tsx
Due: none

style(component-docs): format package.json field order
  packages/component-docs/package.json
Due: none

fix(component-docs): address review findings [#2160]
  bun.lock
  packages/component-docs/package.json
  packages/component-docs/src/__tests__/worker.test.ts
  plans/component-docs-cloudflare-deploy.md
Due: none

style(component-docs): format overview-page.tsx
  packages/component-docs/src/pages/overview-page.tsx
Due: none

feat(component-docs): add Cloudflare Worker and wrangler config [#2160]
  packages/component-docs/package.json
  packages/component-docs/src/__tests__/manifest.test.ts
  packages/component-docs/src/__tests__/worker.test.ts
  packages/component-docs/src/manifest.ts
  packages/component-docs/src/worker.ts
  packages/component-docs/wrangler.toml
Due: none

fix(ui): propagate ancestor context scope to lazy route components (#2163)
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/outlet.ts
  packages/ui/src/router/router-view.ts
Due: ui

fix(ui): handle rejected dynamic imports in RouterView and Outlet
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/outlet.ts
  packages/ui/src/router/router-view.ts
Due: ui

chore: add changeset and review for #2163
  .changeset/fix-context-dynamic-import.md
  reviews/fix-context-dynamic-import/phase-01-context-scope-fix.md
Due: none

fix(ui): propagate ancestor context to lazy route components (#2163) (#2166)
  .changeset/fix-context-dynamic-import.md
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/outlet.ts
  packages/ui/src/router/router-view.ts
  reviews/fix-context-dynamic-import/phase-01-context-scope-fix.md
Due: ui

docs(ui): address review — full FieldPath type, NestedFieldAccessors note (#2156)
  packages/mint-docs/api-reference/ui/form.mdx
Due: none

docs(ui): fix type inaccuracies in form API reference (#2156)
  packages/mint-docs/api-reference/ui/form.mdx
Due: none

docs(ui): use developer-facing types, not internal Signal types (#2156)
  packages/mint-docs/api-reference/ui/form.mdx
Due: none

docs(ui): fix type inaccuracies in form API reference (#2165)
  packages/mint-docs/api-reference/ui/form.mdx
Due: none

chore(component-docs): move from sites/ to packages/ [#2160]
  bun.lock
Due: none

fix(component-docs): address review findings [#2160]
  bun.lock
Due: none

fix(component-docs): SSR theme from cookie via edge Worker
  packages/component-docs/src/worker.ts
  packages/component-docs/wrangler.toml
Due: none

style(component-docs): format use-theme.ts
  packages/component-docs/src/hooks/use-theme.ts
Due: none

feat(component-docs): pre-render all component pages at build time (#2160)
  packages/component-docs/package.json
  packages/component-docs/scripts/strip-ssr.ts
  packages/component-docs/src/app.tsx
Due: none

fix(component-docs): replace context-based theme with module-level signal state (#2160)
  packages/component-docs/src/app.tsx
  packages/component-docs/src/components/header.tsx
  packages/component-docs/src/hooks/use-theme.ts
Due: none

fix(component-docs): fix Worker crash and SPA hydration mismatch (#2160)
  packages/component-docs/package.json
  packages/component-docs/scripts/strip-ssr.ts
  packages/component-docs/src/worker.ts
  packages/component-docs/wrangler.toml
Due: none

fix(component-docs): replace string-patch Worker with real SSR (#2160)
  packages/component-docs/src/app.tsx
  packages/component-docs/src/hooks/use-theme.ts
  packages/component-docs/src/worker.ts
  packages/component-docs/wrangler.toml
Due: none

fix(component-docs): SSR theme from cookie via edge Worker
  packages/component-docs/src/app.tsx
  packages/component-docs/src/hooks/use-theme.ts
  packages/component-docs/src/worker.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui/src/ssr/ssr-render-context.ts
Due: ui, ui-server

fix: remove stale workspace entries from bun.lock (#2160)
  bun.lock
Due: none

fix(ci): remove stale @vertz/native-compiler filter from coverage job
  .github/workflows/ci.yml
Due: none

refactor(component-docs): revert to context-based useTheme (#2160)
  packages/component-docs/src/app.tsx
  packages/component-docs/src/hooks/use-theme.ts
Due: none

feat(create-vertz-app): composable scaffold engine with feature blocks (#2176)
  packages/create-vertz-app/src/__tests__/scaffold-api.test.ts
  packages/create-vertz-app/src/features/__tests__/compose.test.ts
  packages/create-vertz-app/src/features/__tests__/registry.test.ts
  packages/create-vertz-app/src/features/api.ts
  packages/create-vertz-app/src/features/client.ts
  packages/create-vertz-app/src/features/compose.ts
  packages/create-vertz-app/src/features/core.ts
  packages/create-vertz-app/src/features/db.ts
  packages/create-vertz-app/src/features/entity-example.ts
  packages/create-vertz-app/src/features/registry.ts
  packages/create-vertz-app/src/features/router.ts
  packages/create-vertz-app/src/features/types.ts
  packages/create-vertz-app/src/features/ui.ts
  packages/create-vertz-app/src/index.ts
  packages/create-vertz-app/src/prompts.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/types.ts
  plans/2136-agent-native-dx.md
Due: none

test(create-vertz-app): add tests for api, full-stack presets and --with flag (#2176)
  packages/create-vertz-app/src/__tests__/prompts.test.ts
  packages/create-vertz-app/src/__tests__/scaffold-api.test.ts
Due: none

feat(create-vertz-app): dense CLAUDE.md with API quick reference and code examples (#2176)
  packages/create-vertz-app/src/features/core.ts
Due: none

feat(create-vertz-app): add dev.ts entry point with pre-configured port and DB (#2176)
  packages/create-vertz-app/src/__tests__/scaffold-api.test.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/features/api.ts
  packages/create-vertz-app/src/features/compose.ts
  packages/create-vertz-app/src/features/types.ts
  packages/create-vertz-app/src/features/ui.ts
Due: none

feat(create-vertz-app): address ax-bench gaps in CLAUDE.md (#2176)
  packages/create-vertz-app/src/features/core.ts
Due: none

feat(create-vertz-app): prescriptive CLAUDE.md — directive workflow instructions (#2176)
  packages/create-vertz-app/src/features/core.ts
Due: none

feat(component-docs): deploy to Cloudflare with full SSR (#2160) (#2167)
  .github/workflows/ci.yml
  packages/component-docs/package.json
  packages/component-docs/src/app.tsx
  packages/component-docs/src/components/header.tsx
  packages/component-docs/src/hooks/use-theme.ts
  packages/component-docs/src/worker.ts
  packages/component-docs/wrangler.toml
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui/src/ssr/ssr-render-context.ts
Due: ui, ui-server

feat(cli): context engine with multi-tool adapters + vertz sync-context (#2177)
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync-context.ts
  packages/cli/src/context/__tests__/adapters.test.ts
  packages/cli/src/context/__tests__/sync.test.ts
  packages/cli/src/context/adapters/claude.ts
  packages/cli/src/context/adapters/copilot.ts
  packages/cli/src/context/adapters/cursor.ts
  packages/cli/src/context/adapters/generic.ts
  packages/cli/src/context/blocks/static/api-conventions.ts
  packages/cli/src/context/blocks/static/cli-commands.ts
  packages/cli/src/context/blocks/static/index.ts
  packages/cli/src/context/blocks/static/ui-conventions.ts
  packages/cli/src/context/sync.ts
  packages/cli/src/context/types.ts
Due: cli

feat(cli): vertz inspect — project state as structured JSON (#2178)
  packages/cli/src/cli.ts
  packages/cli/src/commands/inspect.ts
  packages/cli/src/context/__tests__/inspect.test.ts
  packages/cli/src/context/inspect.ts
Due: cli

feat(cli): vertz add entity — intent parser, plan builder, dry-run, apply (#2179)
  packages/cli/src/cli.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/plan/__tests__/builder.test.ts
  packages/cli/src/plan/__tests__/intent.test.ts
  packages/cli/src/plan/apply.ts
  packages/cli/src/plan/builder.ts
  packages/cli/src/plan/intent.ts
  packages/cli/src/plan/render.ts
Due: cli

feat(cli): vertz add page + vertz check — UI generation and project validation (#2180)
  packages/cli/src/cli.ts
  packages/cli/src/commands/add-page.ts
  packages/cli/src/commands/check-project.ts
  packages/cli/src/plan/__tests__/page-builder.test.ts
  packages/cli/src/plan/page-builder.ts
Due: cli

docs: optimize LLM quick reference and llms.txt discoverability (#2181)
  packages/mint-docs/docs.json
  packages/mint-docs/guides/llm-quick-reference.mdx
Due: none

feat(ui-server): add native compiler wrapper with full TypeScript types
  packages/ui-server/src/__tests__/compiler/native-compiler.test.ts
  packages/ui-server/src/compiler/index.ts
  packages/ui-server/src/compiler/native-compiler.ts
Due: ui-server
