Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(ui): queryMatch reactive DOM construct + __child stable-node optimization (#839)
  biome-plugins/no-querymatch-destructure.grit
  biome.json
  examples/entity-todo/src/pages/todo-list.tsx
  packages/ui-compiler/src/analyzers/__tests__/reactivity-analyzer.test.ts
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui/src/dom/__tests__/child-node.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/query/__tests__/query-match.test-d.ts
  packages/ui/src/query/__tests__/query-match.test.ts
  packages/ui/src/query/query-match.ts
Due: ui, ui-compiler

fix(ui): resolve children thunks + vinext benchmark suite (#841)
  benchmarks/.gitignore
  benchmarks/ANALYSIS.md
  benchmarks/README.md
  benchmarks/generate-app.mjs
  benchmarks/run.mjs
  benchmarks/setup.sh
  benchmarks/smoke-test.mjs
  benchmarks/vertz/bun-plugin-shim.ts
  benchmarks/vertz/bunfig.toml
  benchmarks/vertz/index.html
  benchmarks/vertz/package.json
  benchmarks/vertz/tsconfig.json
  benchmarks/vinext/package-lock.json
  benchmarks/vinext/package.json
  benchmarks/vinext/vite.config.ts
  bun.lock
  package.json
  packages/ui/src/dom/__tests__/child-thunk.test.ts
  packages/ui/src/dom/__tests__/insert.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
  packages/ui/src/router/router-view.ts
Due: ui

test(ui): add regression tests for Counter hydration onClick bug (#845)
  .changeset/fix-insert-hydration-children.md
  packages/ui/src/__tests__/mount-hydration.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/ARCHITECTURE.md
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

feat: standalone action() + module/router removal [#843] (#844)
  packages/core/src/types/app.ts
  packages/integration-tests/src/__tests__/action-walkthrough.test.ts
  packages/server/src/action/__tests__/action.test-d.ts
  packages/server/src/action/__tests__/action.test.ts
  packages/server/src/action/__tests__/context.test.ts
  packages/server/src/action/__tests__/route-generator.test.ts
  packages/server/src/action/action.ts
  packages/server/src/action/context.ts
  packages/server/src/action/index.ts
  packages/server/src/action/route-generator.ts
  packages/server/src/action/types.ts
  packages/server/src/create-server.ts
  packages/server/src/entity/__tests__/access-enforcer.test.ts
  packages/server/src/entity/__tests__/entity.test.ts
  packages/server/src/entity/access-enforcer.ts
  packages/server/src/entity/entity.ts
  packages/server/src/entity/index.ts
  packages/server/src/entity/types.ts
  packages/server/src/index.ts
  plans/action-standalone-cleanup.md
Due: core, server

fix(ui): hydration reliability + benchmark e2e suite [#842] (#846)
  .claude/rules/debugging-benchmarks.md
  .gitignore
  benchmarks/ANALYSIS.md
  benchmarks/smoke-test.mjs
  benchmarks/vertz/e2e/counter.spec.ts
  benchmarks/vertz/e2e/hydration.spec.ts
  benchmarks/vertz/e2e/navigation.spec.ts
  benchmarks/vertz/e2e/route-smoke.spec.ts
  benchmarks/vertz/e2e/search.spec.ts
  benchmarks/vertz/e2e/ssr.spec.ts
  benchmarks/vertz/e2e/timer.spec.ts
  benchmarks/vertz/package.json
  benchmarks/vertz/playwright.config.ts
  bun.lock
  packages/ui/src/__tests__/mount-hydration.test.ts
  packages/ui/src/dom/__tests__/insert.test.ts
  packages/ui/src/dom/element.ts
  packages/ui/src/hydrate/__tests__/hydration-context.test.ts
  packages/ui/src/hydrate/hydration-context.ts
Due: ui

docs: rewrite remaining package READMEs — consumer-first approach [#368] (#847)
  packages/cli-runtime/README.md
  packages/codegen/INTERNALS.md
  packages/codegen/README.md
  packages/compiler/INTERNALS.md
  packages/compiler/README.md
  packages/tui/README.md
  packages/ui-compiler/README.md
Due: none

docs: rewrite root README — 2-minute ramp-up guide [#368] (#848)
  README.md
Due: none

docs: automatic optimistic updates design doc (#851)
  docs/guides/module-singletons.md
  plans/automatic-optimistic-updates.md
Due: none

fix: patch security vulnerabilities from framework audit [#853] (#854)
  packages/cloudflare/src/handler.ts
  packages/cloudflare/src/index.ts
  packages/cloudflare/tests/handler.test.ts
  packages/codegen/src/__tests__/incremental.test.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/incremental.ts
  packages/core/src/app/__tests__/app-runner-errors.test.ts
  packages/core/src/app/app-runner.ts
  packages/core/src/di/__tests__/boot-executor.test.ts
  packages/core/src/middleware/__tests__/middleware-runner.test.ts
  packages/core/src/middleware/middleware-runner.ts
  packages/core/src/server/__tests__/cors.test.ts
  packages/core/src/server/__tests__/request-utils.test.ts
  packages/core/src/server/__tests__/response-utils.test.ts
  packages/core/src/server/cors.ts
  packages/core/src/server/request-utils.ts
  packages/core/src/server/response-utils.ts
  packages/db/src/adapters/__tests__/sql-utils.test.ts
  packages/db/src/adapters/sql-utils.ts
  packages/db/src/migration/__tests__/introspect.test.ts
  packages/db/src/migration/introspect.ts
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/__tests__/csrf.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/entity/__tests__/vertzql-parser.test.ts
  packages/server/src/entity/vertzql-parser.ts
  packages/ui-server/src/__tests__/bun-dev-server.integration.test.ts
  packages/ui-server/src/__tests__/render-page.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-html.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/render-page.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-html.ts
Due: cloudflare, codegen, core, db, server, ui-server

fix: address remaining security audit findings [#855] (#856)
  packages/schema/src/schemas/__tests__/object.test.ts
  packages/schema/src/schemas/__tests__/record.test.ts
  packages/schema/src/schemas/object.ts
  packages/schema/src/schemas/record.ts
  packages/server/src/auth/__tests__/access.test.ts
  packages/server/src/auth/__tests__/cookie-config.test.ts
  packages/server/src/auth/access.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/types.ts
  packages/ui-server/src/types.ts
  packages/ui/src/router/__tests__/link.test.ts
  packages/ui/src/router/link.ts
Due: schema, server, ui, ui-server

fix: harden security fixes after diverse area review [#855] (#857)
  .changeset/security-audit-855.md
  packages/schema/src/schemas/__tests__/object.test.ts
  packages/server/src/auth/index.ts
  packages/ui/src/router/__tests__/link.test.ts
  packages/ui/src/router/link.ts
Due: ui

feat(ui-compiler): library build plugin + toggle JSX migration [#759] (#859)
  bun.lock
  examples/component-catalog/src/demos/index.ts
  examples/component-catalog/src/demos/switch.tsx
  examples/component-catalog/src/demos/toggle.tsx
  packages/theme-shadcn/src/__tests__/themed-primitives.test.ts
  packages/theme-shadcn/src/__tests__/toggle.test.ts
  packages/theme-shadcn/src/components/primitives/switch.ts
  packages/theme-shadcn/src/components/primitives/toggle.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/styles/switch.ts
  packages/ui-compiler/package.json
  packages/ui-compiler/src/__tests__/helpers/plugin-test-utils.ts
  packages/ui-compiler/src/__tests__/library-plugin.test.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/library-plugin.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui-compiler/tsconfig.typecheck.json
  packages/ui-primitives/bunfig.toml
  packages/ui-primitives/bunup.config.ts
  packages/ui-primitives/package.json
  packages/ui-primitives/src/__tests__/integration.test.ts
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/switch/__tests__/switch.test.ts
  packages/ui-primitives/src/switch/switch.ts
  packages/ui-primitives/src/switch/switch.tsx
  packages/ui-primitives/src/toggle/__tests__/toggle.test.ts
  packages/ui-primitives/src/toggle/toggle.ts
  packages/ui-primitives/src/toggle/toggle.tsx
  packages/ui-primitives/test-compiler-plugin.ts
  packages/ui-primitives/tsconfig.json
  plans/library-build-plan.md
Due: ui-compiler, ui-primitives

fix: address second-pass security audit findings [#858] (#861)
  .changeset/security-audit-pass2-858.md
  packages/schema/src/schemas/__tests__/coerced.test.ts
  packages/schema/src/schemas/coerced.ts
  packages/server/src/entity/__tests__/action-pipeline.test.ts
  packages/server/src/entity/action-pipeline.ts
  packages/ui/src/css/__tests__/theme.test.ts
  packages/ui/src/css/theme.ts
Due: schema, server, ui

feat(ui-server): dev server reload guard (#860)
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

ci: remove paths filter from push trigger to fix spurious failures [#858] (#862)
  .github/workflows/preview-task-manager.yml
Due: none

chore: add .claude/worktrees and .mcp.json to gitignore, remove abandoned define-flags (#863)
  .gitignore
Due: none

fix(cloudflare): replace bunup with tsc to eliminate CJS shim [#830] (#864)
  packages/cloudflare/bunup.config.ts
  packages/cloudflare/package.json
Due: none

chore: pin bunup and bun-types to specific versions (#865)
  bun.lock
  packages/cli-runtime/package.json
  packages/codegen/package.json
  packages/compiler/package.json
  packages/core/package.json
  packages/db/package.json
  packages/errors/package.json
  packages/fetch/package.json
  packages/schema/package.json
  packages/server/package.json
  packages/testing/package.json
  packages/theme-shadcn/package.json
  packages/ui-canvas/package.json
  packages/ui-compiler/package.json
  packages/ui-primitives/package.json
  packages/ui-server/package.json
  packages/ui/package.json
Due: none

feat(ui-primitives): add Badge, AlertDialog, and Sheet primitives (#866)
  packages/ui-primitives/src/alert-dialog/__tests__/alert-dialog.test.ts
  packages/ui-primitives/src/alert-dialog/alert-dialog.tsx
  packages/ui-primitives/src/badge/__tests__/badge.test.ts
  packages/ui-primitives/src/badge/badge.tsx
  packages/ui-primitives/src/index.ts
  packages/ui-primitives/src/sheet/__tests__/sheet.test.ts
  packages/ui-primitives/src/sheet/sheet.tsx
Due: ui-primitives

feat(create-vertz-app): scaffold full-stack apps with api/ convention (#867)
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/create.test.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/dev-server/__tests__/app-detector.test.ts
  packages/cli/src/dev-server/app-detector.ts
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/create-vertz-app/src/__tests__/prompts.test.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/prompts.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/create-vertz-app/src/types.ts
Due: cli

feat(ui): add refetchInterval to query() (#868)
  packages/ui/src/query/__tests__/query.test.ts
  packages/ui/src/query/query.ts
Due: ui

docs: dialog stack design — imperative, promise-based dialog management [#869] (#870)
  plans/dialog-stack.md
Due: none

feat(ui): add dialog stack — imperative, promise-based dialog management [#869] (#871)
  packages/ui/src/dialog/__tests__/dialog-stack.test.ts
  packages/ui/src/dialog/dialog-stack.ts
  packages/ui/src/dialog/index.ts
  packages/ui/src/index.ts
Due: ui

fix: published package bugs preventing developer walkthrough (#878)
  .changeset/fix-create-vertz-app-bin.md
  .changeset/fix-createmodule-exports.md
  .changeset/publish-codegen.md
  .changeset/publish-compiler.md
  .changeset/publish-tui.md
  .changeset/publish-ui-compiler.md
  .changeset/publish-ui-server.md
  packages/codegen/package.json
  packages/compiler/package.json
  packages/core/src/module/__tests__/module.test.ts
  packages/core/src/module/module.ts
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/tui/package.json
  packages/ui-compiler/package.json
  packages/ui-server/package.json
Due: core

fix(ui-server): clear pending refresh timer in dev server stop() (#886)
  examples/task-manager/index.html
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/bun-dev-server.integration.local.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

feat(ssr): DOM shim stubs + compiler diagnostic for browser-only APIs (#885)
  packages/ui-compiler/src/__tests__/compiler.test.ts
  packages/ui-compiler/src/compiler.ts
  packages/ui-compiler/src/diagnostics/__tests__/ssr-safety-diagnostics.test.ts
  packages/ui-compiler/src/diagnostics/ssr-safety-diagnostics.ts
  packages/ui-compiler/src/index.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/index.ts
Due: ui-compiler

feat(ui-server): HMR fast refresh, error overlay, and SSR improvements (#887)
  bun.lock
  examples/task-manager/e2e/runtime-error-overlay.spec.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/bun-dev-server.integration.test.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/__tests__/fast-refresh-runtime.test.ts
  packages/ui-server/src/__tests__/source-map-resolver.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/bun-plugin/fast-refresh-runtime.ts
  packages/ui-server/src/source-map-resolver.ts
Due: ui-server

fix(ui-server): re-apply CI hang fixes lost in PR #887 merge (#888)
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/bun-dev-server.integration.local.ts
  packages/ui-server/src/__tests__/bun-dev-server.integration.test.ts
  packages/ui-server/src/bun-dev-server.ts
Due: ui-server

fix(ci): use NPM_CONFIG_TOKEN for bun publish authentication (#892)
  .github/workflows/release.yml
Due: none

feat(entity-todo): add business logic examples with action() and entity hooks (#893)
  examples/entity-todo/src/__tests__/api.test.ts
  examples/entity-todo/src/api/actions/webhooks/webhooks.action.ts
  examples/entity-todo/src/api/entities/todos/todos.entity.ts
  examples/entity-todo/src/api/server.ts
  examples/entity-todo/src/api/services/notifications.ts
Due: none

fix(ui-server): HMR fast refresh fixes and dev server debugging tools (#894)
  .changeset/hmr-fast-refresh-fixes.md
  .claude/rules/dev-server-debugging.md
  examples/task-manager/e2e/screenshots/fix-01-before-dialog.png
  examples/task-manager/e2e/screenshots/fix-02-dialog-open.png
  examples/task-manager/e2e/screenshots/fix-03-dialog-closed.png
  examples/task-manager/e2e/screenshots/fix-04-tabs-details.png
  examples/task-manager/e2e/screenshots/fix-05-tabs-activity.png
  examples/task-manager/src/app.tsx
  examples/task-manager/src/components/icon.tsx
  examples/task-manager/src/components/task-card.tsx
  examples/task-manager/src/pages/task-detail.tsx
  examples/task-manager/src/pages/task-list.tsx
  packages/ui-compiler/src/__tests__/integration.test.ts
  packages/ui-compiler/src/analyzers/reactivity-analyzer.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
  packages/ui-server/ARCHITECTURE.md
  packages/ui-server/src/__tests__/debug-logger.test.ts
  packages/ui-server/src/__tests__/diagnostics-collector.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/bun-plugin/types.ts
  packages/ui-server/src/debug-logger.ts
  packages/ui-server/src/diagnostics-collector.ts
Due: ui-compiler, ui-server

fix(ui-compiler): transform JSX inside function call arguments (#896)
  packages/ui-compiler/src/transformers/__tests__/jsx-children-thunk.test-vitest.ts
  packages/ui-compiler/src/transformers/jsx-transformer.ts
Due: ui-compiler

fix(release): use workspace:^ protocol and unify fixed version group (#897)
  .changeset/config.json
  .changeset/fix-workspace-protocol.md
  bun.lock
  packages/cli-runtime/package.json
  packages/cli/package.json
  packages/cloudflare/package.json
  packages/codegen/package.json
  packages/core/package.json
  packages/db/package.json
  packages/fetch/package.json
  packages/integration-tests/package.json
  packages/schema/package.json
  packages/server/package.json
  packages/testing/package.json
  packages/theme-shadcn/package.json
  packages/tui/package.json
  packages/ui-canvas/package.json
  packages/ui-compiler/package.json
  packages/ui-primitives/package.json
  packages/ui-server/package.json
  packages/ui/package.json
  packages/vertz/package.json
Due: none

fix(cli): walkthrough fixes — esbuild dep, bun shebang, ink cleanup (#899)
  .changeset/cli-walkthrough-fixes.md
  bun.lock
  packages/cli/bunup.config.ts
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/ui/__tests__/components/banner.test.tsx
  packages/cli/src/ui/__tests__/components/diagnostic-display.test.tsx
  packages/cli/src/ui/__tests__/components/diagnostic-summary.test.tsx
  packages/cli/src/ui/components/Banner.tsx
  packages/cli/src/ui/components/DiagnosticDisplay.tsx
  packages/cli/src/ui/components/DiagnosticSummary.tsx
Due: cli

fix(create-vertz-app): add bunfig.toml and bun-plugin-shim to scaffold (#903)
  .changeset/fix-scaffold-bunfig-plugin.md
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
Due: none

Version Packages (0.2.10) (#910)
  packages/cli/package.json
  packages/cloudflare/package.json
  packages/codegen/package.json
  packages/compiler/package.json
  packages/core/package.json
  packages/create-vertz-app/package.json
  packages/db/package.json
  packages/errors/package.json
  packages/fetch/package.json
  packages/schema/package.json
  packages/server/package.json
  packages/testing/package.json
  packages/theme-shadcn/package.json
  packages/tui/package.json
  packages/ui-canvas/package.json
  packages/ui-compiler/package.json
  packages/ui-primitives/package.json
  packages/ui-server/package.json
  packages/ui/package.json
  packages/vertz/package.json
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
