Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(native-compiler): handle optional chaining in AOT .map() transforms (#2330)
  native/vertz-compiler-core/src/aot_string_transformer.rs
Due: none

feat(db): add TypedAggregateArgs for strongly typed aggregate() (#2283)
  packages/db/src/client/database.ts
  packages/db/src/index.ts
  packages/db/src/query/__tests__/aggregate-types.test-d.ts
  packages/db/src/query/aggregate.ts
Due: db

feat(db): add AggregateResult for typed aggregate() return values (#2284)
  packages/db/src/client/database.ts
  packages/db/src/index.ts
  packages/db/src/query/__tests__/aggregate-types.test-d.ts
  packages/db/src/query/aggregate.ts
Due: db

feat(db): add GroupByResult for typed groupBy() return values (#2284)
  packages/db/src/client/database.ts
  packages/db/src/index.ts
  packages/db/src/query/__tests__/aggregate-types.test-d.ts
  packages/db/src/query/aggregate.ts
Due: db

test(db): add timestamp type tests and text _min/_max runtime test (#2283)
  packages/db/src/query/__tests__/aggregate-types.test-d.ts
  packages/db/src/query/__tests__/aggregate.test.ts
Due: none

style(db): format aggregate types with oxfmt
  packages/db/src/index.ts
  packages/db/src/query/__tests__/aggregate-types.test-d.ts
  packages/db/src/query/aggregate.ts
  plans/2283-typed-aggregate-args-results.md
Due: db

feat(runtime): add SsrPool core struct with routing and admission control (#2033)
  native/vtz/src/ssr/mod.rs
  native/vtz/src/ssr/pool.rs
  native/vtz/src/ssr/pool_metrics.rs
Due: none

feat(runtime): integrate SsrPool into HTTP server and config (#2033)
  native/vtz/src/bridge/mod.rs
  native/vtz/src/config.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/module_server.rs
Due: none

feat(runtime): wire SSR pool rolling reload into file watcher (#2033)
  native/vtz/src/server/http.rs
Due: none

feat(runtime): add SSR pool diagnostics to /__vertz_diagnostics (#2033)
  native/vtz/src/server/diagnostics.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
Due: none

fix(runtime): SSR pool opt-in + integration test fixes (#2033)
  native/vtz/src/server/http.rs
  native/vtz/src/ssr/pool_metrics.rs
  native/vtz/tests/error_overlay.rs
  native/vtz/tests/fixtures/minimal-app/package.json
Due: none

fix(runtime): address Phase 4.1 review blockers (#2033)
  native/vtz/src/server/diagnostics.rs
  native/vtz/src/server/http.rs
  native/vtz/src/ssr/pool.rs
  native/vtz/src/ssr/pool_metrics.rs
Due: none

fix(native-compiler): handle optional chaining in AOT .map() transforms (#2330) (#2334)
  native/vertz-compiler-core/src/aot_string_transformer.rs
Due: none

feat(db): strongly type aggregate/groupBy args and results (#2335)
  packages/db/src/client/database.ts
  packages/db/src/index.ts
  packages/db/src/query/__tests__/aggregate-types.test-d.ts
  packages/db/src/query/__tests__/aggregate.test.ts
  packages/db/src/query/aggregate.ts
  plans/2283-typed-aggregate-args-results.md
Due: db

feat(runtime): SSR Isolate Pool — Phase 4.1 (#2033) (#2336)
  native/vtz/src/bridge/mod.rs
  native/vtz/src/config.rs
  native/vtz/src/server/diagnostics.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/module_server.rs
  native/vtz/src/ssr/mod.rs
  native/vtz/src/ssr/pool.rs
  native/vtz/src/ssr/pool_metrics.rs
  native/vtz/tests/error_overlay.rs
  native/vtz/tests/fixtures/minimal-app/package.json
Due: none

fix(docs): correct terminal output and --inspect-brk description (#2044)
  packages/mint-docs/guides/debugging.mdx
Due: none

feat(runtime): Phase 2 — --inspect-brk pause + inspector restart resilience (#2044)
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/http.rs
  native/vtz/tests/inspector_brk.rs
  native/vtz/tests/inspector_restart.rs
  native/vtz/tests/ssr_render.rs
  reviews/cdp-inspect/phase-01-breakpoint-debugging.md
Due: none

fix(runtime): address Phase 1 review findings — task abort, banner hint, CLI semantics (#2044)
  native/vtz/src/banner.rs
  native/vtz/src/cli.rs
  native/vtz/src/main.rs
  native/vtz/src/server/inspector.rs
  native/vtz/tests/cli_inspect_flags.rs
Due: none

chore: resolve pre-existing stash conflicts, fix oxfmt formatting (#2044)
  bun.lock
  examples/linear/src/api/server.ts
  examples/linear/src/app.tsx
  examples/linear/src/components/comment-section.tsx
  examples/linear/src/components/issue-card.tsx
  examples/linear/src/components/issue-row.tsx
  examples/linear/src/components/status-column.tsx
  examples/linear/src/pages/issue-detail-page.tsx
  examples/linear/src/pages/issue-list-page.tsx
  examples/linear/src/pages/project-board-page.tsx
  examples/linear/src/pages/projects-page.tsx
  examples/linear/src/router.tsx
  examples/linear/src/styles/components.ts
  packages/mint-docs/guides/debugging.mdx
Due: none

fix(runtime): add init_timeout field to inspector test constructors (#2044)
  native/vtz/tests/inspector_brk.rs
  native/vtz/tests/inspector_restart.rs
  reviews/cdp-inspect/phase-03-documentation.md
Due: none

chore: regenerate bun.lock after stash conflict resolution (#2044)
  bun.lock
Due: none

docs(runtime): add --inspect debugging guide + CLI help polish (#2044)
  native/vtz/src/cli.rs
  packages/mint-docs/docs.json
  packages/mint-docs/guides/debugging.mdx
  packages/mint-docs/runtime.mdx
  reviews/cdp-inspect/phase-02-inspect-brk-restart.md
Due: none

feat(runtime): Phase 1 — V8 Inspector Protocol server for --inspect debugging (#2044)
  native/Cargo.lock
  native/vtz/Cargo.toml
  native/vtz/src/banner.rs
  native/vtz/src/cli.rs
  native/vtz/src/config.rs
  native/vtz/src/main.rs
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/inspector.rs
  native/vtz/src/server/mod.rs
  native/vtz/tests/cli_inspect_flags.rs
  native/vtz/tests/client_render.rs
  native/vtz/tests/error_overlay.rs
  native/vtz/tests/inspector_server.rs
  native/vtz/tests/parity/common.rs
  native/vtz/tests/ssr_render.rs
  plans/2044-cdp-inspect.md
  plans/2044-cdp-inspect/phase-01-breakpoint-debugging.md
  plans/2044-cdp-inspect/phase-02-inspect-brk-restart.md
  plans/2044-cdp-inspect/phase-03-documentation.md
Due: none

fix(runtime): clear inspect_brk on restart, add regression test (#2044)
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/tests/inspector_brk.rs
  native/vtz/tests/inspector_restart.rs
Due: none

fix(runtime): add inspector fields to SSR pool options after rebase (#2044)
  native/vtz/src/server/http.rs
Due: none

fix(native-compiler): support template literal cache keys in AOT extraction (#2330)
  native/vertz-compiler-core/src/aot_string_transformer.rs
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-server

fix(native-compiler): fix derived alias replacement in AOT guard conditions (#2330)
  native/vertz-compiler-core/src/aot_string_transformer.rs
Due: none

feat(runtime): Rust-native signal graph — Phase 4.2 (#2033)
  native/Cargo.lock
  native/vtz/Cargo.toml
  native/vtz/benches/signal_graph.rs
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/mod.rs
  native/vtz/src/runtime/ops/mod.rs
  native/vtz/src/runtime/ops/signals.rs
  native/vtz/src/runtime/signal_graph.rs
  native/vtz/src/runtime/signal_graph_tests.rs
Due: none

fix(native-compiler): AOT template literal keys + derived alias replacement (#2337)
  native/vertz-compiler-core/src/aot_string_transformer.rs
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-server

fix(runtime): address Phase 4.2 review findings (#2033)
  native/vtz/src/runtime/ops/signals.rs
  native/vtz/src/runtime/signal_graph.rs
Due: none

chore: add Phase 4.2 adversarial review (#2033)
  reviews/rust-signal-graph/phase-02-signal-graph.md
Due: none

feat(runtime): Rust-native signal graph — Phase 4.2 (#2033) (#2338)
  native/Cargo.lock
  native/vtz/Cargo.toml
  native/vtz/benches/signal_graph.rs
  native/vtz/src/runtime/js_runtime.rs
  native/vtz/src/runtime/mod.rs
  native/vtz/src/runtime/ops/mod.rs
  native/vtz/src/runtime/ops/signals.rs
  native/vtz/src/runtime/signal_graph.rs
  native/vtz/src/runtime/signal_graph_tests.rs
  reviews/rust-signal-graph/phase-02-signal-graph.md
Due: none

fix(compiler): decode HTML entities in JSX text and fix AOT search param resolution (#2330)
  native/vertz-compiler-core/src/aot_string_transformer.rs
  native/vertz-compiler-core/src/html_entities.rs
  native/vertz-compiler-core/src/jsx_transformer.rs
  native/vertz-compiler-core/src/lib.rs
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
Due: ui-server

fix(native-compiler): multi-mode CSS resolution + camelCase→kebab-case (#2343)
  native/vertz-compiler-core/src/css_token_tables.rs
  native/vertz-compiler-core/src/css_transform.rs
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/create-vertz/bin/create-vertz.ts
  packages/mint-docs/quickstart.mdx
Due: none

fix(native-compiler): multi-mode CSS resolution + camelCase→kebab-case (#2343) (#2348)
  native/vertz-compiler-core/src/css_token_tables.rs
  native/vertz-compiler-core/src/css_transform.rs
  packages/create-vertz-app/bin/create-vertz-app.ts
  packages/create-vertz/bin/create-vertz.ts
  packages/mint-docs/quickstart.mdx
Due: none

fix(pm): vtz create runs bin scripts + registry cache guard (#2339, #2340)
  native/vtz/Cargo.toml
  native/vtz/src/cli.rs
  native/vtz/src/main.rs
  native/vtz/src/pm/create.rs
  native/vtz/src/pm/registry.rs
Due: none

feat(cli): add `vertz preview` command (#2164)
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/freshness.test.ts
  packages/cli/src/commands/__tests__/preview.test.ts
  packages/cli/src/commands/freshness.ts
  packages/cli/src/commands/preview.ts
  packages/cli/src/commands/serve-shared.ts
  packages/cli/src/commands/start.ts
  plans/2164-cli-preview.md
  plans/2164-cli-preview/phase-01-extract-shared-serving.md
  plans/2164-cli-preview/phase-02-freshness-detection.md
  plans/2164-cli-preview/phase-03-preview-command.md
Due: cli

fix(cli): address review findings for preview command (#2164)
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/freshness.test.ts
  packages/cli/src/commands/__tests__/preview.test.ts
  packages/cli/src/commands/freshness.ts
  packages/cli/src/commands/preview.ts
Due: cli

feat(db): add d.vector(N) column type and snapshot support (#1810)
  packages/db/src/d.ts
  packages/db/src/migration/__tests__/snapshot-vector.test.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/schema/__tests__/column-vector.test.ts
  packages/db/src/schema/column.ts
Due: db
