Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

docs(agents): design doc + phase plans for durable tool execution [#2835]
  plans/agents-durable-resume.md
  plans/agents-durable-resume/phase-01-store-transactions-and-red-e2e.md
  plans/agents-durable-resume/phase-02-per-step-atomic-write.md
  plans/agents-durable-resume/phase-03-resume-and-tool-durability-error.md
  plans/agents-durable-resume/phase-04-safe-to-retry.md
  plans/agents-durable-resume/phase-05-docs-verification-pr.md
Due: none

style(mint-docs): oxfmt durable-resume guide [#2835]
  packages/mint-docs/guides/agents/durable-resume.mdx
Due: none

docs(agents): durable-resume guide + changeset + retrospective [#2835]
  .changeset/agents-durable-resume.md
  packages/mint-docs/docs.json
  packages/mint-docs/guides/agents/durable-resume.mdx
  plans/post-implementation-reviews/agents-durable-resume.md
Due: none

style(mint-docs): oxfmt index + installation (drive-by, pre-existing drift)
  packages/mint-docs/index.mdx
  packages/mint-docs/installation.mdx
Due: none

chore(landing): delete Bun-only benchmark plugin and SSR direct runner
  packages/landing/benchmark-plugin.ts
  packages/landing/benchmark-ssr-direct.ts
Due: none

chore(landing): delete Bun-only benchmark plugin and SSR direct runner (#2849)
  packages/landing/benchmark-plugin.ts
  packages/landing/benchmark-ssr-direct.ts
Due: none

feat(ui): add stream (AsyncIterable) overload to query() [#2846]
  bun.lock
  packages/ui/src/query/__tests__/key-serialization.test.ts
  packages/ui/src/query/__tests__/query-stream.test.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/key-serialization.ts
  packages/ui/src/query/query.ts
  plans/query-subscriptions.md
  plans/query-subscriptions/phase-01-foundation.md
  plans/query-subscriptions/phase-02-lifecycle.md
  plans/query-subscriptions/phase-03-signal-and-helpers.md
  plans/query-subscriptions/phase-04-hmr-docs.md
Due: ui

fix(ui): address Phase 1 review — signal threading, exports, edge cases [#2846]
  packages/ui/src/query/__tests__/key-serialization.test.ts
  packages/ui/src/query/__tests__/query-stream.test.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/query.ts
  reviews/query-subscriptions/phase-01-foundation.md
Due: ui

feat(ui): wire stream lifecycle (abort, refetch, reactive-key, source-type lock) [#2846]
  packages/ui/src/query/__tests__/query-stream.test.ts
  packages/ui/src/query/query.ts
Due: ui

fix(ui): address Phase 2 review — idle semantics, restart edge cases [#2846]
  packages/ui/src/query/__tests__/query-stream.test.ts
  packages/ui/src/query/query.ts
  reviews/query-subscriptions/phase-02-lifecycle.md
Due: ui

feat(ui): cross-mode AbortSignal + fromWebSocket / fromEventSource helpers [#2846]
  packages/ui/src/query/__tests__/query-stream.test.ts
  packages/ui/src/query/__tests__/sources.test.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/query.ts
  packages/ui/src/query/sources.ts
Due: ui

fix(ui): address Phase 3 review — SSR probe signal, queue race, helper generics [#2846]
  packages/ui/src/query/__tests__/query-stream.test.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/query.ts
  packages/ui/src/query/sources.ts
  reviews/query-subscriptions/phase-03-signal-and-helpers.md
Due: ui

docs(ui): live data guide + HMR teardown contract test + changeset [#2846]
  .changeset/ui-query-stream-subscriptions.md
  packages/mint-docs/docs.json
  packages/mint-docs/guides/ui/live-data.mdx
  packages/ui/src/query/__tests__/query-stream-hmr.test.ts
  reviews/query-subscriptions/phase-04-hmr-docs.md
Due: none

fix(changesets): use valid package names in two changesets
  .changeset/jsx-default-value.md
  .changeset/rename-vertz-env-to-client.md
Due: none

fix(db): emit indexes, FKs, and enum CHECK constraints in autoApply DDL [#2848]
  .changeset/db-autoapply-constraints.md
  packages/db/src/client/__tests__/createDb-local-sqlite.test.ts
  packages/db/src/client/database.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/migration/sql-generator.ts
Due: db

fix(changesets): use valid package names in two changesets (#2853)
  .changeset/jsx-default-value.md
  .changeset/rename-vertz-env-to-client.md
Due: none

feat(ui): query() AsyncIterable streams + WebSocket/EventSource helpers [#2846] (#2852)
  .changeset/ui-query-stream-subscriptions.md
  bun.lock
  packages/mint-docs/docs.json
  packages/mint-docs/guides/ui/live-data.mdx
  packages/ui/src/query/__tests__/key-serialization.test.ts
  packages/ui/src/query/__tests__/query-stream-hmr.test.ts
  packages/ui/src/query/__tests__/query-stream.test.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/__tests__/sources.test.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/key-serialization.ts
  packages/ui/src/query/query.ts
  packages/ui/src/query/sources.ts
  plans/query-subscriptions.md
  plans/query-subscriptions/phase-01-foundation.md
  plans/query-subscriptions/phase-02-lifecycle.md
  plans/query-subscriptions/phase-03-signal-and-helpers.md
  plans/query-subscriptions/phase-04-hmr-docs.md
  reviews/query-subscriptions/phase-01-foundation.md
  reviews/query-subscriptions/phase-02-lifecycle.md
  reviews/query-subscriptions/phase-03-signal-and-helpers.md
  reviews/query-subscriptions/phase-04-hmr-docs.md
Due: ui

fix(server): remove setInterval from in-memory auth stores [#2851]
  .changeset/fix-auth-store-setinterval-hang.md
  packages/server/src/auth/__tests__/rate-limit-store.test.ts
  packages/server/src/auth/__tests__/server-instance.test.ts
  packages/server/src/auth/__tests__/session-store.test.ts
  packages/server/src/auth/rate-limit-store.ts
  packages/server/src/auth/session-store.ts
Due: server

fix(db): enable PRAGMA foreign_keys and cover two-enum case [#2848]
  .changeset/db-autoapply-constraints.md
  packages/db/src/client/__tests__/createDb-local-sqlite.test.ts
  packages/db/src/client/sqlite-driver.ts
Due: db

fix(server): remove setInterval from in-memory auth stores [#2851] (#2857)
  .changeset/fix-auth-store-setinterval-hang.md
  packages/server/src/auth/__tests__/rate-limit-store.test.ts
  packages/server/src/auth/__tests__/server-instance.test.ts
  packages/server/src/auth/__tests__/session-store.test.ts
  packages/server/src/auth/rate-limit-store.ts
  packages/server/src/auth/session-store.ts
Due: server

fix(db): emit indexes, FKs, and enum CHECK constraints in autoApply DDL [#2848] (#2856)
  .changeset/db-autoapply-constraints.md
  packages/db/src/client/__tests__/createDb-local-sqlite.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/sqlite-driver.ts
  packages/db/src/migration/index.ts
  packages/db/src/migration/snapshot.ts
  packages/db/src/migration/sql-generator.ts
Due: db

fix(vtz): refuse silent downgrade in self-update [#2860]
  .changeset/self-update-no-downgrade.md
  native/Cargo.lock
  native/vtz/src/self_update.rs
Due: none

fix(vtz): refuse silent downgrade in self-update [#2860] (#2861)
  .changeset/self-update-no-downgrade.md
  native/Cargo.lock
  native/vtz/src/self_update.rs
Due: none

test+docs: address StreamDescriptor review findings [#2855]
  packages/mint-docs/guides/ui/live-data.mdx
  packages/ui/src/query/__tests__/query-stream-descriptor.test.ts
  reviews/stream-descriptor/review.md
Due: none

feat(fetch+ui+openapi): StreamDescriptor — auto cache keys for streaming endpoints [#2855]
  .changeset/stream-descriptor.md
  packages/fetch/src/descriptor.test.ts
  packages/fetch/src/descriptor.ts
  packages/fetch/src/index.ts
  packages/mint-docs/guides/ui/live-data.mdx
  packages/openapi/src/generators/__tests__/integration.test.ts
  packages/openapi/src/generators/__tests__/resource-generator.test.ts
  packages/openapi/src/generators/resource-generator.ts
  packages/ui/src/query/__tests__/query-stream-descriptor.test.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/query.ts
  plans/query-subscriptions.md
  plans/stream-descriptor.md
Due: fetch, ui

fix(ci): stop premature "latest" flips on release workflow [#2860]
  .github/workflows/release.yml
Due: none

docs(design): design doc for agent visual handoff [#2865]
  plans/2865-agent-visual-handoff.md
Due: none

feat(fetch+ui+openapi): StreamDescriptor — auto cache keys for streaming endpoints [#2855] (#2862)
  .changeset/stream-descriptor.md
  packages/fetch/src/descriptor.test.ts
  packages/fetch/src/descriptor.ts
  packages/fetch/src/index.ts
  packages/mint-docs/guides/ui/live-data.mdx
  packages/openapi/src/generators/__tests__/integration.test.ts
  packages/openapi/src/generators/__tests__/resource-generator.test.ts
  packages/openapi/src/generators/resource-generator.ts
  packages/ui/src/query/__tests__/query-stream-descriptor.test.ts
  packages/ui/src/query/__tests__/query.test-d.ts
  packages/ui/src/query/index.ts
  packages/ui/src/query/query.ts
  plans/query-subscriptions.md
  plans/stream-descriptor.md
  reviews/stream-descriptor/review.md
Due: fetch, ui

fix(ci): stop premature "latest" flips on release workflow [#2860] (#2864)
  .github/workflows/release.yml
Due: none

docs(plans): add open-agents clone scoping note + correct shipped status on agents-loop plan
  plans/agents-loop-improvements.md
  plans/open-agents-clone.md
Due: none

chore(poc): chromium client validation for agent visual handoff [#2865]
  native/Cargo.lock
  native/Cargo.toml
  native/chromium-poc/Cargo.toml
  native/chromium-poc/src/main.rs
  plans/2865-chromium-poc-research.md
  plans/2865-chromium-poc-results.md
Due: none

chore(poc): isolate chromium-poc into its own workspace [#2865]
  native/Cargo.lock
  native/Cargo.toml
  native/chromium-poc/Cargo.lock
  native/chromium-poc/Cargo.toml
  native/chromium-poc/src/main.rs
Due: none

docs(plans): add open-agents clone scoping note + correct shipped status on agents-loop plan (#2869)
  plans/agents-loop-improvements.md
  plans/open-agents-clone.md
Due: none

docs(design): design doc for agent visual handoff [#2865] (#2866)
  plans/2865-agent-visual-handoff.md
Due: none

feat(db): wire jsonb validator on SQLite reads + enrich parse errors [#2850]
  packages/db/src/client/__tests__/sqlite-driver.test.ts
  packages/db/src/client/sqlite-driver.ts
Due: db

feat(db): parse jsonb on SQLite reads, explicit stringify on writes [#2850]
  packages/db/src/client/__tests__/sqlite-value-converter.test.ts
  packages/db/src/client/sqlite-value-converter.ts
  packages/db/src/errors/db-error.ts
  packages/db/src/errors/index.ts
  plans/jsonb-sqlite-parity.md
  plans/jsonb-sqlite-parity/phase-01-runtime-parity.md
  plans/jsonb-sqlite-parity/phase-02-type-gating.md
Due: db

feat(db): type-gate JSONB path filter keys to Postgres dialect [#2850]
  packages/db/src/client/__tests__/jsonb-filter-gate.test-d.ts
  packages/db/src/client/database.ts
  packages/db/src/dialect/types.ts
  packages/db/src/schema/inference.ts
  packages/db/src/schema/jsonb-filter-brand.ts
Due: db

docs: jsonb sqlite parity changeset and mint-docs section [#2850]
  .changeset/jsonb-sqlite-parity.md
  packages/mint-docs/guides/db/schema.mdx
Due: none

test(db): E2E jsonb parity + JSDoc on d.jsonb [#2850]
  packages/db/src/client/__tests__/jsonb-parity.test.ts
  packages/db/src/d.ts
Due: db

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
