Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(db): surface JsonbParseError/JsonbValidationError through ReadError [#2850]
  packages/db/src/client/__tests__/jsonb-parity.test.ts
  packages/db/src/client/sqlite-driver.ts
  packages/db/src/errors.ts
  packages/db/src/errors/db-error.ts
  packages/db/src/query/executor.ts
  reviews/jsonb-sqlite-parity/phase-01-runtime-parity.md
Due: db

docs(review): record Phase A resolution [#2850]
  reviews/jsonb-sqlite-parity/phase-01-runtime-parity.md
Due: none

fix(db): surface recovery sentence in path-filter gate + thread TDialect through CRUD/aggregate [#2850]
  packages/db/src/client/__tests__/jsonb-filter-gate.test-d.ts
  packages/db/src/client/database.ts
  packages/db/src/query/aggregate.ts
  packages/db/src/query/crud.ts
  packages/db/src/schema/inference.ts
  packages/db/src/schema/jsonb-filter-brand.ts
  reviews/jsonb-sqlite-parity/phase-02-type-gating.md
Due: db

fix(db): use createDb overloads so TDialect narrows without breaking TModels inference [#2850]
  packages/db/src/client/database.ts
  packages/db/src/schema/inference.ts
  reviews/jsonb-sqlite-parity/phase-02-type-gating.md
Due: db

style(db): oxfmt auto-format [#2850]
  packages/db/src/client/__tests__/jsonb-parity.test.ts
  packages/db/src/client/__tests__/sqlite-driver.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/sqlite-driver.ts
  packages/db/src/errors.ts
  packages/db/src/schema/inference.ts
  packages/mint-docs/guides/db/schema.mdx
Due: db

fix(db): jsonb parity on SQLite/D1 + type-gated path filters [#2850] (#2870)
  .changeset/jsonb-sqlite-parity.md
  packages/db/src/client/__tests__/jsonb-filter-gate.test-d.ts
  packages/db/src/client/__tests__/jsonb-parity.test.ts
  packages/db/src/client/__tests__/sqlite-driver.test.ts
  packages/db/src/client/__tests__/sqlite-value-converter.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/sqlite-driver.ts
  packages/db/src/client/sqlite-value-converter.ts
  packages/db/src/d.ts
  packages/db/src/dialect/types.ts
  packages/db/src/errors.ts
  packages/db/src/errors/db-error.ts
  packages/db/src/errors/index.ts
  packages/db/src/query/aggregate.ts
  packages/db/src/query/crud.ts
  packages/db/src/query/executor.ts
  packages/db/src/schema/inference.ts
  packages/db/src/schema/jsonb-filter-brand.ts
  packages/mint-docs/guides/db/schema.mdx
  plans/jsonb-sqlite-parity.md
  plans/jsonb-sqlite-parity/phase-01-runtime-parity.md
  plans/jsonb-sqlite-parity/phase-02-type-gating.md
  reviews/jsonb-sqlite-parity/phase-01-runtime-parity.md
  reviews/jsonb-sqlite-parity/phase-02-type-gating.md
Due: db

docs(design): phase 1 design doc — headless screenshot MCP tool [#2865]
  plans/2865-phase-1-headless-screenshot.md
Due: none

docs(design): address 8 review blockers on phase 1 design [#2865]
  plans/2865-phase-1-headless-screenshot.md
Due: none

docs(design): v3 — fix factual errors + 3 new technical blockers [#2865]
  plans/2865-phase-1-headless-screenshot.md
Due: none

feat(vtz): phase 1 headless screenshot — POC + design for #2865 (#2871)
  native/Cargo.toml
  native/chromium-poc/Cargo.lock
  native/chromium-poc/Cargo.toml
  native/chromium-poc/src/main.rs
  plans/2865-chromium-poc-research.md
  plans/2865-chromium-poc-results.md
  plans/2865-phase-1-headless-screenshot.md
Due: none

feat(vtz): screenshot::artifacts module [#2865]
  native/vtz/src/server/mod.rs
  native/vtz/src/server/screenshot/artifacts.rs
  native/vtz/src/server/screenshot/mod.rs
Due: none

feat(vtz): screenshot::artifacts module [#2865] (#2872)
  native/vtz/src/server/mod.rs
  native/vtz/src/server/screenshot/artifacts.rs
  native/vtz/src/server/screenshot/mod.rs
Due: none

feat(vtz): add chromiumoxide dep + Task 2 binary-size report [#2865]
  native/Cargo.lock
  native/vtz/Cargo.toml
  plans/2865-phase-1-binary-size.md
Due: none

feat(vtz): add chromiumoxide dep + Task 2 binary-size report [#2865] (#2873)
  native/Cargo.lock
  native/vtz/Cargo.toml
  plans/2865-phase-1-binary-size.md
Due: none

feat(vtz): screenshot::fetcher local-probe path — Task 3a [#2865]
  native/vtz/src/server/screenshot/fetcher.rs
  native/vtz/src/server/screenshot/mod.rs
Due: none

fix(ui-server): use createRequire for ESM-safe module loading [#2875]
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/build-plugin/plugin.ts
  packages/ui-server/src/compiler/native-compiler.ts
  packages/ui-server/src/compiler/reactivity-manifest.ts
Due: ui-server

fix(landing): make build and deploy scripts work with current toolchain [#2876]
  packages/landing/package.json
  packages/landing/scripts/generate-og.ts
Due: none

fix(landing,ui-server,cli): recover pre-render from single-route failures [#2877]
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/landing/src/app.tsx
  packages/ui-server/src/__tests__/prerender.test.ts
  packages/ui-server/src/prerender.ts
Due: cli, ui-server

fix(ui-server): use createRequire for ESM-safe module loading [#2875] (#2879)
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/build-plugin/plugin.ts
  packages/ui-server/src/compiler/native-compiler.ts
  packages/ui-server/src/compiler/reactivity-manifest.ts
Due: ui-server

fix(landing): make build and deploy scripts work with current toolchain [#2876] (#2880)
  packages/landing/package.json
  packages/landing/scripts/generate-og.ts
Due: none

fix(landing,ui-server,cli): recover pre-render from single-route failures [#2877] (#2881)
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/landing/src/app.tsx
  packages/ui-server/src/__tests__/prerender.test.ts
  packages/ui-server/src/prerender.ts
Due: cli, ui-server

feat(vtz): screenshot::fetcher local-probe path — Task 3a [#2865] (#2874)
  native/vtz/src/server/screenshot/fetcher.rs
  native/vtz/src/server/screenshot/mod.rs
Due: none

fix(landing): land #2876 + #2877 on main — missed during stacked merge (#2882)
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/landing/package.json
  packages/landing/scripts/generate-og.ts
  packages/landing/src/app.tsx
  packages/ui-server/src/__tests__/prerender.test.ts
  packages/ui-server/src/prerender.ts
Due: cli, ui-server

docs(plans): design doc for typed JSONB operators [#2868]
  plans/jsonb-typed-operators.md
Due: none

fix(compiler): recognize regex literals in strip_comments [#2878]
  .changeset/strip-comments-regex.md
  native/vertz-compiler-core/src/import_injection.rs
  packages/ui-primitives/src/list/__tests__/list-ssr.test.tsx
Due: none

docs(plans): update follow-up issue numbers in JSONB operators plan [#2868]
  plans/jsonb-typed-operators.md
Due: none

fix(compiler): recognize regex literals in strip_comments [#2878] (#2883)
  .changeset/strip-comments-regex.md
  native/vertz-compiler-core/src/import_injection.rs
  packages/ui-primitives/src/list/__tests__/list-ssr.test.tsx
Due: none

fix(ui,theme-shadcn,ui-server,cli): provide default token scales + two SSR fixes
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/theme-shadcn/src/__tests__/globals.test.ts
  packages/theme-shadcn/src/base.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
  packages/ui/src/css/__tests__/theme.test.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/theme.ts
  packages/ui/src/index.ts
Due: cli, ui, ui-server

docs(plans): #2850 already shipped — update framing in JSONB operators plan [#2868]
  plans/jsonb-typed-operators.md
Due: none

fix(ui,theme-shadcn,ui-server,cli): provide default token scales + two SSR fixes (#2887)
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/theme-shadcn/src/__tests__/globals.test.ts
  packages/theme-shadcn/src/base.ts
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
  packages/ui/src/css/__tests__/theme.test.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/theme.ts
  packages/ui/src/index.ts
Due: cli, ui, ui-server

test(db): cover null/DbExpr skip + valid-round-trip across all write shapes [#2867]
  packages/db/src/query/__tests__/crud-jsonb-validator-writes.test.ts
Due: none

feat(db): run d.jsonb validator on writes across both dialects [#2867]
  .changeset/jsonb-validator-writes.md
  packages/db/src/__tests__/errors.test-d.ts
  packages/db/src/__tests__/errors.test.ts
  packages/db/src/d.ts
  packages/db/src/errors.ts
  packages/db/src/query/__tests__/crud-jsonb-validator-writes.test.ts
  packages/db/src/query/crud.ts
  packages/mint-docs/guides/db/schema.mdx
  plans/jsonb-validator-writes.md
  plans/jsonb-validator-writes/phase-01-validator-on-writes.md
Due: db

style(mint-docs): oxfmt auto-format schema.mdx [#2867]
  packages/mint-docs/guides/db/schema.mdx
Due: none

fix(landing): replace array-wrapped css() blocks with plain objects
  packages/landing/src/components/benchmarks.tsx
  packages/landing/src/components/features.tsx
  packages/landing/src/components/get-started.tsx
  packages/landing/src/components/glue-code.tsx
  packages/landing/src/components/openapi-features.tsx
Due: none

fix(landing): replace array-wrapped css() blocks with plain objects (#2892)
  packages/landing/src/components/benchmarks.tsx
  packages/landing/src/components/features.tsx
  packages/landing/src/components/get-started.tsx
  packages/landing/src/components/glue-code.tsx
  packages/landing/src/components/openapi-features.tsx
Due: none

fix(db): run d.jsonb validator on writes across both dialects [#2867] (#2891)
  .changeset/jsonb-validator-writes.md
  packages/db/src/__tests__/errors.test-d.ts
  packages/db/src/__tests__/errors.test.ts
  packages/db/src/d.ts
  packages/db/src/errors.ts
  packages/db/src/query/__tests__/crud-jsonb-validator-writes.test.ts
  packages/db/src/query/crud.ts
  packages/mint-docs/guides/db/schema.mdx
  plans/jsonb-validator-writes.md
  plans/jsonb-validator-writes/phase-01-validator-on-writes.md
Due: db

docs(plans): design doc for typed JSONB operators [#2868] (#2884)
  plans/jsonb-typed-operators.md
Due: none

fix(vertz): auto-load import.meta.hot types from client-runtime subpaths [#2893]
  .changeset/auto-load-import-meta-hot-types.md
  packages/mint-docs/guides/hmr-types.mdx
  packages/vertz/__tests__/subpath-exports.test.ts
  packages/vertz/package.json
  packages/vertz/scripts/inject-client-reference.mjs
Due: none
