Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(landing): inline small CSS to avoid render-blocking requests (#1151)
  .changeset/inline-small-css.md
  plans/inline-small-css.md
  reviews/inline-small-css/phase-01-css-inlining.md
  sites/landing/scripts/build-css-injection.test.ts
  sites/landing/scripts/build-css-injection.ts
  sites/landing/scripts/build.ts
Due: none

feat(ui-primitives): multi-entry build for tree-shaking [#1143] (#1153)
  .changeset/reduce-unused-js.md
  packages/ui-primitives/bunup.config.ts
  packages/ui-primitives/package.json
  plans/reduce-unused-client-js.md
  tests/tree-shaking/tree-shaking.test.ts
Due: none

refactor(db): eliminate as-never casts in database-bridge-adapter [#1150] (#1154)
  packages/db/.vertz/schema-snapshot.json
  packages/db/src/adapters/__tests__/database-bridge-adapter.test-d.ts
  packages/db/src/adapters/__tests__/database-bridge-adapter.test.ts
  packages/db/src/adapters/database-bridge-adapter.ts
  plans/eliminate-as-never-bridge-adapter.md
Due: db

feat(theme-shadcn): add base subpath export for lightweight theme setup [#1143] (#1155)
  .changeset/theme-shadcn-base-export.md
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/theme-shadcn/bunup.config.ts
  packages/theme-shadcn/package.json
  packages/theme-shadcn/src/base.ts
  packages/theme-shadcn/src/configure.ts
  packages/theme-shadcn/src/index.ts
  plans/reduce-unused-client-js.md
  reviews/reduce-unused-js/phase-01-multi-entry-build.md
  reviews/reduce-unused-js/phase-02-theme-base-export.md
  sites/landing/src/styles/theme.ts
  tests/tree-shaking/tree-shaking.test.ts
Due: none

chore(ci): exclude Next.js sites from CI pipeline (#1166)
  .github/workflows/ci.yml
  package.json
Due: none

docs(plans): add package runtime hardening plan (#1164) (#1167)
  MAP.md
  plans/package-runtime-hardening-implementation.md
  plans/package-runtime-hardening.md
Due: none

refactor(server): thread model generics through entity pipelines [#1149, #1148] (#1165)
  .changeset/action-pipeline-generics.md
  .changeset/crud-pipeline-generics.md
  packages/server/src/entity/__tests__/action-pipeline.test-d.ts
  packages/server/src/entity/__tests__/crud-pipeline.test-d.ts
  packages/server/src/entity/action-pipeline.ts
  packages/server/src/entity/crud-pipeline.ts
  plans/action-pipeline-generics.md
  plans/crud-pipeline-generics.md
  reviews/action-pipeline-generics/phase-01-parameterize.md
  reviews/crud-pipeline-generics/phase-01-parameterize.md
Due: server

feat(ui,ui-server): automatic font fallback metrics for zero-CLS loading [#1143] (#1170)
  .changeset/font-fallback-metrics.md
  bun.lock
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/font-metrics.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/font-metrics.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/render-to-html.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/css/__tests__/font.test-d.ts
  packages/ui/src/css/__tests__/font.test.ts
  packages/ui/src/css/font.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/theme.ts
  packages/ui/src/index.ts
  plans/font-fallback-metrics.md
Due: ui, ui-server

feat(ui,ui-server): SSR lazy route resolution via two-pass sync pipeline (#1169)
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/router/__tests__/router-view.test.ts
  packages/ui/src/router/router-view.ts
  packages/ui/src/ssr/ssr-render-context.ts
  plans/ssr-lazy-route-resolution.md
  sites/landing/src/app.tsx
  sites/landing/src/pages/manifesto.tsx
Due: ui, ui-server

fix(cloudflare): use fresh Response per mock call to avoid stream reuse error (#1171)
  packages/cloudflare/tests/handler.test.ts
Due: none

feat(ui): Image component with build-time optimization [#1147] (#1168)
  .changeset/image-component-build-optimization.md
  bun.lock
  packages/ui-server/package.json
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/bun-plugin/__tests__/image-paths.test.ts
  packages/ui-server/src/bun-plugin/__tests__/image-processor.test.ts
  packages/ui-server/src/bun-plugin/__tests__/image-transform.test.ts
  packages/ui-server/src/bun-plugin/image-paths.ts
  packages/ui-server/src/bun-plugin/image-processor.ts
  packages/ui-server/src/bun-plugin/image-transform.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui/src/image/__tests__/image.test-d.ts
  packages/ui/src/image/__tests__/image.test.ts
  packages/ui/src/image/image.ts
  packages/ui/src/image/types.ts
  packages/ui/src/index.ts
  plans/image-component-build-optimization.md
  reviews/image-component/phase-01-05-implementation.md
  sites/landing/src/components/founders.tsx
Due: ui, ui-server

fix: package release correctness and field tracker telemetry (#1173)
  .changeset/field-tracker-telemetry.md
  .changeset/fix-package-release-correctness.md
  packages/create-vertz-app/package.json
  packages/ui-server/src/__tests__/diagnostics-collector.test.ts
  packages/ui-server/src/diagnostics-collector.ts
  packages/ui/src/store/__tests__/field-selection-tracker.test.ts
  packages/ui/src/store/field-selection-tracker.ts
  packages/vertz/__tests__/subpath-exports.test.ts
  packages/vertz/package.json
  turbo.json
Due: ui, ui-server

perf(ui,ui-server): SSR delivery optimizations [#1172] (#1176)
  .changeset/ssr-delivery-optimizations.md
  packages/ui-server/src/__tests__/render-to-html.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/render-to-html.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-html.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui/src/css/__tests__/font.test.ts
  packages/ui/src/css/__tests__/theme.test.ts
  packages/ui/src/css/font.ts
  packages/ui/src/css/index.ts
  packages/ui/src/css/public.ts
  packages/ui/src/css/theme.ts
  packages/ui/src/index.ts
  plans/ssr-delivery-optimizations.md
  reviews/ssr-delivery-optimizations/phase-01-04-all-phases.md
Due: ui, ui-server

fix(ui-primitives): align sideEffects metadata with shared-chunk build [#1160] (#1175)
  .changeset/fix-ui-primitives-tree-shaking.md
  packages/ui-primitives/package.json
  tests/tree-shaking/tree-shaking.test.ts
Due: none

docs(cli): POC cli-to-compiler build contract (#1177)
  packages/cli/src/pipeline/__tests__/orchestrator.test.ts
  packages/cli/src/pipeline/orchestrator.ts
  plans/package-runtime-hardening-implementation.md
  plans/package-runtime-hardening.md
  plans/poc-cli-ui-compiler-contract.md
  reviews/package-runtime-hardening/phase-04-cli-build-ui.md
  reviews/package-runtime-hardening/poc-cli-compiler-contract.md
Due: cli

feat(db,server): add transaction support with full model delegates (#1159) (#1179)
  .changeset/auth-transactional-writes.md
  packages/db/src/client/__tests__/transaction.test.ts
  packages/db/src/client/database.ts
  packages/db/src/client/driver.ts
  packages/db/src/client/index.ts
  packages/db/src/client/postgres-driver.ts
  packages/db/src/index.ts
  packages/docs/guides/db/overview.mdx
  packages/docs/guides/db/queries.mdx
  packages/docs/guides/server/services.mdx
  packages/server/src/auth/__tests__/db-plan-store.test.ts
  packages/server/src/auth/__tests__/test-db-helper.ts
  packages/server/src/auth/db-plan-store.ts
  packages/server/src/auth/db-types.ts
  plans/auth-transactional-writes.md
Due: db, server

feat(ui,ui-server,cli): static pre-rendering build pipeline [Phase 3] (#1180)
  bun.lock
  packages/cli/src/commands/__tests__/start.test.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/prerender.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/prerender.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-render.ts
  packages/ui-server/src/ssr/index.ts
  packages/ui-server/src/template-inject.ts
  packages/ui/src/router/__tests__/define-routes.test.ts
  packages/ui/src/router/__tests__/navigate.test.ts
  packages/ui/src/router/define-routes.ts
  packages/ui/src/router/navigate.ts
  packages/ui/src/ssr/ssr-render-context.ts
  plans/static-prerender-build.md
  sites/landing/package.json
  sites/landing/wrangler.toml
Due: cli, ui, ui-server

fix(landing): resolve vertz CLI path for workspace builds (#1181)
  sites/landing/package.json
Due: none

docs: benchmark plan
  plans/ai-productivity-benchmark-pipeline.md
Due: none

fix(ui-server): inject theme and global CSS in pre-rendered HTML (#1182)
  packages/ui-server/src/__tests__/prerender.test.ts
  packages/ui-server/src/__tests__/template-inject.test.ts
  packages/ui-server/src/prerender.ts
  packages/ui-server/src/template-inject.ts
Due: ui-server

perf(cli): inject modulepreload links for JS chunks in build pipeline (#1183)
  packages/cli/src/production-build/__tests__/ui-build-pipeline.test.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
Due: cli

perf(landing): instant SPA navigation with framework Link component (#1184)
  packages/cli/src/commands/build.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui/src/__tests__/subpath-exports.test.ts
  packages/ui/src/index.ts
  packages/ui/src/router/__tests__/link.test.ts
  packages/ui/src/router/index.ts
  packages/ui/src/router/link.ts
  packages/ui/src/router/public.ts
  sites/landing/package.json
  sites/landing/public/_headers
  sites/landing/public/favicon.svg
  sites/landing/public/site.webmanifest
  sites/landing/scripts/pre-warm.ts
  sites/landing/src/app.tsx
  sites/landing/src/components/footer.tsx
  sites/landing/src/components/founders.tsx
  sites/landing/src/components/get-started.tsx
  sites/landing/src/components/glue-code.tsx
  sites/landing/src/components/hero.tsx
  sites/landing/src/components/nav.tsx
  sites/landing/src/components/the-stack.tsx
  sites/landing/src/components/type-error-demo.tsx
  sites/landing/src/components/why-vertz.tsx
  sites/landing/src/worker.ts
  sites/landing/wrangler.toml
Due: cli, ui

fix(landing): correct image paths in founders component (#1189)
  sites/landing/src/components/founders.tsx
Due: none

fix(ui-server): mock console.error in fast-refresh factory crash test (#1190)
  packages/ui-server/src/__tests__/fast-refresh-runtime.test.ts
Due: none

feat(integration-tests): add cloudflare runtime adapter coverage (#1158) (#1192)
  bun.lock
  packages/integration-tests/package.json
  packages/integration-tests/src/runtime-adapters/cloudflare.test.ts
  packages/integration-tests/src/runtime-adapters/cloudflare.ts
  packages/integration-tests/src/runtime-adapters/index.ts
Due: none

docs(plans): complete Cloudflare runtime adapter harness POC (#1157) (#1191)
  plans/package-runtime-hardening.md
  plans/poc-cloudflare-runtime-harness.md
Due: none

feat(ui,cloudflare,ui-server): runtime image optimization at the edge (#1195)
  .changeset/edge-image-optimizer.md
  packages/cloudflare/package.json
  packages/cloudflare/src/handler.ts
  packages/cloudflare/src/image-optimizer.ts
  packages/cloudflare/tests/handler.test-d.ts
  packages/cloudflare/tests/handler.test.ts
  packages/cloudflare/tests/image-optimizer.test-d.ts
  packages/cloudflare/tests/image-optimizer.test.ts
  packages/ui-server/src/__tests__/dev-image-proxy-integration.test.ts
  packages/ui-server/src/__tests__/dev-image-proxy.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/dev-image-proxy.ts
  packages/ui/src/image/__tests__/config.test.ts
  packages/ui/src/image/__tests__/image.test-d.ts
  packages/ui/src/image/__tests__/image.test.ts
  packages/ui/src/image/config.ts
  packages/ui/src/image/image.ts
  packages/ui/src/index.ts
  reviews/edge-image-optimizer/phase-all-adversarial.md
Due: cloudflare, ui, ui-server

feat(ui,ui-compiler): nested form schemas and dynamic field access (#530) (#1197)
  packages/integration-tests/src/__tests__/form-walkthrough.test.ts
  packages/ui-compiler/src/analyzers/__tests__/jsx-analyzer.test.ts
  packages/ui-compiler/src/analyzers/jsx-analyzer.ts
  packages/ui-compiler/src/transformers/__tests__/signal-transformer.test.ts
  packages/ui-compiler/src/transformers/signal-transformer.ts
  packages/ui/src/form/__tests__/form-data.test.ts
  packages/ui/src/form/__tests__/form.test-d.ts
  packages/ui/src/form/__tests__/form.test.ts
  packages/ui/src/form/form-data.ts
  packages/ui/src/form/form.ts
  packages/ui/src/form/public.ts
  plans/nested-form-schemas.md
  reviews/nested-form-schemas/phase-all-implementation.md
Due: ui, ui-compiler

fix(ui-server): eliminate flaky timer leak in SSR lazy component test (#1198)
  packages/ui-server/src/__tests__/ssr-render.test.ts
Due: none

feat(compiler): automatic per-page code splitting in route definitions (#1193)
  .changeset/route-splitting-transform.md
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-compiler/src/index.ts
  packages/ui-compiler/src/transformers/__tests__/route-splitting-transformer.test.ts
  packages/ui-compiler/src/transformers/route-splitting-transformer.ts
  packages/ui-server/src/bun-plugin/__tests__/route-splitting-plugin.test.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/bun-plugin/types.ts
  plans/auto-route-splitting.md
Due: cli, ui-compiler, ui-server

feat(ui): islands architecture for selective hydration (#1194)
  .claude/rules/workflow.md
  benchmarks/generate-app.mjs
  examples/component-catalog/src/app.tsx
  examples/task-manager/e2e/runtime-error-overlay.spec.ts
  examples/task-manager/e2e/screenshots/fix-01-before-dialog.png
  examples/task-manager/e2e/screenshots/fix-02-dialog-open.png
  examples/task-manager/e2e/screenshots/fix-03-dialog-closed.png
  examples/task-manager/e2e/screenshots/fix-04-tabs-details.png
  examples/task-manager/e2e/screenshots/fix-05-tabs-activity.png
  examples/task-manager/playwright.config.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/production-build/ui-build-pipeline.ts
  packages/ui-server/src/__tests__/strip-scripts.test.ts
  packages/ui-server/src/prerender.ts
  packages/ui-server/src/ssr/index.ts
  packages/ui/src/hydrate/__tests__/island-hydrate.test.ts
  packages/ui/src/hydrate/component-registry.ts
  packages/ui/src/hydrate/index.ts
  packages/ui/src/hydrate/island-hydrate.ts
  packages/ui/src/index.ts
  packages/ui/src/island/__tests__/island.test.ts
  packages/ui/src/island/island.ts
  plans/server-only-components.md
  sites/landing-nextjs-vercel/src/app/layout.tsx
  sites/landing/src/components/copy-button.tsx
  sites/landing/src/components/founders.tsx
  sites/landing/src/components/hero.tsx
  sites/landing/src/styles/theme.ts
  sites/landing/src/worker.ts
Due: cli, ui, ui-server

feat(ui,ui-server): Island hydration + compiler auto-ID injection (#1199)
  packages/ui-server/src/bun-plugin/__tests__/island-id-inject.test.ts
  packages/ui-server/src/bun-plugin/island-id-inject.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui/src/island/island.ts
  sites/landing/src/components/hero.tsx
Due: ui, ui-server

feat(auth): auth-entity bridge via onUserCreated callback (#1200)
  packages/errors/src/domain/auth.ts
  packages/integration-tests/src/__tests__/auth-entity-bridge.test.ts
  packages/integration-tests/src/__tests__/auth-oauth.test.ts
  packages/server/src/auth/__tests__/discord.test.ts
  packages/server/src/auth/__tests__/github.test.ts
  packages/server/src/auth/__tests__/google.test.ts
  packages/server/src/auth/__tests__/oauth-routes.test.ts
  packages/server/src/auth/__tests__/on-user-created.test.ts
  packages/server/src/auth/__tests__/shared-user-store.tests.ts
  packages/server/src/auth/__tests__/types.test-d.ts
  packages/server/src/auth/__tests__/user-store.test.ts
  packages/server/src/auth/db-user-store.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/providers/discord.ts
  packages/server/src/auth/providers/github.ts
  packages/server/src/auth/providers/google.ts
  packages/server/src/auth/providers/index.ts
  packages/server/src/auth/types.ts
  packages/server/src/auth/user-store.ts
  packages/server/src/create-server.ts
  packages/server/src/index.ts
  plans/auth-entity-bridge.md
  plans/oauth-profile-mapping.md
  reviews/auth-entity-bridge/phase-01-on-user-created.md
  reviews/auth-entity-bridge/phase-02-remove-map-profile.md
  reviews/oauth-profile-mapping/phase-01-implementation.md
Due: errors, server

fix(db): handle null direct values in where clause as IS NULL (#1212)
  .changeset/fix-db-null-where.md
  packages/db/src/adapters/__tests__/sql-utils.test.ts
  packages/db/src/adapters/sql-utils.ts
  packages/db/src/query/__tests__/crud.test.ts
  packages/db/src/sql/__tests__/where.test.ts
  packages/db/src/sql/where.ts
  packages/server/src/auth/db-session-store.ts
Due: db, server

feat(auth): signOut with redirect option (#1213)
  packages/ui/src/auth/__tests__/auth-context.test-d.ts
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/auth-context.ts
  packages/ui/src/auth/auth-types.ts
  packages/ui/src/auth/public.ts
  plans/signout-redirect.md
Due: ui

feat(auth): ProtectedRoute component for auth-gated routes (#1202) (#1214)
  packages/docs/guides/ui/auth.mdx
  packages/ui/src/auth/__tests__/protected-route.test.ts
  packages/ui/src/auth/protected-route.ts
  packages/ui/src/auth/public.ts
  plans/protected-route-component.md
Due: ui

feat(ui-server): SSR session injection to eliminate auth loading flash (#1204) (#1216)
  .changeset/ssr-session-injection.md
  packages/cli/src/dev-server/__tests__/fullstack-server.test.ts
  packages/cli/src/dev-server/fullstack-server.ts
  packages/server/src/auth/__tests__/resolve-session-for-ssr.test.ts
  packages/server/src/auth/index.ts
  packages/server/src/auth/resolve-session-for-ssr.ts
  packages/server/src/auth/types.ts
  packages/ui-server/src/__tests__/bun-dev-server.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/template-inject.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/prerender.ts
  packages/ui-server/src/ssr-access-set.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-session.ts
  packages/ui-server/src/template-inject.ts
  plans/ssr-session-injection.md
Due: cli, server, ui-server

feat(auth): OAuth provider metadata and login button components (#1206) (#1215)
  packages/server/src/auth/__tests__/oauth-routes.test.ts
  packages/server/src/auth/index.ts
  packages/ui-compiler/src/signal-api-registry.ts
  packages/ui/reactivity.json
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/__tests__/oauth-button.test.ts
  packages/ui/src/auth/__tests__/provider-icons.test.ts
  packages/ui/src/auth/auth-context.ts
  packages/ui/src/auth/auth-types.ts
  packages/ui/src/auth/oauth-button.ts
  packages/ui/src/auth/oauth-buttons.ts
  packages/ui/src/auth/provider-icons.ts
  packages/ui/src/auth/public.ts
  plans/oauth-provider-metadata-login-buttons.md
Due: ui, ui-compiler

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
