Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

codecov.yml:

# Codecov configuration for the vertz monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    # Overall project-level coverage gate
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the PR check if Codecov is unreachable
        informational: true

    # Per-PR coverage diff â€” show if the PR decreases coverage
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Exclude integration tests and test files from coverage
ignore:
  - "packages/integration-tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test-d.ts"
  - "**/index.ts"
  - "ci/**"
  - "biome-plugins/**"

# Flag-based coverage for per-package tracking
flags:
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  cli-runtime:
    paths:
      - packages/cli-runtime/src/
    carryforward: true
  cloudflare:
    paths:
      - packages/cloudflare/src/
    carryforward: true
  codegen:
    paths:
      - packages/codegen/src/
    carryforward: true
  compiler:
    paths:
      - packages/compiler/src/
    carryforward: true
  core:
    paths:
      - packages/core/src/
    carryforward: true
  db:
    paths:
      - packages/db/src/
    carryforward: true
  errors:
    paths:
      - packages/errors/src/
    carryforward: true
  fetch:
    paths:
      - packages/fetch/src/
    carryforward: true
  schema:
    paths:
      - packages/schema/src/
    carryforward: true
  server:
    paths:
      - packages/server/src/
    carryforward: true
  testing:
    paths:
      - packages/testing/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true
  ui:
    paths:
      - packages/ui/src/
    carryforward: true
  ui-canvas:
    paths:
      - packages/ui-canvas/src/
    carryforward: true
  ui-compiler:
    paths:
      - packages/ui-compiler/src/
    carryforward: true
  ui-primitives:
    paths:
      - packages/ui-primitives/src/
    carryforward: true
  ui-server:
    paths:
      - packages/ui-server/src/
    carryforward: true

fix(runtime): ship CLI shims so npm creates bin links (#2387)
  .changeset/fix-runtime-bin-shim.md
  packages/runtime/.gitignore
  packages/runtime/cli-exec.js
  packages/runtime/cli.js
  packages/runtime/index.test.ts
  packages/runtime/package.json
  scripts/link-runtime.sh
Due: none

fix(scaffold): use rules.public in templates, add anti-pattern docs (#2390)
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/common-mistakes.mdx
  packages/mint-docs/guides/configuration.mdx
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/guides/ui/components.mdx
  packages/vertz/package.json
  packages/vertz/src/ui-components.ts
Due: none

docs: list available templates on installation page (#2342)
  packages/mint-docs/installation.mdx
Due: none

fix(test): complete @vertz/test import surface (#2371)
  examples/contacts-api/package.json
  examples/contacts-api/test/api.test.ts
  examples/contacts-api/test/codegen.test.ts
  examples/entity-todo/package.json
  examples/entity-todo/src/__tests__/api.test.ts
  examples/entity-todo/src/__tests__/ssr.test.ts
  examples/entity-todo/src/tests/todo-form.test.ts
  examples/entity-todo/src/tests/todo-list.test.ts
  examples/linear/package.json
  examples/linear/src/api/entitlement-access.test.ts
  examples/linear/src/api/schema.test.ts
  examples/linear/src/api/seed.test.ts
  examples/task-manager/package.json
  examples/task-manager/src/__tests__/routing-bug.test.ts
  examples/task-manager/src/__tests__/ssr.test.ts
  examples/task-manager/src/tests/confirm-dialog.test.ts
  examples/task-manager/src/tests/router.test.ts
  examples/task-manager/src/tests/task-form.test.ts
  examples/task-manager/src/tests/task-list.test.ts
  examples/task-manager/test-setup.ts
  native/Cargo.lock
  native/vtz/src/main.rs
  native/vtz/src/test/codemod.rs
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/test/README.md
Due: none

fix(test): update lockfile for @vertz/test workspace deps
  bun.lock
Due: none

fix(create-vertz): use workspace:^ to prevent broken npm dep chain (#2342)
  .changeset/fix-create-vertz-dep.md
  packages/create-vertz/package.json
  packages/mint-docs/installation.mdx
Due: none

feat(fetch): add queryKey() utility for TanStack Query integration (#2367)
  packages/fetch/src/index.ts
  packages/fetch/src/query-key.test.ts
  packages/fetch/src/query-key.ts
  plans/2367-openapi-query-keys.md
Due: fetch

fix(fetch): address review findings for queryKey()
  packages/fetch/src/query-key.test.ts
  packages/fetch/src/query-key.ts
Due: fetch

fix(test): complete @vertz/test import surface (#2392)
  bun.lock
  examples/contacts-api/package.json
  examples/contacts-api/test/api.test.ts
  examples/contacts-api/test/codegen.test.ts
  examples/entity-todo/package.json
  examples/entity-todo/src/__tests__/api.test.ts
  examples/entity-todo/src/__tests__/ssr.test.ts
  examples/entity-todo/src/tests/todo-form.test.ts
  examples/entity-todo/src/tests/todo-list.test.ts
  examples/linear/package.json
  examples/linear/src/api/entitlement-access.test.ts
  examples/linear/src/api/schema.test.ts
  examples/linear/src/api/seed.test.ts
  examples/task-manager/package.json
  examples/task-manager/src/__tests__/routing-bug.test.ts
  examples/task-manager/src/__tests__/ssr.test.ts
  examples/task-manager/src/tests/confirm-dialog.test.ts
  examples/task-manager/src/tests/router.test.ts
  examples/task-manager/src/tests/task-form.test.ts
  examples/task-manager/src/tests/task-list.test.ts
  examples/task-manager/test-setup.ts
  native/Cargo.lock
  native/vtz/src/main.rs
  native/vtz/src/test/codemod.rs
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/test/README.md
Due: none

fix(create-vertz): broken npm dep chain + docs template listing (#2393)
  .changeset/fix-create-vertz-dep.md
  packages/create-vertz/package.json
  packages/mint-docs/installation.mdx
Due: none

feat(fetch): add queryKey() utility for TanStack Query integration (#2394)
  packages/fetch/src/index.ts
  packages/fetch/src/query-key.test.ts
  packages/fetch/src/query-key.ts
  plans/2367-openapi-query-keys.md
Due: fetch

fix(dev-orchestrator): replace `any` with `unknown` in Orchestrator interface
  sites/dev-orchestrator/src/orchestrator.ts
Due: none

fix(ci): use oven-sh/setup-bun in preview-task-manager workflow
  .github/workflows/preview-task-manager.yml
Due: none

fix(ci): exclude dev-orchestrator from all CI turbo filters
  package.json
Due: none

fix(ci): use bun test for dev-orchestrator, exclude from pre-push hook
  lefthook.yml
  sites/dev-orchestrator/package.json
Due: none

fix(ci): move working-directory inside wrangler-action with: block
  .github/workflows/preview-task-manager.yml
Due: none

docs(scaffold): add dev server MCP tools guide and template rules
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/dev-server-tools.mdx
Due: none

fix(docs): format dev-server-tools.mdx with oxfmt
  packages/mint-docs/guides/dev-server-tools.mdx
Due: none

docs(scaffold): add dev server MCP tools guide and template rules (#2395)
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/dev-server-tools.mdx
Due: none

fix(scaffold): remove dev-server-tools template and docs
  packages/create-vertz-app/src/scaffold.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/docs.json
  packages/mint-docs/guides/dev-server-tools.mdx
Due: none

fix(ui): correct native <select> value binding and reactivity
  native/Cargo.lock
  native/vertz-compiler-core/src/jsx_transformer.rs
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
  packages/ui/src/jsx-runtime/__tests__/jsx-idl-props.test.ts
  packages/ui/src/jsx-runtime/index.ts
Due: ui-server

feat(codegen): extract allowWhere/allowOrderBy into compiler IR and codegen IR
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/ir/types.ts
Due: codegen, compiler

fix(codegen): address review findings — PascalCase, type tests, changeset
  .changeset/sdk-type-safe-query-params.md
  packages/codegen/src/__tests__/entity-types-query.test.ts
  packages/codegen/src/__tests__/sdk-query-types.test-d.ts
  packages/codegen/src/generators/entity-types-generator.ts
  reviews/sdk-type-safe-query-params/phase-all-review.md
Due: codegen

feat(codegen): generate WhereInput, OrderByInput, IncludeInput, ListQuery, GetQuery types
  packages/codegen/src/__tests__/entity-types-query.test.ts
  packages/codegen/src/generators/entity-types-generator.ts
Due: codegen

feat(codegen): wire typed query params into SDK generator
  packages/codegen/src/__tests__/entity-sdk-query-types.test.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
Due: codegen

chore(codegen): fix oxfmt formatting
  packages/codegen/src/__tests__/entity-sdk-query-types.test.ts
  packages/codegen/src/__tests__/entity-types-query.test.ts
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/codegen/src/generators/entity-types-generator.ts
Due: codegen

fix(ci): use esbuild for task-manager worker deployment
  .github/workflows/preview-task-manager.yml
Due: none

feat(codegen): type-safe query params for generated SDK (#2398)
  .changeset/sdk-type-safe-query-params.md
  packages/codegen/src/__tests__/entity-sdk-query-types.test.ts
  packages/codegen/src/__tests__/entity-types-query.test.ts
  packages/codegen/src/__tests__/ir-adapter-entities.test.ts
  packages/codegen/src/__tests__/sdk-query-types.test-d.ts
  packages/codegen/src/generators/__tests__/entity-sdk-generator.test.ts
  packages/codegen/src/generators/entity-sdk-generator.ts
  packages/codegen/src/generators/entity-types-generator.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/analyzers/__tests__/entity-analyzer.test.ts
  packages/compiler/src/analyzers/entity-analyzer.ts
  packages/compiler/src/ir/types.ts
  reviews/sdk-type-safe-query-params/phase-all-review.md
Due: codegen, compiler

fix(ci): update boolean attribute test and use bunx for turbo in CI
  .github/workflows/preview-task-manager.yml
  packages/ui/src/jsx-runtime/__tests__/jsx-runtime.test.ts
Due: none

chore(ci): remove task-manager preview deploy workflow
  .github/workflows/preview-task-manager.yml
Due: none

fix(ui): correct native <select> value binding and reactivity (#2399)
  .github/workflows/preview-task-manager.yml
  native/Cargo.lock
  native/vertz-compiler-core/src/jsx_transformer.rs
  packages/ui-server/src/dom-shim/__tests__/dom-shim.test.ts
  packages/ui-server/src/dom-shim/ssr-element.ts
  packages/ui/src/jsx-runtime/__tests__/jsx-idl-props.test.ts
  packages/ui/src/jsx-runtime/__tests__/jsx-runtime.test.ts
  packages/ui/src/jsx-runtime/index.ts
Due: ui-server

style: format dev-server-tools.mdx
  packages/mint-docs/guides/dev-server-tools.mdx
Due: none

feat(mcp): add browser connect, disconnect, and snapshot tools
  native/vtz/src/server/mcp.rs
Due: none

feat(mcp): add browser interaction hub and list_tabs tool
  native/vtz/src/assets/interact-client.js
  native/vtz/src/bridge/mod.rs
  native/vtz/src/server/browser_hub.rs
  native/vtz/src/server/html_shell.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/mod.rs
  native/vtz/src/server/module_server.rs
  native/vtz/src/ssr/html_document.rs
  plans/mcp-browser-interaction.md
  plans/mcp-browser-interaction/phase-01-browser-hub-and-list-tabs.md
  plans/mcp-browser-interaction/phase-02-sessions-and-snapshot.md
  plans/mcp-browser-interaction/phase-03-core-interactions.md
  plans/mcp-browser-interaction/phase-04-form-interactions.md
  plans/mcp-browser-interaction/phase-05-wait-and-press-key.md
Due: none

feat(mcp): add press_key and wait tools, update docs
  native/vtz/src/server/mcp.rs
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/guides/dev-server-tools.mdx
Due: none

fix(mcp): address review findings for browser interaction
  native/Cargo.lock
  native/vtz/src/assets/interact-client.js
  native/vtz/src/server/browser_hub.rs
  native/vtz/src/server/mcp.rs
Due: none

feat(mcp): add browser fill_form and submit tools
  native/vtz/src/server/mcp.rs
Due: none

feat(mcp): add browser click, type, and select interaction tools
  native/vtz/src/server/mcp.rs
Due: none

feat(codegen): generate SDK methods for standalone services
  packages/codegen/src/__tests__/generators.test.ts
  packages/codegen/src/__tests__/ir-adapter.test.ts
  packages/codegen/src/__tests__/service-sdk-generator.test.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/generators/client-generator.ts
  packages/codegen/src/generators/service-sdk-generator.ts
  packages/codegen/src/index.ts
  packages/codegen/src/ir-adapter.ts
  packages/codegen/src/types.ts
  packages/compiler/src/__tests__/compiler.test.ts
  packages/compiler/src/__tests__/incremental.test.ts
  packages/compiler/src/analyzers/__tests__/service-analyzer.test.ts
  packages/compiler/src/analyzers/service-analyzer.ts
  packages/compiler/src/compiler.ts
  packages/compiler/src/index.ts
  packages/compiler/src/ir/builder.ts
  packages/compiler/src/ir/types.ts
  packages/compiler/src/validators/module-validator.ts
  plans/codegen-service-sdk.md
  plans/codegen-service-sdk/phase-01-compiler-ir.md
  plans/codegen-service-sdk/phase-02-codegen-ir.md
  plans/codegen-service-sdk/phase-03-sdk-generator.md
  plans/codegen-service-sdk/phase-04-client-integration.md
  plans/codegen-service-sdk/phase-05-e2e-acceptance.md
Due: codegen, compiler
