Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(db): typed JSONB operators — path() builder + jsonContains / jsonContainedBy / hasKey [#2868]
  .changeset/jsonb-typed-operators.md
  packages/db/src/__tests__/path.test.ts
  packages/db/src/client/__tests__/jsonb-typed-operators.test-d.ts
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/path.ts
  packages/db/src/schema/inference.ts
  packages/db/src/schema/jsonb-filter-brand.ts
  packages/db/src/schema/path-chain.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/__tests__/where.test.ts
  packages/db/src/sql/where.ts
  packages/mint-docs/guides/db/schema.mdx
Due: db

fix(db): address adversarial review findings on typed JSONB operators [#2868]
  packages/db/src/__tests__/path.test.ts
  packages/db/src/client/__tests__/jsonb-typed-operators.test-d.ts
  packages/db/src/index.ts
  packages/db/src/path.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/__tests__/where.test.ts
  packages/db/src/sql/where.ts
  packages/mint-docs/guides/db/schema.mdx
Due: db

docs(mint-docs): guide for reading and writing files with vtz
  packages/mint-docs/docs.json
  packages/mint-docs/guides/fs.mdx
Due: none

style(mint-docs): oxfmt table alignment in fs.mdx
  packages/mint-docs/guides/fs.mdx
Due: none

docs(mint-docs): guide for reading and writing files with vtz (#2900)
  packages/mint-docs/docs.json
  packages/mint-docs/guides/fs.mdx
Due: none

fix(vertz): auto-load import.meta.hot types from client-runtime subpaths [#2893] (#2895)
  .changeset/auto-load-import-meta-hot-types.md
  packages/mint-docs/guides/hmr-types.mdx
  packages/vertz/__tests__/subpath-exports.test.ts
  packages/vertz/package.json
  packages/vertz/scripts/inject-client-reference.mjs
Due: none

feat(db): typed JSONB operators — path() + jsonContains / jsonContainedBy / hasKey [#2868] (#2896)
  .changeset/jsonb-typed-operators.md
  packages/db/src/__tests__/path.test.ts
  packages/db/src/client/__tests__/jsonb-typed-operators.test-d.ts
  packages/db/src/d.ts
  packages/db/src/index.ts
  packages/db/src/path.ts
  packages/db/src/schema/inference.ts
  packages/db/src/schema/jsonb-filter-brand.ts
  packages/db/src/schema/path-chain.ts
  packages/db/src/sql/__tests__/sqlite-builders.test.ts
  packages/db/src/sql/__tests__/where.test.ts
  packages/db/src/sql/where.ts
  packages/mint-docs/guides/db/schema.mdx
Due: db

docs(mint-docs): guide for spawning processes with node:child_process
  packages/mint-docs/docs.json
  packages/mint-docs/guides/child-process.mdx
Due: none

docs(mint-docs): guide for spawning processes with node:child_process (#2901)
  packages/mint-docs/docs.json
  packages/mint-docs/guides/child-process.mdx
Due: none

fix(theme-shadcn): also emit --radius-none so token.radius.none resolves [#2898]
  packages/theme-shadcn/src/__tests__/globals.test.ts
  packages/theme-shadcn/src/base.ts
Due: none

fix(ui,ui-server): unwrap function thunks in __conditional + SSR normalizeChildren [#2899]
  .changeset/fix-conditional-unwrap-thunks-2899.md
  packages/ui-server/src/__tests__/server-jsx-runtime.test.ts
  packages/ui-server/src/jsx-runtime/index.ts
  packages/ui/src/dom/__tests__/conditional.test.ts
  packages/ui/src/dom/conditional.ts
Due: ui

fix(component-docs): preserve sidebar scroll on SPA navigation [#2903]
  packages/component-docs/src/app.tsx
  packages/component-docs/src/components/command-palette.tsx
  packages/component-docs/src/components/docs-layout.tsx
  packages/component-docs/src/components/sidebar.tsx
  packages/component-docs/src/pages/component-page.tsx
  packages/component-docs/src/pages/overview-page.tsx
Due: none

fix(component-docs): address review — overview layout, window-scroll reset, reactive activeClass [#2903]
  packages/component-docs/src/components/docs-layout.tsx
  packages/component-docs/src/components/sidebar.tsx
  packages/component-docs/src/pages/component-page.tsx
  packages/component-docs/src/styles/globals.ts
Due: none

fix(ui,ui-server): address review — hydration path, depth cap, E2E test [#2899]
  packages/ui-server/src/__tests__/server-jsx-runtime.test.ts
  packages/ui-server/src/jsx-runtime/index.ts
  packages/ui/src/dom/__tests__/conditional.test.ts
  packages/ui/src/dom/conditional.ts
Due: ui

fix(theme-shadcn): emit --radius-* scale vars so token.radius.* resolves [#2898]
  .changeset/fix-radius-scale-vars-2898.md
  packages/theme-shadcn/src/__tests__/globals.test.ts
  packages/theme-shadcn/src/base.ts
Due: none

fix(ui,theme-shadcn,component-docs): radius scale vars, __conditional thunk unwrap, sidebar scroll preservation (#2904)
  .changeset/fix-conditional-unwrap-thunks-2899.md
  .changeset/fix-radius-scale-vars-2898.md
  packages/component-docs/src/app.tsx
  packages/component-docs/src/components/command-palette.tsx
  packages/component-docs/src/components/docs-layout.tsx
  packages/component-docs/src/components/sidebar.tsx
  packages/component-docs/src/pages/component-page.tsx
  packages/component-docs/src/pages/overview-page.tsx
  packages/component-docs/src/styles/globals.ts
  packages/theme-shadcn/src/__tests__/globals.test.ts
  packages/theme-shadcn/src/base.ts
  packages/ui-server/src/__tests__/server-jsx-runtime.test.ts
  packages/ui-server/src/jsx-runtime/index.ts
  packages/ui/src/dom/__tests__/conditional.test.ts
  packages/ui/src/dom/conditional.ts
Due: ui

fix(db): route SQLite writes without RETURNING through execute() for accurate rowCount [#2890]
  packages/db/src/client/__tests__/sqlite-rowcount.test.ts
  packages/db/src/client/database.ts
  packages/db/src/query/__tests__/crud-jsonb-validator-writes.test.ts
Due: db

fix(native-compiler): preserve attr exprs in arrow-fn JSX props [#2897]
  native/Cargo.lock
  native/vertz-compiler-core/src/jsx_transformer.rs
  packages/ui-server/src/__tests__/compiler/native-compiler.test.ts
Due: none

fix(db): address adversarial review findings on #2890 SQLite rowCount fix
  packages/db/src/client/__tests__/sqlite-rowcount.test.ts
  packages/db/src/client/database.ts
  reviews/sqlite-rowcount-2890/phase-01-fix.md
Due: db

chore: changeset for #2890
  .changeset/fix-sqlite-rowcount-2890.md
Due: none

fix(native-compiler): preserve attr exprs in arrow-fn JSX props [#2897] (#2905)
  native/Cargo.lock
  native/vertz-compiler-core/src/jsx_transformer.rs
  packages/ui-server/src/__tests__/compiler/native-compiler.test.ts
Due: none

fix(db): route SQLite writes without RETURNING through execute() [#2890] (#2906)
  .changeset/fix-sqlite-rowcount-2890.md
  packages/db/src/client/__tests__/sqlite-rowcount.test.ts
  packages/db/src/client/database.ts
  packages/db/src/query/__tests__/crud-jsonb-validator-writes.test.ts
  reviews/sqlite-rowcount-2890/phase-01-fix.md
Due: db

fix(db): stringify primitive values written to d.jsonb<T>() on SQLite [#2889]
  .changeset/fix-sqlite-jsonb-primitives-2889.md
  packages/db/src/client/__tests__/jsonb-parity.test.ts
  packages/db/src/d.ts
  packages/db/src/query/crud.ts
Due: db

test(db): cover createMany/updateMany/upsert primitive round-trip [#2889]
  packages/db/src/client/__tests__/jsonb-parity.test.ts
Due: none

fix(vtz): dedup redundant package versions when a single version satisfies every declared range [#2894]
  .changeset/fix-install-dedup-2894.md
  native/vtz/src/pm/mod.rs
  native/vtz/src/pm/resolver.rs
  reviews/fix-2894/phase-01-dedup.md
Due: none

fix(vtz): dedup redundant package versions when a single version satisfies every declared range [#2894] (#2909)
  .changeset/fix-install-dedup-2894.md
  native/vtz/src/pm/mod.rs
  native/vtz/src/pm/resolver.rs
  reviews/fix-2894/phase-01-dedup.md
Due: none

fix(vtz): distinguish cache lock contention from infra io errors [#2865]
  native/vtz/src/server/screenshot/fetcher.rs
Due: none

feat(vtz): screenshot::fetcher download path — Task 3b [#2865]
  native/Cargo.lock
  native/vtz/Cargo.toml
  native/vtz/src/server/screenshot/fetcher.rs
  native/vtz/src/server/screenshot/testdata/chrome-versions.json
Due: none

fix(vtz): address adversarial review findings for Task 3b [#2865]
  native/vtz/src/server/screenshot/fetcher.rs
Due: none

test(db): share PGlite instance across migrateStatus tests to fix CI timeout
  packages/db/src/cli/__tests__/status.test.ts
Due: none

feat(vtz): screenshot::fetcher download path — Task 3b [#2865] (#2910)
  native/Cargo.lock
  native/vtz/Cargo.toml
  native/vtz/src/server/screenshot/fetcher.rs
  native/vtz/src/server/screenshot/testdata/chrome-versions.json
Due: none

feat(vtz): screenshot::pool + chromium spawner — Task 4 [#2865]
  native/vtz/src/server/screenshot/chromium.rs
  native/vtz/src/server/screenshot/mod.rs
  native/vtz/src/server/screenshot/pool.rs
Due: none

fix(vtz): address Task 4 adversarial review — B1/B2 + SF cleanups [#2865]
  native/vtz/src/server/screenshot/chromium.rs
  native/vtz/src/server/screenshot/pool.rs
Due: none

chore(deps): pin esbuild to 0.27.3 via overrides (unblock CI)
  package.json
  vertz.lock
Due: none

fix(vtz): NB1 defer TTL close while captures hold Arc [#2865]
  native/vtz/src/server/screenshot/pool.rs
Due: none

fix(db): stringify primitive values written to d.jsonb<T>() on SQLite [#2889] (#2907)
  .changeset/fix-sqlite-jsonb-primitives-2889.md
  package.json
  packages/db/src/cli/__tests__/status.test.ts
  packages/db/src/client/__tests__/jsonb-parity.test.ts
  packages/db/src/d.ts
  packages/db/src/query/crud.ts
  vertz.lock
Due: db

feat(vtz): screenshot::pool + chromium spawner — Task 4 [#2865] (#2913)
  native/vtz/src/server/screenshot/chromium.rs
  native/vtz/src/server/screenshot/mod.rs
  native/vtz/src/server/screenshot/pool.rs
Due: none

fix(vtz): iterate install dedup until fixpoint so orphan optional binaries collapse [#2912]
  .changeset/fix-install-dedup-orphans-2912.md
  native/vtz/src/pm/resolver.rs
Due: none

feat(vtz): MCP tool vertz_browser_screenshot + http artifact route — Task 5 [#2865]
  native/vtz/src/server/diagnostics.rs
  native/vtz/src/server/http.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/server/screenshot/mod.rs
  native/vtz/tests/error_overlay.rs
Due: none

chore(ci): silence release workflow warnings
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  native/vertz-compiler/turbo.json
  packages/runtime/turbo.json
Due: none

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
