Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

feat(create-vertz-app): minimal preset — 5 files, CLI-first CLAUDE.md (#2176)
  packages/create-vertz-app/src/features/minimal.ts
  packages/create-vertz-app/src/features/registry.ts
  packages/create-vertz-app/src/prompts.ts
  packages/create-vertz-app/src/types.ts
  packages/create-vertz/bin/create-vertz.ts
Due: none

refactor(ui-server): move standalone modules from ui-compiler to ui-server/compiler
  packages/ui-server/src/__tests__/ssr-manifest-prefetch.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/bun-plugin/fast-refresh-codegen.ts
  packages/ui-server/src/bun-plugin/field-selection-inject.ts
  packages/ui-server/src/bun-plugin/field-selection-manifest.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/bun-plugin/types.ts
  packages/ui-server/src/compiler/component-prop-field-analyzer.ts
  packages/ui-server/src/compiler/css/code-splitting.ts
  packages/ui-server/src/compiler/css/dead-css.ts
  packages/ui-server/src/compiler/css/hmr.ts
  packages/ui-server/src/compiler/css/route-css-manifest.ts
  packages/ui-server/src/compiler/css/types.ts
  packages/ui-server/src/compiler/field-selection-analyzer.ts
  packages/ui-server/src/compiler/index.ts
  packages/ui-server/src/compiler/manifest-generator.ts
  packages/ui-server/src/compiler/manifest-resolver.ts
  packages/ui-server/src/compiler/prefetch-manifest.ts
  packages/ui-server/src/compiler/reactivity-manifest.ts
  packages/ui-server/src/compiler/signal-api-registry.ts
  packages/ui-server/src/compiler/type-generation/css-properties.ts
  packages/ui-server/src/compiler/type-generation/theme-types.ts
  packages/ui-server/src/compiler/types.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-manifest-prefetch.ts
  packages/ui-server/src/ssr-prefetch-dev.ts
  packages/ui-server/src/ssr-single-pass.ts
Due: ui-server

feat(create-vertz-app): add validation hooks to minimal CLAUDE.md (#2176)
  packages/create-vertz-app/src/features/minimal.ts
Due: none

refactor(ui-server): rewrite bun plugin to use native compiler exclusively
  packages/ui-server/src/__tests__/bun-plugin-onload.test.ts
  packages/ui-server/src/__tests__/native-compiler-loader.test.ts
  packages/ui-server/src/__tests__/native-compiler-plugin-integration.test.ts
  packages/ui-server/src/bun-plugin/__tests__/context-stable-ids.test.ts
  packages/ui-server/src/bun-plugin/__tests__/island-id-inject.test.ts
  packages/ui-server/src/bun-plugin/__tests__/route-splitting-plugin.test.ts
  packages/ui-server/src/bun-plugin/__tests__/sourcemap-offset.test.ts
  packages/ui-server/src/bun-plugin/context-stable-ids.ts
  packages/ui-server/src/bun-plugin/field-selection-manifest.ts
  packages/ui-server/src/bun-plugin/image-transform.ts
  packages/ui-server/src/bun-plugin/island-id-inject.ts
  packages/ui-server/src/bun-plugin/native-compiler-loader.ts
  packages/ui-server/src/bun-plugin/plugin.ts
  packages/ui-server/src/compiler/field-selection-analyzer.ts
  packages/ui-server/src/compiler/manifest-generator.ts
  packages/ui-server/src/compiler/manifest-resolver.ts
  packages/ui-server/src/compiler/prefetch-manifest.ts
Due: ui-server

feat(create-vertz-app): add Claude skills to minimal scaffold (#2176)
  packages/create-vertz-app/src/features/minimal.ts
Due: none

refactor: migrate all consumers from @vertz/ui-compiler to native compiler
  benchmarks/vertz/package.json
  examples/entity-todo/package.json
  examples/entity-todo/test-compiler-plugin.ts
  examples/linear/package.json
  examples/task-manager/package.json
  examples/task-manager/test-compiler-plugin.ts
  packages/component-docs/package.json
  packages/component-docs/test-compiler-plugin.ts
  packages/create-vertz-app/src/__tests__/scaffold.test.ts
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/docs/bunup.config.ts
  packages/docs/package.json
  packages/docs/test-compiler-plugin.ts
  packages/landing/benchmark-plugin.ts
  packages/landing/package.json
  packages/theme-shadcn/bunup.config.ts
  packages/theme-shadcn/package.json
  packages/theme-shadcn/test-compiler-plugin.ts
  packages/ui-auth/bunup.config.ts
  packages/ui-auth/package.json
  packages/ui-auth/test-compiler-plugin.ts
  packages/ui-primitives/bunup.config.ts
  packages/ui-primitives/package.json
  packages/ui-primitives/test-compiler-plugin.ts
  packages/ui-server/package.json
  packages/ui-server/src/__tests__/ssr-aot-benchmark.test.ts
  packages/ui-server/src/aot-manifest-build.ts
  packages/ui-server/src/compiler/index.ts
  packages/ui-server/src/compiler/library-plugin.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/ssr-aot-manifest-dev.ts
  packages/vertz/__tests__/subpath-exports.test.ts
  packages/vertz/package.json
  packages/vertz/src/ui-compiler.ts
Due: ui-server

feat(create-vertz-app): CLI-mandatory CLAUDE.md — force agent to use vertz add entity (#2176)
  packages/create-vertz-app/src/features/minimal.ts
Due: none

chore: update stale references to @vertz/ui-compiler
  .changeset/aot-raw-value-fix.md
  .changeset/fix-input-focus-loss.md
  .claude/rules/ui-components.md
  packages/ui-server/ARCHITECTURE.md
  packages/ui-server/src/ssr-aot-diagnostics.ts
  packages/vertz/README.md
Due: ui-server

chore: add changeset for ui-compiler removal
  .changeset/remove-ui-compiler.md
Due: none

fix: correct import path in ssr-manifest-prefetch test
  packages/ui-server/src/__tests__/ssr-manifest-prefetch.test.ts
Due: none

fix: correct contradictory NAPI snake_case comment
  packages/ui-server/src/compiler/native-compiler.ts
Due: ui-server

fix(ci): break cyclic dependency between ui-auth and ui-server
  bun.lock
  packages/ui-auth/bunup.config.ts
  packages/ui-auth/package.json
  packages/ui-auth/test-compiler-plugin.ts
Due: none

style: apply oxfmt formatting
  packages/ui-server/src/__tests__/compiler/native-compiler.test.ts
  packages/ui-server/src/compiler/index.ts
  packages/ui-server/src/compiler/native-compiler.ts
  packages/vertz/README.md
  packages/vertz/src/ui-compiler.ts
Due: ui-server

feat(create-vertz-app): remove dev.ts, use vertz dev (framework best practice) (#2176)
  packages/create-vertz-app/src/features/minimal.ts
Due: none

fix(ci): break ui-auth/ui-server cycle by removing ui-auth from ui-server devDeps
  bun.lock
  packages/ui-auth/bunup.config.ts
  packages/ui-auth/package.json
  packages/ui-auth/test-compiler-plugin.ts
  packages/ui-server/package.json
Due: none

fix(ci): add explicit type annotation for isolatedDeclarations
  packages/ui-server/src/compiler/signal-api-registry.ts
Due: ui-server

fix(ci): fall back to Bun JSX transpiler when native compiler binary is unavailable
  packages/ui-server/src/compiler/index.ts
  packages/ui-server/src/compiler/library-plugin.ts
  packages/ui-server/src/compiler/native-compiler.ts
Due: ui-server

fix(ci): skip ui-primitives tests until native compiler is available on CI
  package.json
Due: none

feat(agents): add token budget, parallel tools, context compression to ReAct loop
  packages/agents/src/index.ts
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/run.ts
  packages/agents/src/tool.ts
  packages/agents/src/types.ts
  packages/agents/src/workflow.ts
  plans/agents-loop-improvements.md
Due: none

fix(agents): address adversarial review findings for loop improvements
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/run.ts
Due: none

chore(agents): add changeset for loop improvements
  .changeset/agents-loop-improvements.md
Due: none

style(agents): format test file with oxfmt
  packages/agents/src/loop/react-loop.test.ts
Due: none

feat(agents): add token budget, parallel tools, context compression to ReAct loop (#2184)
  .changeset/agents-loop-improvements.md
  packages/agents/src/index.ts
  packages/agents/src/loop/react-loop.test.ts
  packages/agents/src/loop/react-loop.ts
  packages/agents/src/run.ts
  packages/agents/src/tool.ts
  packages/agents/src/types.ts
  packages/agents/src/workflow.ts
  plans/agents-loop-improvements.md
Due: none

fix(component-docs): set data-theme on <html> to prevent FOUC (#2160)
  packages/component-docs/src/worker.ts
Due: none

fix(server): add strict schema validation to CRUD endpoints
  packages/db/bunup.config.ts
  packages/db/src/schema-derive/table-to-schemas.test.ts
  packages/db/src/schema-derive/table-to-schemas.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-closure.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-tenant.test.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/crud-validation.test.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/crud-pipeline.ts
  plans/crud-schema-validation.md
Due: db, server

fix(server): address review findings for CRUD validation
  packages/server/src/entity/__tests__/crud-validation.test.ts
  packages/server/src/entity/crud-pipeline.ts
Due: server

fix(integration-tests): update tests for CRUD schema validation
  packages/integration-tests/src/__tests__/auth-session-entity-context.test.ts
  packages/integration-tests/src/__tests__/indirect-tenant-isolation.test.ts
  packages/integration-tests/src/__tests__/tenant-isolation.test.ts
Due: none

style(integration-tests): fix formatting in indirect-tenant-isolation
  packages/integration-tests/src/__tests__/indirect-tenant-isolation.test.ts
Due: none

fix(server): add strict schema validation to CRUD endpoints (#2187)
  packages/db/bunup.config.ts
  packages/db/src/schema-derive/table-to-schemas.test.ts
  packages/db/src/schema-derive/table-to-schemas.ts
  packages/integration-tests/src/__tests__/auth-session-entity-context.test.ts
  packages/integration-tests/src/__tests__/indirect-tenant-isolation.test.ts
  packages/integration-tests/src/__tests__/tenant-isolation.test.ts
  packages/server/src/__tests__/create-server.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-closure.test.ts
  packages/server/src/entity/__tests__/crud-pipeline-tenant.test.ts
  packages/server/src/entity/__tests__/crud-pipeline.test.ts
  packages/server/src/entity/__tests__/crud-validation.test.ts
  packages/server/src/entity/__tests__/e2e.test.ts
  packages/server/src/entity/__tests__/route-generator.test.ts
  packages/server/src/entity/crud-pipeline.ts
  plans/crud-schema-validation.md
Due: db, server

docs: add SDK auto-generation awareness to scaffolding and guides
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/guides/server/entities.mdx
  packages/mint-docs/guides/server/services.mdx
  packages/mint-docs/guides/ui/data-fetching.mdx
Due: none

chore: fix oxfmt formatting in MDX files
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/guides/server/services.mdx
Due: none

docs: add SDK auto-generation awareness to scaffolding and guides (#2188)
  packages/create-vertz-app/src/templates/__tests__/templates.test.ts
  packages/create-vertz-app/src/templates/index.ts
  packages/mint-docs/guides/llm-quick-reference.mdx
  packages/mint-docs/guides/server/entities.mdx
  packages/mint-docs/guides/server/services.mdx
  packages/mint-docs/guides/ui/data-fetching.mdx
Due: none

fix(ci): remove stale coverage package refs
  .github/workflows/ci.yml
  codecov.yml
  scripts/__tests__/ci-coverage-packages.test.ts
Due: none

fix(ci): remove stale coverage package refs (#2189)
  .github/workflows/ci.yml
  codecov.yml
  scripts/__tests__/ci-coverage-packages.test.ts
Due: none

docs(fetch): update README to reflect Result-based error handling
  packages/fetch/README.md
Due: none

style(fetch): fix README formatting
  packages/fetch/README.md
Due: none

docs(fetch): update README to reflect Result-based API (#2191)
  packages/fetch/README.md
Due: none

refactor(ui-server): rename ssr-render to ssr-shared, move ssrStreamNavQueries
  packages/ui-server/src/__tests__/aot-e2e-pipeline.test.ts
  packages/ui-server/src/__tests__/node-handler.test.ts
  packages/ui-server/src/__tests__/query-ssr-threshold.test.ts
  packages/ui-server/src/__tests__/ssr-aot-pipeline.test.ts
  packages/ui-server/src/__tests__/ssr-aot-poc.test.ts
  packages/ui-server/src/__tests__/ssr-css-treeshake.test.ts
  packages/ui-server/src/__tests__/ssr-handler.test.ts
  packages/ui-server/src/__tests__/ssr-render.test.ts
  packages/ui-server/src/__tests__/ssr-single-pass.test.ts
  packages/ui-server/src/bun-dev-server.ts
  packages/ui-server/src/index.ts
  packages/ui-server/src/node-handler.ts
  packages/ui-server/src/prerender.ts
  packages/ui-server/src/render-to-html.ts
  packages/ui-server/src/ssr-aot-pipeline.ts
  packages/ui-server/src/ssr-handler-shared.ts
  packages/ui-server/src/ssr-handler.ts
  packages/ui-server/src/ssr-shared.ts
  packages/ui-server/src/ssr-single-pass.ts
  packages/ui-server/src/ssr/index.ts
Due: ui-server

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
