Repository vertz-dev/vertz: changes, and which Codecov flags are due for each by the changed paths.
All: cli, cli-runtime, cloudflare, codegen, compiler, core, db, errors, fetch, schema, server, testing, tui, ui, ui-canvas, ui-compiler, ui-primitives, ui-server

fix(ui): AuthProvider SSR crash with partial auth SDK (#2302) (#2308)
  .changeset/fix-auth-ssr-crash.md
  packages/ui/src/auth/__tests__/auth-context.test.ts
  packages/ui/src/auth/auth-context.ts
Due: ui

fix(runtime): complete API route delegation for src/api/ fallback and handler guard (#2304)
  native/vtz/src/config.rs
  native/vtz/src/server/http.rs
  native/vtz/tests/parity/http_serving.rs
  plans/2304-api-route-delegation.md
  plans/api-route-delegation/phase-01-server-entry-detection.md
  plans/api-route-delegation/phase-02-handler-guard-error-messages.md
Due: none

feat(db): type low-level CRUD function args (#2285)
  packages/db/src/query/__tests__/crud-typed-args.test-d.ts
  packages/db/src/query/crud.ts
Due: db

test(db): add missing negative type tests for CRUD args (#2285)
  packages/db/src/query/__tests__/crud-typed-args.test-d.ts
Due: none

test(compiler): address review findings for auth-analyzer fallback (#2303)
  packages/compiler/src/analyzers/__tests__/auth-analyzer.test.ts
Due: none

fix(compiler): fallback to defineAuth() scan when auth identifier is unresolvable (#2303)
  packages/compiler/src/analyzers/__tests__/auth-analyzer.test.ts
  packages/compiler/src/analyzers/auth-analyzer.ts
Due: compiler

test(runtime): add integration test for has_api_handler() guard path (#2304)
  native/vtz/tests/parity/http_serving.rs
Due: none

feat(db): type nested include in IncludeOption (#2286)
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/client/database.ts
  packages/db/src/index.ts
  packages/db/src/schema/__tests__/inference.test-d.ts
  packages/db/src/schema/inference.ts
  plans/2286-typed-nested-include.md
  plans/2286-typed-nested-include/phase-01-typed-nested-include.md
Due: db

chore(db): add changeset and review for nested include types (#2286)
  .changeset/db-nested-include-types.md
  reviews/db-nested-include-types/phase-01-typed-nested-include.md
Due: none

fix(db): address review findings for nested include types (#2286)
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/schema/__tests__/inference.test-d.ts
  packages/db/src/schema/inference.ts
Due: db

fix(db): update ModelDelegate Extends test for TModels param (#2286)
  packages/db/src/__tests__/database-client-types.test-d.ts
Due: none

style(db): format nested include types with oxfmt (#2286)
  packages/db/src/schema/__tests__/inference.test-d.ts
  packages/db/src/schema/inference.ts
Due: db

feat(db): type nested include in IncludeOption (#2286) (#2314)
  .changeset/db-nested-include-types.md
  packages/db/src/__tests__/database-client-types.test-d.ts
  packages/db/src/__tests__/database-types.test-d.ts
  packages/db/src/client/database.ts
  packages/db/src/index.ts
  packages/db/src/schema/__tests__/inference.test-d.ts
  packages/db/src/schema/inference.ts
  plans/2286-typed-nested-include.md
  plans/2286-typed-nested-include/phase-01-typed-nested-include.md
  reviews/db-nested-include-types/phase-01-typed-nested-include.md
Due: db

fix(runtime): complete API route delegation (#2304) (#2313)
  native/vtz/src/config.rs
  native/vtz/src/server/http.rs
  native/vtz/tests/parity/http_serving.rs
  plans/2304-api-route-delegation.md
  plans/api-route-delegation/phase-01-server-entry-detection.md
  plans/api-route-delegation/phase-02-handler-guard-error-messages.md
Due: none

feat(db): type low-level CRUD function args (#2285) (#2312)
  packages/db/src/query/__tests__/crud-typed-args.test-d.ts
  packages/db/src/query/crud.ts
Due: db

fix(auth): resolveAllLimitStates uses level-specific defaultPlan (#2287) (#2311)
  .changeset/fix-limit-level-defaults.md
  packages/server/src/auth/__tests__/multi-level-access-context.test.ts
  packages/server/src/auth/access-context.ts
Due: server

fix(runtime): fix island/hydration test failures in vertz test (#2143)
  native/vtz/src/test/dom_shim.rs
  native/vtz/src/test/executor.rs
  packages/ui/src/island/__tests__/island.test.ts
Due: none

fix(compiler): auth codegen fallback for unresolvable imports (#2310)
  packages/compiler/src/analyzers/__tests__/auth-analyzer.test.ts
  packages/compiler/src/analyzers/auth-analyzer.ts
Due: compiler

fix(runtime): fix island/hydration test failures in vertz test (#2143) (#2316)
  native/vtz/src/test/dom_shim.rs
  native/vtz/src/test/executor.rs
  packages/ui/src/island/__tests__/island.test.ts
Due: none

fix(runtime): stub node:/bun: built-ins in dev module server (#2315)
  native/vtz/src/compiler/import_rewriter.rs
  native/vtz/src/server/module_server.rs
Due: none

chore: add changeset for runtime builtin stubs fix
  .changeset/fix-runtime-builtin-stubs.md
Due: none

feat(runtime): kill gate validation tests for Phase 2a (#2031)
  native/vtz/tests/kill_gate.rs
Due: none

feat(runtime): API route resolution + supervisor-bus integration (#2031)
  native/vtz/src/runtime/isolate_supervisor.rs
  native/vtz/tests/http_multi_isolate.rs
Due: none

fix(runtime): address Phase 1 review findings (#2031)
  native/vtz/src/runtime/entity_graph.rs
  native/vtz/src/runtime/isolate_label.rs
  native/vtz/tests/entity_graph.rs
Due: none

feat(runtime): message bus with cross-isolate routing + deadlock detection (#2031)
  native/vtz/src/runtime/message_bus.rs
  native/vtz/src/runtime/mod.rs
Due: none

feat(runtime): entity graph analysis + isolate labels (#2031)
  native/vtz/src/runtime/entity_graph.rs
  native/vtz/src/runtime/isolate_label.rs
  native/vtz/src/runtime/mod.rs
  plans/runtime-phase2a/phase-01-entity-graph.md
  plans/runtime-phase2a/phase-02-isolate-supervisor.md
  plans/runtime-phase2a/phase-03-message-bus.md
  plans/runtime-phase2a/phase-04-http-integration.md
  plans/runtime-phase2a/phase-05-strict-serialization.md
  plans/vertz-runtime.md
  reviews/vertz-runtime/phase-02-dx-review.md
  reviews/vertz-runtime/phase-02-technical-review.md
Due: none

feat(runtime): isolate supervisor with entity grouping + thread assignment (#2031)
  native/vtz/src/runtime/isolate_supervisor.rs
  native/vtz/src/runtime/mod.rs
Due: none

fix(runtime): address Phase 4 review findings (#2031)
  native/vtz/src/runtime/isolate_supervisor.rs
  native/vtz/tests/http_multi_isolate.rs
  reviews/vertz-runtime/phase-04-routing-review.md
Due: none

fix(runtime): address Phase 3 message bus review findings (#2031)
  native/vtz/src/runtime/message_bus.rs
  reviews/vertz-runtime/phase-03-message-bus-review.md
Due: none

fix(runtime): address review findings — console.warn, comment injection, tests
  native/vtz/src/server/module_server.rs
  reviews/fix-runtime-builtins/phase-01-builtin-stubs.md
Due: none

feat(runtime): implement component render dispatch with V8 execution (#2046)
  native/vtz/src/runtime/persistent_isolate.rs
Due: none

fix(runtime): fix CSS sanitizer UTF-8 handling and add ssr_disabled check (#2046)
  native/vtz/src/server/mcp.rs
  native/vtz/src/ssr/component_render.rs
Due: none

feat(runtime): wire vertz_render_component MCP tool with handler and tests (#2046)
  native/vtz/src/server/mcp.rs
Due: none

feat(runtime): add component render types, HTML assembly, and path validation (#2046)
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/ssr/component_render.rs
  native/vtz/src/ssr/mod.rs
  plans/2046-mcp-render-component.md
  plans/2046-mcp-render-component/phase-01-isolate-types-and-html-assembly.md
  plans/2046-mcp-render-component/phase-02-component-render-dispatch.md
  plans/2046-mcp-render-component/phase-03-mcp-tool-integration.md
Due: none

fix(runtime): address review findings for vertz_render_component (#2046)
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/ssr/component_render.rs
Due: none

feat(runtime): component-level rendering via MCP tool (#2046) (#2319)
  native/vtz/src/runtime/persistent_isolate.rs
  native/vtz/src/server/mcp.rs
  native/vtz/src/ssr/component_render.rs
  native/vtz/src/ssr/mod.rs
  plans/2046-mcp-render-component.md
  plans/2046-mcp-render-component/phase-01-isolate-types-and-html-assembly.md
  plans/2046-mcp-render-component/phase-02-component-render-dispatch.md
  plans/2046-mcp-render-component/phase-03-mcp-tool-integration.md
Due: none

feat(runtime): multi-isolate entity workers + message bus (#2317)
  native/vtz/src/runtime/entity_graph.rs
  native/vtz/src/runtime/isolate_label.rs
  native/vtz/src/runtime/isolate_supervisor.rs
  native/vtz/src/runtime/message_bus.rs
  native/vtz/src/runtime/mod.rs
  native/vtz/tests/entity_graph.rs
  native/vtz/tests/http_multi_isolate.rs
  native/vtz/tests/kill_gate.rs
  plans/runtime-phase2a/phase-01-entity-graph.md
  plans/runtime-phase2a/phase-02-isolate-supervisor.md
  plans/runtime-phase2a/phase-03-message-bus.md
  plans/runtime-phase2a/phase-04-http-integration.md
  plans/runtime-phase2a/phase-05-strict-serialization.md
  plans/vertz-runtime.md
  reviews/vertz-runtime/phase-02-dx-review.md
  reviews/vertz-runtime/phase-02-technical-review.md
  reviews/vertz-runtime/phase-03-message-bus-review.md
  reviews/vertz-runtime/phase-04-routing-review.md
Due: none

fix(runtime): stub node:/bun: built-ins in dev module server (#2315) (#2318)
  .changeset/fix-runtime-builtin-stubs.md
  native/vtz/src/compiler/import_rewriter.rs
  native/vtz/src/server/module_server.rs
  reviews/fix-runtime-builtins/phase-01-builtin-stubs.md
Due: none

feat(runtime): Phase 4 design doc + implementation plans — native signal runtime + parallel SSR (#2033)
  plans/native-signal-runtime-parallel-ssr.md
  plans/native-signal-runtime-parallel-ssr/phase-01-ssr-isolate-pool.md
  plans/native-signal-runtime-parallel-ssr/phase-02-rust-signal-graph.md
  plans/native-signal-runtime-parallel-ssr/phase-03-streaming-ssr.md
Due: none

feat(server): thread TModels through entity TypedIncludeOption (#2309)
  packages/server/src/entity/__tests__/vertzql-types.test-d.ts
  packages/server/src/entity/types.ts
  plans/2309-entity-typed-include.md
  plans/2309-entity-typed-include/phase-01-thread-tmodels.md
Due: server

Path conditions:
  cli: any of: packages/cli/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cli-runtime: any of: packages/cli-runtime/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  cloudflare: any of: packages/cloudflare/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  codegen: any of: packages/codegen/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  compiler: any of: packages/compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  core: any of: packages/core/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  db: any of: packages/db/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  errors: any of: packages/errors/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  fetch: any of: packages/fetch/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  schema: any of: packages/schema/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  server: any of: packages/server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  testing: any of: packages/testing/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  tui: any of: packages/tui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui: any of: packages/ui/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-canvas: any of: packages/ui-canvas/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-compiler: any of: packages/ui-compiler/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-primitives: any of: packages/ui-primitives/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
  ui-server: any of: packages/ui-server/src/, but not: packages/integration-tests/**, **/*.test.ts, **/*.test.tsx, **/*.test-d.ts, **/index.ts, ci/**, biome-plugins/**
